[2018-09-27 23:10] goodfeli opened #619 "Enable pylint check W0222 (signature differs)"

[2018-09-27 23:14] goodfeli opened #620 "test_attack_multigpu.py in the examples directory doesn't actually run"

[2018-09-28 00:13] goodfeli opened #622 "Set up travis to support pylint check E0401 and run faster generally"
We should move test_format.py to test different files on different travis builds. Specifically, we should turn E0401 back on (so that it will fail if it can't import a dependency) and run the pytorch tests in the pytorch travis builds, tensorflow tests in the tensorflow travis builds.

[2018-09-28 03:33] goodfeli opened #624 "Re-enable pylint check C0414 (useless import alias)"

[2018-09-28 03:35] goodfeli opened #625 "Enable pylint check E1111 (assigning to function that doesn't return)"

[2018-09-28 03:37] goodfeli opened #626 "Investigate whether to re-enable pylint check R1718"

[2018-09-28 03:37] goodfeli opened #627 "Investigate whether to enable pylint check W0143"

[2018-09-28 03:38] goodfeli opened #628 "Investigate whether to enable pylint check W1505"

[2018-09-28 03:39] goodfeli opened #629 "Investigate whether to enable pylint check R1707"

[2018-09-28 03:40] goodfeli opened #630 "Investigate whether to enable pylint check R1717"

[2018-09-28 05:00] npapernot opened #631 "Deprecate backend argument to attacks class"

[2018-09-28 16:13] goodfeli commented on #602
Can we speed it up with multithreading? Everything runs in a subprocess anyway. I/O is probably a reasonable amount of the work so using multiple processes may help even on a single core.

[2018-09-28 16:29] goodfeli commented on #602
It's slow locally too

[2018-09-28 16:32] goodfeli opened #633 "Enable pylint check R0401: cyclic import"

[2018-09-28 16:35] goodfeli commented on #602
I'm looking into this a bit already.

One thing I've learned: we want to call pylint on multiple files for correctness, not just speed. Run on multiple files at once, it can detect additional errors, like cyclic imports and code duplicated across files.

Also, tentatively, it looks like there is a speed benefit. On my laptop I ran pylint on two different files. It takes about 10s to run each file

[2018-09-28 16:36] goodfeli opened #634 "Enable pylint check: E1123 (unexpected keyword argument)"

[2018-09-28 17:04] npapernot commented on #602
Ok one thing is that it might make sense for us to move to something with a bit more ressources like https://github.com/marketplace/google-cloud-build if Travis starts to be limited?

[2018-09-28 17:15] goodfeli commented on #602
I don't think that google-cloud-build would speed up pylint in particular because pylint turns out not to be very parallelizable. I'll open a separate issue to look into using Google Cloud Build

[2018-09-28 17:15] goodfeli opened #637 "Investigate whether we should move from Travis to Google Cloud Build"
https://github.com/marketplace/google-cloud-build

[2018-09-28 17:16] goodfeli opened #638 "Can we speed up the Travis build by doing everything in a RAM disk?"
If it looks like the tests would be faster in a RAM disk but we can't get enough RAM on Travis, this might be a reason to use Google Cloud Build: https://github.com/tensorflow/cleverhans/issues/637

[2018-09-28 17:16] goodfeli commented on #637
Could we run tests on GPUs?

[2018-09-28 17:17] goodfeli commented on #637
Could we run tests on >1 GPU to check that synchronous training works?

[2018-09-28 17:17] goodfeli commented on #637
Could a fast SSD or fast CPU just make the tests run faster?

[2018-09-28 17:17] goodfeli commented on #637
Would our jobs spend less time waiting to schedule?

[2018-09-28 17:28] goodfeli commented on #631
This is because the backend options were tensorflow and theano, and we no longer support theano, right?

[2018-09-28 17:35] npapernot commented on #631
Yes exactly

[2018-09-28 18:17] goodfeli commented on #637
If I'm reading this correctly, it took 45 minutes for this PR's first test jobs to schedule, and after an hour, most still haven't scheduled: https://github.com/tensorflow/cleverhans/pull/636 If this is representative, then that could be a good reason to move.

[2018-09-28 18:20] nottombrown opened #639 "Check for unused kwargs sent to attack.generate"
I passed it an incorrect argument, and did not get a warning. Perhaps we should alert users when they have a typo in their kwargs?

[2018-09-28 18:43] goodfeli commented on #639
I'm not sure about this specific use of kwargs, but in a lot of places we're using kwargs as an explicit non-interface. For example, you can pass basically anything to MLP.fprop and maybe some Layer subclass will pick it up and maybe nothing will pick it up. The upside is that it makes it easy to make exotic new layers that behave differently in different contexts without needing to make the MLP c

[2018-09-28 18:43] goodfeli commented on #639
(Oh, and we should check whether it is feasible to check the kwargs for Attack.generate, I'm not sure if that specific use of kwargs is one of the ones that's hard to validate)

[2018-09-28 19:05] goodfeli opened #642 "Move existing plotting functions to new cleverhans.plot module"
Some are in https://github.com/tensorflow/cleverhans/blob/master/cleverhans/utils.py#L160

[2018-09-28 19:07] goodfeli commented on #602
After #603 it might be possible to close this issue, but I want to check a few things. It looks like travis tests aren't load balanced very well. If we look into it more and that's accurate, the pylint tests might be a big part of that. We might want to divide them up to different travis workers. Other than that I don't think this is low hanging fruit anymore.

[2018-09-28 20:03] goodfeli commented on #637
Working on this here: https://github.com/tensorflow/cleverhans/pull/643

[2018-09-28 21:30] npapernot commented on #578
I was able to have the script run without errors by adding the following line:

[code]

You can find an example use here: https://github.com/tensorflow/cleverhans/blob/master/cleverhans_tutorials/mnist_tutorial_keras_tf.py

[2018-09-28 21:30] #578 closed

[2018-09-28 22:07] npapernot commented on #577
In the code you shared, the call to `spsa.generate(x)` is missing some arguments.

Just like other attacks (e.g., the ones in the tutorial), you need to pass some named arguments. For instance, I managed to get that line to execute by adding:

[code]

You will also need to have `x` have a batch size of 1, I will make a PR now to add a more friendly error when `x` does not have the right dimension.

[2018-09-28 22:07] #577 closed

[2018-09-28 22:55] #595 closed

[2018-09-28 23:39] nottombrown commented on #639
Hmm I had thought that this would be easy because we already explicitly list the different types of  kwargs for `generate_np`.
[code]

However, it looks like there are a few places where kwargs don't fall into either `feedable_kwargs` or `structural_kwargs`. For example the `rand_minmax` kwarg here:
https://github.com/tensorflow/cleverhans/blob/aa1033a98609c96f6626897fb882219f591a7db3/cleverhans/a

[2018-09-29 00:18] cvdeep commented on #577
@npapernot could you please elaborate where do you set the x to have batch size of 1,  specifically in the context of the mnist_tutorial_keras_tf.py file?

[2018-09-29 01:36] cvdeep commented on #577
I managed to do it by commenting out the the following line in attacks_tf.py
`assert num_samples % 2 == 0, "number of samples must be even"`

and

modifying `self._num_samples = num_samples // 2` to  `self._num_samples = num_samples`

[2018-09-29 04:34] goodfeli opened #674 "Make results of Google Cloud Build publicly visible"
Currently you have to log in to my personal Google cloud account to see the results of the build :(

[2018-09-29 04:35] goodfeli opened #675 "Find some way to use GPUs in tests (maybe just a nightly build)"

[2018-09-29 04:36] goodfeli opened #676 "Can we pay Travis to use an SSD or an extra fast CPU?"

[2018-09-29 04:36] goodfeli opened #677 "Speed up tests by configuring Dockerfile to use an image with everything preinstalled"

[2018-09-29 04:37] goodfeli commented on #637
Successfully moved to Google Cloud Build

[2018-09-29 04:37] #637 closed

[2018-09-29 04:40] goodfeli opened #678 "Run tests on multiple versions of dependencies"
We used to do this for Travis. When I moved to Google Cloud Build I just set up a bare bones job that tests one version of everything.

@catherio told me that to run multiple versions of the dependencies we should use:

Dockerfile:
    FROM ubuntu:14.04
    ENV PYTHON_VERSION 2.7
    RUN  apt-get update \
      && apt-get install -y wget \
      && rm -rf /var/lib/apt/lists/*
    RUN /bin/bash -c

[2018-09-30 20:05] goodfeli opened #695 "Possible speedup in `random_crop_and_flip`"
`_pad_img` could be rewritten to operate on a whole batch, and avoid needing a map_fn. Check how this affects runtime of CIFAR-10 training pipeline.

[2018-10-01 17:55] #678 closed

[2018-10-01 17:56] #674 closed

[2018-10-01 18:01] goodfeli commented on #677
This is still worth doing on Travis

[2018-10-02 08:36] Apromixately opened #701 "Which norm is used by the fgm?"
Looking at the implementation of fgm(..) in attacks_tf.py I found this:
[code]
If I interpret this correctly this takes the sign of the gradient along each dimension while the description a few lines down
[code]
and the condition of the if suggest that the infinity norm should be used for normalizing.

[2018-10-02 23:08] #634 closed

[2018-10-02 23:17] goodfeli commented on #701
`fgm` uses the Lp norm with p specified by the `ord` argument. The default value of the `ord` argument is `np.inf` but you can also pass `1` or `2`. Other norms are not implemented.

https://github.com/tensorflow/cleverhans/blob/master/cleverhans/attacks_tf.py#L62

[2018-10-02 23:17] #701 closed

[2018-10-03 02:36] #618 closed

[2018-10-03 04:34] #525 closed

[2018-10-03 06:50] npapernot opened #703 "consolidate tests"
they are located in two separate directories currently

[2018-10-03 07:27] npapernot opened #704 "reactivate test_attack_strength for spatial transformation attack"
I disabled the test because it was flaky and does not seem to be making the right calls to the model interface

[2018-10-03 15:03] #607 closed

[2018-10-03 15:48] #572 closed

[2018-10-03 17:51] npapernot commented on #704
The old test is here: https://github.com/tensorflow/cleverhans/pull/635/commits/49b3c75f0d0d3b65b1d9460794c198c4bfe582a6

[2018-10-03 18:33] #631 closed

[2018-10-03 22:46] nottombrown commented on #704
That test can stay removed because we have new tests.

[2018-10-04 03:37] #604 closed

[2018-10-04 16:13] #625 closed

[2018-10-04 17:06] goodfeli commented on #597
Decided not to enable it, see comment in .pylintrc

[2018-10-04 17:47] #598 closed

[2018-10-04 19:16] goodfeli commented on #603
Decided not to enable this one. See comment in .pylintrc

[2018-10-04 19:16] #603 closed

[2018-10-04 22:42] #704 closed

[2018-10-04 23:14] #538 closed

[2018-10-05 03:08] #573 closed

[2018-10-05 03:34] #600 closed

[2018-10-05 03:34] #601 closed

[2018-10-05 03:34] #624 closed

[2018-10-05 20:19] #597 closed

[2018-10-05 20:19] #612 closed

[2018-10-05 20:19] #616 closed

[2018-10-05 21:07] david-berthelot commented on #695
Without map_fn, the cropping happens at the same location within a batch. This in turn reduces stochasticity for gradient descent.

[2018-10-05 21:07] #695 closed

[2018-10-05 21:31] david-berthelot opened #730 "Speed up multi-GPU, explore parameter serving alternatives."

[2018-10-05 21:51] goodfeli commented on #606
Done here: https://github.com/tensorflow/cleverhans/pull/731

[2018-10-05 21:51] #606 closed

[2018-10-05 23:03] goodfeli commented on #599
This is done but didn't get closed

[2018-10-05 23:03] #599 closed

[2018-10-05 23:12] david-berthelot opened #732 "Create CIFAR10 tutorial."

[2018-10-05 23:50] goodfeli commented on #608
Decided to leave this one disabled. See .pylintrc for an explanation

[2018-10-05 23:50] #608 closed

[2018-10-06 00:09] npapernot opened #738 "credit @RAditi for #723"

[2018-10-06 00:33] npapernot opened #740 "Consider moving to Google Cloud Build"
Benefits would include:

- Speed up tests by configuring Dockerfile to use an image with everything preinstalled
- Use an SSD or an extra fast CPU
- Build everything in a RAM disk

Closes #676
Closes #677
Closes #638

[2018-10-06 01:08] redshiftzero commented on #511
I think `tempfile.gettempdir()` is what you want here - it returns the path where tempfiles are stored on the current system (as opposed to `tempfile.TemporaryDirectory`, which creates a unique temporary directory each time it is called).

see PR #741

[2018-10-06 03:45] #549 closed

[2018-10-06 17:15] goodfeli opened #744 "Why does ProjectedGradientDescent use CallableModelWrapper with "probs"?"
The __init__ method of ProjectedGradientDescent will accept a callable rather than a Model and wraps it in a CallableModelWrapper that names the output "probs".

This makes me nervous. It seems like only one of two things can be happening:
1) This code path is just broken, and when you try to run the attack you get a NotImplementedError telling you you need to provide the logits. This isn't danger

[2018-10-06 17:23] goodfeli opened #745 "Optional feedable args are probably structural"
I think that several Attack classes don't implement the complicated generate_np caching system correctly.
Specifically, in most cases that we have an optional feedable arg, I think that we're ignoring the fact that it's really a structural arg. Any class that implements `clip_min` or `clip_max` probably has a bug. I think we're saying that these arguments are feedable, but actually the graph struc

[2018-10-06 17:30] goodfeli opened #746 "Docstrings in attacks.py describe some parameters as "(required)" even though they have default values provided"
For example, `eps` in `ProjectedGradientDescent`

[2018-10-07 06:47] #615 closed

[2018-10-07 06:47] #617 closed

[2018-10-07 06:47] #619 closed

[2018-10-07 07:41] #511 closed

[2018-10-08 18:23] #628 closed

[2018-10-08 18:23] #629 closed

[2018-10-08 18:25] catherio commented on #630
Closed by https://github.com/tensorflow/cleverhans/pull/749

[2018-10-08 18:25] #630 closed

[2018-10-08 21:22] #732 closed

[2018-10-09 03:03] #562 closed

[2018-10-09 04:15] #703 closed

[2018-10-09 18:39] david-berthelot commented on #730
Tried the dedicated API: `tf.train.replica_device_setter`.
Setting the parameters on the CPU and the computations on the GPU didn't seem to make a noticeable difference for the varied configurations (2-4 GPUs, 64-256 filters, 64-256 batch size) I tried in Cifar10.

[2018-10-09 18:39] #730 closed

[2018-10-09 20:31] #738 closed

[2018-10-10 00:12] goodfeli opened #761 "Treat callables consistently"
Many Attacks support passing in a callable rather than a Model. Currently, they are wildly inconsistent.
Many treat `__call__` as probs (incredibly dangerous, can't believe we're still doing this anywhere) while many treat `__call__` as logits.

I think it would be best to just drop support for all these callables rather than try to change the semantics.

[2018-10-10 00:24] goodfeli opened #763 "Get rid of dangerous probability-based interfaces"
We should probably get rid of:

attack_softmax_cross_entropy
https://github.com/tensorflow/cleverhans/blob/master/cleverhans/loss.py#L180

the preds interface to fgm / gsm:
https://github.com/tensorflow/cleverhans/blob/master/cleverhans/attacks_tf.py#L30

We should also look for other places probabilities are used when they shouldn't be.

[2018-10-10 05:06] #744 closed

[2018-10-10 05:06] #676 closed

[2018-10-10 05:07] #675 closed

[2018-10-10 05:08] npapernot commented on #677
After some research last Friday, we concluded this would require moving to Google Cloud Build and is documented in #740

[2018-10-10 05:08] #677 closed

[2018-10-10 05:08] #638 closed

[2018-10-10 05:08] #593 closed

[2018-10-10 14:30] #746 closed

[2018-10-10 14:40] npapernot opened #766 "number of classes parameters"
Make sure the name of the parameter used for the number of classes is consistent throughout the library. Parts of the code use nb_classes and others num_classes

[2018-10-10 16:10] goodfeli opened #767 "Potentially restore the LBFGS attack"
Removed in commit c4bb111.
It wasn't actually an Attack subclass.
It used a dangerous probability-based rather than logit-based interface.
It built everything on a single x tensor rather than allowing x tensors to be passed in.

[2018-10-10 16:28] goodfeli opened #768 "Make a ConfidenceReport class instead of raw dicts"
This makes documentation easier (don't need to specify the dict format everwhere it is used) and makes type checking easier.

[2018-10-11 14:50] npapernot opened #772 "clarify what scripts are for in the README"
A script is a tool that we'll use frequently while actually doing work. A tutorial is something that is written for the purpose of showing how the library works, but is overly simplified and not practical for actual use (e.g. it builds a really small model).

[2018-10-11 22:42] npapernot opened #774 "Typo in FGM docstring"
https://github.com/tensorflow/cleverhans/blob/master/cleverhans/attacks.py#L288

[2018-10-12 17:19] goodfeli opened #778 "Typo in UnrolledOptimizer"
What is a "functional-stype optimizer"? I'm not sure if this is a term I haven't heard before or a typo for "functional-type optimizer".

[2018-10-12 17:21] goodfeli opened #779 "Why do UnrolledOptimizers use while loops?"
See for example SPSAAdam, which is an UnrolledOptimizer but uses tf.while_loop. I suspect "UnrolledOptimizer" is just not named very well, and should have a name that reflects that it does not use Variables rather than a name that implies it unrolls loops.

[2018-10-12 17:26] goodfeli opened #780 "pgd_attack should have a better name / documentation"
If you look at `pgd_attack` in isolation it looks like it's what you should run if you want to use a PGD attack. The doc should at the very least steer people to the ProjectedGradientDescent class. I'm not 100% sure what's going on with this function, but the doc should specify that `pgd_attack` is mostly intended for implementing SPSA, if that's correct, and if that's not correct the doc should e

[2018-10-12 17:41] #613 closed

[2018-10-12 20:04] #627 closed

[2018-10-12 20:04] #633 closed

[2018-10-12 20:08] goodfeli commented on #763
everything except for "We should also look for other places probabilities are used when they shouldn't be." is done

[2018-10-13 03:08] snailexe opened #783 "adversarial embedding export"
I am fresh to the tensorflow and cleverhans. I was trying to follow the tutorial https://github.com/tensorflow/cleverhans/tree/master/examples/facenet_adversarial_faces. But after I get the adv, how should I restore the images from those adversarial embeddings.  Should I use the exporting_embedding.py in facenet?

[2018-10-16 00:01] goodfeli opened #792 "Unit tests for feedable / structural kwargs"
Make a unit test that constructs every attack in the library.
Then use inspect.getfullargspec to get the argument list for the `generate_function` and check that:
- all argument names appear in either structural_kwargs or feedable_kwargs
- all structural_kwargs and feedable_kwargs appear in the list of argument names
- no name is in both structural_kwargs and feedable_kwargs

or just drop the gene

[2018-10-16 02:55] goodfeli opened #795 "Improve the GPU canary"
I have a script in my personal repo called "upper_bound.py".
It's an upper bound on how much it takes to get a canary failure when the GPUs are having whatever sort of problem it is we keep encountering.
This script uses a simple weight decay loss, so I think we could make a model-free canary that just tries to do one step of synchronous gradient descent and sees if all the replicas agree. We'd wa

[2018-10-16 21:55] juesato opened #800 "More helpful error messages for SPSA"
(assigned to myself - will implement after https://github.com/tensorflow/cleverhans/pull/794 adding `clip_min` and `clip_max` is merged)

1. The docs currently say SPSA should only be used with batch size 1, and we have a warning in place if the first dimension is None, but it would be good to do the dynamic check as while rather than just the static shape check.
2. If users pass in input images o

[2018-10-16 22:03] juesato commented on #780
I originally implemented `pgd_attack` to allow easily implementing a large family of projected gradient attacks (including PGD, with modifications such as e.g. the type of projection operation, the Optimizer class, steepest descent in L2 vs Linf space, whether to use analytic or finite difference gradients, etc.).

It definitely looks strange in context, because it's only used for SPSA in cleverha

[2018-10-16 22:05] juesato commented on #778
Should read "functional-style optimizer," since it is stateless and does not use tf.Variable objects.

Would you prefer this docstring? "Optimizer for Tensors rather than tf.Variables."

[2018-10-16 22:11] juesato commented on #779
It sounds like you already know this, but just for completeness: there's two levels of loops at play here:
1. The outer while loop, for multiple iterations of optimization (as in PGD, or any other iterative attack).
2. An inner while loop, used for computational reasons in SPSA. Each outer iteration requires evaluating the model on N inputs. If N is larger than the number of model activations we c

[2018-10-16 22:46] goodfeli commented on #800
I've done (1) in https://github.com/tensorflow/cleverhans/pull/794

Re (2): if we think the assert is necessary only to make sure users pass good inputs, it makes sense to move it to the start of `generate`. If we think the assert is necessary to make sure there are no bugs in the projected optimizer, we should leave it where it is. It may be worth benchmarking how fast the attack is with and with

[2018-10-16 22:58] goodfeli commented on #780
There are 2 things I think we should improve:

1) Having the word `attack` in the name  is strange when there is an `Attack` class and this is not a direct implementation of one of those classes. In the context of this module, it's especially confusing, because many of the other functions in this model really are just the implementation of some `Attack` class. So I would advocate for finding a new

[2018-10-16 22:58] juesato commented on #800
Awesome, thanks!

Oh I didn't realize asserts only run on CPU - that's good to know. We can do the reduce_min/max on GPU, and then just run the assert on CPU, which just adds a single copy at the very start.
My preference would still be to have both asserts. My larger concern is users passing in invalid inputs (getting consistent preprocessing can be tricky), but I have a general preference toward

[2018-10-16 23:04] goodfeli opened #801 "SPSA has an assert that is too loose"
Grep for "TODO: this assert looks totally wrong."

[2018-10-16 23:05] goodfeli opened #802 "SPSA's structural kwargs are probably wrong"
grep for '# TODO: I think that the rename of "batch_size" to "spsa_samples"'

[2018-10-16 23:17] goodfeli commented on #800
Yeah, I learned a lot about asserts from working on SPSA.

I didn't actually realize that tf supported real asserts that raise exceptions. I thought they just printed warnings. Now that I know they actually cause exceptions I will probably use them a lot more.

I found out they run on CPU because most of my code is multi-GPU and uses `with tf.device` to distribute work across GPUs. That results in

[2018-10-16 23:37] goodfeli commented on #778
Yes, I prefer the new proposal for the docstring, thanks.

[2018-10-17 00:13] goodfeli opened #805 "Attack.generate_np ignores kwargs silently"
If we forget to declare that a kwarg is feedable or structural (or maybe also if we misclassify it as feedable when it can have structural consequences, like the whole eps=None problem) I think generate_np just silently ignores the kwarg. Isn't it possible to raise an error for undeclared kwargs in that context?

[2018-10-17 00:21] goodfeli opened #806 "pylint seems not to complain about lines being too long"

[2018-10-17 01:00] goodfeli opened #807 "Remove some "depricated" code"
The deprecation date has passed for some arguments that are easy to find because we mispelled "deprecated"

[2018-10-17 01:11] goodfeli opened #808 "For most attacks that take `y` or `y_target`, these must be structural"
We can have:
both none -> infer label and maximize its loss
y defined -> maximize its loss
y_target defined -> minimize its loss

Those are all structural changes

[2018-10-17 01:14] goodfeli opened #809 "Generic fix to structural problems"
I think we need to make Attack.generate_np insert its own extra set of structural kwargs, which are just feedable_is_none for each feedable

[2018-10-17 13:16] Apromixately commented on #701
The code that is used is now at
https://github.com/tensorflow/cleverhans/blob/17d9184bb9b81dc1d2a3b03d197b6d50da243ac0/cleverhans/attacks.py#L409
but I still think it's incorrect.

Using the infinity norm should normalize the gradient with its maximum coordinate, but instead https://github.com/tensorflow/cleverhans/blob/17d9184bb9b81dc1d2a3b03d197b6d50da243ac0/cleverhans/attacks.py#L411
does
`norm

[2018-10-17 15:12] goodfeli commented on #701
This step is computing

argmax_{eta, max_norm(eta) <= 1} dot(eta, grad)

It's not computing grad / max_norm(eta).

It might be better to call the variable `optimal_step` or something rather than `normalized_grad`.

https://arxiv.org/abs/1412.6572

[2018-10-17 15:13] goodfeli commented on #701
More generally, for each ord, it's calculating

argmax(eta, norm(eta, ord) <= 1) dot(eta, grad)

For the L2 norm this actually is grad / norm(eta, 2) but for the other norms it's not.

[2018-10-17 17:47] juesato commented on #780
Re 1: That makes sense to me. How do you feel about `pgd_attack_helper`? It is an "attack" in the sense that it takes a clean image Tensor (+ some other stuff) and returns an adversarial image Tensor. But I agree it's confusing, esp given most other methods with `attack` in the name are implementations of an `Attack` class.
Other name options are `pgd_helper` or `make_pgd_adv_image`.

2 makes sens

[2018-10-17 20:14] anon258722 opened #813 "Make CW easier to use correctly on ImageNet"
The CW attack when run on ImageNet is apparently difficult to get right. At least two ICLR papers have implemented it incorrectly (one in 2017, one in 2018), getting about a factor of 2-5 worse results than should be possible.

https://openreview.net/forum?id=SyZI0GWCZ
https://openreview.net/forum?id=B1gHjoRqYQ

The latter paper seems to be doing everything right but is getting much worse results.

[2018-10-17 20:42] goodfeli commented on #813
"The latter paper seems to be doing everything right" -> what do you mean exactly? Are there specific implementation details described in the paper that you think are correct? Did they post their code?

[2018-10-17 20:44] goodfeli commented on #813
The latter paper specifies the hyperparameters it used for CW on ImageNet and they're different from the ones in the code snippet in this issue. So the first step would be to see if the hyperparameters they report give the same curve when you run them.

[2018-10-17 22:05] goodfeli commented on #780
`pgd_attack_helper` and`pgd_helper`, still makes me think it's the `attacks_tf` implementation of `ProjectedGradientDescent`, the same way that `fgm` was the `attacks_tf` implementation of `FastGradientMethod`. `make_pgd_adv_image` makes me think you're going to call `ProjectedGradientDescent` and then return the result as a PIL Image or save it as a png file or something. `pgd_attack_recipe` make

[2018-10-18 02:09] goodfeli commented on #639
Yes, that seems worth doing. I misunderstood what you meant earlier. I believe it's possible to catch unused keywords when they're passed to `generate_np` because those calls all pass through the base class's graph caching mechanism. Earlier I thought you meant a call to `generate`. That seems hard because each subclass implements its own `generate` and doesn't usually call through a centralized p

[2018-10-18 02:12] goodfeli commented on #639
Done in this PR: https://github.com/tensorflow/cleverhans/issues/639

[2018-10-18 02:13] #795 closed

[2018-10-18 02:15] goodfeli commented on #805
This was a duplicate of https://github.com/tensorflow/cleverhans/issues/639

[2018-10-18 02:15] #805 closed

[2018-10-18 14:32] anon181018 commented on #813
As an author of the latter paper. I am posting our code for running CW.

[code]

There are two notes:

First, the resnet50 we imported is not from the original Tensorflow code, it is from our adapted code that removes the softmax activation in the last fully-connected layer.

Second, we know there are better ways of doing that, but we incorporated the preprocess_input() into our Tensorflow computa

[2018-10-18 15:05] goodfeli commented on #813
I haven't looked into this in detail, but here is one hunch for debugging: @anon258722 reported a curve generated with data in [0, 1] but @anon181018 posted code for data in [0, 255]. Are you sure that you're comparing perturbation sizes for the same format of data? It makes sense for @anon181018 to get larger norms when @anon181018 is working with a larger scaling factor for the data.

[2018-10-18 15:11] #807 closed

[2018-10-18 15:18] carlini commented on #813
I am about to get on a plane, but later today I can take a look more carefully at the code. Quick observations about differences:
- Using [0,1] vs [0,255] when generating the attacks. This doesn't actually make a difference in reporting since both report on the 0-255 scale, but maybe it impacts the attack somehow.
- A learning rate of 0.01 when using a scale of 0-255 is almost certainly the wrong

[2018-10-18 17:20] juesato commented on #780
Haha okay, I'll rename it to `projected_optimization` or `optimization_based_attack`.

I'll wait until after merging https://github.com/tensorflow/cleverhans/pull/794 to avoid conflicts.

[2018-10-18 18:16] goodfeli commented on #792
Rather than a unit test, we just do the checks inside the call that reroutes generate_np to generate now.

[2018-10-18 18:29] goodfeli commented on #502
This works now, maybe since #509?

[2018-10-18 18:29] #502 closed

[2018-10-19 17:16] vipinpillai opened #823 "Adversarial image not clipped for first iteration of PGD (MadryEtAl)"
As part of the ProjectedGradientDescent attack, when used with default_rand_init=True, _eta_ is initialized with random noise [here](https://github.com/tensorflow/cleverhans/blob/master/cleverhans/attacks.py#L508) and then clipped within L-infinity norm of _eps_.
However, when the the adversarial image is fed to the PGD attack for the very first iteration, [x+e](https://github.com/tensorflow/cleve

[2018-10-19 18:48] goodfeli commented on #823
Thanks, good catch!

[2018-10-20 01:03] #626 closed

[2018-10-21 01:39] #823 closed

[2018-10-21 14:38] Apromixately commented on #701
Where are you getting this from? I was looking at
[code]
which does compute normalized_grad in the appropriate way for L1 and L2 normalization but for Linf it doesn't. From https://github.com/tensorflow/cleverhans/blob/17d9184bb9b81dc1d2a3b03d197b6d50da243ac0/cleverhans/attacks.py#L411

[2018-10-21 14:51] goodfeli commented on #701
"Where are you getting this from? " -> the arxiv link in my previous comment

"which does compute normalized_grad in the appropriate way for L1 and L2 normalization" -> read my previous comment. For L2, solving the constrained optimization problem is the same as dividing by the norm.

For L1, that looks like a bug.

[2018-10-21 14:54] goodfeli opened #827 "Get rid of name "normalized_grad""
When we solve argmax_{eta, norm(eta, ord) < eps) dot(eta, g) this happens to be a normalization operation for ord=2. For ord=1 and ord=np.inf it's not a normalization operation.

Naming the variable `normalized_grad` seems to have really confused this user:
https://github.com/tensorflow/cleverhans/issues/701#issuecomment-431674333

I also think it led us to implement the wrong thing for ord=1.

[2018-10-21 15:03] goodfeli opened #828 "Wrong implementation of ord=1"
When we do an FGM attack for ord=1, we're meant to solve the problem

argmax_{eta, norm(eta, ord) < eps} eta^T g

The current implementation returns g / norm(g, ord=1) which is an incorrect generalization of the solution from ord=2.

The right thing to do is to put all `eps` of the perturbation on the argmax of `abs(g)`, with the same sign as `g`. There are some subtleties because there can be tie

[2018-10-21 16:32] #357 closed

[2018-10-21 16:32] #802 closed

[2018-10-21 16:32] #808 closed

[2018-10-21 16:32] #809 closed

[2018-10-21 16:32] #745 closed

[2018-10-21 16:32] #792 closed

[2018-10-21 18:56] goodfeli opened #830 "Restore iterative implementations of ord=1"
This PR ( https://github.com/tensorflow/cleverhans/pull/829 ) turned them iterative attacks that use ord=1 because they aren't known to be strong. To turn them back one:

- We should implement correct projection to the norm=1 ball, or come up with some other way to optimize over the norm=1 ball that we know is at least as effective as textbook PGD.
- We should check whether it's better to literall

[2018-10-23 17:42] #806 closed

[2018-10-23 18:29] goodfeli opened #836 "Flaky test"
This pytorch test fails on unrelated Travis PRs reasonably often. It's usually fixed just by restarting the build.

FAIL: test_mnist_tutorial_pytorch (test_mnist_tutorial_pytorch.TestMNISTTutorialPytorch)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/travis/build/tensorflow/cleverhans/tests_pytorch/test_mnist_tutorial_pytorc

[2018-10-23 21:43] goodfeli opened #838 "Add unit tests that graphs are cached"
Specifically, make something that would have failed before this PR: https://github.com/tensorflow/cleverhans/pull/837

[2018-10-23 21:45] goodfeli opened #839 "Add some unit tests that generate and generate_np do exactly the same thing"
e.g., make sure that it's possible to get float64s all the way through generate_np and have them stay float64s. These tests should fail if run prior to https://github.com/tensorflow/cleverhans/pull/819

[2018-10-23 21:46] goodfeli opened #840 "Add some unit tests that graph caching doesn't have false positives"
These tests should fail if run prior to https://github.com/tensorflow/cleverhans/pull/819

e.g., I think it was possible to cache an untargeted attack by passing y=None and y_target=None, then get a cache hit when trying to do a targeted attack by passing y_target = <some value>.

[2018-10-24 16:02] goodfeli opened #841 "FastFeatureAdversaries 'layer' argument looks wrong"
'layer' is declared as a feedable argument. Back when feedable_kwargs specified types, its type was "str". It seems extremely unlikely that this is actually a feedable argument; it's almost certainly a structural argument deciding which layer to target. I haven't had time to look into it further.

[2018-10-24 16:05] goodfeli opened #842 "Some attacks have `np_dtype` but others have `tf_dtype`"
I also suspect that these dtype arguments are ignored most of the time

[2018-10-24 16:07] #639 closed

[2018-10-24 16:46] goodfeli commented on #767
Apparently there is a cleverhans.attacks.LBFGS

[2018-10-24 16:46] #767 closed

[2018-10-24 17:18] #766 closed

[2018-10-24 17:37] robert-wagner commented on #778
This should be closed as it is resolved

[2018-10-24 17:58] #778 closed

[2018-10-24 18:00] goodfeli opened #846 "Make a secure pickler"

[2018-10-24 18:01] goodfeli opened #847 "Add a `get_predicted_class` method or similar to `Model`"
The codebase, especially the tests, is full of calls that take the argmax across logits / probs, may as well simplify this.

[2018-10-24 19:02] #761 closed

[2018-10-24 21:00] goodfeli commented on #774
@npapernot do you remember what the typo is? I think the link goes to a line number in the current version of the file, and the lines have changed since you opened the issue.

[2018-10-24 21:03] goodfeli commented on #779
@juesato is it OK with you if I rename `UnrolledOptimizer` to `TensorOptimizer` or `FunctionalOptimizer`?

[2018-10-24 21:16] goodfeli commented on #783
We use the github issues for tracking work that needs to be done, not for general support. I don't know the answer to this question myself. You could write to cleverhans-dev@googlegroups.com to see if anyone else knows.

[2018-10-24 21:16] #783 closed

[2018-10-24 21:19] goodfeli commented on #827
Closed by https://github.com/tensorflow/cleverhans/pull/829

[2018-10-24 21:19] #827 closed

[2018-10-24 21:42] goodfeli commented on #842
others have `dtypestr`

[2018-10-24 21:54] goodfeli opened #853 "Why does JSMA use probs in the interface?"
JSMA is one of the last attacks that still uses probs in the interface, due to the risk of gradient masking from loss of precision in the softmax. I'm not very familiar with how this attack works so I'm not sure whether we should rewrite it to use logits in the interface or whether we should update the doc to make it clear why probs are safe / necessary.

[2018-10-24 22:02] goodfeli commented on #763
I've finished looking for "other places probabilities are used when they shouldn't be". It's possible I've missed some but I've done enough of a search that I don't feel like it makes sense to leave the issue open.

[2018-10-24 22:02] #763 closed

[2018-10-25 00:08] #642 closed

[2018-10-25 01:37] juesato commented on #779
Either is fine by me, very slight preference for `TensorOptimizer`.

On Wed, 24 Oct 2018, 14:04 Ian Goodfellow, <notifications@github.com> wrote:

[2018-10-25 05:05] #780 closed

[2018-10-25 21:41] goodfeli commented on #768
Closed by https://github.com/tensorflow/cleverhans/pull/850

[2018-10-25 21:41] #768 closed

[2018-10-26 04:36] erfannoury opened #856 "Accept sess=None in attacks"
With the current implementation, every object created from the classes based on the `Attack` class need to provide a `tf.Session` instance in the constructor. However, this limits the usage of the attacks to cases where a `Session` has already been created. For instance, there are problems for use cases in which the attacks are used in the graph construction phase and `tf.Session` will be created

[2018-10-26 17:40] #779 closed

[2018-10-26 20:51] goodfeli commented on #856
Is `sess` even used anywhere other than `generate_np`? It might make more sense to just take `sess` out of the `Attack` class altogether, and have `generate_np` take a `sess` argument that defaults to tf.get_default_session() or something like that.

[2018-10-26 21:46] AlexeyKurakin commented on #856
I looked through all the code of the attacks.
Most of the attack only use sess in the generate_np.
However few attacks don't have proper symbolic implementation (CW, EAD, DeepFool, LBFGS) and rely on sess in generate method. Plus one attack (SaliencyMaps) has a flag which controls whether generate uses pure symbolic attack or uses pyfunc with session.

The main problem with current implementation

[2018-10-26 22:31] goodfeli opened #860 "Get rid of attacks_tf.py"
This is historical baggage from when we had attacks_th.py

[2018-10-26 22:33] goodfeli opened #861 "Put each attack in a separate file, rather than one file with all attacks"

[2018-10-26 22:53] catherio commented on #512
https://github.com/tensorflow/cleverhans/pull/862

[2018-10-26 23:40] catherio commented on #614
https://github.com/tensorflow/cleverhans/pull/868

[2018-10-26 23:46] catherio commented on #609
This error only triggers in two files:
* utils_keras.py, to access `_inbound_nodes` and `_op`, as part of some graph surgery to find the logits
* nips17_adversarial_competition/eval_infra/code/eval_lib/tests/classification_results_test.py, while manipulating a `CompetitionSubmissions` object as a test object

These both seem basically OK to me. Is it alright to enable this check by manually skippi

[2018-10-26 23:48] goodfeli commented on #552
As far as I can tell, there's not actually anything to cache in `batch_eval`.
`model_eval` builds the accuracy graph, but `batch_eval` uses a predefined graph. `batch_eval_multi_worker` builds the graph on several GPUs, but `batch_eval` doesn't build anything, it just uses a graph the user already built with their own GPU assignments.

[2018-10-26 23:53] npapernot commented on #853
(Discussed offline) changing it to use the logits should not be a problem

[2018-10-26 23:53] goodfeli commented on #552
I confirmed that this causes the tutorial slowdown. The fix drops the time per epoch of the tutorial on one GTX from 5.1 sec on epoch 10 to 4.75 sec, and there's no upward trend in time per epoch anymore.

[2018-10-27 05:29] erfannoury commented on #856
Second solution would be much easier, but I don't know whether it's the preferred method. Is there a way I can help make any of these changes?

[2018-10-27 22:47] #847 closed

[2018-10-27 23:17] #774 closed

[2018-10-28 00:41] #436 closed

[2018-10-29 16:05] goodfeli opened #870 "Could running pylint on the tests have caught the issue where two test classes had the same name?"

[2018-10-29 16:05] goodfeli commented on #870
@carlini : thoughts?

[2018-10-29 23:03] #544 closed

[2018-10-30 03:01] #552 closed

[2018-10-30 16:33] Jeredriq opened #871 "I cant use KerasModelWrapper to my Random Forest Classifier"
Hi,

I'm new to tensorflow, I'm trying to attack with FGSM to my random forest classifier. I'm using mnist dataset.

So,
[code]
This is where I declare my classifier. Afterwards
[code]

When I try to execute this part I get the stacktrace below
[code]

I know KerasModelWrapper works great with sequential models. I may be doing things wrong, if so I'd be grateful with some little help

[2018-10-30 20:03] AlexeyKurakin commented on #856
I think it's fine to do second solution for now.

[2018-10-30 20:04] AlexeyKurakin commented on #856
@erfannoury if you willing to make this change it would be great

[2018-10-30 20:10] erfannoury commented on #856
@AlexeyKurakin Sure, I can start working on them and will submit a PR as soon as possible.

[2018-10-30 20:34] erfannoury opened #872 "Check why pylint did not catch call to jsma_batch in attacks.py (jsma_batch does not exist anymore)"
`jsma_batch` is used in `attacks.py` code in the following lines:
https://github.com/tensorflow/cleverhans/blob/539223ae33ca4f416e1cc08c533fec3982bd2aad/cleverhans/attacks.py#L924-L965
However, this method no longer exists in `attacks_tf.py`.

[2018-10-31 04:31] erfannoury commented on #872
I don't need it. I was just going over the code and realized that it might be a bug in the code.

[2018-10-31 16:25] GuanxiongLiu opened #874 "Internal Error when using eval function with Basic Iterative Attack Example on CIFAR10 dataset"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Describe the bug**
I get an internal issue when I use the eval function with BIM attack examples on CIFAR10 dataset.

**To Reproduce**
Steps to reproduce the behav

[2018-11-01 07:46] stoneyang opened #875 "Issue when starting cleverhans_tutorial on MAC OS X"
Hi, there:

After installed cleverhans by `pip install cleverhans --user` on my machine, I'd like to run a tutorial to see if everything's ok. Unfortunately, I received the following error mesage after running `python mnist_tutorial_tf.py`:

[code]

Then I checked the version by `python -c 'import cleverhans; print(cleverhans.__version__)` and the version number is `2.0.0-8d4c955f2a5a269a78a612198

[2018-11-01 07:52] stoneyang commented on #875
When using python2.7, I get:
[code]

[2018-11-01 17:01] goodfeli commented on #875
If you just want to get cleverhans working, the easiest way is to use "git clone" and set your PYTHONPATH manually. That's how I always install.

We know that `pip` tends to install `cleverhans` in weird locations that are not on the `PYTHONPATH`. None of the main `cleverhans` developers including myself know enough about `pip` or `setup.py` to tell exactly what is going wrong. If you could tell u

[2018-11-01 17:39] AlexeyKurakin commented on #856
@erfannoury  Thanks for implementing this change. Your PR should resolve this issue (except for small subset of attacks), so closing it for now.
Feel free to reopen if you have any additional concerns

[2018-11-01 17:39] #856 closed

[2018-11-01 21:48] goodfeli commented on #871
The problem might be that we've only ever used KerasModelWrapper with
Sequential models in Keras. If you can provide a minimum failing script we
might be able to patch the wrapper to support other kinds of Keras models

On Wed, Oct 31, 2018 at 10:42 PM, Jeredriq <notifications@github.com> wrote:

[2018-11-01 22:06] goodfeli commented on #872
It's also worth checking why pylint didn't catch this

[2018-11-04 09:36] vandeppce opened #879 "sess"
I notice that in examples/nips17_adversarial_competition/dev_tookit/sample_attacks/fgsm/attack_fgsm.py, when construct the fgsm model using `fgsm=FastGradientMethod(model)`,  no sess object is passed. But when I replace FastGradientMethod with DeepFool or CarliniWagnerL2, it goes wrong

[2018-11-05 05:13] npapernot commented on #403
Could you give more details on how to reproduce the issue?

[2018-11-05 06:43] vandeppce commented on #403
`jsma = SaliencyMapMethod(model, sess=sess)
  sess.run(tf.global_variables_initializer())
  x_adv = jsma.generate(x_input, clip_min=-1., clip_max=1.)
`
When I run, I got the following error text:

MemoryErrorTraceback (most recent call last)
/notebooks/AdversarialExamples/test.py in <module>()
     96         sess.close()
     97
---> 98 main()

/notebooks/AdversarialExamples/test.py in main()

[2018-11-05 08:13] blgnksy opened #881 "Carlini Wagner L2 Attack doesn't distort images."
Hi,
I am trying to craft adversarial examples using the CarliniWagnerL2 method. My input images are in [-1,1] . When I check the outputs, there is no distortion, in fact Euclidean distance is 0. The selected attack parameters are:

[code]
I read the parameters' documentation but I couldn't figured out the problem.

[2018-11-05 14:37] npapernot commented on #403
Yes, it may be the case that you do not have enough RAM to create the numpy array in memory. I always ran the code on machines with over 90GB RAMs so I may not have noticed that. How much memory do you have?

[2018-11-05 19:52] cod3r0k opened #882 "Cleverhans not work with SVM scikit-learn!"
Hi everybody!

When I use cleverhans for SVM, it shows me an error!

`'SVC' object is not callable`

Does cleverhans just work with Neural network based network?

my code was:
`fgsm = FastGradientMethod(svm_linear, sess=sess)
fgsm_params = {'eps': 0.3,
               'clip_min': 0.,
               'clip_max': 1.}
adv_x = fgsm.generate_np(x_test_encoder, **fgsm_params)`

[2018-11-05 22:00] GuanxiongLiu commented on #801
Is it the same assertion error that I meet?
[code]

/usr/local/lib/python3.6/dist-packages/cleverhans/attacks_tf.py in _compute_gradients(self, loss_fn, x, unused_optim_state)
   1650         """Compute gradient estimates using SPSA."""
   1651         # Assumes `x` is a list, containing a [1, H, W, C] image
-> 1652         assert len(x) == 1 and x[0].get_shape().as_list()[0] == 1
   1653

[2018-11-05 23:11] goodfeli commented on #881
Can you paste a complete script that we can run? We have unit tests that make sure CarliniWagnerL2 successfully modifies the images in some cases so this must be something specific to your model, etc.

[2018-11-05 23:18] goodfeli commented on #801
That's a different assert

[2018-11-06 01:46] vandeppce commented on #403
I understand, thank you! I ran it on a Titan Xp GPU with about 12GB Memory, so maybe I can run the code on a server with 90GB RAMs, instead of using GPU.

[2018-11-06 01:53] npapernot commented on #403
I think the numpy array would have to be stored in RAM so GPU memory is likely irrelevant here (unless I missed something).

[2018-11-06 01:53] #403 closed

[2018-11-06 01:54] npapernot commented on #403
(feel free to reopen if this is not the case)

[2018-11-06 09:10] blgnksy commented on #881
Hi,

This is my attack class:
[code]
And this is the attack:
[code]
cleverhans version is 2.0.0-dd5592125fb46237090c4d6ecd9393aa
python version is 2.7.12
tensorflow version is 1.4.0

[2018-11-06 11:11] cod3r0k commented on #882
Dear @goodfeli
I check again but the KerasModelWrapper shows another error
`AttributeError: 'SVC' object has no attribute 'layers'`

[2018-11-06 17:12] goodfeli commented on #882
You need to write your own wrapper for scikits.learn. The KerasModelWrapper is only for Keras.

[2018-11-09 18:00] goodfeli commented on #881
Could you post a script that we could actually run, rather than isolated code snippets? It's not too hard for me to debug something that runs, but from this starting point I'd spend more time setting up all the imports etc than actually debugging.

I don't see anything conspicuously wrong in these code snippets.

Three thoughts:
1) It's better to work with logits than to work with probabilities. Y

[2018-11-12 10:29] cuihaoleo commented on #453
@chrisdonahue It's not cleverhans-related issue. It is intended behavior with `pip -e`. You can simply try other packages and get the same error. Or remove `-e` and success:

[code]

`pip -e` (editable mode) installs package inside `<current dir>/src`. Individual package directory has to be added to `sys.path` to make it importable. Python will automatically fill `sys.path` at startup, but not at

[2018-11-12 15:29] npapernot commented on #879
@AlexeyKurakin could you take a look?

[2018-11-12 15:31] npapernot commented on #875
Another possibility is that we have not updated pypi in a long time (because we updated pypi when incrementing Cleverhans to 2.0) and for that reason the loss module might not have existed at that time.

[2018-11-12 15:32] npapernot opened #888 "release cleverhans 3.0"

[2018-11-12 15:34] npapernot commented on #874
Looks like this is related to a recent issue encountered by @carlini : https://github.com/tensorflow/tensorflow/issues/23166

@carlini could you comment if that's the case?

[2018-11-12 20:57] goodfeli commented on #875
What happens if you run `python -c "import cleverhans"`? If that fails then the whole library is not installed on the `PYTHONPATH`.

How did you install the tutorials? Did they come from the same `pip` command as the library?

[2018-11-12 20:57] goodfeli commented on #888
We should make a release checklist describing how to update pypy, etc.

[2018-11-13 05:40] #453 closed

[2018-11-14 11:10] stoneyang commented on #875
Sorry for the late reply. I adopted your suggestion and clouds gone, both on Mac and linux.

[2018-11-14 11:10] #875 closed

[2018-11-14 16:33] batzner opened #895 "Use Keras' custom losses in mnist_tutorial_keras_tf.py"
I was reading the `mnist_tutorial_keras_tf.py` and wondered if it could be simplified by using Keras' custom losses. For example, the following code runs as fast as the tutorial in both CPU and GPU mode:

[code]

Is there any downside to using custom losses that I am missing? I think it would make the tutorial a bit more accessible to Keras users, as they could stick to the `compile` and `fit` fun

[2018-11-14 16:38] goodfeli commented on #895
That seems OK to me.

[2018-11-14 16:43] npapernot commented on #888
see WIP: https://github.com/tensorflow/cleverhans/wiki/Release-checklist

[2018-11-14 19:04] carlini commented on #874
Yep. This is exactly why I raised that issue. I have a short reproduction over there.

[2018-11-14 19:40] carlini commented on #813
Can you provide the source for `resnet50_call`? I can't test your code without it. In particular, if I drop in the standard Keras ResNet50, then you are incorrectly using probs and feeding them as the logits.

[2018-11-14 22:20] anon181018 commented on #813
Thank @carlini for following up! We are pasting the resnet50_call.py here.

[code]

Note that the activation function in the final layer has been removed.

[2018-11-15 00:44] carlini commented on #813
It looks like it's an issue of hyperparameters. In particular, I see a 2x worse result when using a scale of [0,255] with the hyperparmaters you've selected than the [0,1] scale with the ones I've selected.

I'm not sure what's causing this. I'm having a bit of a hard time running your code exactly (the datasets are in a different format) but I'm pretty sure the only thing I've done is swap out th

[2018-11-15 15:04] npapernot commented on #895
Thanks for looking into this. At the time where we wrote the tutorial, it was difficult to use Keras' fit function because it then required that we pass Keras' backend learning_phase to each sess.run in CleverHans (for instance when calling model_eval or batch_eval). If this is not the case anymore, it would be good to make the tutorial more Keras-like so it is more accessible to Keras users.

[2018-11-20 23:53] npapernot opened #899 "Missing affiliations for contributors (needed to credit contributions in the tech report)"
If you are tagged below, could you respond with your current affiliation?

@aashish-kumar
@aspratyush
@BrunoLopezGarcia

[2018-11-21 10:09] aashish-kumar commented on #899
Hi Papernot,

Adding my Affiliation
@aashish-kumar  HARMAN X

[2018-11-21 13:58] souravsingh commented on #740
I am willing to help with the issue. How do I start?

[2018-11-21 16:07] cishwarya opened #902 "InceptionResnetV1Model' must implement `get_logits` or must define a logits output in `fprop`"
Hello all,

I am trying to generate FGSM attack on Facenet.
When I execute "facenet_fgsm.py", I am getting the error "implement `get_logits` or must define a logits output in `fprop`". (please see below)
I am a newbie could someone please help me here?

Please let me know if you require any additional details

Error:
Traceback (most recent call last):
  File "facenet_fgsm.py", line 89, in <module>

[2018-11-21 16:19] goodfeli commented on #740
Sorry, we should update the issue. We tried using Google Cloud Build and found that it was missing one feature we wanted. We're waiting for that feature to be released publicly and then we'll make the switch. Thank you for offering to help. We'll ping you again when the GCB feature is out.

[2018-11-21 16:21] goodfeli commented on #902
`fprop` returns a dictionary mapping from string names of layers to their TensorFlow values. Your `InceptionResNetV1Model` looks like it implements `fprop` but the dict it returns doesn't have a `logits` key in it. You need to change your `fprop` implementation to include the `logits` key.

[2018-11-21 16:21] #902 closed

[2018-11-21 23:32] aspratyush commented on #899
Adding my affiliation:
@aspratyush ex-HARMAN X

[2018-11-22 13:34] Kseniiakv opened #907 "Error in tf.while_loop of iterative attacks when using Inception_v3 model"
Hi everyone,

Currently I'm trying to attack Inception_v3 model with iterative methods, such as ProjectedGradientDescent and MomentumIterativeMethod. With FGSM everything works fine, but with iterative methods I get an error:

`AttributeError: 'NoneType' object has no attribute 'get_shape'`

The problem is that tf.gradients() function in body of  tf.while_loop() returns None. Everything works fine

[2018-11-22 14:37] goodfeli commented on #907
Something looks weird about the code snippet you pasted. You pass a variable called `x_input` to `inception_v3` but there is no `x_input` variable defined anywhere.

My guess is that in your own repo, `x_input` is a global variable. FGSM works because it only ever makes one call to fprop, and on that call the `x` argument to `fprop` happens to be `x_input`. The iterative versions fail because on t

[2018-11-22 14:37] #907 closed

[2018-11-23 08:33] Jeredriq opened #909 "How can I change cleverhans.train to scikitlearn Random Forest in mnist_blackbox.py"
[code]

I understand this part but what I'm trying to achieve is to train it with scikitlearn Random Forest like:

[code]

Any suggestion how can I do that? Sorry if its a stupid question, I am a newbie

[2018-11-24 23:00] B-Yassine opened #910 "Run time getting a lot slower"
Dear all,
I just upgraded to cleverhans 2.1.0 version and it seems like the attacks are getting a lot slower for instance a Pgd attack was taking only 10 mn to generate the adversarial image but now it is taking about an hour and a half to generate it and I could not downgrade to 2.0.0 as it doesn't exist anymore in pypi

Is there an explanation for this problem, is it a problem with the tensorflo

[2018-11-25 15:05] vikramnitin9 commented on #225
If no one is currently working on this, can I take it up? I need to decrease the probability of assigning the correct class, and then implement the three alternative strategies (2-4), right?

[2018-11-25 15:10] vikramnitin9 commented on #377
@npapernot - I'd like to work on this, if there's no PR already in the works. Any details I should know before starting off?

[2018-11-25 16:00] aashish-kumar commented on #225
@vikramnitin9  @npapernot  I was busy with some release.I will be submitting the pull request for the feature in a week's time.

[2018-11-25 17:01] vikramnitin9 commented on #225
Okay

[2018-11-25 18:32] #888 closed

[2018-11-25 18:41] npapernot commented on #899
@BrunoLopezGarcia any update? We will be pushing out a tech report without an affiliation otherwise

[2018-11-25 18:46] npapernot commented on #909
The training module in CleverHans works with models defined using TensorFlow so you would have to redefine your random forest with TensorFlow first. The issue tracker is only for bugs or feature requests, so I encourage you to ask your question or similar questions on StackOverflow in the future.

[2018-11-25 18:46] #909 closed

[2018-11-25 18:50] npapernot commented on #377
Taking into account the instructions you can find in the main README, you should feel free to create a PR that addresses any issue open in this tracker. Thanks for your help

@feedforward do you have any WIP for this issue or should @vikramnitin9 start from scratch?

[2018-11-25 23:51] Jeredriq commented on #909
@npapernot its not about this topic but when I tried to run mnist_blackbox.py I've got 'tuple' object has no attribute 'get_set' error. at  x_train, y_train = mnist.get_set('train') line from mnist_blackbox function

[2018-11-26 17:35] goodfeli opened #912 "Make the Travis scripts specify the pylint version"
I'm opening this issue because we just had all builds break because pylint started complaining about a line that was previously OK. We haven't investigated to confirm, but we think this is because pylint released a new version that has slightly different behavior. By specifying the version in pylint we can choose when to update and get everything broken.

[2018-11-26 17:43] goodfeli commented on #910
You can always download by manually cloning the early github tag.

I don't actually know about pypi. @npapernot should the old version actually be removed from pypi?

@B-Yassine : this kind of slowdown isn't expected. Are you sure you're using the same model and the same configuration for the attack (especially the number of iterations) as before? Has the attack moved from running on GPU to runnin

[2018-11-26 20:51] #912 closed

[2018-11-26 20:53] npapernot commented on #910
I responded to @B-Yassine's email and just saw this. For everyone else reading this: the old version is still in pypi:

* current version (v3): https://pypi.org/project/cleverhans/3.0.0.post0/
* older version (v2.1): https://pypi.org/project/cleverhans/2.1.0/

[2018-11-26 21:03] B-Yassine commented on #910
Yes, the old version 2.1.0 is still in pypi and you can get it simply by
running:
pip3 install cleverhans==2.1.0

Thank you for your responds

Best

On Mon, Nov 26, 2018, 9:53 PM Nicolas Papernot <notifications@github.com>
wrote:

[2018-11-26 21:10] goodfeli commented on #910
Do you still want us to help debug the slowness in v3?

[2018-11-26 22:05] B-Yassine commented on #910
Yes, of course because am very interested in this domain as I am preparing
my Master thesis and being able to contribute will be a honor for me.

I think there's another problem with the deepfool attack as I tried there
source code implemented in Pytorch and using the cleverhans implementation
with the same parameters and the same model "inception v3" and the results
where differents !

The author

[2018-11-26 22:07] B-Yassine commented on #910
For the deepfool attack i think it has to be opened as another issue

[2018-11-26 22:54] goodfeli commented on #910
Yes, please open another issue with more detail for the deepfool attack.

[2018-11-26 22:54] goodfeli commented on #910
Do you still want to try to debug the slowness issue?

[2018-11-27 06:33] B-Yassine commented on #910
Thanks a lot so the problem has been resolved by downgrading to the previous version 2.1.0 and it can be done by running:
pip install cleverhans==2.1.0 and making sure it is running on gpu

[2018-11-27 06:34] #910 closed

[2018-11-27 08:01] B-Yassine opened #913 "Deepfool not working on cleverhans 2.1.0"
I've just realized that there is a bug in the implementation of the deepfool attack on cleverhans.
I tried using the original source code implemented in pytorch and the cleverhans code with the same parameters, same environment and on the same image and the output was completely different, I contacted the author of the paper and he told that he doesn't know about the cleverhans implementation and

[2018-11-27 08:04] B-Yassine commented on #879
Will you able to construct the fgsm attack without passing a session??? I shall try it and return back to you

[2018-11-27 13:02] B-Yassine commented on #881
Have you tried to classify the output image and you don't have a misclassification? Or you just wanna visualize the perturbations and you got an imperceptible perturbed output?

[2018-11-27 13:57] cihangxie commented on #913
Thanks for bring this issue.

For the network used in pytorch code, and the network used in tensorflow code, do they have exactly the same parameter, i.e., their network structures and weights are exactly the same? If they are the same, i think there should be a bug here. If they are not exactly the same, the outputs should be completely different.

[2018-11-27 14:03] B-Yassine commented on #913
Thanks for your reply, when you say network are you talking about the
classification's model used, for instance inception v3 or resnet etc. If so
am quite sure that it's the same as am working on the inceptionv3 for both

On Tue, Nov 27, 2018, 2:58 PM Cihang Xie <notifications@github.com> wrote:

[2018-11-27 14:09] cihangxie commented on #913
Yes, inceptionv3 is the network structure. Do these two inceptionv3 have the same weights? For example, by feeding the same image to these two inceptionv3, do they output the same 1000/1001-dimension logit output?

[2018-11-27 16:54] #899 closed

[2018-11-28 03:21] JolyLei opened #916 "AttributeError: 'float' object has no attribute 'dtype'"
AttributeError: 'float' object has no attribute 'dtype'.
python3.5/site-packages/cleverhans/attacks.py", line 620, in generate
    dtype=self.eps.dtype)
when I run BasicIterativeMethod to craft BIM adversarial example,  with params     bim_paras = {
                    'clip_min': 0.,
                    'clip_max': 1.,
                   'y_target': None
    }

i just comment out this line.......

[2018-11-28 15:05] goodfeli commented on #916
If you installed via pip, upgrade to 3.0.1, or if you installed with git, pull the latest master. This is a bug that was introduced recently and fixed recently.

[2018-11-28 15:05] #916 closed

[2018-11-28 18:32] iperov commented on #17
[code]

same error. TF 1.11.0 , keras 2.2.4

[2018-11-28 19:44] B-Yassine commented on #913
Yep it's the same model on both

[2018-11-28 20:06] cihangxie commented on #913
could you please provide the checkpoints of your inceptionv3 in tensorflow and pytorch?

[2018-12-01 02:16] redshiftzero commented on #872
this issue wasn't caught by pylint due to `E0611` being disabled, if you re-enable you will see:

[code]

[2018-12-03 02:36] duoergun0729 commented on #875
i the same
python -c 'import cleverhans; print(cleverhans.__version__)'
2.0.0-8d4c955f2a5a269a78a612198cf754a4

but

python -c "from cleverhans.loss import CrossEntropy"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ModuleNotFoundError: No module named 'cleverhans.loss'

i install use   pip install cleverhans

[2018-12-03 02:39] duoergun0729 commented on #875
and path is ;
/mnt/opt/anaconda2/envs/book5/lib/python3.6/site-packages/cleverhans

[2018-12-03 02:50] duoergun0729 commented on #875
i know why 。there is some wrong with setup.py

git clone https://github.com/tensorflow/cleverhans

cp -fr cleverhans cleverhans_tutorials /mnt/opt/anaconda2/envs/book5/lib/python3.6/site-packages/

can solve it

[2018-12-04 09:36] yyy32 opened #917 "ValueError: Tried to convert 'depth' to a tensor and failed. Error: None values not supported."
ValueError: Tried to convert 'depth' to a tensor and failed. Error: None values not supported.

When I run SPSA to craft adversarial examples in my pytorch model:

     ` sess = tf.Session()
        tf_model_fn = convert_pytorch_model_to_tf(model)
        cleverhans_model = CallableModelWrapper(tf_model_fn, output_layer='logits')
        x_input = tf.placeholder(tf.float32, shape=(1,32,32,3))

[2018-12-08 06:09] chihchiehchen opened #918 "Add unused constant/variables in ModelBasicCNN will lower the accuracy of black-box attack"
Hello,

Thanks for implementing adversarial example library. When I try to modify the vanilla neural network ( ModelBasicCNN in cleverhans_tutorials/tutorial_models.py ), something strange happened: I put some
unused variables on fprop(e.g. add mean=tf.zeros([10,1024]) in line 36 or 38), and run mnist_blackbox.py
(which was moved to the main folder), the prediction accuracy will not change (around

[2018-12-10 12:31] blgnksy commented on #881
@B-Yassine I tried to classifying the adversarial image. But The defender classified the adversarial to the correct label. Then I tried to visualize the perturbation but I realised that there were no perturbation.

[2018-12-10 16:54] goodfeli commented on #881
Can you please post a short, executable script that causes the problem on your machine?

[2018-12-11 01:12] david-berthelot commented on #917
I suspect you didn't pass an argument to your model when instantiating it. Like it's expecting some depth you didn't provide like:
[code]

Do you have a running example I can look at?

[2018-12-11 02:18] yyy32 commented on #917
Thanks for your reply. There is my code.
[code]

[code]

[2018-12-11 06:06] blgnksy commented on #881
@goodfeli You can find the executable string below:

[code]

[2018-12-11 16:12] B-Yassine commented on #881
Try to set the confidence to for example 70 and the learning rate to 0.9
for example, so normally you would have a very noisy image, then try to
visualize it, just to be sure that the attack is working or not

On Tue, Dec 11, 2018, 7:06 AM Bilgin Aksoy <notifications@github.com wrote:

[2018-12-11 17:15] goodfeli commented on #881
Before I run it on my end, can you add:

    abs_diff = np.abs(nontargeted_images - images)
    print(abs_diff.min(), abs_diff.mean(), abs_diff.max())

and let me know what it prints?

[2018-12-12 03:11] yyy32 commented on #917
Thanks for the reply. I uploaded the code under this [repository](https://github.com/yyy32/spsa). The code for the model architecture is located in the mnist.py.

[2018-12-12 23:21] david-berthelot commented on #917
I'm submitting an improvement to solve the problem you had. In the meantime, you can use this workaround:
[code]

[2018-12-13 06:51] blgnksy commented on #881
I run the code and get the results by using @goodfeli shared. Now output is less bright than the original but can classified to correct label. The Euclidean distance is nearly 196 which I think is very high.

[code]
This is the result for my own params:

![outputs](https://user-images.githubusercontent.com/11997073/49919998-a70f4200-feb9-11e8-9e9d-855945879c20.png)

Then I set confidence to 70 and

[2018-12-13 07:58] yyy32 commented on #917
Thanks for your reply. I add `cleverhans_model.nb_classes = 10`, but it still does not work.

[code]

[2018-12-13 08:07] david-berthelot commented on #917
Yes but that seems like a problem with your model being NCHW while the input is NHWC. So I don't think we need to change anything in CleverHans for this.

[2018-12-14 21:58] B-Yassine commented on #881
it looks like the attack is not working, i will check your code, however, if you need it now you can check my simple coed of the C&W attack using cleverhans on the Keras Inceptionv3 pre-trained model [Here] (https://github.com/B-Yassine/Carlini-and-Wagner_InceptionV3_Imagenet)

[2018-12-15 20:14] davidglavas opened #928 "Can't pickle the model from the CIFAR10 tutorial"
How to store the CIFAR10 model from the [tutorial](https://github.com/tensorflow/cleverhans/blob/a9f4425867d981ac732a23dce60eb7d08c24ebca/cleverhans_tutorials/cifar10_tutorial_tf.py)? I tried doing the same as in the MNIST tutorial by writing the following after the model has been trained ([line 136](https://github.com/tensorflow/cleverhans/blob/a9f4425867d981ac732a23dce60eb7d08c24ebca/cleverhans_

[2018-12-15 21:01] B-Yassine commented on #913
You can check the 2 implementations here : https://github.com/keras-team/keras-applications/blob/master/keras_applications/inception_v3.py   and  here :  https://github.com/pytorch/vision/blob/master/torchvision/models/inception.py

The architecture is the same, taken from : Rethinking the Inception Architecture for Computer Vision

However the trainining process is not the same: keras model is us

[2018-12-15 21:32] B-Yassine commented on #913
Yes, i know what you are talking about, i know that the attack will not be the same on the two models since they have maybe different weights as they were trained independently, the issue was that the deepfool attack is not working on cleverhans 2.1.0, that is why i posted the code, because i tried a plethora of deepfool's parameters differenciations and i figured out that it is really not working

[2018-12-15 21:44] cihangxie commented on #913
Oh, now I get your point. I will take a look. Thanks for clarifying.

[2018-12-17 16:12] kojino opened #929 "InternalError in MomentumIterativeMethod: Invalid loop structure"
When I try to run the MomentumIterativeMethod, I get an Internal Error claiming that it is an internal bug.

Code:
[code]
Error:
[code]

**System configuration**
 - Python version: 3.6
 - TensorFlow version: 1.12.0

[2018-12-17 16:52] goodfeli opened #930 "Make model_zoo.all_convolutional picklable"
This might be as simple as just making it inherit from NoRefModel rather than Model

[2018-12-17 16:55] goodfeli commented on #928
The problem is that the model class itself does not support pickling.
TensorFlow Variables can't be pickled, so Models must be designed to avoid
returning any Variables in their __getstate__. It isn't anything to do with
the tutorial code.
I made an issue to track this:
https://github.com/tensorflow/cleverhans/issues/930

On Sat, Dec 15, 2018 at 12:14 PM David Glavas <notifications@github.com>
wro

[2018-12-17 17:31] npapernot commented on #918
Could you elaborate a bit on what the unused variables were? It is possible that if there is a greater mismatch between the substitute and the blackbox models, the transferability rate would decrease.

[2018-12-18 00:19] chihchiehchen commented on #918
Dear Sir,

Yes. I simply use the ModelBasicCNN, but add one line (e.g. add mean=tf.zeros([10,1024] ) in line 36 or line 38, which was never used in the model). While it does not affect accuracy of clean data, I found the adversarial test accuracy changes.

I also tried some unused random initialization variable (e.g. mean=tf.Variable(tf.random_normal(shape, mean=0.0, stddev=6.0, dtype=tf.float32))

[2018-12-18 06:20] yyy32 commented on #917
Thanks a lot for your help. The problem is solved.

[2018-12-18 06:20] #917 closed

[2018-12-18 08:05] blgnksy commented on #881
Thank you @B-Yassine. I changed the parameters in your code example. And now the attack is working as expected. But still have problem working with Tensorflow. It is also weird that Keras backend is  Tensorflow and still works.

[2018-12-18 09:18] Luobuyao commented on #917
i have the same problem,how can you solve it?

[2018-12-18 11:38] Jeredriq opened #931 "Generating adversarial data from cleverhans attack models"
I want a code example to how to generate train data from clever hans' adversarial attacks.

`adv_x = fgsm.generate_np(X_test, **fgsm_params)`

This generates adversarial x data but how can I get y?

 `adv_pred = model.predict_classes(adv_x)`

And this will give the "fooled" results right?

What I want is to correctly show generated x, y, fooled y (by which I mean results of models predictions that

[2018-12-18 16:18] npapernot commented on #917
Based on the thread above, you have to upgrade CleverHans to the latest version and make sure that your input is in the same format than the model (NCHW or NHWC)

[2018-12-18 16:20] npapernot commented on #931
Thank you for asking this question on StackOverflow, there is no need to double post.

[2018-12-18 16:20] #931 closed

[2018-12-18 16:24] npapernot commented on #918
Can you send a script that reproduces your issue?

[2018-12-19 14:40] chihchiehchen commented on #918
Dear Sir,

Yes, here it is.

git-hash : 510e16df371f006ded96ad7fbae7486653897aba

Modified code
[code]

test script:
[code]

[2018-12-19 16:29] Uno-Takashi opened #933 "'fprop' not implemented error in atack_fgsm.py"
I have thought about re-implementing "universal adversarial perturbation" using a trained model and cleverhans. As the previous stage, I searched for a examples that uses trained model to output something Adversarial Examples.

For that reason, I've tried using attack_fgsm.py from nips17_adversarial_competition.
https://github.com/tensorflow/cleverhans/blob/master/examples/nips17_adversarial_compe

[2018-12-19 17:38] goodfeli commented on #933
I'm pretty sure that's not the full stack trace or error message, can you paste all of it?

[2018-12-19 17:39] goodfeli commented on #928
Closing this issue because #930 says how to fix it

[2018-12-19 17:39] #928 closed

[2018-12-19 18:16] B-Yassine commented on #881
Happy that it works, try maybe to upgrade your tensorflow version: `pip install --upgrade tensorflow-gpu==1.11.0`  just to avoid the last version "1.12.0" as i had a lot of errors with it that is why i downgraded to the previous version. Best,

[2018-12-19 18:57] Uno-Takashi commented on #933
Sorry. This problem was caused by the change of InceptionModel inheritance from object class to Model class.

But, when I undo this change I got a new error.
[code]
I guess this is due to the inheritance class of the following line, how can i fix.

https://github.com/tensorflow/cleverhans/blob/510e16df371f006ded96ad7fbae7486653897aba/examples/nips17_adversarial_competition/dev_toolkit/sample_attac

[2018-12-19 19:47] goodfeli commented on #933
@AlexeyKurakin do you have any opinions? I think what's going on is that this `examples` directory was made before we started using the `Model` class consistently as part of the `Attack` definitions. Do we want to keep updating this example to work with newer versions of the library? Or do we want to leave it as a snapshot of the code that was actually used for NIPS 2017 and give instructions for

[2018-12-20 21:33] choltz95 opened #934 "Frozen weights"
Hi, I am following the MNIST Keras tutorial. My goal is to implement a random projection layer by initializing the weights of a dense layer to a sparse random matrix.

Eventually, I want to be able to freeze the weights which are initially zero. However, I can't seem to get any layer at all, or even the model, to have frozen weights. I have tried applying both tf.stop_gradient to the weight tensor

[2018-12-21 10:18] npapernot commented on #934
This type of question is best asked on StackOverflow so others can help provide an answer: https://stackoverflow.com/search?q=cleverhans

In the meanwhile, I would suggest looking at the `var_list` argument of the `train` function. I'll close this issue but feel free to discuss further on StackOverflow unless you'd like to make a feature request or report a bug. Thank you!

[2018-12-21 10:18] #934 closed

[2018-12-27 19:12] npapernot commented on #918
Hi Chih-Chieh, I cloned the head of our repository's master branch and added the diff described in your message but I could not reproduce your bug unfortunately (I still get the same accuracy of ~0.70). If you are able to isolate the bug, feel free to reopen this issue.

[2018-12-27 19:12] #918 closed

[2019-01-05 08:55] #933 closed

[2019-01-08 16:43] aarontuor opened #939 "Possibly incorrect documentation"
Line 42 in utils_pytorch.py:
  :param model: A pytorch nn.Model object
Do you mean a pytorch nn.Module object. Not sure what a nn.Model is.

[2019-01-08 17:03] david-berthelot commented on #939
Indeed, it should say module. Submitting a fix in a minute or two.

[2019-01-08 23:14] #939 closed

[2019-01-09 18:37] goodfeli opened #943 "Investigate re-opening E0611 or E0411"
Because both of these are disabled, pylint can't catch simple typos in import statements: https://travis-ci.com/tensorflow/cleverhans/jobs/169060662

[2019-01-09 19:49] #861 closed

[2019-01-10 13:02] npochhi opened #944 "Cleverhans documentation is not showing attacks"
Cleverhans docs' attack list page [here](https://cleverhans.readthedocs.io/en/latest/source/attacks.html), is currently empty.

![image](https://user-images.githubusercontent.com/13417114/50969965-0aff4780-1506-11e9-8f38-af928587a7d3.png)

[2019-01-10 13:05] npapernot commented on #944
@nottombrown did you get a chance to take a look at the isssue?

[2019-01-10 18:39] goodfeli commented on #944
I imagine this is because I recently moved each attack into its own submodules. @nottombrown , is there something I need to do to register the new submodules with the doc system?

[2019-01-10 20:13] goodfeli opened #946 "There are still calls to `jsma_batch` even though it has been removed"

[2019-01-11 02:01] #872 closed

[2019-01-11 02:01] #943 closed

[2019-01-16 09:13] sharpstill opened #948 "bug report: attack successful rate of VirtualAdversarialMethod, L2 norm version of MomentumIterativeMethod, L2 norm of BasicIterativeMethod and L inf norm of deep fool is quite low"
I use VirtualAdversarialMethod to attack CIFAR-10 dataset,  but on the train dataset, the successful rate is only 0.43622. I use the default parameter setting by the way.
Can you give an VAT method example ? How to set parameter and increase the successful rate above 90%

[2019-01-16 17:18] npapernot commented on #948
Given that this is neither a bug report or feature request, this type of question is best asked on StackOverflow so others can help provide an answer: https://stackoverflow.com/search?q=cleverhans

Would you be able to repost your question on StackOverflow and provide additional details? (e.g., what is the range of your pixel values?)

[2019-01-19 00:03] npapernot commented on #944
@nottombrown could you give me rights to the CleverHans readthedocs project so I can take a look? My account is npapernot

[2019-01-19 00:14] npapernot commented on #929
I will close this one since this issue is already tracked by #874

[2019-01-19 00:14] #929 closed

[2019-01-19 00:15] npapernot commented on #913
Sounds like this was resolved, if that's not the case, feel free to reopen or make a PR that fixes the issue.

[2019-01-19 00:15] #913 closed

[2019-01-19 00:17] npapernot commented on #895
@batzner  would you still like to make a PR for this or should I close this issue for now?

[2019-01-19 00:18] npapernot commented on #881
Looks like the issue was resolved but feel free to reopen with a reproducible script if you are still facing an issue.

[2019-01-19 00:18] #881 closed

[2019-01-19 00:43] goodfeli commented on #870
I confirm that redefining a class causes `test_format.py` to fail. Now we just need to make it run on the tests.

[2019-01-19 10:37] sharpstill commented on #948
@npapernot I think the code of
VirtualAdversarialMethod  attack has a bug inside it.

[2019-01-19 16:46] #841 closed

[2019-01-19 19:03] goodfeli commented on #948
if this is actually a bug report, can you post details?

is there anything that looks wrong in the code?

are there published adversarial error rates for this algorithm that this code isn't achieving?

VAT is usually used for semi-supervised learning, not adversarial attacks, so I'm not actually sure what error rate it should get. It's likely that the numbers are lower than you're expecting becaus

[2019-01-19 19:59] #870 closed

[2019-01-21 15:38] #860 closed

[2019-01-22 05:44] sharpstill commented on #948
@goodfeli OK, I will do more test on the algorithm on CIFAR-10 dataset, And write a report pdf file to you? Is that OK?

[2019-01-22 06:02] npapernot commented on #948
It will likely be more useful if you can write a small script that reproduces the bug, so we can test it out on our machines as well.

[2019-01-22 12:13] sharpstill commented on #948
@npapernot just wait for me to write it.

[2019-01-22 14:45] sharpstill commented on #948
@goodfeli @npapernot
I found 4 attack method in Cifar-10 untargeted attack has low successful rate, which are
1. VirtualAdversarialMethod, 2. L2 norm of MomentumIterativeMethod,
3. L2 norm of BasicIterativeMethod, 4. L infinity version of deep_fool(the original cleverhans deepfool is L2 norm, I extend it to L-inf version according to original paper,

In addition, I also test a L-infinity version o

[2019-01-22 14:46] sharpstill commented on #948
Because I am in hurry for doing an adversarial example research, if you found the bug or the problem is, please feel free to contact with me as soon as possible. My email is :  sharpstill@163.com

[2019-01-22 17:17] AditAg opened #960 "from cleverhans.compat import flags doesn't work"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Describe the bug**
from cleverhans.compat import flags
When I run this in Python, I get the following error:
Traceback (most recent call last):
  File "<stdin>", l

[2019-01-22 17:36] npapernot commented on #960
Are you using the latest version of CleverHans? I was able to run the following script from my machine by pulling from the master branch:

[code]

[2019-01-22 17:43] AditAg commented on #960
The version is 3.0.1. Actually, I installed the library using pip today itself. I have attached the screenshot for your reference.
![image](https://user-images.githubusercontent.com/22225079/51554448-5832d000-1e9b-11e9-8fc5-e7509a83155d.png)

[2019-01-23 14:03] npapernot commented on #960
The version for pip is not the latest (it doesn't keep track of each commit to the master branch but rather is the last versioned CleverHans), could you try installing by cloning the github repository directly? You can do it with `pip install git+https://github.com/tensorflow/cleverhans.git#egg=cleverhans`

[2019-01-23 14:03] npapernot commented on #944
@nottombrown gentle ping

[2019-01-23 14:54] AditAg commented on #960
I uninstalled the library and then, upgraded the version of pip to 19.0.1. Then when I installed cleverhans using  pip install git+https://github.com/tensorflow/cleverhans.git#egg=cleverhans, it worked.
Thanks for the help.

[2019-01-23 14:55] #960 closed

[2019-01-23 15:35] batzner commented on #895
@npapernot please excuse the slow reply - I have opened a PR here: https://github.com/tensorflow/cleverhans/pull/962

[2019-01-23 17:40] nottombrown commented on #944
Ah sorry for the slow response. It looks like my github updates were being filtered. @npapernot I've added you as a maintainer of the readthedocs project here: https://readthedocs.org/dashboard/cleverhans/

[2019-01-23 23:09] npapernot commented on #944
Thanks a lot @nottombrown, I was able to fix the issue!

[2019-01-24 16:37] #944 closed

[2019-01-25 09:32] sharpstill commented on #948
@goodfeli @npapernot Do you have any progress on this bug? Or do you have some feedback or problem need to let me know?

[2019-01-26 00:00] npapernot commented on #377
@vikramnitin9 any update on this? Thanks!

[2019-01-26 13:33] vikramnitin9 commented on #377
Hi @npapernot, I've started a WIP PR (#967).

[2019-01-27 20:00] goodfeli commented on #948
Can you explain a specific success rate that you expect for a specific model and set of success hyperparameters, why you expect that success rate (e.g. it was published before), and what success rate you're actually getting?

[2019-01-28 05:46] sharpstill commented on #948
@goodfeli My concept of  success rate is : How many proportions of generated adversarial images can be misclassified by the classifier ? For example, the proportions  of VAT generated examples which is misclassified by the classifier (which lead the classifier to predict label other than ground truth label) is about 46%. My expectation is above 90%. and L2 norm version of BasicIterativeMethod is m

[2019-01-28 05:49] sharpstill commented on #948
@goodfeli all the code I have summarized to the .py file, which is uploaded in my last comment. You can download can run it, and it also supplies all the hyper parameters I used in my experiments.

[2019-01-28 09:32] sharpstill commented on #948
for example, if you use the below configuration and attack methods, you will achieve definitely low attack successful rate on CIFAR-10.
[code]

[2019-01-30 14:01] npapernot commented on #948
Could you help us by telling us what success rates you observe in your script and why you think they are low (for example, a success rate that is reported in another paper)?

[2019-01-31 00:54] goodfeli commented on #948
I assume this is just VAT working as intended. The VAT papers don't really use it as an attack or measure its success rate AFAIK. VAT is more of a dataset augmentation technique for semi-supervised learning. I'll close this issue, but we can re-open it if anyone provides evidence that correctly implemented VAT should have a high attack success rate.

[2019-01-31 00:54] #948 closed

[2019-01-31 05:43] sharpstill commented on #948
@goodfeli OK, but the other 3 L2 norm version of attack algorithm still have lower than 10%  attack successful rate:
 "BIM_L2" :{"ord":2, "rand_init":False, "rand_minmax":0, "nb_iter":40,"eps_iter":0.1, "clip_min":-3., "clip_max":3.},
 "MI_FGSM_L2": {"ord": 2, "eps": 0.3, "nb_iter": 40, "decay_factor": 1.0, "eps_iter": 0.1,
                               "clip_min": -3., "clip_max": 3., },
"deep_f

[2019-01-31 06:51] sharpstill commented on #948
@npapernot in VAT attack, I observe the  attack successful rate is 46%. My expectation is above 90%. And in L2 norm of BIM and L2 norm of momentum iterative FGSM (MI-FGSM),   both attacks achieve successful rate less than 10%.   But the successful rate of  L-inf norm of BIM and MI-FGSM is 98%.

[2019-01-31 06:53] sharpstill commented on #948
@npapernot BTW, I use CIFAR_10 to conduct my experiment, please download my script file to run .
[attacker_bug_report_script.zip](https://github.com/tensorflow/cleverhans/files/2816005/attacker_bug_report_script.zip)

[2019-02-07 15:26] rowedenny opened #972 "Dropout Tutorial purely on Tensorflow"
I am trying to implement a model purely on Tensorflow following the tutorial but get stuck with dropout. Unfortunately, all models in the tutorial with dropout are implemented by Keras.

When I implement with Tensorflow, I define a Placeholder within the class function `fprop` of the model.
`def fprop(self, x, **kwargs):
        del kwargs

        with tf.variable_scope(self.scope, reuse=tf.AUTO_

[2019-02-07 18:17] goodfeli commented on #972
Here's a model with dropout that I used recently.

class Model_dropout(NoRefModel):
  """
  Copied from cifar10_model.Model_dropout
  """

  def __init__(self, scales=3, filters=256, scope='deep_classify',
               nb_classes=10, logit_norm=True,
               orig_logit_norm=False,
               logit_norm_eps=1e-8, logit_scale=1.,
               gcn=False,
               normalize_hid=Fa

[2019-02-08 18:53] martinmatak opened #974 "Jacobian Data Augmentation Memory Consumption"
**Story**
I am following the idea of a black-box tutorial: a substitute DNN is trained by querying the targeted DNN and the data is augmented using the `jacobian_augmentation` implementation. Afterwards, a substitute is retrained. The process is repeated.

A problem occurs in a memory consumption for `jacobian_augmentation` method. My initial set is (only) **100 images** of dimensions **224x224x3*

[2019-02-10 02:23] Shawn-Shan opened #978 "Can we add CarliniWagnerL0 and CarliniWagnerL1 attacks?"
**Describe the solution you'd like**
I would like to have L0 and L1 version of CW attack in addition to the L2 version.

**Describe alternatives you've considered**
I have looked into the original code repo of the SP17 paper, which has L0 and L1 version, but I would like to have those in cleverhans as well.

**Additional context**
I assume it wouldn't be that hard to add the addition CW attacks. A

[2019-02-12 00:22] goodfeli commented on #978
@carlini ?

[2019-02-14 19:28] GuanxiongLiu commented on #978
I'm also looking for the solutions required in this post. Currently, I'm trying to see if I can mitigate the original li CW attack from https://github.com/carlini/nn_robust_attacks/blob/master/li_attack.py locally.

[2019-02-15 07:29] zhouxiaowei1120 opened #980 "when I degisn a network to get adversarial samples using mnist_tutorial_jsma.py, tf.nn.log_softmax does not work, but tf.nn.softmax works"
when I degisn a network to get adversarial samples using mnist_tutorial_jsma.py, if I use tf.nn.log_softmax at the last layer, it does not work and gives the errors(As followed). But if I use tf.nn.softmax, it works without any bugs.

Please see here in detail:

Here is the network, it does not work.

[code]

THe error is:

[code]

For this network, it works fine:

[code]

Could you fix this? than

[2019-02-15 11:26] MingCheung opened #981 "CarliniWagnerL2 cannot generate highly wrong classified adversarial examples"
I use CarliniWagnerL2 to generate adversarial example for the network (32, 32, 64, 64, 200, 200), namely the network used in the paper "Towards Evaluating the Robustness of Neural Networks" by Nicholas Carlini and David Wagner.  But the model's accuracy is still very high. For untargeted attack, the accuracy is about 0.1669, for targeted attack, the accuracy is about 0.4652.
 The parameters I used

[2019-02-15 16:30] goodfeli commented on #981
@carlini FYI

[2019-02-15 22:31] npapernot commented on #981
Please post questions to the StackOverflow channel unless you have a reproducible bug or feature request. Thank you! https://stackoverflow.com/search?tab=newest&q=cleverhans

[2019-02-15 22:31] #981 closed

[2019-02-15 22:52] npapernot commented on #974
https://stackoverflow.com/questions/54580105/memory-consumption-of-jacobian-dataset-augmentation/54718059#54718059

[2019-02-15 22:52] #974 closed

[2019-02-15 23:07] npapernot commented on #980
This is most likely related to #853, I am working on a PR that will switch the Jacobian computation from the probabilities to the logits.

[2019-02-15 23:39] zhouxiaowei1120 commented on #980
Ok. Thank you for your effort.

[2019-02-15 23:39] npapernot commented on #980
Let me know if #982 fixes it

[2019-02-15 23:42] #972 closed

[2019-02-15 23:44] #895 closed

[2019-02-15 23:46] carlini commented on #978
By L1 do you mean l_infinity? I haven't done a L1 attack. Or EAD is a L1 optimization-based attack? Do you mean that?

L0 sure. It still performs reasonably well. At one point I started moving it over to cleverhans but never finished. If it would be helpful I can do that. I personally no longer use the l_infinity attack as described in the paper. I didn't l_infinity regularize the gradients which

[2019-02-15 23:49] #512 closed

[2019-02-16 03:20] #853 closed

[2019-02-16 03:32] zhouxiaowei1120 commented on #980
Another question: Could I generate adversarial samples usiing  trained models on pytorch in mnist_tutorial_jsma.py? I modified mnist_tutorial_jsma.py according to mnist_tutorial_pytorch.py, but it does not work, wich gives the error:

AttributeError: 'NoneType' object has no attribute 'cpu' Traceback (most recent call last):    File "/home/uts/anaconda3/lib/python3.5/site-packages/tensorflow/pytho

[2019-02-16 03:35] npapernot commented on #980
I've never used PyTorch so I don't really know how to help here. I think @david-berthelot or @nottombrown might know more about this. If you could post questions like this on StackOverflow (https://stackoverflow.com/questions/tagged/cleverhans) rather than this issue tracker, that would be best unless you find a reproducible bug in the library.

[2019-02-16 03:35] #980 closed

[2019-02-17 03:44] Shawn-Shan commented on #978
Yes, I mean L_infinity and L0.

I am working on a defense paper, and I would like to evaluate against all the attacks.

It will be great you can add those two attacks, thanks!

[2019-02-18 05:51] carlini commented on #978
When I get a chance I'll add L_0. For now I do have code available here: https://github.com/carlini/nn_robust_attacks you can use

One word of unsolicited advice: please think carefully when applying these other attacks. I would much rather see an evaluation against only PGD than an evaluation that tried PGD as well as many other attacks, but just running the code for those.

[2019-02-18 06:27] Shawn-Shan commented on #978
Thanks for the advice!

[2019-02-19 22:04] GuanxiongLiu opened #985 "Add a script demonstrating how to evaluate defenses against adversarial examples according to best practices"
**Is your feature request related to a problem? Please describe.**
Hi all, I'm doing research on designing defensive methods. From the references I used and my own experience, a standard of the evaluation process could largely benefit the whole community. Since different evaluation process is conducted, it is hard for people to evaluate their proposed defense with the state-of-the-art. Moreover, s

[2019-02-20 03:51] npapernot commented on #813
@anon181018 @carlini can we close this issue or are there any remaining questions to be addressed?

[2019-02-20 06:19] #978 closed

[2019-02-21 03:16] #930 closed

[2019-02-21 17:10] #596 closed

[2019-02-21 17:11] goodfeli opened #990 "Remove most instances of "pylint: disable=missing-docstring""
I had to add a lot of these in order to successfully merge the PR enabling the missing-docstring check, but now that the check is up and running we should try to take most of them back out.

[2019-02-22 06:19] carlini commented on #813
I don't have any ideas to improve cleverhans, it looks like it's an issue of hyperparameters.

[2019-02-22 06:19] #813 closed

[2019-02-22 19:20] martinmatak commented on #974
Not solved. Still not able to perform jacobian augmentation on bigger images (224x224x3).

[2019-02-27 10:00] cloudseasail opened #993 "Why cannot I prepare fprop graph in Model.__init__()?"
I donot like to compute the graph in Model.fprop() everytime, why cannot I prepare the graph in Model.__init__()?  It seems have issue with this approach.

[code]

    798
    799       # Normalize current gradient and add it to the accumulated gradient
--> 800       red_ind = list(xrange(1, len(grad.get_shape())))
    801       avoid_zero_div = tf.cast(1e-12, grad.dtype)
    802       grad = grad

[2019-02-27 12:57] Semizenbora opened #994 "NotImplementedError: must implement `get_logits` or must define a logits output in `fprop`"
When I try to run "python train.py --env Breakout --noisy --save-dir ./data/Breakout/ --attack fgsm --num-steps 20 --attack-prob 1.0" I get the following error,

Making new env: BreakoutNoFrameskip-v4
PkgResourcesDeprecationWarning: Parameters to load are deprecated. Call .resolve and .require separately.
result = entry_point.load(False)
Logging to ./data/Breakout/
I tensorflow/core/platform/cpu_f

[2019-02-27 15:27] npapernot commented on #993
The reason you cannot prepare the graph in init is that many attacks need to get the output tensor of the model for different inputs (for instance, iterative attacks need to get the model's output on the current modified input after each iteration).

I am closing this because this is neither a bug nor a feature request. Please use StackOverflow as indicated in the issue templates. Thanks!

[2019-02-27 15:27] #993 closed

[2019-02-27 15:30] npapernot commented on #994
I am closing this because this is neither a bug nor a feature request. Please don't double post on StackOverflow and here. Thanks!

[2019-02-27 15:30] #994 closed

[2019-02-28 06:31] iperov commented on #17
still not solved

[2019-02-28 12:59] charmainewu commented on #349
hello ，have you solved the problem ? I have same problem.

[2019-02-28 17:39] npapernot commented on #17
I think it would be best to raise an issue on the tensorflow tracker or to ping the existing issue: https://github.com/tensorflow/tensorflow/issues/8652

[2019-02-28 17:49] iperov commented on #17
my last tests show that is keras issue
https://github.com/keras-team/keras/issues/11751

[2019-03-04 02:46] EmpRamses opened #998 "Errors in mnist_tutorial_keras.py"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Describe the bug**
For now, I have found two errors in mnist_tutorial_keras.py.
The first error occurs in the original code in the repo.
ValueError: Could not inte

[2019-03-05 07:11] EmpRamses commented on #998
I think I have figure out the first error.
First, I import keras directly rather than from tensorflow at the 14th line.
Then, I comment the 87th line which is called to deal with some errors when the model uses custom loss.

These operations only make the traditional model training processes work. But the second error still occurs in the adversarial training.

I have tried to locate the error. I f

[2019-03-12 12:52] HaojieYuan opened #1000 "LBGFS do not support untargeted attack"
Code to reproduce error:
[code]

[2019-03-12 12:58] HaojieYuan commented on #1000
This will raise a error of `ValueError: Both labels and logits must be provided.`

I tried to fix it by adding following code to lbfgs.py line 59
[code]

It works fine with my keras model and I commited this change to my fork.
Unfortunately the build progress on TravisCI failed.
See #999 for fix attempt and rollback.

[2019-03-13 07:39] cloudseasail opened #1001 "For keras model, load_weights() cannot happen before generate function"
**Describe the bug**
For keras model,  if I load the pretrained weights ahead of adv generate function,  there is Error with "uninitialized weight".
So I have to load weights after that,  I donot understand why there is dependece here.

**To Reproduce**
Bad case,  with load_weights ahead of fgsm.generate()
[code]

Good case,  with load_weights after of fgsm.generate()
[code]

[2019-03-13 07:53] HaojieYuan commented on #1001
That's due to your session.
You specified a new session after load keras model with keras default session.
The bad case can be modified as:
[code]

[2019-03-13 10:52] cloudseasail commented on #1001
I think you are right,  that is in different session,  thanks for the quick response!

[2019-03-13 10:52] #1001 closed

[2019-03-14 20:41] VinodS7 opened #1008 "Deepfool implementation error"
**Describe the bug**
The overshoot variable is not used within the while loop in the deepfool_attack function. The perturbation being added at the end after the while loop appears to be redundant code.

**Link to lines of code**
https://github.com/tensorflow/cleverhans/blob/ce6bc7130ab53a0947ddc381599acf749e375dc1/cleverhans/attacks/deep_fool.py#L237

https://github.com/tensorflow/cleverhans/blob/

[2019-03-15 22:45] rameshKrSah commented on #874
The same issue occurred when using Basic Iterative attack on a neural network with dropout layers. Reading further I found that setting Keras backend learning phase to 0 (i.e. test) solved the problem.

I don't know why setting the learning phase to 0 solved the problem but this may be a temporary fix for now.

[2019-03-22 08:27] ld2874 opened #1013 "NotImplementedError: 'frop' not implemented"
I am facing the above problem with jsma.generate_np

**Some details:**
- I have a pre-trained model for MNIST trained in keras that I wrap as a cleverhans.model.Model object.
- I am then trying to generate adversarial examples with jsma.
- I get an error in the statement:
`adv_x = jsma.generate_np(sample, **jsma_params)`
which traces back to
`fprop` not implemented.

**The related part of the trac

[2019-03-22 11:01] ld2874 commented on #1013
Solved this by using `KerasModelWrapper` instead of `Model`

Closing issue

[2019-03-22 11:01] #1013 closed

[2019-03-25 20:18] rowedenny opened #1016 "CIFAR10 model trained in Keras error using BasicIterativeMethod"
**Describe the bug**
tensorflow.python.framework.errors_impl.InternalError: Invalid loop structure: Mismatched parent frames for "while/while_context": "while/while_context" vs "". The node giving this error: {{node while/gradients/while/model/batch_normalization/cond/FusedBatchNorm_1_grad/FusedBatchNormGrad/Enter}}This is an internal bug, please file a bug report with instructions on how to repro

[2019-03-28 22:14] michaelshiyu opened #1017 "Support for PyTorch v1.0"
PyTorch v1.0 has been around for a while, any thoughts on upgrading the PyTorch support from v0.4 to v1.0?

[2019-03-28 22:18] michaelshiyu commented on #1017
If we're to support PyTorch v1.0, I can take this issue if nobody else is.

[2019-04-04 23:25] npapernot opened #1019 "implement PGD in JAX"

[2019-04-04 23:25] npapernot opened #1020 "implement PGD in PyTorch"

[2019-04-04 23:25] npapernot opened #1021 "implement PGD in TF2"

[2019-04-04 23:26] npapernot opened #1022 "make sure SPSA works in TF2 (eager mode)"

[2019-04-04 23:26] npapernot opened #1023 "add CIFAR10 tutorial in JAX"

[2019-04-04 23:26] npapernot opened #1024 "add CIFAR10 tutorial in PyTorch"

[2019-04-04 23:26] npapernot opened #1025 "add CIFAR10 tutorial in TF2"

[2019-04-04 23:28] npapernot commented on #1017
We've just started a major redesign of CleverHans to support PyTorch as well as TF2 and JAX. Let us know if you'd like to help us with that

See #1018

[2019-04-04 23:29] npapernot commented on #1016
Duplicate of #874

Unfortunately we have not had success with having the underlying TF bug fixed so far. This problem may disappear with TF2 though

[2019-04-04 23:29] #1016 closed

[2019-04-04 23:39] npapernot commented on #1008
Thanks! Having discussed this with a colleague, we can see how the argument would work both ways:

* in the current implementation, overshoot is only added once the iterative procedure has converged to avoid any numerical instability from preventing the attack from being successful
* this overshoot could be added within the loop but that would likely make the iterative procedure less accurate as i

[2019-04-04 23:39] #1008 closed

[2019-04-04 23:43] npapernot commented on #998
This should be closed by #999, feel free to reopen if that's not the case anymore

[2019-04-04 23:43] #998 closed

[2019-04-04 23:57] npapernot commented on #585
Some of this has been implemented by Ian in:

https://github.com/tensorflow/cleverhans/tree/master/cleverhans/plot
https://github.com/tensorflow/cleverhans/tree/master/scripts

I'll close this because we are trying to keep CleverHans to core features needed to benchmark models rather than visualize learning curves.

[2019-04-04 23:57] #585 closed

[2019-04-04 23:59] npapernot commented on #1025
Duplicate of #306

[2019-04-04 23:59] #1025 closed

[2019-04-05 00:11] michaelshiyu commented on #1017
@npapernot I’m more than happy to contribute! Do you have anything specific that needs help right now? If not I guess I can start by implementing attacks in PyTorch and put them in future/attacks?

[2019-04-05 17:17] npapernot commented on #1017
We are planning to first implement PGD in each framework, including PyTorch. If you'd like to help with this, that would be great! The correspond issue to track this is #1020

[2019-04-05 17:27] michaelshiyu commented on #1020
@npapernot I can take this one.

I do have a question, though. Since PyTorch is dynamic in the sense that it does not explicitly build a graph before each run, are we ok with the potential inconsistencies in the API if we go for a fully-PyTorch implementation?

Some inconsistencies I can think of include, for example, when the user uses a PyTorch implementation, the “x” being fed into attack.gener

[2019-04-05 17:31] npapernot commented on #1020
We thought about this and are not expecting a unified interface across frameworks.

Instead, we are expecting this kind of API:

[code]

where `input` and `adv_x` could be numpy arrays.

cc @david-berthelot who may have some thoughts as well or can correct me if I am not reflecting  properly some of the discussions we had offline

[2019-04-05 17:33] iArunava commented on #1020
This is a possible implementation of the generate function.
[code]

[2019-04-05 17:33] npapernot commented on #1017
I'll close this given that we are tracking progress on #1020, thanks @michaelshiyu

[2019-04-05 17:33] #1017 closed

[2019-04-05 17:35] iArunava commented on #1020
Hi!
I am currently implementing the attacks in pytorch 1.0 and I was unaware of the of pytorch support on cleverhans, I will be happy to help :)

[2019-04-05 17:38] michaelshiyu commented on #1020
@iArunava which attacks have you already implemented and would like to add here? I’m asking so that I can take the ones that you haven’t done yet. Thanks.

[2019-04-05 17:45] michaelshiyu commented on #1020
@npapernot I think what you guys are trying to do is better than having a uniform interface across backends.

So do we want the model_fn to be wrapped as a cleverhans.models.Model? I see the current wrapper is TF-based. I can implement one for PyTorch models if that is needed. Thanks.

[2019-04-05 18:07] david-berthelot commented on #1020
Actually we were thinking of dropping the model API. The idea is to simplify integration by sampling having a model_func that takes an input and returns the logits.

[2019-04-05 18:10] michaelshiyu commented on #1020
@david-berthelot Gotcha. Thanks for answering.

[2019-04-06 01:56] iArunava commented on #1020
Hi :) As I am seeing now, the pytorch models are converted to tf and then the attacks are performed, so where exactly a PyTorch implementation of PGD is going to sit in the library and how its supposed to integrate with the library? Am I missing something?

[2019-04-06 04:33] david-berthelot commented on #1020
We're dropping the cross-framework approach for the sake of simplicity. The focus is now to make it simple to add an attack to an existing model (say for adversarial training).

The way we see it is as a standalone implementation. So in each framework (TF2, JAX, Torch), there'll be a pgd implementation that follows this API:
[code]

[2019-04-06 04:50] michaelshiyu commented on #1020
@david-berthelot I'm working on this and I have a quick question.

@npapernot mentioned that attacks should also support numpy arrays. My idea is to just wrap them as PyTorch objects in the beginning so that inside pgd, everything can be written in pure PyTorch and the code would be cleaner.

Does this sound good to you? My concern is that when people explicitly feed in numpy objects, they may wan

[2019-04-06 07:07] david-berthelot commented on #1020
I'm not sure, as far as I know, TF2 can take numpy arrays directly without conversion. For PyTorch, may be just expecting a Tensor would seem to make sense to me and leave it to the caller to convert their numpy array to a tensor. And I think using the GPU would be expected, the other way around would be a surprise to me (like defaulting to CPU).

@npapernot What's your take on this?

[2019-04-06 12:03] michaelshiyu commented on #1020
@david-berthelot In PyTorch v1.0, I don't think numpy arrays can always be processed directly without error. For example, PyTorch's Tensor operations would throw a TypeError if a numpy array is fed.

I agree with supporting PyTorch Tensor only since a conversion before calling the function would be quite trivial and harmless for the user.

Thanks.

[2019-04-06 17:24] npapernot commented on #1020
Completely agree with @david-berthelot

Thanks for the details @michaelshiyu: I'm just getting started with PyTorch so I'm not very familiar with the typical pipeline yet. If it's more inline with the code style established in the PyTorch community, then we should expect a PyTorch tensor

[2019-04-06 17:31] michaelshiyu commented on #1020
@npapernot Perfect!

I opened PR  #1028 for this issue. Although, since PGD relies on an FGM engine, I think I will implement that as well. Is it ok to do that in the same PR or is it preferable to open a separate PR for FGM?

Thanks.

[2019-04-06 17:32] michaelshiyu commented on #1020
Also, please ignore the closed PR #1027. I got the branch name wrong when I opened it. Sorry about that.

[2019-04-07 23:37] npapernot commented on #1020
We had a simpler API in mind (without attack classes), would you mind holding on for a few days so we can clarify our intended API? I took a quick look at your PR and I suspect very few changes would be needed to the code itself but it looks like all we will be keeping is the `generate` method as a standalone function. I just want to reduce the amount of work needed on your end, thanks

[2019-04-08 01:28] michaelshiyu commented on #1020
@npapernot I see. I will be waiting for the API template. Just let me know when you guys have it ready. Thanks.

[2019-04-08 17:16] michaelshiyu commented on #1020
@npapernot I made some commits in the PR just to keep track of my work. The current implementations don't conform to the desired function-based API but I will revise everything once you guys have the API template ready.

Thanks.

[2019-04-09 16:27] npapernot commented on #1020
Thanks! Yes, it should just be a little of refactoring but the underlying code should be the same

[2019-04-10 01:57] iArunava commented on #1020
Hi, Sorry for the late reply. Since @michaelshiyu is already on PGD I can start taking another attack,or help Michael on that. Let me know.

[2019-04-10 14:16] iArunava commented on #1020
I created a Pull request for the very simple Noise attack here #1029
Its WIP. I will make the changes and tag one of you to review. And I am looking forward to the API template will make changes according to that.

[2019-04-10 22:07] souravsingh commented on #1023
@npapernot I am interested in working on this

[2019-04-11 08:23] HaojieYuan commented on #1020
Super cool!
I've always expecting better support for pytorch in cleverhans and here it will be! :laughing:
Would be extremely happy to help :raised_hand_with_fingers_splayed:

[2019-04-12 13:47] VinodS7 commented on #1008
I couldn't find any indication in the paper about the overshoot but the paper had accompanying code with it.

https://github.com/LTS4/DeepFool/blob/575f3d847ee65d78c0e3b0306657e3e6d575ba7b/Python/deepfool.py#L75

In this line within the loop they are updating the value with the overshoot term. I am not sure what the actual intent of the authors was and if we can take the code as indication of the

[2019-04-12 17:39] npapernot commented on #1008
If the implementation provided by the author included in the overshoot term in the loop, it would make sense to update CleverHans' implementation to match the authors' implementation. Feel free to open a PR to do that. Thanks!

[2019-04-14 13:37] cclauss opened #1031 ".travis.yml: The 'sudo' tag is now deprecated in Travis CI"
[Travis are now recommending removing the __sudo__ tag](https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration).

"_If you currently specify __sudo: false__ in your __.travis.yml__, we recommend removing that configuration_"

[2019-04-16 01:42] HaojieYuan commented on #1000
Support added.

[2019-04-16 01:42] #1000 closed

[2019-04-19 01:50] npapernot commented on #1020
Thank you everyone for the contributions, we appreciate your work. @david-berthelot and I have been working on the API offline and are making the changes directly to @michaelshiyu 's PR #1028. We'll iterate a bit more on that PR and close this issue when we are done and have merged the FGM and PGD attacks in PyTorch. At that point it will make sense to include more attacks @HaojieYuan and to adapt

[2019-04-19 01:58] iArunava commented on #1020
Sounds good. I am already implementing `saliency_map_method` attack in PyTorch. Just let me know when you are ready. I will make the PR.

[2019-04-19 02:15] michaelshiyu commented on #1020
@npapernot awesome! Thanks!

[2019-04-19 02:55] shamoons opened #1033 "Shape rank mismatch when activating FGSM on Keras ResNet"
**Describe the bug**
I am trying to activate an FGSM with a ResNet 50 with `keras`, but get an error:
[code]
**To Reproduce**
My code is:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System configuration**
 - OS
 - Python version 3.7
 - TensorFlow version 1.13

[2019-04-19 03:08] jvmancuso commented on #1024
I wrote something like this awhile back [here](https://github.com/jvmancuso/PytorchAdversarialGym/blob/master/examples/demoFGSM.ipynb).  The underlying codebase is quite a bit different from cleverhans, but maybe some of that can be reused?

[2019-04-19 03:54] michaelshiyu commented on #1024
BTW, the current mnist_tutorial in #1028 is only a few edits away from a cifar10 tutorial. Just change torchvision.datasets.MNIST to torchvision.datasets.CIFAR10 and change the in_channel of the model from 1 to 3.

Or do we want a bigger/better network instead of LeNet-5 for this?

Thanks.

[2019-04-19 04:02] jvmancuso commented on #1024
That would probably make more sense, although I'm not sure what having multiple tutorials with only a few lines' difference would accomplish for a new user.  Perhaps there's functionality missing from the MNIST tutorial that would be useful to add?

[2019-04-19 04:12] michaelshiyu commented on #1024
Yes I agree that these two tutorials would look similar. And I can't see how a cifar10 tutorial would be able to demonstrate any functionality missing from the existing mnist tutorial.

I think the original idea was to add a cifar10 tutorial but I added a mnist tutotial with my PR instead.

[2019-04-19 14:41] npapernot commented on #1024
Let's change the dataset from MNIST to CIFAR10 once the PR is merged. The idea was to first get an example for MNIST quickly to help contributors waiting on an API example. Afterwards, we'd like to move away from MNIST since it is usually not an interesting dataset to study adversarial examples on (except in some corner cases).

[2019-04-19 14:42] npapernot commented on #1020
Thanks @iArunava !

[2019-04-19 22:52] npapernot commented on #1020
@iArunava @michaelshiyu  the attacks were just merged, thanks for all the work! Feel free to open more PRs following a similar API

[2019-04-19 22:52] #1020 closed

[2019-04-21 06:50] ftramer commented on #1033
There is an issue with your data preparation. You should use `X = np.concatenate(X)` (after your for-loop for loading images), to squash the extra dimension you added with `np.expand_dims`

[2019-04-21 06:54] ftramer commented on #830
This PR (https://github.com/tensorflow/cleverhans/pull/1036) implements the correct projection onto the norm=1 ball using Duchi et al.'s O(d*log(d)) algorithm.
It also implements a new multi-step attack that is much more efficient that iterated FGM for the l1-case, simply by relaxing the sparsity of the gradient updates.

[2019-04-22 20:26] AlexeyKurakin opened #1038 "Add unit tests for PGD implementation in TF2"

[2019-04-22 20:27] AlexeyKurakin opened #1039 "Add unit tests for PGD implementation in JAX"

[2019-04-22 20:27] AlexeyKurakin opened #1040 "Add unit tests for PGD implementation in PyTorch"

[2019-04-22 21:06] michaelshiyu commented on #1040
@AlexeyKurakin Can I work on this? Will copying the corresponding test suite for the current TF-based PGD do for now? Thanks.

[2019-04-24 21:21] AlexeyKurakin commented on #1040
@michaelshiyu  you're welcome to work on this.
I would advise against reusing tests for TF-Based PGD. The main problem with current tests is that they take too long to run and we generally want to reduce test time. Most of the time during tests is taken for training of the models.

There are few ideas I have regarding tests:
* Provide some small pre-trained model as a test data.
* Make up some art

[2019-04-24 21:34] michaelshiyu commented on #1040
Thanks for the details.

So to clarify, the main issue with the current test suite is the time needed for running the tests? But the coverage and the test methods are okay in general?

Thanks.

[2019-04-24 22:04] AlexeyKurakin commented on #1040
Yes, the current test coverage is fine. Main issue is that they are too slow.

Regarding test methods. Some adaptation of test code will be needed due to the changes in API, for examples: model is now callable which takes input and outputs logits, there are no "generate" and "generate_np" just simple method to run the attack.

[2019-04-24 23:09] michaelshiyu commented on #1040
Great! I’ll get the basic stuff done first and tag you for a review. Thanks a lot!

[2019-04-25 04:08] zscsg opened #1042 "No jsma_batch function in cleverhans.attacks_tf"
Dear authors,
       Firstly i want to thank you, cleverhans is  a very wonderful library. It is very useful, and I learned a lot from it. But when i read the source code, the implementation of SaliencyMapMethod imports jsma_batch from cleverhans.attacks_tf, but i search the attacks_tf.py， there is no such a function in it. But i find a similar one named jsma. So i test SaliencyMapMethod setting s

[2019-04-25 14:08] shamoons opened #1044 "Issue creating a CarliniWagnerL2 attack"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Describe the bug**
I am attempting to do a simple CarliniWagnerL2 attack on some images.

**To Reproduce**
My code is as follow:
[code]

This takes some time, but

[2019-04-27 15:15] shamoons commented on #960
I can't do `pip install git+https://github.com/tensorflow/cleverhans.git#egg=cleverhans` for some reason

I get `no matches found: git+https://github.com/tensorflow/cleverhans.git#egg=cleverhans`

[2019-05-08 12:27] rohit789123 opened #1048 "unable to evaluate results on adversarial examples (apart from mnist used)"
**Describe the bug**
For new data normal evaluation(non adversarial data) is working fine, but for adversarial examples (being generated out of new data) , error is getting thrown when evaluation is being performed on those adversarial examples.

I have performed evaluation on adversarial examples generated using MNIST data and that seems to be working fine.

I made sure that the dimensions and th

[2019-05-08 22:56] Shawn-Shan opened #1050 "Can we add obfuscated gradient attack (BPDA)?"
Since BPDA breaks everything, we should include it to help defense paper to evaluate against it?

[2019-05-09 01:53] ywu36 opened #1051 "Projected gradient descent code seems not working"
**Describe the bug**
In PGD (https://github.com/tensorflow/cleverhans/blob/master/cleverhans/attacks/projected_gradient_descent.py), line 82: adv_x = x + eta, which initialize adv_x with a random perturbation. I figured out the gradient of adv_x cannot be computed based on this line of code, here is a check:

tf.gradients(self.model.get_logits(adv_x),adv_x)

It will generate gradient [NONE].

What

[2019-05-09 12:59] ftramer commented on #1051
I don't think you can take gradients with respect to operations (`adv_x` or `x+1` in your simpler example represent operations on tensors).
Taking the gradients with respect to the original variable `x` works though.

[2019-05-09 15:29] ywu36 commented on #1051
Hi ftramer,

Thanks for the reply. It exactly what I thought it would be.

tf.gradients(self.model.get_logits(adv_x),adv_x): not working
tf.gradients(self.model.get_logits(adv_x),x): works,

but unfortunately, the author sent adv_x to the function: FGM.generate(adv_x, **fgm_params), which will later compute tf.gradients(loss, adv_x), but "loss" is a function of x not adv_x. So the code does not go

[2019-05-09 15:47] ftramer commented on #1051
This works because of the semantics of `tf.while_loop`. In each loop iteration, you're computing gradients with respect to the previous iteration of the variable `x_adv`.
Do you actually get an error when you run the full PGD attack? All the tests pass on my side.

[2019-05-09 16:12] ywu36 commented on #1051
Yes, here is something I'm running:

    pgd = ProjectedGradientDescent(model)
    pgd_params = {'clip_min': 0.,
                              'clip_max': 1.}
    adv_x = pgd.generate(model.input, **pgd_params)

And it reports an error. It seems just a standard way to initialize the attack.

I am not fully convinced by tf.while_loop will make it works. In the first iteration, "loss" need to comput

[2019-05-09 16:32] ftramer commented on #1051
What is `model.input` ? Your `model` should be an instance of the `cleverhans.Model` class.
This works on my end:

[code]

[2019-05-09 16:54] ywu36 commented on #1051
Hi ftramer,

The model I'm using is the faceNet model used here:

https://github.com/tensorflow/cleverhans/blob/master/examples/facenet_adversarial_faces/facenet_fgsm.py

Thanks. The model is inherited from a Cleverhans.model.

[2019-05-09 17:46] ywu36 opened #1052 "CW attack cannot start on the FaceNet example"
**Describe the bug**
When I'm trying to use the CW attack on the FaceNet example (https://github.com/tensorflow/cleverhans/blob/master/examples/facenet_adversarial_faces/facenet_fgsm.py), I used the following codes to replace the FGSM attack:

    cw =  CarliniWagnerL2(model, sess=sess)
    fgsm_params = {
                   'clip_min': 0.,
                   'clip_max': 1.}
    model.face_input.s

[2019-05-09 20:27] npapernot commented on #1050
Feel free to start a new pull request in one of the following languages: tf1/2/pytorch/jax

[2019-05-09 20:31] npapernot commented on #1048
Did you ensure that the original unperturbed inputs, which you pass to the attack, satisfy all sanity checks defined here? (see all asserts.append() calls) https://github.com/tensorflow/cleverhans/blob/master/cleverhans/attacks/fast_gradient_method.py#L166

[2019-05-10 10:59] B-Yassine commented on #1052
I resolved the same issue by setting the learning phase to false and i really don't know why it works.
Using Keras backend:

[code]

[2019-05-10 15:30] npapernot commented on #1052
That's probably because it disables something like dropout or batch norm that requires a value for a placeholder that was missing from the session run. Thanks for the response

[2019-05-10 15:30] #1052 closed

[2019-05-10 15:31] tanjuntao commented on #960
It works! Thanks for your kind help!

[2019-05-13 07:04] npapernot commented on #1042
Thanks for raising this issue. Did the library raise the following error when you tried to set symbolic_impl to False?

https://github.com/tensorflow/cleverhans/blob/a79eda0bc3b23ff9ce7a42726902b36346d5c25f/cleverhans/attacks/saliency_map_method.py#L84

[2019-05-13 07:05] npapernot commented on #1033
Closing this for now, feel free to reopen if the problem remains an issue

[2019-05-13 07:05] #1033 closed

[2019-05-13 18:29] carlini commented on #1050
BPDA is less of an actual attack itself and more of a strategy that can be used with any existing attack. Given almost any gradient-based attack, you can use the BPDA idea to get better gradients for a defense that causes problems with gradient descent.

It would probably be easier to just use pre-existing attacks, but pass augmented models that do the BPDA trick when asked for their gradient, tha

[2019-05-13 18:32] carlini commented on #1044
I'm not sure that I can debug this from the error you've given. Do you have a longer stack trace? Could you try it on exactly one image and report the intermediate results?

[2019-05-17 03:24] zscsg commented on #1042
No, sir, it doesn't raise such an error.

[2019-05-17 08:07] rohit789123 commented on #1048
@npapernot , thanks for the revert. yes, it is the sanity check which is failing. When i changed the flag ie set it to sanity_check=False , then the code is running fine. In the file

https://github.com/tensorflow/cleverhans/blob/master/cleverhans/attacks/fast_gradient_method.py

If i set "sanity_check=False", then too the adversarial examples get generated , so therefore i think that by changing

[2019-05-17 20:00] npapernot commented on #1048
If the sanity checks are failing you might want to take a look at your inputs as they are probably not in the right domain to start with (their feature values do not satisfy the asserts performed when sanity_checks is set to True). This is something you would most likely want to fix rather than disable the sanity checks

[2019-05-17 20:00] #1048 closed

[2019-05-17 20:02] npapernot commented on #1042
Are you using the last version of CleverHans? Specifically, did you clone from the repo or install via pip?

[2019-05-22 22:08] #1050 closed

[2019-05-24 02:23] xingyousong opened #1056 "train.py's gradient averaging might get a list of all None's"
**Describe the bug**
If I use larger networks like Inception with multiple GPU's, cleverhans/train.py's avg_grads function might get a grads = [None, None, None, None...].

This is probably due to some of the larger networks having extra variables that are not directly useful for training. A quick fix is probably just writing in an if-statement to check if it has None's or the right shapes.

**To

[2019-05-27 02:49] tzaiyang commented on #403
I have same problem too when i use the JSMA, My RAM is 32GB, and GPU memory is 11GB*2, I don't think the problem is out of my memory, How did you deal with it?

[2019-05-27 03:04] tzaiyang opened #1057 "JSMA implementation does not scale to large images (e.g., ImageNet size)"
JSMA MemmoryError #403

I have same problem too when i use the JSMA, My RAM is 32GB, and GPU memory is 11GB*2, I don't think the problem is out of my memory, How did you deal with it?

[2019-05-27 03:06] tzaiyang commented on #1057
RAM:32GB
GPU:GTX 1080Ti

python3.6
tensorflow-gpu:1.12.0
cleverhans: development version

[2019-05-28 16:11] npapernot commented on #1057
What is the dataset you are working with?

[2019-05-29 02:20] tzaiyang commented on #1057
A picture with shape (1,224,224,3)

[2019-05-31 03:24] npapernot commented on #1057
I don't think the implementation scales to such a large image because the saliency scores are computed over pairs of pixels so there are N*(N-1) possible pairs where N=224*224. Could you try to debug and see if this array is causing the OOM: https://github.com/tensorflow/cleverhans/blob/b992b85fe1323cb90124634b98abcf7d9f82055c/cleverhans/attacks/saliency_map_method.py#L238

[2019-06-05 07:36] eternalray opened #1059 "error in cleverhans_tutorials/mnist_blackbox.py"
**Describe the bug**
When running mnist_blackbox.py, problem occurs while training substitue model.

![image](https://user-images.githubusercontent.com/9499462/58938337-90cea880-87af-11e9-80bc-2e243f0ed1da.png)

I realized that after epoch #0, the training log([INFO ~~~) didn't show up. So I made a small change in cleverhans/train.py(below picture) to catch exception and got above result

![image]

[2019-06-05 17:34] csesivakumar opened #1063 "Cleverhans FGSM : classification accuracy is too high"
What's going wrong with this code? I have generated adversarial images using cleverhans API - generate_np method. And using the default cleverhans CNN classifier to classify the images. The test accuracy is very low for adversarial images as expected when I use the model after generating the images. But if I save and reload the model, the accuracy is too high. Please check the code here. Is it rea

[2019-06-06 12:53] npapernot commented on #1063
From your code it looks like you are initializing the model's weights, defining the tf session, etc... after having trained the model using Keras. My guess is that the adv_x array does not contain images that are adversarial. This would explain why the accuracy output by [22] is close to random---because the model weights are random. When you restore the model, its weights are set again to the val

[2019-06-06 12:53] #1063 closed

[2019-06-06 13:11] npapernot commented on #1059
I believe the tutorial has not been updated in a while so it's likely that the new `train` function is causing the problem. From the error, my guess is the model is being redefined after each data augmentation and the variables cannot be created multiple times with the same name.

[2019-06-06 13:28] xubo0321 opened #1065 "C&W attack on inceptionv3"
I want to generate adversarial examples with C&WL2 on the inceptionv3, but it appeers the error as follows:
[INFO 2019-06-06 21:09:06,138 cleverhans] Constructing new graph for attack CarliniWagnerL2
Traceback (most recent call last):
  File "cw/cw_inceptionv3.py", line 163, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 125, in

[2019-06-06 17:41] csesivakumar commented on #1063
Thanks Nicolas. Updated the code. Works fine now.

[2019-06-06 19:40] hardwaresecuritylab commented on #1063
Hi, Csesivakumar, I am interested in your work. How did you fix the issue? Thanks!

[2019-06-06 19:43] hardwaresecuritylab commented on #1063
Hi, Csesivakumar, I had the same issue as you. Can you tell me how did you fix the issue? Thanks!

[2019-06-06 20:16] hardwaresecuritylab commented on #1063
OK! Thank you very much!

[2019-06-09 00:13] leadharbor opened #1067 "FGSM against Facenet example is not working"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Describe the bug**
After running through all the steps as outlined in the readme for "FGSM against FaceNet" I am still getting an error when running facenet_fgsm.p

[2019-06-09 00:59] npapernot commented on #1067
I'm not sure from your question whether you are using the model in the code from CleverHans or the new model from https://github.com/davidsandberg/facenet/wiki/Validate-on-LFW.

Could you clarify?

[2019-06-09 01:57] leadharbor commented on #1067
I was using the model from the Validate-on-LFW tutorial which recommended downloading the model from https://drive.google.com/open?id=1EXPBSXwTaqrSC0OhUdXNmKSh9qJUQ55-.

I didn't realize that there was a model in CleaverHans.

Thanks for responding to this on a Saturday.

You are AWESOME!!!

Regards,
Abe

[2019-06-09 14:17] leadharbor commented on #1067
Ok, went through the files in cleverhans but could not find the *.pb models files for Facenet.

When I first checked, he only place I could find the original model files referenced in facenet_fgsm.py was online at
https://github.com/iwantooxxoox/real-time-face-recognition/tree/master/pre-trained/20170512-110547

Now I found (I swear this wasn't there when I tried searching originally):
https://dri

[2019-06-09 15:30] leadharbor commented on #1067
Looks like the latest model I tried has problems as well.

I get the following trying to run

python src/validate_on_lfw.py \
~/datasets/lfw/lfw_mtcnnpy_160 \
~/models/facenet/20180402-114759 \
--distance_metric 1 \
--use_flipped_images \
--subtract_mean \
--use_fixed_image_standardization

In the referenced Validate-on-LFW tutorial:

Model directory: /content/models/facenet/20170512-110547
Metagr

[2019-06-09 17:09] Jeredriq opened #1068 "Cant Use utils_keras.Sequential still thinks its not Cleverhans model"
Hi,

I'm trying to do Saliency Map Method using cleverhans.

My model needs to be keras sequential so for that reason I've searched and found cleverhans.utils_keras, Sequential uses KerasModelWrapper. But for some reason I still get it should be cleverhans model. Here's the stacktrace

And here's my code
[code]

[2019-06-09 18:48] Jeredriq commented on #1068
Okay, I still needed to use KerasModelWrapper it seems. I'm not trying to be rude but may I ask why
 cleverhans.utils_keras exist?

[2019-06-09 18:48] #1068 closed

[2019-06-10 05:04] npapernot commented on #1068
The utils_keras file contains both a Keras defined model and a tool to wrap Keras models into CleverHans models. Does that help?

[2019-06-10 05:07] npapernot commented on #1067
It looks like you are missing the `fprop` method that needs to be implemented to complete the CleverHans model object (from `cleverhans.model.Model`). You can find an example of such a class here: https://github.com/tensorflow/cleverhans/blob/master/examples/facenet_adversarial_faces/facenet_fgsm.py#L11

[2019-06-10 16:50] leadharbor commented on #1067
I am a bit confused. I am running the example you referenced above (facenet_fgsm.py) and it has an implemented fprop method.

Do I need to change the fprop method? It is currently:

  def fprop(self, x, set_ref=False):
    return dict(zip(self.layer_names, self.layers))

[2019-06-10 18:51] npapernot commented on #1067
I thought you were running `python src/validate_on_lfw.py`. Did you make sure that the model is still an instance of `cleverhans.model.Model` and has an `fprop` right before you run the line that crashes?

[2019-06-10 19:54] Jeredriq commented on #1068
Then it does not really wrap sequential model because I've manually wrapped it 😃

[2019-06-10 20:17] npapernot commented on #1068
Oh that's because the wrapper can be used for any Keras model and the model that is in the script is just one example of a Keras model, we didn't want to impose a specific model

[2019-06-10 20:29] Jeredriq commented on #1068
Well, when I import Sequential from cleverhans instead of keras, I expect it to be ready-to-use. But utils_keras is just container for easy usage from cleverhans, i think?

[2019-06-10 20:46] leadharbor commented on #1067
The error that I was talking about related to a missing fprop method happens when I run facenet_fgsm.py

When I run validate_on_lfw.py I don't get errors with the newer model (20180402-114759) however I still get the missing fprop method when running facenet_fgsm.py with the newer model.

You are correct. With the older model (20170512-110547) I get the following error when running validate_on_lfw

[2019-06-10 22:25] npapernot commented on #1068
I'm not sure I understand your comment. Are you saying it would make more sense to move the Sequential model from the utils_keras.py script to the tutorial and only keep the KerasModelWrapper in utils_keras.py? Our reasoning for including the model in utils_keras.py was just to give one example of a model. We still wanted to expose in the tutorial how any Keras model can be wrapped into a CleverHa

[2019-06-10 22:37] npapernot commented on #1067
I think you are correct, I haven't worked on this particular example (it was added by @BrunoLopezGarcia) but it looks like it was written before we made sure that the FGSM was called on logits: see https://github.com/tensorflow/cleverhans/blob/13c84b4411083c4840d3c62329f3cca106b4f499/cleverhans/attacks/fast_gradient_method.py#L54

Unfortunately, I don't know much about FaceNet but yes you would ha

[2019-06-10 23:53] leadharbor commented on #1067
Ok, will try after I finish my workout.

Thanks,
Abe

On Mon, Jun 10, 2019, 3:37 PM Nicolas Papernot <notifications@github.com>
wrote:

[2019-06-11 15:01] robomotic opened #1069 "adversarial image distorsion"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I would like to see this approach implemented:
https://arxiv.org/pdf/1312.6199.pdf
I believe this is a precursor to the GAN approach?

[2019-06-11 15:54] npapernot commented on #1069
The L-BFGS approach is implemented here: https://github.com/tensorflow/cleverhans/blob/master/cleverhans/attacks/lbfgs.py

[2019-06-11 15:54] #1069 closed

[2019-06-11 16:33] leadharbor commented on #1067
I think you are correct. There shouldn't be a logits layer because Facenet is using image embeddings and triplet loss.

Well, I got farther but now I am running out of memory on Colab. Something seems a bit weird.

I successfully got through the Validate on LFW tutorial.

After getting these working on Colab I am going to share out the notebooks.

Also would like to update the docs.

Have shared t

[2019-06-11 17:41] leadharbor commented on #1067
Ok, got farther.

Realized that I was getting out of memory errors because the input dimensions from the model had increased from 128 to 512 so I reduced the testset size.

#facenet_fgsm.py

    self.victim_embedding_input = tf.placeholder(
        tf.float32,
        #CHANGED HERE some models have 512 others have 128
        shape=(None, 512))
...
with tf.Graph().as_default():
  with tf.Session()

[2019-06-12 21:39] luannd commented on #1052
@npapernot @carlini I still got the same error as @ywu36 .The above solution doesn't work in TF. I can run the cw attack on MNIST but don't know why it fails on facenet.

[2019-06-13 08:35] Jeredriq commented on #1068
I'm suggesting Sequential and other Keras models should still stay in utils_keras.py but when they're called from utils_keras.py, they should already be wrapped with KerasModelWrapper for easier use because I dont believe anyone would call a keras model from cleverhans' utils_keras.py and use it without wrapping it with KerasModelWrapper.

To put it simply utils_keras should contain this:

`Sequen

[2019-06-17 21:35] Abhishek7081 commented on #349
from cleverhans.model import Model
Including this should solve the issue.

[2019-06-18 05:11] npapernot commented on #1067
Could you state what your problem is now?

[2019-06-18 14:53] leadharbor commented on #1067
Hi Nicolas,

Thanks for checking in on this.

Got things working.  Not all the pictures were aligned but I don't know if
that is expected.

Here is the location of the two notebooks.

https://github.com/leadharbor/MLSec

One is associated with setting up and running FaceNet and the other for
setting up and running the CleverHans FGSM on FaceNet example.

There were files in both Cleverhans and Fac

[2019-06-18 15:12] npapernot commented on #1067
Great to hear that things are now working. If you find that the attacks are not evading the model as often as you would expect, you might want to switch to an iterative attack (e.g., PGD).

Unfortunately I won't have time to look at your notebooks but you can definitely open PRs to make changes to CleverHans documentation and code.

Thanks!

[2019-06-18 15:12] #1067 closed

[2019-06-23 12:03] CNOCycle opened #1074 "cleverhans may not work in tf==1.14.0"
**Describe the bug**
cleverhans may not work in tf==1.14.0

**To Reproduce**
Environment is built by following Dockerfile:
[code]

Following is minimum testing code:
[code]

Here is full error message:
[code]

Error message complains that
[code]

if I replace line `"/usr/local/lib/python3.6/dist-packages/cleverhans/utils_keras.py:159`
[code]
then I can run testing code sucessfully.

But I am not s

[2019-06-23 16:32] npapernot commented on #1074
Thanks, this looks like a change in the `tf.keras` API between 1.13 and 1.14 given that the example code you are including in your report is defining the model using `tf.keras`. Could you try your solution as well on the simple example included in the tutorials folder (https://github.com/tensorflow/cleverhans/blob/master/cleverhans_tutorials/mnist_tutorial_keras.py) and open up a PR afterwards?

I

[2019-06-23 16:49] CNOCycle commented on #1074
Here is full log message[without modifying any code in cleverhans]
[code]
Here is full log message[my solution]
[code]

[2019-06-23 17:52] npapernot commented on #1074
The accuracy on adversarial examples seems quite high. Is the model expected to be robust or is the attack failing here?

[2019-06-23 18:26] CNOCycle commented on #1074
The model you mentioned is `mnist_tutorial_keras.py` or that in my testing code?

[2019-06-24 01:06] npapernot commented on #1074
My bad I forgot that the second run for each model is using adversarial training, hence the FGSM fails. I'll merge the PR

[2019-06-24 04:19] #1074 closed

[2019-06-27 03:23] npapernot commented on #1065
The error specifies that your model object is missing an `fprop` method, which probably explains why the code is failing. To see an example of an implementation of a model class, see: https://github.com/tensorflow/cleverhans/blob/f1cf6f06b6f0f68334f7fc5b862b01e439dcdc37/cleverhans/model_zoo/all_convolutional.py#L11

[2019-06-27 03:23] #1065 closed

[2019-06-27 03:23] npapernot commented on #1059
Any update on this? Were you able to find a solution to your issue?

[2019-06-27 03:25] npapernot commented on #1056
Would you be able to put together a PR that implements your fix if it solved your problem? Otherwise we will have to close the issue if we don't have a way to reproduce it.

[2019-06-27 03:27] xubo0321 commented on #1065
Thank you very much，I have solved it.

[2019-06-27 03:29] npapernot commented on #1051
Hi @ywu36, the code you refer to does not support `model.input` syntax you used in your code snippet. Are you sure this is the model you are having a problem with? If you are still facing this issue, could you reopen this issue and share the code for defining `model` in your previous code snippet?

[2019-06-27 03:29] #1051 closed

[2019-06-27 03:43] npapernot commented on #1044
If you are still facing this issue, feel free to re-open it with additional information requested (e.g., stack trace, or your model definition)

[2019-06-27 03:43] #1044 closed

[2019-06-27 03:44] #1042 closed

[2019-06-27 03:46] npapernot commented on #1031
Thanks for the report. The current travis configuration does not specify sudo:false but rather sudo:required so we will keep that configuration for now.

[2019-06-27 03:46] #1031 closed

[2019-06-27 03:50] npapernot commented on #985
No progress has been made on this issue yet, but for now we recommend reading the following report: https://github.com/evaluating-adversarial-robustness/adv-eval-paper

[2019-06-27 21:17] david-berthelot opened #1077 "Rename ord argument to norm since ord is a reserved keyword for Python"

[2019-06-27 22:07] michaelshiyu commented on #1077
Can I take this issue if nobody else is working on it?

[2019-06-28 00:27] #306 closed

[2019-06-28 00:57] #1021 closed

[2019-06-28 04:54] #1019 closed

[2019-06-28 09:49] cclauss commented on #1031
The article makes it clear that the __sudo__ tag is now fully deprecated because the __sudo__ command is _always_ available and there is no way to turn it off.

[2019-06-29 15:35] shamoons opened #1081 "I'm having an issue setting up a basic FGSM attack"
I apologize if this seems basic. But I'm trying to save MNIST images that have been attacked with FGSM. My code is:
[code]

However, this results in an error: `AttributeError: 'int' object has no attribute 'get_shape'`

I know this is an easy fix and I hesitate wasting anyone's valuable time to solve it. But if anyone can provide guidance, I would be very grateful.

[2019-06-30 06:40] npapernot commented on #1081
Thanks for the report. Two things:

* Could you post this to stackoverflow unless it is a reproducible bug: https://stackoverflow.com/search?tab=newest&q=cleverhans

* Could you paste a full stack trace so we can debug?

From looking quickly at your code, you are using `generate` instead of `generate_np` (the former is for symbolic tensors and the latter for numpy arrays)

[2019-06-30 06:40] #1081 closed

[2019-07-02 12:23] WindQAQ commented on #1038
Hi @AlexeyKurakin,  is anyone working on this? If not, I would like to do this. Thanks!

[2019-07-02 14:21] #1040 closed

[2019-07-02 14:22] npapernot commented on #1038
No one is working on TF2 tests, so feel free to take it! Thanks! You can look at #1045 for some guidance.

[2019-07-02 14:38] WindQAQ commented on #1038
Sure! Want to make sure something here:
1. do we need to decorate the tests with [run_all_in_graph_and_eager_modes](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/test_util.py#L915) to make them compatible with graph mode?
2. should we inherit the tests from [tf.test.TestCase](https://www.tensorflow.org/api_docs/python/tf/test/TestCase) instead of CleverHansTest?

[2019-07-02 14:54] npapernot commented on #1038
1. Let me get back to you on this one
2. Yes that sounds like a good idea if it simplifies your implementation

[2019-07-02 18:07] WindQAQ commented on #1038
Thanks you! I would create a PR for fast_gradient_method first to let you see if it is good enough.

[2019-07-02 21:05] npapernot commented on #1038
Regarding #1, we had a discussion with @AlexeyKurakin and our current stand is that we should aim to verify the possibility of wrapping all attack functions in @tf.function in TF2 but that we do not need to verify compatibility with TF1 graph mode.

[2019-07-03 04:09] WindQAQ commented on #1038
Okay! I'm also fine with this.

[2019-07-03 12:35] AND2797 opened #1085 "from cleverhans.compat import flags cannot import flags"
while executing -
`from cleverhans.compat import flags`

i  get the error -
`ImportError: cannot import name 'flags'`

i am using google colab, so not sure if its a colab issue or a cleverhans issue. if everything is fine on your end then i can open an issue with colab. there was a  similar issue earlier, but i am not sure how to fix it for colab.

i am using,
`!pip install cleverhans` to get the

[2019-07-03 19:48] npapernot commented on #1085
Are you using python3?

[2019-07-03 22:01] AND2797 commented on #1085
Yes, I'm using python3.

[2019-07-09 18:21] npapernot commented on #1085
Which version of cleverhans are you using?

[2019-07-11 19:41] cassidylaidlaw opened #1087 "TensorFlow Implementation of SPSA seems to calculate gradient incorrectly"
In the SPSAAdam class in `cleverhans/attacks/spsa.py`, the gradient is calculated with the following code:

      delta = self._delta
      delta_x = self._get_delta(x, delta)
      delta_x = tf.concat([delta_x, -delta_x], axis=0)
      loss_vals = tf.reshape(
          loss_fn(x + delta_x),
          [2 * self._num_samples] + [1] * (len(x_shape) - 1))
      avg_grad = reduce_mean(loss_vals * delt

[2019-07-12 13:20] bussfromspace opened #1089 "AttributeError: 'Tensor' object has no attribute 'get_logits'"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

Hi,
I am trying to train a DQN model based on RL-attack examples using this line:
python3 train.py --env Breakout --save-dir ./data/Breakout/ --num-steps 200000000

[2019-07-12 20:02] juesato commented on #1087
Hey, thanks! Yes, the code should read as you've proposed - otherwise, the updates will move in the right direction, but by the wrong amount.

Do you want to go ahead at making the change? The provided learning rate defaults should also be adjusted, so that default behavior is the same before/after the change. For backwards-compatibility, I would add a new parameter, say `lr`, since the semantics

[2019-07-12 23:55] cassidylaidlaw commented on #1087
Sure, I can go ahead and make the change. That sounds good about preserving backwards compatibility. Just to make sure I got the math right, the new learning rate should be `lr = learning_rate * delta` right?

[2019-07-13 11:11] juesato commented on #1087
Great, thanks! Yes, that checks out to me.

[2019-07-22 11:06] ManikandanKurup-Packt opened #1091 "ValueError: Dimensions must be equal, but are 512 and 128 for 'sub' (op: 'Sub') with input shapes: [?,512], [?,128]"
After following through all the steps mentioned in readme for "FGSM against FaceNet" I am still getting an error when running facenet_fgsm.py:

Traceback (most recent call last):
  File "facenet_fgsm.py", line 60, in <module>
    model.convert_to_classifier()
  File "facenet_fgsm.py", line 32, in convert_to_classifier
    tf.square(self.embedding_output - self.victim_embedding_input),
  File "C:\P

[2019-07-23 00:38] mirza03 opened #1092 "AttributeError: 'HParams' object has no attribute '__dict__'"
**Describe the bug**
I'm trying to run multi_GPU Adversarial Training using 'multigpu_advtrain' on cifar10 dataset. I'm getting this error during initialization of the training process.

"AttributeError: 'HParams' object has no attribute __dict__ " in trainer.py line 120

**To Reproduce**
Steps to reproduce the behavior:
run following command to reproduce:
python3 run_multigpu.py --attack_type_tra

[2019-07-23 09:28] lin2020 opened #1093 "Some val images of NIPS 2017 Adversarial Competition download failed"
I try to download the dev dataset for NIPS 2017 Adversarial Competition. However, some images download failed.

I run "python download_images.py --input_file=dev_dataset.csv --output_dir=./images/"
and get output as follow:

Downloaded 171 imagesDownload failed: 00c3cd597f1ee96f
Download failed: 3692f6967c632fee
Downloaded 178 imagesDownload failed: fa2a7d600b62174e
Downloaded 179 imagesDownload f

[2019-07-23 16:02] npapernot commented on #1091
My guess is that the `lfw` library has been updated since this example was written. Perhaps @BrunoLopezGarcia can confirm?

[2019-07-23 16:25] npapernot commented on #1089
@behzadanksu can you take a look?

[2019-07-23 16:29] npapernot commented on #1092
I'm not sure this code was tested using python3. Have you tried running using python2? Feel free to reopen if that doesn't fix the issue.

[2019-07-23 16:29] #1092 closed

[2019-07-23 16:31] npapernot commented on #1089
cross post from https://stackoverflow.com/questions/57007921/rl-example-attributeerror-tensor-object-has-no-attribute-get-logits

[2019-07-23 20:51] BrunoLopezGarcia commented on #1091
I think the file_extension parameter is no longer needed for calling lfw.get_paths, as you can see in this Facenet commit: https://github.com/davidsandberg/facenet/commit/4b98361edf086838169663cd4f85e0b3d24a9475#diff-e19fc7f0584f1545f1ab2059705d2573

[2019-07-23 21:05] behzadanksu commented on #1089
This issue was solved in a recent commit of the main repository ( https://github.com/behzadanksu/rl-attack ). I will submit a pull request to Cleverhans in the following days to synchronize the core implementations.

[2019-07-24 01:32] npapernot commented on #1089
Thanks @behzadanksu !

[2019-07-29 09:21] bussfromspace commented on #1089
Hi,
Thanks for the response  @npapernot and @behzadanksu. But now I have some further error in the recent commit  [of the rl-attack repository](https://github.com/behzadanksu/rl-attack.) It looks like now I don't have the error I mentioned here, but when I call env.reset(), it gives NotImplementedError.  I tested by just running these two lines and reset works perfectly and I can see the env:
`env

[2019-07-30 17:39] lynn901213 opened #1094 "Should we add preprocessing layer in the model?"
Hi,
Should we add preprocessing layer in the model for generating adversarial examples? If I want to attack pre-trained resnet50, the input preprocessing for training is caffe style and doesn't include normalization, so in order to get the right epsilon I always divide the input by 255.0 and add another two layers (x*255.0) and (resnet50.preprocessing_input) in the base model to ensure the input i

[2019-07-30 17:44] npapernot commented on #1094
In the future, please ask questions that are not bug reports on stackoverflow.

That's correct, you can either include the preprocessing layer in the model being attacked, or transform the adversarial examples obtained back to the original input layer by inverting the preprocessing transformation.

See similar question: https://stackoverflow.com/questions/57097633/extracting-original-image-format-

[2019-07-30 17:44] #1094 closed

[2019-07-30 17:52] lynn901213 opened #1095 "L2 constrain on attacks"
Hi,
How do we set constrain on L2 distance for cw L2 attack and deepfool attack? In attack publications authors mention smaller Lp distance to claim a stronger attack, but how to limit L2 distance to a fixed value is confusing. For L-ifinity it can be a max min crop but L2 distance is the average L2 distance on pixel value if I am not wrong, and how do we set that to be a fixed value?
Thank you

[2019-07-30 17:58] lynn901213 commented on #1094
Thank you !!!!!!!!!!!!! And sorry I just posted another issue.

[2019-07-30 18:05] #1095 closed

[2019-07-30 21:16] lynn901213 commented on #1085
uninstall cleverhans, update pip, install the newest cleverhans.

[2019-07-30 21:40] #1085 closed

[2019-07-31 17:38] npapernot commented on #1091
@ManikandanKurup-Packt can you let us know if that solved your issue?

[2019-07-31 17:39] #1077 closed

[2019-07-31 20:29] AlexeyKurakin commented on #1093
These images failed to download because they no longer exist.
If you look at dev_dataset.csv and final_dataset.csv, each image id maps to some URL of image on Flickr. If image is gone from Flickr download will fail.

Kaggle packaged dev dataset and put into their website, so you can try to download entire archive from there: https://www.kaggle.com/google-brain/nips-2017-adversarial-learning-develo

[2019-07-31 20:29] #1093 closed

[2019-08-01 06:18] ManikandanKurup-Packt commented on #1091
Sorry for the delayed reply.
I didn't get the solution (maybe cause i'm new to this), but from which file should i remove the file_extension parameter ?
As far as i checked, there are no file_extension parameter mentioned anywhere that i could find.

[2019-08-01 06:39] BrunoLopezGarcia commented on #1091
I think you should change this line:

`  paths, labels = lfw.get_paths(testset_path, pairs, file_extension)
`

for this line:

`  paths, labels = lfw.get_paths(testset_path, pairs)
`

and delete this one:

`file_extension = 'png'
`

in the file set_loader.py

[2019-08-01 07:02] ManikandanKurup-Packt commented on #1091
I tried what you said but it doesn't seem to make any difference.

![Untitled](https://user-images.githubusercontent.com/48318375/62272300-69672580-b458-11e9-88f5-66fb590fe3fa.png)

[2019-08-01 13:55] BrunoLopezGarcia commented on #1091
I guess you also have to change 512 to 128 as you did the first time:

`self.victim_embedding_input = tf.placeholder(tf.float32,shape=(None, 128))
`

[2019-08-02 04:54] ManikandanKurup-Packt commented on #1091
Apparently it is already on 128. I guess i forgot to change it back to 512.

I tried changing it to 512, but doesn't make a difference.

[2019-08-02 09:46] BrunoLopezGarcia commented on #1091
I made a few changes in the code and now it works with newer Facenet models. It is still a pull request but you can take a look here: https://github.com/tensorflow/cleverhans/pull/1096

It also exports the generated images now.

[2019-08-02 11:47] ManikandanKurup-Packt commented on #1091
Finally the code is running without any errors. Thanks to you guys @BrunoLopezGarcia and @npapernot

Just FYI, the only thing i changed in facenet_fgsm.py is self.layer_names.append('probs') to self.layer_names.append('logits')
Included the code in the set_loader.py file and it worked like a charm. Not sure why though.

![Cap1](https://user-images.githubusercontent.com/48318375/62368063-17ea9380-b

[2019-08-02 17:02] npapernot commented on #1091
If the fix can be useful to others, please consider making a PR to update the current example. thank you!

[2019-08-02 17:02] #1091 closed

[2019-08-02 18:47] BrunoLopezGarcia commented on #1091
@npapernot The fix was already coded in the pull request that I did before.

[2019-08-02 19:55] npapernot commented on #1091
Excellent thanks!

[2019-08-07 22:27] kojino opened #1098 "Attacks do not work when the final layer is not softmax (e.g. ensemble models)."
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Describe the bug**
Attacks do not work when the final layer is not softmax (e.g. ensemble models).

**To Reproduce**
Steps to reproduce the behavior:
[code]

The e

[2019-08-08 17:56] npapernot commented on #1098
Double post with stackoverflow: https://stackoverflow.com/questions/57397628/how-to-apply-a-cleverhans-attack-when-the-final-layer-is-not-softmax-e-g-ens

[2019-08-08 17:56] #1098 closed

[2019-08-20 08:01] winnie1009 commented on #349
**I rewrote "class InceptionModel"**
**code:**

class InceptionModel(Model):
  """Model class for CleverHans library."""

  def __init__(self, nb_classes):
    super(InceptionModel, self).__init__(nb_classes=nb_classes,
                                         needs_dummy_fprop=True)
    self.built = False

  def __call__(self, x_input, return_logits=False):
    """Constructs model and return prob

[2019-08-24 10:37] robomotic opened #1099 "TreeGan"
Hello there,
I have read this interesting [paper](https://arxiv.org/abs/1808.07582).
TreeGAN: Syntax-Aware Sequence Generation with Generative Adversarial Networks
 However I am unable to find the source code, it seems a lot of work is required to implement.
Should I try to reach the authors?

[2019-08-24 10:43] robomotic opened #1100 "GAN resources for mixed continuous and discrete features"
Hello there,
are there any research papers dealing with generators where the feature space is composed of categorical and continuous features?
I am dealing with executable binaries that have a mix of features for example you will have an entropy float value (bounded), an integer count  of operations (unbounded) and a set of boolean features for the absence or presence of certain function calls.
I

[2019-08-24 13:00] npapernot commented on #1100
This library is about adversarial examples (not generative adversarial networks) so I will close this issue for now.

[2019-08-24 13:00] #1100 closed

[2019-08-24 13:01] npapernot commented on #1099
This library is about adversarial examples (not generative adversarial networks) so I will close this issue for now.

[2019-08-24 13:01] #1099 closed

[2019-08-24 14:13] CNOCycle opened #1101 "invalid value encountered in double_scalars when CWL2's confidence is non-zero"
Hi authors,

I try to evalute accuracy of my secret model on CIFAR10 data which value defened [0,255] with CWL2.

From what I know, when confidence increases, adversarial data will be stronger and accuracy will decrease

But the result is different from what I thought.

[code]

Also, I got some warning:

[code]

Following is a minimal testcase.

In this testcase, confidence=500 may not be a reason

[2019-08-25 16:28] npapernot commented on #1101
@carlini : should the data be centered in 0 or is that done by the change of variable?

[2019-08-27 06:19] CNOCycle commented on #1101
I'm little confusing ...

I thought that `KerasModelWrapper(Model)` would process logits and prob. automatically

because `get_logits` is a member function in class `KerasModelWrapper`

https://github.com/tensorflow/cleverhans/blob/master/cleverhans/utils_keras.py#L143

and in `carlini_wagner_l2.py:236` uses  self.output = model.get_logits(self.newimg)

https://github.com/tensorflow/cleverhans/blo

[2019-08-28 18:18] Cestlaviez opened #1102 "Cannot use ''SparseL1Descent'' method"
```from cleverhans.attacks import SparseL1Descent```
ImportError: cannot import name 'SparseL1Descent'

[2019-08-28 19:10] #1102 closed, assigned to nobody

[2019-09-04 03:23] carlini commented on #1101
Okay yeah so you're right. I've looked at this some and I'm confused by what's going on. I hope to have some more time in two weeks after some paper deadlines and will look at this more. If I don't follow up by two weeks from now definitely ping on this thread again.

[2019-09-04 21:25] iamgroot42 opened #1103 "InvalidArgumentError, assertion failed error generated by utils_tf"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Describe the bug**
I have a straightforward Keras model. I wrap it with the KerasWrapper from the Cleverhans library and then call the FGSM attack's generate_np()

[2019-09-05 17:05] iamgroot42 commented on #1103
I identified the reason for the error. The clip_max value was set to 1.0, whereas the data was in the [0,255] range. I am not sure why this error popped up in the first place. Perhaps it could be a bit more verbose to help.

[2019-09-05 17:05] #1103 closed

[2019-09-12 21:23] maithal opened #1107 "Checkpointable error for FGSM attack using cleverhans"
I am trying to attack on an image using cleverhans package and following is my code:

wrap = KerasModelWrapper(model)
fgsm = FastGradientMethod(wrap, sess=sess)
fgsm_params = {'eps': 0.3,
               'clip_min': 0.,
               'clip_max': 1.}
adv_x = fgsm.generate_np(x_validation, **fgsm_params)

for adv_x = fgsm.generate_np(x_validation, **fgsm_params) line I am getting error as
"Checkpoin

[2019-09-17 01:52] CNOCycle commented on #1101
@carlini, any update?

I found that the minimal testcase for MNIST has some bug.

Actually, I did use the **model with softmax** layer in the code.

[code]

When I try to wrap a model w/o softmax, cleverhans would raise error message:
[code]

So the conclusion is that **softmax** layer is required for `KerasModelWrapper(Model)` and it would process logits and probability automatically.

Also, I st

[2019-09-17 02:00] Fansgithub2019 opened #1109 "NotFoundError: libtensorflow_framework.so"
**Describe the bug**
Run python generate_imperceptible_adv.py in /examples/adversarial_asr
The following error occurred

 File "/home/fan/anaconda3/envs/tf/lib/python3.7/site-packages/tensorflow/python/framework/load_library.py", line 61, in load_op_library
    lib_handle = py_tf.TF_LoadLibrary(library_filename)
tensorflow.python.framework.errors_impl.NotFoundError: libtensorflow_framework.so: can

[2019-09-25 22:23] iamgroot42 opened #1110 "Support for batch-based attacks?"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Is your feature request related to a problem? Please describe.**
Just like most machine-learning based libraries, users should have the option to perform batched a

[2019-09-27 10:14] bhavinc opened #1111 "KerasModel"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scro

[2019-09-27 10:31] bhavinc opened #1112 "KerasModelWrapper does not work for vgg/inception if keras is imported from tensorflow (1.14)"
**Describe the bug**
If one imports standard models from keras.applications, it throws an error if keras is imported from tensorflow.
tf.__version__ = 1.14

[code]

Traceback   --->
[code]

The changes in the tf.keras api were also mentioned in a previous issue. This can be appended to those discussions (/deemed changes).

[2019-09-27 11:53] #1111 closed

[2019-09-27 18:16] iamgroot42 opened #1113 "Narrow assertion for optimizer check in train.py"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Describe the bug**
A check for optimizer in the train.py module checks for the optimizer class, asserting that it should be a child class of 'tf.train.Optimizer'.

[2019-09-27 18:41] iamgroot42 commented on #1113
It seems like the 'compute_gradients' call made on top of the optimizer is not support by the keras versions of optimizers (since they are slightly different variants like SGD which users may prefer). Maybe this support can be added via a wrapper class (may be a bit too much effort, given almost all optimizers are directly available with slight variations)? Closing for now, as not really a 'bug'.

[2019-09-27 18:41] #1113 closed

[2019-09-30 15:11] iamgroot42 opened #1115 "Bug in ProjectedGradientDescent implementation?"
The original work by Madry et al mentions that in the optimization loop of their attack, they normalize the gradient before multiplying it with the step size. I may have missed some function calls made, but after having a look at the ProjectedGradientDescent implementation, it seems that at no stage are the gradients normalized before perturbing the image.

A recently released version code-base by

[2019-09-30 16:31] npapernot commented on #1115
Which implementation are you referring to?

[2019-09-30 16:33] npapernot commented on #1110
Most attacks should be able to take a batch of data as the first dimension of the input tensor. Can you provide details of attacks and framework version where you find this to be an issue?

[2019-09-30 16:33] npapernot commented on #1109
This looks like a TF installation problem. Feel free to reopen if that's not the case.

[2019-09-30 16:33] #1109 closed

[2019-09-30 16:35] iamgroot42 commented on #1110
Yes, but the batch size used by the attack algorithm does not seem to be a controllable parameter. For instance, running MadryEtAl on a large set of data fails since it tries to compute everything in one go. Maybe support for a 'batch_size' param could help call this attack directly, instead of users breaking data into chunks and then combining data themselves in the end?

[2019-09-30 16:35] npapernot commented on #1107
This looks like a problem with your model definition but it's hard to tell from the limited information you shared. Feel free to reopen if you are still facing this issue, but please add context to your question (e.g., code needed to reproduce the issue)

[2019-09-30 16:35] #1107 closed

[2019-09-30 16:36] npapernot commented on #1101
@carlini would you be able to follow up on this?

[2019-09-30 16:37] iamgroot42 commented on #1115
MadryEtal uses [ProjectedGradientDescent](https://cleverhans.readthedocs.io/en/latest/_modules/cleverhans/attacks/projected_gradient_descent.html#ProjectedGradientDescent), which further uses FGM to compute the perturbation using the gradient. I could not find any step in the FGSM implementation that normalizes gradients (I may have missed this step in case it is there, in which case I apologize)

[2019-09-30 16:37] npapernot commented on #1089
Could you post this on the github for rl-attack? This looks like it is related to the code implemented there.

[2019-09-30 16:37] #1089 closed

[2019-09-30 16:37] npapernot commented on #1110
Can you provide details of attacks and framework version where you find this to be an issue?

[2019-09-30 16:44] michaelshiyu commented on #1115
@iamgroot42 I might be misunderstanding this but if by "normalize" you mean the projection step, I think it is in ```clip_eta```.

[2019-09-30 16:46] iamgroot42 commented on #1110
I tried to generate adversarial examples on the test set of CIFAR-10 together in one go for a Resnet-50 model, for which I got an internal OOM error. It would be nice to have a 'batch_size' parameter (if I am not wrong, it is already present for some attacks eg HopSkipJumpAttack) for this attack. We could have a basic batch-breaking operation in the base class, and functions which already implemen

[2019-09-30 16:49] iamgroot42 commented on #1115
@michaelshiyu if you have a look [here](https://github.com/MadryLab/robustness/blob/master/robustness/attack_steps.py#L127) (the step() function is called inside the main attack), they normalize the gradient first. The 'clip_eta' step is for limiting the perturbation to the epsilon L-p ball, which is different from what I am talking about

[2019-09-30 17:17] michaelshiyu commented on #1115
@iamgroot42 I don't think this normalization is mentioned in either of the papers referenced by CleverHans' PGD implementation. Although, I think both papers only discussed the inf-norm case unless I've missed something.

Also, in their implementation, wouldn't this normalization step affect the following projection step at least when using 2-norm? For example, say if a certain gradient vector has

[2019-09-30 17:41] iamgroot42 commented on #1115
Page 18 of [this paper](https://arxiv.org/pdf/1905.02175.pdf) by the same research lab references the Madry attack, saying that "we normalize the gradient at each step of PGD". If you look at their implementation in the [robustness](https://github.com/MadryLab/robustness) package (which is from the research lab which published the PGD paper), they do actually normalize the gradients (the link I ga

[2019-09-30 17:52] michaelshiyu commented on #1115
@iamgroot42 I was referring to the normalization in the [robustness](https://github.com/MadryLab/robustness) package. I might be wrong but I think it interferes with the projection step at least when we are using 2-norm.

Also, I might be wrong again but I don't think the PGD attack was proposed by the Madry lab. They themselves referred to [another paper](https://arxiv.org/pdf/1611.01236.pdf) in

[2019-09-30 17:58] iamgroot42 commented on #1115
I think they are aware of that fact, and that it may not be interference according to them. They normalize the gradients first and then do other projection steps. As far as the attack is concerned, well, the Cleverhans implementation does read 'MadryEtAl' :P

This is why I am a bit confused: which one of these two is the correct implementation?

[2019-09-30 18:09] michaelshiyu commented on #1115
@iamgroot42 Personally, I find it difficult to argue that such normalization is beneficial in any generic setting since it messes up the projection step. I took another look at the "Adversarial Examples Are Not Bugs" paper and I couldn't find a place where they discuss how this normalization helps.

My take is that if you normalize gradient before projecting, you are not projecting the true gradie

[2019-09-30 18:15] iamgroot42 commented on #1115
So in that case, the Cleverhans implementation is correct, and theirs is not (in the sense that it is not true to the original attack, and they should keep the normalization optional and use it only when needed, for example when implementing the mentioned paper)?

[2019-09-30 18:20] michaelshiyu commented on #1115
@iamgroot42 I think at least in the 2-norm case, which is what they did for the [robustness](https://github.com/MadryLab/robustness) package, normalizing or not does not really change things since you can undo the effect of normalization by changing the step size for each example. But yes, I think the CleverHans implementation follows the strict definition of projected gradient descent as an optim

[2019-10-01 05:12] CNOCycle opened #1116 "[Feature request] Custom loss for PGD"
Hi authors,

I'm developing a robust model against adversarial attacks.

Since our model is not trained by the normal PGD adversarial training, we should carefully verify that gradient masking or some effects do not occur in our model.

In some cases, our model can defense PGD attack very well but it would be defeated by PGD with CW loss which proposed by Madry.

Currently, I manually modify the l

[2019-10-01 16:52] maithal opened #1117 "Error while reading resource variable dense_2/bias from Container: localhost. This could mean that the variable was uninitialized."
Add any other context or screenshots about the feature request here.
Hello everyone,

I tried changing my model from keras to tensorflow based convnet. Now I am getting a new error.
Following is my code:

import tensorflow as tf
import numpy as np
import keras
from tensorflow.keras import layers
from keras import backend
from cleverhans.attacks import FastGradientMethod
#from cleverhans.attacks im

[2019-10-02 16:47] iamgroot42 commented on #1116
Created a PR for this : https://github.com/tensorflow/cleverhans/pull/1120
Hopefully it will be merged if all tests pass :)

[2019-10-02 16:54] iamgroot42 commented on #1117
Just add the following before creating the keras-model wrapper:

[code]

[2019-10-02 18:34] iamgroot42 commented on #1101
@CNOCycle have you tried normalizing data to be in [0,1]. The paper assumed pixels to be in the [0,1] range. I don't see how shifting this range would directly impact the effectiveness of the algorithm, but maybe it does?

[2019-10-04 13:32] CNOCycle commented on #1116
Thank you for helping me.

I can run PGD with CW loss now from your PR.

Also, following is a minimal test case whose result is as expected.

[code]

[2019-10-05 15:45] CNOCycle commented on #1112
From Traceback you reported, I noticed that your cleverhans' version is quite old.

The root cause may be the implementation of `keras` and `tf.keras` are different.

In addition, I can't reproduced this issue from your minimal test case using latest version of cleverhans and tf=1.14.0.

I would suggest that you should upgrade cleverhans to lastst version first.

[2019-10-07 13:03] CNOCycle opened #1123 "Missing package 'joblib' when running cleverhans_tutorials/cifar10_tutorial_tf.py"
Hi authors,

When I tried to run the official tutorial `cleverhans_tutorials/cifar10_tutorial_tf.py`, I got the following error:
[code]

The root cause is that package `joblib` is included in `cleverhans.serial.NoRefModel`.

However, `joblib` did not install in `setup.py`

This issue can be easily fixed.

But, I would suggest that we should test all official tutorial in `cleverhans_tutorials` on C

[2019-10-11 20:49] maithal opened #1124 "Blackbox model"
Hello Everyone,

I had a small doubt regarding blackbox model using the cleverhans toolbox. according to the code in the tutorial, the basic oracle used is tensorflow based covnet model. Does the cleverhans blackbox model accept keras tensorflow based covnet model as its oracle?

How can be develop confusion matrix for the given tutorial?

Thanks & Best,
M. Aithal

[2019-10-12 01:12] amitnjha commented on #1117
I am getting this error as well.
I am running a MNIST based digit recognition app on a raspberry pi.

1.13.1

2.3.1

[2019-10-12 01:43] amitnjha commented on #1117
Solution posted below worked.

https://github.com/tensorflow/tensorflow/issues/28287#issuecomment-495005162

[2019-10-17 08:20] YunusBulut opened #1126 "The documentation page shows nothing."
In the readme file, it says that the list of attacks can be found on the documentation page: cleverhans.readthedocs.io. However, when I click on that, it shows nothing under the attacks module and model module pages. Here's the screenshot:
<img width="1435" alt="Screen Shot 2019-10-17 at 10 19 21" src="https://user-images.githubusercontent.com/22097819/66991136-c3769f00-f0c7-11e9-95eb-a47892dc8748

[2019-10-30 20:16] bhavinc commented on #1112
Hi,

Thanks for your help.

So if you install cleverhans using pip - it still won't work. (You also need keras in the environment - and keras 2.2.4 doesn't work).

 As per your suggestion, I tried the same code with the bleeding edge version of cleverhans (and tf=1.14) . It worked wonders.
Thanks!

[2019-10-30 20:16] #1112 closed

[2019-10-31 14:16] npapernot commented on #1124
You can use a Keras model if you wrap it as a CleverHans model. Here's an example class to do that: https://github.com/tensorflow/cleverhans/blob/master/cleverhans/utils_keras.py#L97

[2019-10-31 14:16] #1124 closed

[2019-10-31 15:21] npapernot commented on #1126
Thanks for letting us know. Do you find the read the docs website useful? It is merely reproducing inline code so I was wondering whether we should just remove it

[2019-10-31 15:24] npapernot commented on #1117
Could you make a PR to add the fix to any relevant tutorials?

[2019-11-12 18:35] badchild0912 opened #1130 "Madry Pretrained Model dosen't work: cleverhans/examples/madry_lab_challenges/cifar10/"
I load the pre-trained model from https://github.com/MadryLab/cifar10_challenge, and set up the environment as ReadMe.md. But  cleverhans/examples/madry_lab_challenges/cifar10/attack_model.py cannot run.

It says:
Caused by op u'ResNet/input/init_conv/DW/read'
FailedPreconditionError (see above for traceback): Attempting to use uninitialized value ResNet/input/init_conv/DW

**To Reproduce**
Steps

[2019-11-13 11:07] meta-inf opened #1131 "Bug in TF2 PGD implementation"
**Describe the bug**
In `future.tf2.attacks.projected_gradient_descent`, the sanity check `clip_min<= x <= clip_max` is implemented incorrectly: [here](https://github.com/tensorflow/cleverhans/blob/d5bb7cce4451be02f8ed1659a8adf1aab8803ff2/cleverhans/future/tf2/attacks/projected_gradient_descent.py#L54)
you are appending a tensor to `asserts`, and `np.all` on `asserts` subsequently invoked the `__b

[2019-11-13 13:55] badchild0912 commented on #1130
Hi,

I found the main problem is the scope name is not matching. For instance, the network demands 'ResNet/input/init_conv/DW/read' while the pre-trained model has '/input/init_conv/DW/read'. It is not matched. But I still have a question about how to match the name. Could you help me with it?

Thank you in advance!

[2019-11-15 13:34] Shashikant255 opened #1132 "Which attacks have support for multi label in multiclass problem?"
Can any one please tell me which attacks have the support for multi-label in multi-class problem? @npapernot
You can see in below images for reference:-
![Capture](https://user-images.githubusercontent.com/42666078/68947135-c0f88980-07da-11ea-94ce-4338cea8b8db.PNG)

[2019-11-19 04:10] zhenxianglance commented on #1130
Hi, I couldn't run the code either. I guess its something related to fprop? Any suggestions about how to fix it? Thanks a lot!

[2019-11-27 04:00] zhangdong1992 commented on #1130
I couldn't run the code either.

[2019-12-04 08:51] SophieChang66 opened #1133 "Is the CrossEntropy of cleverhans different from caffe's softmaxwithloss?"
I want to do adversarial training. So I train one two_class model on my own data using cleverhans, the final loss is about 0.2. However when I train the model with the same data, the final loss is about 0.01. The loss gap is large. I review the source code about CrossEntropy, I find it is tf.nn.softmax_cross_entropy_with_logits_v2. what difference between CrossEntropy and caffe's softmaxwithloss

[2019-12-04 20:10] npapernot commented on #1133
Unfortunately, we do not support caffe at this time so I am not sure what the difference would be between the TF implementation of the cross-entropy and caffe's implementation.

[2019-12-04 20:10] #1133 closed

[2019-12-04 20:13] npapernot commented on #1132
I am not sure exactly what you mean by multi-label/multi-class problem but my guess is that you will want an attack that allows you to customize the loss which describes the adversary's goal. Perhaps the PGD attack?

See https://github.com/tensorflow/cleverhans/pull/1120

[2019-12-04 20:13] #1132 closed

[2019-12-04 20:14] npapernot commented on #1130
Unfortunately, we are unable to support the code in the examples folder as stated in the documentation. Feel free to submit a PR if you were able to fix the issue.

[2019-12-04 20:14] #1130 closed

[2019-12-04 20:16] #1123 closed

[2019-12-04 20:16] #1126 closed

[2019-12-04 20:40] RylanSchaeffer commented on #1115
I don't know whether this is the appropriate issue to post this, but I copied the PGD code out of the cleverhans to use and I'm finding that for PyTorch's CIFAR10 tutorial model, not a single adversarial attack causes the model to misclassify:

[code]

I've slowly been increasing the parameters `eps`, `eps_iter` and `nb_iter` without success. Any thoughts on what appropriate values are, or whether

[2019-12-05 07:18] SophieChang66 commented on #1133
They are same! The loss is 0.2 is because smoothing_label parameter which change y label such(0, 1) to (0.95, 0.05). So the cross entropy is large

[2019-12-06 07:15] soanduong commented on #1117
Thanks. It works for my case (optimizing the hyper-parameters using hyperopt).

[2019-12-12 17:30] saswatpp opened #1135 "Adv should be in eps neighbourhood of Clean Image"
According to paper(section 2.2 Basic Iterative Method) :https://arxiv.org/pdf/1607.02533.pdf ,
the Adv example must always lie in the Eps-neighbourhood of the original Clean Image. But the implementation(I saw the pytorch one) in projected_gradient_method for nth iteration clips only the eta and applies it to (n-1)th adv and no steps are taken to ensure the adv example lied in the eps neighbourhoo

[2019-12-16 10:48] BalaMallikarjuna-G opened #1136 "Any adversarial attack that sustains after resize attack"
Hi,

This is Bala. I have a query regarding adversarial attack.

Is there any adversarial attack that sustains/consists of added noise, after resize attack ? (adversarial image -> converting into High / low resolution image -> resize to original adverarial image size)

Thanks,
Bala

[2019-12-16 13:06] DongyangZhang commented on #933
Hello,i get the same problem with"NotImplementedError: `fprop` not implemented."  i saw you question,but it's still not work, i change 'object' to 'Model',What shuold i do next step???Thank!!

[2019-12-20 07:55] JH-Xie opened #1139 "get gradient when ord=2 in fgm"
in line 231 of [cleverhans/attacks/fast_gradient_method.py](https://github.com/tensorflow/cleverhans/blob/5c1ccc259fa836d69e9582372b0d7f97140a66ef/cleverhans/attacks/fast_gradient_method.py)
`
elif ord == 2:
    square = tf.maximum(avoid_zero_div,reduce_sum(tf.square(grad),reduction_indices=red_ind,keepdims=True))
    optimal_perturbation = grad / tf.sqrt(square)
`

I'm wondering why use reduce_su

[2019-12-26 15:25] yaoshiang commented on #1050
The paper you wrote w/ Athalya and Wagner doesn't detail how to approximate a layer f^I with an approximator g. Would you be willing to describe it? Was it simply a dense layer with linear activation (linear approximation), or, perhaps a weighted average of an ensemble of dense layers with common activations (linear/tanh/relu/sigmoid/leakyrelu), with the weights set using exponential moving averag

[2019-12-26 17:58] carlini commented on #1050
There is no one approximation that works, unfortunately. Instead, for any given defense, you'll have to think about what is the best function that is (a) nicely differentiable, but also (b) a close approximation of the original function. Designing such functions can be difficult and is time consuming.

[2019-12-29 19:04] michaelshiyu commented on #1135
For the PyTorch version of ```projected_gradient_descent```, I think the "projection" step is taken care of either in ```clip_eta``` or inside ```fast_gradient_method``` (in the ```optimize_linear``` method, to be specific).

These methods all make sure that the ```eta``` we are adding to ```x``` has some norm (specified by the user) less than or equal to ```eps```, which is the same as saying tha

[2019-12-31 13:01] saswatpp commented on #1135
Thank you for your clarification @michaelshiyu

[2019-12-31 13:01] #1135 closed

[2019-12-31 18:29] michaelshiyu commented on #1135
No problem @saswatpp

[2020-01-15 13:49] npapernot commented on #1139
This line is trying to compute the l2_norm (see https://en.wikipedia.org/wiki/Norm_(mathematics)#Euclidean_norm), which is why there is a sum rather than an average within the square root operation.

[2020-01-15 13:49] #1139 closed

[2020-01-15 13:52] npapernot commented on #933
The model object should implement a class `fprop` that computes the model’s outputs for a given input (the forward pass). The example code referred to above was likely written before a model class was added so that’s why you would have to wrap it properly in a model class. You can find an example here: https://github.com/tensorflow/cleverhans/blob/master/cleverhans/model_zoo/all_convolutional.py

[2020-01-15 17:07] npapernot commented on #1136
Most attacks do not take into account post-processing of the image (e.g., the fact that you will downsize the image) but you can introduce what is a larger perturbation to ensure that it will be preserved by the distortion or you can restrict the feature search space to ensure that the perturbations you find are conserved by the distortion.

[2020-01-15 17:07] #1136 closed

[2020-01-18 18:39] loopylangur opened #1142 "Flaky test `TestSparseL1Descent::test_attack_strength` in tests_tf\test_attacks.py"
**Describe the bug**
The `TestSparseL1Descent::test_attack_strength` test in `tests_tf\test_attacks.py` fails intermittently with the following error:

[code]
This failied 1 out of 30 times for me. Should this be changed to `assertLessEqual` instead?

**To Reproduce**
This can be reprodcuced by setting the following seed in the setup function:
[code]

**Expected behavior**
Test should always pass

[2020-01-22 15:12] cassidylaidlaw commented on #1087
@juesato I was working on fixing this issue today, but I realized that since SPSA is using Adam as an optimizer, it should be agnostic to the magnitude of the gradient. So we can't fix it by scaling the learning rate, but it shouldn't matter anyways. Does that sound right to you?

[2020-01-23 07:58] erickxhd opened #1143 "Stuck during adversarial training"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Describe the bug**
A clear and concise description of what the bug is: when using adversarial training (keras) with attack (pgd, cw, deepfool...), program stuck at

[2020-01-23 23:20] RylanSchaeffer opened #1144 "Fast Gradient Method Imports Missing Function optimize_linear"
`fast_gradient_method` has an import statement for a function that no longer exists:

`from cleverhans.future.torch.utils import optimize_linear`

https://github.com/tensorflow/cleverhans/blob/master/cleverhans/future/torch/attacks/fast_gradient_method.py#L5

It looks like the function used to exist, but no longer:

https://github.com/tensorflow/cleverhans/blob/5c1ccc259fa836d69e9582372b0d7f97140a

[2020-01-24 01:18] michaelshiyu commented on #1144
Hi @RylanSchaeffer , I'm on the master branch and the function seems to exist.

Which branch/fork/version of the codebase are you looking at? Could you please provide more details?

[2020-01-24 01:21] RylanSchaeffer commented on #1144
I must've misclicked on something earlier. I don't know why I thought the function isn't there. My apologies.

[2020-01-24 01:21] #1144 closed

[2020-01-24 01:22] michaelshiyu commented on #1144
@RylanSchaeffer no worries. It happens :)

[2020-01-28 10:22] loopylangur opened #1145 "Flaky test"
The `TestSaliencyMapMethod.test_generate_np_targeted_gives_adversarial_example` in `tests_tf\test_attacks.py` fails intermittently with the following error:

[code]
The value of `worked` in this case is 0.9

Full error log:
[code]

This can be reproduced by using these seeds in the `setUp` function:
[code]

The test fails one in 30 times that I tried. Is there a way to fix this? Should the asserti

[2020-01-30 14:45] npapernot commented on #1143
Are you using the last version of CleverHans?

________________________________
From: erickxhd <notifications@github.com>
Sent: Wednesday, January 22, 2020 11:58:21 PM
To: tensorflow/cleverhans <cleverhans@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [tensorflow/cleverhans] Stuck during adversarial training (#1143)

The issue tracker should only be used to report bug

[2020-01-30 19:03] carlini commented on #1143
It might help to put some debug statements and see where the code hangs.

[2020-02-10 05:57] Nyn2019 opened #1147 "After i install cleverhans by pip, i can't import any function from it"
The way that i install cleverhans: pip install cleverhans
The version of python: 3.7.2
The version of cleverhans: 3.0.1

Problem:
from cleverhans.compat import reduce_max
error: Unresolved reference reduce_max
There are many such problems， what should i do??

[2020-02-10 15:29] michaelshiyu commented on #1147
Hi @Nyn2019, the CleverHans on PyPI is pretty old. Please clone from Github and install from your local clone. Something like

[code]

Thanks.

[2020-02-14 10:58] Nyn2019 commented on #1147
Thanks a lot 🙂

[2020-02-17 03:30] michaelshiyu commented on #1147
@Nyn2019 no problem! Please close the issue if you think it's been resolved. Thanks :)

[2020-02-18 03:47] #1147 closed

[2020-03-15 07:16] waterwheel31 commented on #17
I have the same issue. Keras occasionally fails after finishing trainings.

[2020-03-16 12:39] CNOCycle commented on #1131
I have implemented a TF2 version for PGD attack in my fork project. The issues should be fixed.

https://github.com/CNOCycle/cleverhans/tree/feature/tf2.x

[2020-03-17 03:40] npapernot commented on #1143
Feel free to reopen with detailed debug statements, will close for now

[2020-03-17 03:40] #1143 closed

[2020-03-17 03:43] #1117 closed

[2020-03-17 03:44] #1116 closed

[2020-03-18 21:32] cloudlakecho opened #1150 "No module named 'cleverhans.future.tf2.basic_iterative_method'"
Hello;

I have (simple) missing module error in Cleverhans tool. Please, review my error, thanks.

**My bug**
No module named 'cleverhans.future.tf2.basic_iterative_method'

(Details)
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. In Python code, `from cleverhans.future.tf2.attacks import projected_gradient_descent`

**System configuration**
 - OS: Windows 10
 - Python version: 3.6.9

[2020-03-21 09:30] CNOCycle commented on #1150
This issues could be easily fixed. But, the official version of PGD attack is broken.

Before my PRs are merged into the official repo,  you can install hotfix in my forked repo by command: `pip install git+https://github.com/CNOCycle/cleverhans.git@feature/tf2.x`

[2020-03-22 22:10] mhsamavatian opened #1152 "Where are defences code?"

[2020-03-24 08:55] freefreesea opened #1153 "use JSMA to a model with dropout layer results in an error"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Describe the bug**
I trid to reproduce the paper:Distillation as a defense to adversarial perturbations against deep neural networks. The first network used in MNI

[2020-03-24 17:39] carlini commented on #1153
This is an internal bug with tensorflow. We are still waiting for a fix tensorflow/tensorflow#23166

[2020-03-25 02:52] freefreesea commented on #1153
thank you so much

[2020-03-27 17:36] ftramer commented on #1142
Thanks for noticing this. I guess I didn't choose the bounds well enough.
I think changing 0.4 -> 0.5 should be yield a robust enough test.

[2020-03-27 17:41] loopylangur commented on #1142
Ok, I can create a PR to change it..

do you mind look at #1145 ?

[2020-03-27 17:45] ftramer commented on #1142
Yeah that seems to be a similar issue. These type of probabilistic tests are problematic in general.
Maybe they should be run with a fixed seed @npapernot? But even then, you might get some non-determinism from the GPU.

[2020-03-27 18:20] loopylangur commented on #1142
Raised #1154

[2020-03-27 19:24] loopylangur commented on #1145
cc @ftramer

[2020-04-01 23:19] jpgard commented on #1052
Thanks for the answer @B-Yassine ! And thank you to all the devs who contributed to cleverhans.

I will add that I was doing experiments with a custom pretrained Keras model in cleverhans, and also encountered the `You must feed a value for placeholder tensor` error. The error was raised specifically at the `model.compile()` call and was due to something in the call to the custom `adv_acc` metric

[2020-04-02 22:37] jpgard opened #1155 "Randomized FGSM"
**Is your feature request related to a problem? Please describe.**

I would like to use the randomized version of FGSM described in https://arxiv.org/pdf/1611.01236.pdf (see the final paragraph of section 3: "We observed that if we fix epsilon during training then networks become robust only to that specific value of epsilon. We therefore recommend choosing epsilon randomly, independently for each

[2020-04-06 07:42] ChanghunHyun opened #1157 "AttributeError occurs when implementing 'mnist_tutorial_pytorch.py'"
I'm trying mnist_tutorial_pytorch.py recently.
please take a look at the error and kindly give solution.

![PNG](https://user-images.githubusercontent.com/52402295/78532141-ab373f80-7821-11ea-8282-680655969119.PNG)

**System configuration**
 - using Anaconda virtual environment
 - OS : Winodws 10
 - Python version : 3.5.6
 - TensorFlow version :  1.12

[2020-04-07 21:03] michaelshiyu commented on #1157
Hi @ChanghunHyun, is this something you implemented or is it something from the ```cleverhans``` library? On the current ```master``` branch I see no ```mnist_tutorial_pytorch.py```.

If it is something you implemented, please post a minimal snippet that reproduces the bug so that we can try to figure out what went wrong.

If you just want a tutorial on ```cleverhans``` with ```pytorch```, please

[2020-04-07 22:14] jpgard commented on #874
Just following up because it is not entirely clear from the discussion above -- does this mean `BasicIterativeMethod` is broken? If not, can you clarify under what circumstances `BasicIterativeMethod` should work, and when it won't work?

Setting the learning phase did not resolve problems for me. Specifically, the issue I am experiencing is that model compilation hangs permanently when using `Bas

[2020-04-07 22:17] carlini commented on #874
This is a bug in tensorflow. There's not much we can do other than work around it, or use something other than tensorflow.

This bug always results in an ugly stackdump. If code hangs it's not a result of this bug.

[2020-04-07 22:17] jpgard commented on #874
Got it, thank you.

[2020-04-07 22:23] jpgard commented on #874
To clarify, does this mean `BasicIterativeMethod` should never be expected to work? Under what circumstances does it fail?

[2020-04-08 02:00] carlini commented on #874
No, it does work sometimes. We don't really understand when it does and doesn't. It has to do with keras and batch norm it seems, at least, but might fail under other situations too.

[2020-04-08 15:17] jpgard commented on #874
Thanks.

To add to that, I can reproduce the same issue -- model hangs forever at compile stage -- even when using the `mnist_tutorial_keras.py`. Simply swap the `FastGradientMethod` instance with an instance of `ProjectedGradientDescent` in that tutorial.

[2020-04-16 13:12] 13227018679 commented on #1157
please comment this two lines and try again.
  # train_loader.dataset.train_data = train_loader.dataset.train_data[:train_end]
  # test_loader.dataset.test_data = test_loader.dataset.test_data[:test_end]

[2020-04-20 08:18] rnbguy commented on #1150
someone please change this line
`from cleverhans.future.tf2.basic_iterative_method import basic_iterative_method`
to
`from cleverhans.future.tf2.attacks.basic_iterative_method import basic_iterative_method`

[2020-05-07 16:00] iamgroot42 commented on #1150
https://github.com/tensorflow/cleverhans/pull/1122 fixes this issue

[2020-05-08 03:38] cloudlakecho commented on #1150
@iamgroot42 Thanks for the effort. Please, merge your branch, so others could avoid the same error.

[2020-05-08 03:58] iamgroot42 commented on #1150
@cloudlakecho  Waiting for repository owners to merge PR

[2020-05-11 20:37] trentwall opened #1160 "load and save pre-trained model"
I would like to load a pre-trained model, so that I can get the same accuracy and success rate of adversarial example generation I achieved before saving the model, with out having to retrain the loaded model.

The current save function seems to only save the initial values for the weights and biases not the current values. After loading a model I have to retrain it to achieve the expected success

[2020-05-12 14:21] #1160 closed

[2020-05-12 19:31] #1150 closed

[2020-05-14 05:49] iamgroot42 opened #1161 "(Potentially) Faulty test cases?"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Describe the bug**
It seems some of the tests for attacks include include unintentional bugs? To be specific, some targeted attacks sample targets as `np.random.ra

[2020-05-26 06:35] obkwin opened #1164 "Help wanted"
What I need is to generate adversarial examples using Cleverhans Library and Imagenet, i followed test_imagenet_attacks.py (cleverhans/examples/test_imagenet_attacks.py), but the adversarial examples could not be generated correctly by the methods such as DeepFool or C&W which need the sess param.
Fregment of the code is as follows:
[code]
The result is:
[code]
As the results you see, the labels o

[2020-05-29 15:49] relotonp opened #1166 "Why is the BoundaryAttackPlusPlus not visible in this github repo?"
The Boundary Attack was merged [here](https://github.com/tensorflow/cleverhans/pull/1030/files/173be5062ff880cf6f127d35f46b9783c4c484bd) into cleverhans.
I installed cleverhans with this:
`pip install git+https://github.com/tensorflow/cleverhans.git#egg=cleverhans`
and then I can run this code without problems
`from cleverhans.attacks import BoundaryAttackPlusPlus`

But in this github repo there d

[2020-05-29 16:02] #1166 closed

[2020-05-29 16:03] relotonp commented on #1166
Well it was renamed into hop_skip_jump_attack.py

[2020-06-08 13:31] Joool opened #1167 "[TF2] TF2 implementation of FGM has the loss function hard coded"
**Describe the bug**
In contrast to the tf 1 version:
https://github.com/tensorflow/cleverhans/blob/0bea6b83bb0c55e0843d95f49bf234b96c0bacb1/cleverhans/attacks/fast_gradient_method.py#L65-L75

The implementation of FGM in TF 2 has the loss function fixed in the source code:
https://github.com/tensorflow/cleverhans/blob/0bea6b83bb0c55e0843d95f49bf234b96c0bacb1/cleverhans/future/tf2/attacks/fast_gra