[2016-09-15 20:54] goodfeli opened #1 "Make sure it's not necessary for user to have both theano and tensorflow installed"

[2016-09-15 21:01] goodfeli opened #2 "mnist_tutorial.md isn't committed / make sure the link from README.md works"

[2016-09-15 21:12] goodfeli opened #3 "image order"
was i meant to need to set image order to 'th' in ~/.keras?

[2016-09-15 21:36] goodfeli opened #4 "tutorial: accuracy of naive model on adversarial examples seems high"
I got something > .6. Not sure why this would be; I'd expect something like .99 for such a large eps.

[2016-09-15 21:37] goodfeli opened #5 "tutorial: adversarial training seems slow. maybe i'm wrong"
should benchmark it and make sure the runtime is correct.

[2016-09-15 21:40] goodfeli opened #6 "new feature: ability to visualize adversarial examples"
also, in particular, confirm that eps of 0.3 in the tutorial results in images that are easy for humans to read. this is higher than i've used before

[2016-09-15 22:11] goodfeli opened #7 "naive training seems slow"
I'm getting 3.7 seconds per 100 batches.
In "Explaining and Harnessing", I think it took something like 4 seconds per full epoch, with older hardware.
Maybe the model in the tutorial is just a lot bigger.

[2016-09-16 14:36] #3 closed, assigned to nobody

[2016-09-16 15:00] #5 closed, assigned to nobody

[2016-09-16 17:18] goodfeli opened #9 "is it necessary for the user to install keras?"
ideally we would only need keras for the tutorial, so that people using other frameworks can run the benchmarks

[2016-09-16 19:28] goodfeli opened #11 "make a test preventing accuracy regressions"
with current model, after 5 epochs of adversarial training, clean accuracy should definitely be .97 or better, adv accuracy should definitely be .79 or better. usually better than this but things aren't seeded so it fluctuates

[2016-09-18 08:24] npapernot opened #13 "add seed to TF graph"
The graph could be ran with tf.set_random_seed() for reproducibility

[2016-09-19 06:50] #2 closed, assigned to npapernot

[2016-09-19 09:58] #4 closed, assigned to nobody

[2016-09-19 10:29] goodfeli opened #17 "TensorFlow issues weird error message"
This seems harmless, but it is annoying. Not sure if we can fix it, since it may be a bug in TensorFlow itself.

At the end of the MNIST tutorial, I get this error message:
    Exception AttributeError: AttributeError("'NoneType' object has no attribute 'raise_exception_on_not_ok_status'",) in <bound method Session.__del__ of <tensorflow.python.client.session.Session object at 0x7fb09c05ad50>> ign

[2016-09-19 10:38] goodfeli opened #18 "Standardize whitespace"
vim is showing me red marks on indentations in `test_mnist_accuracy.py`. We should set up a standard way to configure our editors.

[2016-09-19 10:40] goodfeli opened #19 "Make tests automated"
For now, I guess we have to run each of them manually? We should either copy the docker setup from OpenAI Gym or the nose setup from Pylearn2.

[2016-09-19 14:52] npapernot opened #21 "create a dataset iterator"
Create an iterator so one can write `for batch_index in dataset`

[2016-10-15 04:09] hengyuan-hu opened #25 "wrong order in tf_model_loss"
In utils_tf.py, line 26 and 29, it should be categorical_crossentropy(model, y) instead of categorical_crossentropy(y, model). This won't affect training in a noticeable way for mnist but will make the training fail to work when I tried a deeper model on cifar-10.

[2016-10-24 20:57] goodfeli opened #27 "Why does MNIST tutorial have flags for values [28, 28, 10] that are determined by the dataset?"

[2016-11-07 22:38] goodfeli commented on #25
Thanks!
Also, it looks like keras defaults to using the numerically inaccurate calculation of the cross-entropy using the probabilities rather than the logits. I will fix that too.

[2016-11-07 23:00] goodfeli opened #32 "New release"
We should do a new release with a major version increment because of #25 . Because the loss was used as part of the attacks, this bug made the attacks appear too weak.

[2016-11-07 23:49] #25 closed

[2016-11-07 23:51] npapernot commented on #32
Agreed, should we wait to get the saliency map attack and update the tech report at the same time?

[2016-11-07 23:53] #11 closed

[2016-11-08 00:06] goodfeli commented on #32
Yes, I think so.
Also, I found another bug, in the evaluation metric. Sending a pull request in a few minutes. So we can bundle all of that into one update.

[2016-11-08 04:30] goodfeli commented on #7
I'm now down to 3.7 seconds per *full epoch*, so about a 4X speedup since September, with better accuracy than before.

[2016-11-09 03:48] #7 closed

[2016-11-15 17:07] npapernot opened #35 "switch to the TF ordering to remove performance overhead"
transposing from theano ordering may be adding overhead

[2016-11-19 20:47] npapernot commented on #17
@goodfeli I haven't seen this message in a while, do you agree to close this issue?

[2016-11-19 20:56] goodfeli commented on #17
I still get it consistently:
`Completed model training.
Exception ignored in: <bound method BaseSession.__del__ of <tensorflow.python.client.session.Session object at 0x7f99aa445c88>>
Traceback (most recent call last):
  File "/opt/anaconda/4.2.0/lib/python3.5/site-packages/tensorflow/python/client/session.py", line 522, in __del__
  File "/opt/anaconda/4.2.0/lib/python3.5/site-packages/tensorflow

[2016-11-19 21:27] goodfeli commented on #9
I think let's make sure people can import the attacks and run them without needing any particular framework. e.g., it should work if the user has only theano, or if the user has only tensorflow. It's OK for the tutorial to use keras.

[2016-11-19 21:32] goodfeli commented on #21
Does MILA labs' fuel already provide something like this? (@dwf?)

Does keras provide anything similar?

For tensorflow implementations, we probably want a queue op, not a python iterator.

[2016-11-22 17:01] #27 closed

[2016-11-22 19:24] npapernot opened #37 "make the saliency maps more general"
right now the map definitions are biased towards image data (because of row x col). We should clean up the code to define them for any input vector. We can do that once the tutorial is fully merged (branch saliency is closed)

[2016-11-22 19:40] npapernot opened #38 "saliency map attack average perturbation print out"
the saliency map attack reports the average distortion for all samples, would be nice to print a different number for samples that were successfully misclassified

[2016-11-22 20:29] npapernot opened #39 "create coding style"
note to self: two empty lines before each function

[2016-11-22 20:29] npapernot commented on #39
space after commas in tuples

[2016-11-22 20:53] npapernot opened #40 "create function other_classes"
this will be helpful when working on source-target misclassification

[2016-11-22 21:58] npapernot opened #41 "clip min and clip max not properly passed to fgsm"

[2016-11-22 22:42] #41 closed

[2016-11-22 22:48] npapernot opened #45 "seems to be a GPU memory leak"
in JSMA

[2016-11-22 23:01] #40 closed

[2016-11-22 23:01] #45 closed

[2016-11-22 23:16] #13 closed

[2016-12-20 19:12] npapernot commented on #32
https://github.com/openai/cleverhans/releases/tag/v1.0.0

[2016-12-20 19:12] #32 closed

[2016-12-20 19:13] npapernot commented on #9
It should not be the case anymore, now that the attacks module has been refactored. All keras dependencies are cleared as far as I know. Feel free to reopen if I missed anything.

[2016-12-20 19:13] #9 closed

[2016-12-23 07:10] yenchenlin opened #52 "Fool model toward specified target class using FSGM"
Hello @goodfeli and @npapernot ,

In my understanding, [these two lines](https://github.com/openai/cleverhans/blob/master/cleverhans/attacks_tf.py#L35-L36) get the result of what trained model is gonna classify the clean example.

Then by adding this gradient to the image, the trained model will tend to not classify it as the same label as before.

However, I'm wondering how can I use FSGM to fool

[2016-12-23 07:16] yenchenlin commented on #52
[code]

I've tried using above code to raise the score of particular class's logits, but it didn't work 😢

[2016-12-24 14:55] gongzhitaao opened #53 "JSMA API suggestion"
IMHO, there might be a couple of improvements over the JSMA API.

1. `increase` and `theta` are duplicates.
`increase=True` <-> `theta=+x`
`increase=False` <-> `theta=-x`
2. `jacobian_graph` is like a loose ends to me.
I think the gradients should be calculated internally in the JSMA function, it is, at least to me, counter-intuitive to called some random function before calling the `jsma`.

[2016-12-26 03:33] #52 closed

[2016-12-26 03:33] yenchenlin commented on #52
Sorry, I figured out how to make it work.

[2017-01-01 22:01] kudkudak opened #54 "MNIST tutorials not working with new Keras"
Running mnist_tutorial_th.py gives:

[code]

This happens because default dim ordering in Keras is now "tf", which means that `Convolution2D in https://github.com/openai/cleverhans/blob/master/cleverhans/utils_mnist.py#L53 interprets "1" as the width of image

[2017-01-03 15:55] kudkudak opened #56 "unused learning_phase in batch_eval"
`batch_eval` in `utils_th` (https://github.com/openai/cleverhans/blob/master/cleverhans/utils_th.py#L167) throws an error if computation graph doesn't use `learning_phase`. Way to fix that would be to add `on_unused_input='ignore'` to arguments of `theano.function` call.

[2017-01-03 17:54] goodfeli commented on #39
Should we just say to use PEP8, instead of making a cleverhans-specific style guide?

[2017-01-03 23:25] npapernot commented on #39
Sgtm, I'll mention it in the main readme

[2017-01-04 16:57] npapernot commented on #39
added in 8146dd4e7181ccdf347b7d5ca584f413e2bc469d

[2017-01-04 16:57] #39 closed

[2017-01-05 17:46] npapernot commented on #1
Unless I'm wrong this shouldn't be the case anymore since #51 was merged

[2017-01-05 17:46] #1 closed

[2017-01-05 18:12] #54 closed

[2017-01-14 20:02] t-vi commented on #18
The whitespace and a few uses of xrange have been what it took to make the tutorials work with python3. If you are inclined to fix these, I would prepare a pull request.

[2017-01-14 20:26] npapernot commented on #18
That would be nice, thank you!

[2017-01-16 04:39] #18 closed

[2017-01-18 21:41] rfeinman commented on #37
Agreed that this is important. FGSM works for any input shape, but JSMA is only for image data with shape (n_samples, 1, n_rows, n_cols). This is not very well generalized because it only works for black-and-white images. We should update to work with color images and with flat vector data. I can help.

[2017-01-18 22:05] npapernot commented on #37
Help would be welcomed yes, feel free to start a PR related to this

[2017-01-20 00:05] goodfeli opened #60 "theano tutorial is broken"
`python tutorials/mnist_tutorial_th.py
Using TensorFlow backend.
I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcufft.so locally
I tensorflow/stream_executor/ds

[2017-01-20 00:05] goodfeli commented on #60
@mahnerak can you fix this?

[2017-01-20 00:09] goodfeli opened #61 "make tests for JSMA functionality"

[2017-01-20 00:11] goodfeli opened #62 "JSMA tutorial crashes while trying to save"
Traceback (most recent call last):
  File "tutorials/mnist_tutorial_jsma.py", line 140, in <module>
    app.run()
  File "/home/ian/.local/lib/python3.5/site-packages/tensorflow/python/platform/app.py", line 43, in run
    sys.exit(main(sys.argv[:1] + flags_passthrough))
  File "tutorials/mnist_tutorial_jsma.py", line 83, in main
    saver.save(sess, save_path)
  File "/home/ian/.local/lib/python3

[2017-01-20 00:38] #35 closed

[2017-01-20 07:48] mahnerak commented on #60
You need to somehow specify which backend to use for Keras. You have to either edit your keras.json config file or run every time like this
`KERAS_BACKEND=theano python mnist_tutorial_th.py`

[2017-01-20 13:53] mahnerak opened #64 "TensorFlow MNIST accuracy test is failing"
Traceback (most recent call last):
  File "test_mnist_accuracy.py", line 71, in <module>
    app.run()
  File "/home/mahnerak/.local/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 44, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "test_mnist_accuracy.py", line 67, in main
    assert float(accuracy) >= 0.98, accuracy
AssertionError: 0.9639

[2017-01-20 14:21] mahnerak commented on #62
What are the permissions for your /tmp directory?

[2017-01-20 16:43] goodfeli commented on #60
Because the tutorial works only with the theano backend, you should use an if starement and change the backend if necessary, just as the tensorflow tutorial does

[2017-01-20 16:43] goodfeli commented on #60
Or at least give a useful error message

[2017-01-20 16:48] mahnerak commented on #60
Actually, the TensorFlow version of tutorial changes only image dimension ordering, not a backend for Keras.
If you run `mnist_tutorial_tf.py` with Keras configured theano as default backend, you'll get

Using gpu device 0: GeForce GTX 980 (CNMeM is disabled, cuDNN 5005)
I tensorflow/stream_executor/dso_loader.cc:125] successfully opened CUDA library libcublas.so.7.5 locally
I tensorflow/stream_ex

[2017-01-20 16:52] mahnerak commented on #60
Which one do you prefer? To assert that backend is correct, or change it manually.
If we decide to change backend during runtime, we have to do something like this before importing Keras
`os.environ['KERAS_BACKEND']='tensorflow'`

[2017-01-20 17:12] goodfeli commented on #60
OK, I see the issue. I'll take care of this, actually.

On Fri, Jan 20, 2017 at 8:52 AM, Karen Hambardzumyan <
notifications@github.com> wrote:

[2017-01-20 17:38] goodfeli commented on #64
It just passed three times in a row for me.

- Could it be flaky? If you re-run it, does it still fail?
- Are you running from a clean copy of the master branch?
- What version of keras and tensorflow are you using?

[2017-01-20 17:43] goodfeli opened #65 "theano tutorial is incredible slow"
ian@11:~/cleverhans/tutorials$ KERAS_BACKEND="theano" python mnist_tutorial_th.py
    Using Theano backend.
    INFO: '~/.keras/keras.json' sets 'image_dim_ordering' to 'tf', temporarily setting to 'th'
    X_train shape: (60000, 1, 28, 28)
    60000 train samples
    10000 test samples
    Loaded MNIST test data.
    Defined Theano model graph.
    Starting model training using Theano.
    Define

[2017-01-20 17:44] goodfeli commented on #65
@mahnerak do you know what could be going on?

[2017-01-20 17:52] mahnerak commented on #65
For me, it takes about 6 seconds per epoch. (GTX980 with cuDNN enabled)

It seems like your GPU device is not enabled for theano.
By default you can see `Using gpu device 0: GeForce GTX 980 (CNMeM is disabled, cuDNN 5005)` if you're running it on a GPU.
In order to enable GPU support, add these lines to `.theanorc` file in your home directory.
`[global]`
`device = gpu0`

[2017-01-20 18:06] goodfeli opened #67 "make tests for the tutorials"

[2017-01-20 18:09] mahnerak commented on #64
- Tried just now. Failed 5 times in a row. For each run got ~0.96 accuracy.
- Running from clean copy (current version) of the master branch
- TensorFlow v0.12, Keras v1.2.0

One more thing. I noticed that Adadelta from TensorFlow behaves different than implementations found in Keras and Lasagne (Theano versions), when I was implementing theano version of FGSM. Then I ran Keras version of Adadelta

[2017-01-20 18:13] goodfeli commented on #67
The existing tests use code duplication rather than calling the main() function of the tutorial, so they need to be independently maintained

[2017-01-20 18:56] goodfeli commented on #62
This seems fixed now. Maybe permissions were temporarily set wrong on our machine.

[2017-01-20 18:56] #62 closed

[2017-01-20 19:34] npapernot commented on #65
This should be fixed now. Feel free to reopen if that's not the case.

[2017-01-20 19:34] #65 closed

[2017-01-20 19:35] npapernot commented on #64
The test is passing on my machine as well

[2017-01-20 19:42] #60 closed

[2017-01-20 19:43] npapernot opened #69 "remove all flags from cleverhans module"
Having flags (tf flags) is ok in the tutorials, but it would be easier to import functions from the cleverhans module if they didn't reuse flags directly but rather got these values as arguments (e.g., learning rate in model train)

[2017-01-20 20:16] goodfeli commented on #64
@mahnerak : is there a 3rd digit to your tensorflow version? I am also running keras 1.2.0. My tensorflow is 0.12.1. Have you checked cleverhans.__file__ to make sure your PYTHONPATH is set correctly and that you are in fact importing the clean unmodified master branch?
@npapernot : what are your versions?

[2017-01-20 20:19] goodfeli commented on #69
+1, good idea

[2017-01-20 20:19] goodfeli commented on #17
Looks fixed now, maybe by updating tensorflow to 0.12

[2017-01-20 20:22] npapernot commented on #64
TF: 0.10.0rc0 and same keras version

[2017-01-20 20:23] mahnerak commented on #64
TensorFlow version is 0.12-head (compiled from sources today).
Checked PYTHONPATH again, it's set correct.
I'll try to do clean install tensorflow (with prebuild binaries) and keras on another machine and run the tests.

[2017-01-20 20:25] goodfeli commented on #64
It's possible tensorflow 0.12-head is broken.
I suggest checking `cleverhans.__file__` rather than checking `PYTHONPATH`.

[2017-01-20 20:42] mahnerak commented on #64
Installed 0.12.1 from prebuilt binaries. Tests are passing now.

[2017-01-20 20:50] #64 closed

[2017-01-20 22:42] goodfeli commented on #64
@mahnerak I would suggest reporting this on the tensorflow repository issues tracker if you haven't already

[2017-01-20 22:52] goodfeli commented on #17
It still happens, it is just flaky.

Out of three runs, I had this happen once:
    Completed model training.
    Exception ignored in: <bound method BaseSession.__del__ of <tensorflow.python.client.session.Session object at 0x7f5564ed4f28>>
    Traceback (most recent call last):
      File "/home/ian/.local/lib/python3.5/site-packages/tensorflow/python/client/session.py", line 581, in __del__

[2017-02-09 04:18] npapernot opened #78 "move jacobian augmentation function outside of black box tutorial"

[2017-02-09 17:52] #69 closed

[2017-02-10 01:55] npapernot commented on #56
@kudkudak Do you think you can make a PR for this?

[2017-02-10 01:55] npapernot commented on #19
Work in progress: see #80

[2017-02-10 01:56] npapernot commented on #21
I'm closing this for now, feel free to reopen if you feel like it's important to have this feature

[2017-02-10 01:56] #21 closed

[2017-02-10 01:56] npapernot commented on #37
Solved by #74

[2017-02-10 01:56] #37 closed

[2017-02-10 05:25] npapernot opened #82 "profile JSMA to identify bottleneck"
tf implementation seems somewhat slower than theano code written 2 years ago

[2017-02-10 05:48] #38 closed

[2017-02-10 06:08] npapernot commented on #53
regardin 2. this is not possible otherwise everytime we make a new call to jsma in order to craft a new adversarial example, we will create new TF graph elements and make the operations slower and slower at each call of jsma

[2017-02-10 13:55] gongzhitaao commented on #53
Actually TF provides a [tf.while_loop](https://www.tensorflow.org/api_docs/python/control_flow_ops/control_flow_operations#while_loop) to achieve this.  I have an example implementation of JSMA with tf.while_loop, please see [here](https://github.com/gongzhitaao/tensorflow-adversarial/blob/master/attacks/jsma.py#L59).

[2017-02-10 18:34] npapernot opened #85 "remove flags from tutorials so they don't raise warnings"
following changes made by #79

[2017-02-10 22:08] kudkudak commented on #56
Will do! But after ICLR workshop deadline :)

[2017-02-11 03:56] npapernot commented on #56
Thanks !

On Fri, Feb 10, 2017, 2:08 PM Stanislaw Jastrzebski <
notifications@github.com> wrote:

[2017-02-14 04:54] npapernot opened #86 "add channel argument to model_mnist"
also might be worth renaming into cnn_model since it is not specific to mnist in anyway

[2017-02-18 01:19] #19 closed

[2017-02-18 02:22] npapernot opened #88 "unused import in cleverhans.utils_tf"
from keras.backend import categorical_crossentropy

check if needed and remove

[2017-02-18 02:50] npapernot opened #89 "input dimensions order in JSMA tutorial"
This tutorial is still using the TH ordering, would be nice to change it to TF

[2017-02-18 03:50] npapernot opened #92 "add test in tests/ to travis"

[2017-02-18 03:51] #86 closed

[2017-02-18 03:55] #85 closed

[2017-02-18 08:26] npapernot commented on #82
Bottleneck is itertools.combinations so no trivial tweak without making changes to the underlying search heuristic

[2017-02-18 08:26] #82 closed

[2017-02-18 14:28] #78 closed

[2017-02-18 18:13] npapernot commented on #89
closed by #96

[2017-02-18 18:13] #89 closed

[2017-02-18 18:16] npapernot commented on #88
closed in #95

[2017-02-18 18:16] #88 closed

[2017-02-19 08:13] npapernot commented on #92
closed by #100

[2017-02-19 08:13] #92 closed

[2017-02-21 00:14] #6 closed

[2017-02-22 13:54] gongzhitaao opened #104 "FGSM loss computation"
According to the paper [Adversarial examples in the physical world](https://arxiv.org/abs/1607.02533), FGSM uses `y_true`, the true label, to generate the adversarial images, instead of model predictions.  Besides, it does not really make sense to me to use `y_pred` and logits to compute the loss since `y_pred = softmax(logits)`.  Instead of

[code]

The second parameter should be
[code]

[2017-02-22 15:31] goodfeli commented on #104
We should document this clearly in the docstring, but we now recommend against using FGSM with `y_true` due to the label leaking effect discovered in "Adversarial Machine Learning at Scale."

[2017-02-22 20:10] gongzhitaao commented on #104
Interesting.  We just observed label leaking too on various datasets. Especially on STL10, with adversarial training, the accuracy for a simple model could easily get over 90%. LOL

[2017-03-02 05:36] npapernot opened #105 "fix loading and saving issues with Keras in tutorials"

[2017-03-07 17:39] dguera commented on #17
I get the following message which is somehow related:

Exception ignored in: <bound method Session.__del__ of <tensorflow.python.client.session.Session object at 0x7f4e28be0668>>
Traceback (most recent call last):
  File "/data/dgueraco/tensorflow/lib/python3.4/site-packages/tensorflow/python/client/session.py", line 582, in __del__
AttributeError: 'NoneType' object has no attribute 'TF_DeleteStat

[2017-03-23 17:57] rva5120 opened #109 "Tutorials not working with new keras 2.0"
I get this when I run the unmodified version of the tutorial on CPU, with the latest keras.
The error does not show up with keras 1.2

[code]

[2017-03-23 21:18] npapernot commented on #67
@goodfeli do you consider this closed since we put together the Travis conf in #100?

In my opinion, we could probably use more (~unit) tests

[2017-03-23 21:19] npapernot commented on #56
@kudkudak anything new regarding this issue?

[2017-03-23 21:21] npapernot commented on #53
This will get addressed by the new API in preparation.

[2017-03-23 21:21] #53 closed

[2017-03-23 21:28] npapernot commented on #109
Thanks for letting us know @rva5120, I didn't upgrade to 2.0 yet but I'll take a look

[2017-03-23 21:40] kudkudak commented on #56
Sorry :) I sit to it this weekend

2017-03-23 22:19 GMT+01:00 Nicolas Papernot <notifications@github.com>:

[2017-03-23 21:53] npapernot commented on #56
No worries, your help is appreciated :)

[2017-03-24 00:54] #104 closed

[2017-03-25 18:55] kudkudak commented on #109
Code assumes now keras <2.0.0. Easiest solution is to add keras==1.2.2 to requirements.txt, but maybe a better solutions is to remove any dependency on keras in cleverhans? I feel that cnn_model (as well as some other functions) shipped with package would be "better off" defined in examples

[2017-03-25 20:30] #56 closed

[2017-03-25 20:34] npapernot commented on #109
Yes, in the meanwhile I added the requirements.txt tweak in #111

I have been thinking about keras as well. We designed cleverhans with the goal of giving the tools needed to apply adversarial attacks and defenses to models on tensorflow (and optionally theano). Keras was added in the tutorials to help users experiment with different architectures easily (by modifying the few lines that define the

[2017-03-26 10:57] adhoc2github opened #115 "ValueError"
I run the test_mnist_accuracy.py, meet the following error:
Using TensorFlow backend.
X_train shape: (60000, 28, 28, 1)
60000 train samples
10000 test samples
/anaconda/lib/python2.7/site-packages/cleverhans-1.0.0-py2.7.egg/cleverhans/utils.py:143: UserWarning: Update your `Conv2D` call to the Keras 2 API: `Conv2D(64, (8, 8), padding="same", strides=(2, 2))`
  border_mode="same"
/anaconda/lib/pyth

[2017-03-26 11:41] kudkudak commented on #115
Code ATM requires keras<2.0.0, can you try rerunning with keras==1.2.2?

[2017-03-26 22:40] npapernot opened #116 "Implement JSMA symbolically"
Improve JSMA implementation so we can feed it more than one input at a time

[2017-03-26 23:11] npapernot opened #117 "remove unused functions in various utils scripts"

[2017-03-26 23:36] adhoc2github commented on #115
thanks, I will try.

[2017-03-27 22:04] goodfeli commented on #17
I don't get this error message anymore. Can re-open if someone else does.

[2017-03-27 22:37] goodfeli commented on #67
No, this isn't closed. A way of rephrasing this issue is "if I put `assert False` in the first line of `mnist_tutorial_tf.py`, the Travis build should fail"

[2017-03-27 22:53] npapernot commented on #67
Ok I see, then we have to make the test run the original tutorial script and check if accuracy is in expected range for both models on legitimate and adversarial inputs

[2017-03-27 23:13] rafaelpossas commented on #109
I have fixed the Keras issue on my local version and I am happy to make a pull request if needed. Here are the steps I followed (please let me know if we can improve and/or is not the right approach):

1 - Change the Convolutional2D into CNNMODEL to the new keras 2.0 api (CONV2D), note that the following parameters have changed name/format:

nb_filter -> filters float kernel dimension arguments be

[2017-03-28 19:21] npapernot commented on #109
Thank you for the feedback @rafaelpossas

Regarding 2., we cannot ignore some test inputs when evaluating the accuracy. It's ok to repeat the inputs processed during training, but we need to ensure the accuracy returned was computed by evaluating exactly once each test input.

[2017-03-29 16:05] npapernot commented on #117
Only unused are for load and save operations on models, closing this as these functions will be rehabilitated in #105

[2017-03-29 16:05] #117 closed

[2017-03-29 16:06] npapernot commented on #115
@adhoc2github Can you let us know if it worked?

[2017-04-07 16:18] apnorton opened #121 "Occasional `KeyError` with JSMA depending on input"
I was using the JSMA attack (with the `increase=False` option) on "tutorial" MNIST classifier from the TensorFlow website.  However, it *occasionally* dies when trying to remove a key that does not exist:
[code]

[Link to offending lines.][badlines]

This occurs when there are *no* pixels that satisfy the saliency map condition of `alpha < 0` and `beta > 0` (using the terms from Papernot, et al),

[2017-04-07 16:33] rms5643 commented on #121
Can confirm. I have experienced this myself, albeit rarely. This exception occurs in two cases: the one above where no pixels satisfy the map condition and when _one_ pixel satisfies both conditions _and_ has the highest score among all pixel pairs. The assumption with `scores_mask = ((target_sum > 0) & (other_sum < 0))` is that any pixel that is paired with a pixel that is in invalid (i.e. not in

[2017-04-07 16:36] rms5643 commented on #121
Can confirm. I have experienced this myself, albeit rarely. This exception occurs in two cases: the one above where no pixels satisfy the map condition and when one pixel satisfies both conditions and has the highest score among all pixel pairs. The assumption with scores_mask = ((target_sum > 0) & (other_sum < 0)) is that any pixel that is paired with a pixel that is in invalid (i.e. not in our s

[2017-04-19 02:36] #109 closed

[2017-04-22 23:12] neale opened #123 "Saving fooling images"
How can I save only the images generated from either FGSM or JSMA attacks?

It looks like the tensor of images returned out of `batch_eval(sess, [x], [adv_x], [X_train], args=eval_params)` only give the noise that will be added to the original images.

I'm training a detector, and this library looks much better than the way I was generating fooling images before. I just can't figure out how to get

[2017-04-23 08:16] goodfeli commented on #123
`adv_x` as defined in the tutorials is actually the images generated by FGSM, like you want.

`batch_eval` will evaluate any graph you pass to it, so you could use it to generate either the adversarial images or just the perturbations.

[2017-04-23 08:16] #123 closed

[2017-04-25 03:14] paozhuanyinyu-njust commented on #67
Dear @goodfeli, I found the line 182 of utils_tf.py ''acc_value = tf.reduce_mean(keras.metrics.categorical_accuracy(y, model))" should be changed to "acc_value = tf.reduce_mean(tf.cast(keras.metrics.categorical_accuracy(y, model), 'float'))". Thanks for your team and projects.

[2017-04-30 08:50] stephenbhope opened #126 "cleverhans devs: developer tools collection that may be of use - WIP"
I am working on stephenbhope/Revised-CommAI-env and as part of the process unified end user & developer tool box highlighting outstanding examples of opensource apps. Are there any wish list items from contributors here for either finding the right tool or to automate a tedious bit? I want to make the tool box a stop when developers are looking for something different to their current tools, or em

[2017-04-30 17:13] npapernot commented on #126
Thank you Stephen, this thread would be more appropriate for discussion within the developer ML at cleverhans-dev@googlegroups.com

I am closing this for now, as this is not related to a bug/issue about cleverhans

[2017-04-30 17:13] #126 closed

[2017-05-04 14:55] npapernot commented on #115
Closing this given that we did not receive any response from @adhoc2github

Feel free to reopen if the bug is still reproducible

[2017-05-04 14:55] #115 closed

[2017-05-04 18:30] npapernot opened #128 "Remove keras from MNIST dataset loader"
In `cleverhans.utils_mnist`, keras is used to  load MNIST. We could directly download from its website and remove all dependencies on keras

[2017-05-06 18:40] Duncanswilson commented on #128
since you all use tf, couldn't you also load it like this:
`
from tensorflow.examples.tutorials.mnist import input_data
mnist = input_data.read_data_sets("/tmp/data/", one_hot=True)
`
?

[2017-05-08 13:50] RiaanZoetmulder opened #130 "Question regarding replication"
Hello,

I have made my own little implementation of some of the methods described here (using some of your code as an example). I have a specific question regarding the Fast Gradient Sign method.

I have set epsilon to 0.3 as per the example. About 97.5 percent of my predicted labels change. This should be good. However on Cifar 10, the images become quite pixelated due to this. Is this supposed t

[2017-05-08 19:42] npapernot commented on #130
Hi Riaan,

The value of the parameter epsilon should be set depending on the input domain you are working with. It lets you trade-off the chances of having the input misclassified with the magnitude of the perturbation introduced. The impact of an epsilon parameter of 0.3 on your CIFAR data will depend on how you pre-processed it before training your model. Have you tried reducing the value of eps

[2017-05-08 19:43] #130 closed

[2017-05-08 19:46] npapernot commented on #128
Thanks for the code snippet.

You are right, this would be the way to go once Theano support is deprecated. We recently proposed to drop Theano support (https://groups.google.com/forum/#!topic/cleverhans-dev/xXqAG97RTfo), so we will soon be able to assume that all users are running TensorFlow.

It is probably easier to hold on for the PR that will deprecate Theano before resolving this issue

[2017-05-08 20:41] RiaanZoetmulder commented on #130
I have tried various values for epsilon. between 0.007 up until 0.3 . I preprocess the data by dividing it by 255.0. With for example 0.07, approximately 70% of the labels changes! The lower I go, the less the likelihood of the prediction changing!

And yes I am using that code to replicate your research! If you wish, I can send you what I have done, although I don't want to impose!

@paulhendrick

[2017-05-09 16:49] kirk86 opened #132 "jsma causes InternalError"
Hi everyone and thanks for this work. I was wondering if you could give me some hint on a problem that I'm facing. Recently I've been trying to run the `mnist_tutorial_jsma.py`. So I've took that example and replaced all the  `tf.flags` with `argparse` since IMHO I find it more intuitive and less boilerplate than the `tf.flags`. Below is a simple example of the code that I'm trying to run.

[code]

[2017-05-11 06:26] leviswind opened #133 "Initialization error for /tutorial/mnist_blackbox.py"
Before the training process of substitute network, the oracle network was trained with the same session with the substitute network, so when training the substitute network with
[code]
it initialize all variables not only in substitute network, but also the variables in oracle network. So the training process of oracle network is useless.
[code]
So it can't prove the adversarial examples generated

[2017-05-11 08:55] RiaanZoetmulder commented on #132
I have this exact error too

[2017-05-11 13:27] #132 closed

[2017-05-11 14:37] npapernot commented on #133
Thank you for pointing this out, let us know if #135 fixes this bug on your side as well. I based it off the snippet you shared.

[2017-05-11 16:17] goodfeli opened #136 "Make matplotlib dependency soft"
Currently it's not possible to run mnist_tutorial_tf.py unless matplotlib imports successfully. matplotlib is not used for any feature in the tutorial. matplotlib fails to import if python-tk is absent, so this forces installing python-tk on Cloud machines that otherwise would have no GUI related libraries at all.

[2017-05-11 17:49] #133 closed

[2017-05-11 17:49] #136 closed

[2017-05-11 18:17] #128 closed

[2017-05-12 02:44] leviswind commented on #133
I run the mnist_blackbox.py after the modification, but the result if as follows
[code]
if we replace the relatively complicated Jacobian-based dataset augmentation with simply repetition of training set at last step,
[code]
[code]
the result is relatively better, which means the Jacobian-based dataset
augmentation has not effect for better adversarial examples generation.

Is there something wron

[2017-05-12 06:34] shenqixiaojiang opened #139 "How to save and load model?"
Hello,I have trouble in loading model when I saved the model with TF format. The model can't load using 'saver.restore'.
So could you give me some suggestion on saving and loading the trained model?
Thanks.

[2017-05-12 13:25] RiaanZoetmulder commented on #132
Hello,

I have basically copy pasted the necessary functions in an Ipython notebook, and am trying to replicate the jsma example, but without using keras and doing it fully in tensorflow.

So i am still using the original functions, just instead of keras giving me predictions a neural network in tensorflow gives me predictions.

Now I have made the exact same alteration to the exact same function

[2017-05-14 19:15] holdenlee opened #140 "Pip installation"
Running
[code]
gives the error
[code]
This can be fixed by running
[code]
instead. (See http://stackoverflow.com/questions/21387456/cannot-install-a-specific-git-branch-on-github-with-pip-permission-denied-pub.)

[2017-05-14 20:53] npapernot commented on #140
Thanks, could you make a PR?

On Sun, May 14, 2017, 3:15 PM Holden Lee <notifications@github.com> wrote:

[2017-05-16 05:25] #140 closed

[2017-05-16 05:27] npapernot commented on #139
This is an issue that we have to address yes. The save feature doesn't work because we are defining the model using keras. Any contributions are welcome if you are able to make it work, otherwise I would suggest defining the model directly using tf

[2017-05-16 10:58] kirk86 opened #142 "Allow users to pass an optional dictionary of placeholders, values that is added to feed_dict in utils_tf methods (e.g., training, eval, ...)"
Hi I was wondering if it is possible to remove dependency of `K.set_learning_phase(0)` in the tutorials?
 If I try to remove it I get all sorts of errors. If it is removed none of the attacks works. Mainly in the tutorials if we replace `model_train` with `model.fit` and `model_eval` with `model.evaluate` everything works fine without the need of `K.set_learning_phase()` except from the actual att

[2017-05-16 13:25] npapernot commented on #142
Hi, the keras learning phase variable is used to control layers that have different behavior at training and test time (e.g., dropout). In the tutorials, we don't use these layers. To avoid having to feed a value of this variable in all TF graph runs performed by cleverhans, we simply set it to 0. If you use K.fit, you may not be able to use some of the cleverhans functions such as adversarial tra

[2017-05-16 14:31] kirk86 commented on #142
@npapernot thanks a lot for the prompt respond. Yeah actually I've had dropout and batch norm layers and couldn't figure out what was going on.

IMHO I think it might be doable, unless I'm missing sth else fundamental here. So if I do K.fit for training I can say sth like this along the lines when I compile the model before training:

[code]

[2017-05-16 14:52] npapernot commented on #142
Sorry for the confusion, yes I meant it will be hard to use cleverhans functions "as is" because the learning phase will raise a value not fed error.

Actually, I had a related thought the other day: we may want to have an optional argument to cleverhans functions that run a TF graph where users can specify a feeding dictionary of additional variables along with their values that will be appended

[2017-05-16 15:05] kirk86 commented on #142
@npapernot

Yes indeed, I had this error the other day and was trying to figure out what was going. If someone removes `K.set_learning_phase()` will definitely need to substitute that in the session feed dictionary as {'K.set_learning_phase()': 0} or equivalently {'keras_learning_phase': 0}.

This is much better and makes the functionality of the library more flexible this way. For instance one mi

[2017-05-16 15:16] goodfeli commented on #142
I'm hoping to write a tutorial that uses only TensorFlow, with no framework
on top. That would remove all dependence on Keras. But it might take a
while before I get to this, so someone else is welcome / encouraged to do
it too.

On Tue, May 16, 2017 at 8:05 AM, kirk86 <notifications@github.com> wrote:

[2017-05-16 15:38] goodfeli commented on #139
Quick comment: I think the bug where reloading the model in Keras doesn't work might be due to an "initialize_all_variables" call. That's worth checking at some point.

[2017-05-17 14:12] kirk86 commented on #142
Hey guys, just a quick question/extension on what @npapernot suggested about `feed_dict`. I've noticed that all functions take params such `train_params` or `eval_params` so I tried to remove `K.set_learning_phase(0)` and hard coded it in the params as `'keras_learnig_phase': 0` but after doing some digging up I found out that `batch_eval` is not using/passing all arguments to feed_dict, so there

[2017-05-17 16:11] npapernot commented on #142
Yes, that was what I wanted to provide as a new feature: to allow people to provide custom placeholders and their values that should be added to the feeding dictionary when running the session.

The current argument processing was not designed to support this, but it was not intentional.

[2017-05-23 11:21] RiaanZoetmulder opened #143 "Gamma hyperparameter causes crash."
Hello,

I have been playing around with the Jacobian Salience Map method of creating adversarial examples. If I understand it correctly, this hyperparameter indicates what percentage is allowed to change maximally.
However, if I train a network and set gamma too high, it causes some sort of cryptic crash.

I'll keep looking at it but as of yet I haven't figured it out.

Here is the error log:

---

[2017-05-24 09:15] RiaanZoetmulder commented on #143
This may have already been solved by: https://github.com/openai/cleverhans/pull/122 actually.

Can be closed.

[2017-05-24 15:08] npapernot commented on #143
Yes, the key error should be adressed by #122, thanks for confirming!

[2017-05-24 15:08] #143 closed

[2017-05-24 16:43] #121 closed

[2017-05-25 03:17] npapernot opened #145 "decide which version(s) of TF we support and add to README"

[2017-05-25 03:17] npapernot commented on #145
see #138

[2017-06-05 17:13] goodfeli opened #150 "Fix generate_np bug"
When generate_np is called more than once with different arguments, it just replays the first graph.

I think it would be best to fix this by just removing generate_np, because some keyword arguments need to  trigger generation of new graphs and others don't. This seems like too subtle of a point for most Attack implementers to handle.

[2017-06-05 20:10] carlini commented on #150
This would have fairly large consequences for attacks that are not easy to (or perhaps even impossible to) implement fully symbolically.

For example, if you wanted to generate adversarial examples on a few thousand iterations using the attack algorithm I have, or JSMA as currently implemented, you would have to construct thousands of tf.gradient() operations, instead of caching it and just doing

[2017-06-05 20:13] goodfeli commented on #150
You can use the while loop to avoid making a large unrolled graph:
https://www.tensorflow.org/api_docs/python/tf/while_loop

Or you can wrap python code up to make a tensorflow op:
https://www.tensorflow.org/api_docs/python/tf/py_func

On Mon, Jun 5, 2017 at 1:10 PM, Nicholas Carlini <notifications@github.com>
wrote:

[2017-06-05 20:54] carlini commented on #150
Oh, I think I was unclear what I meant by "iterations" -- I didn't mean iterations of the attack algorithm, I meant iterations of calling attack.generate(). If we have to construct a new graph each time, that would be expensive.

[2017-06-05 22:23] goodfeli commented on #150
Oh, for that, it's straightforward, you just feed a different value each
time.

On Mon, Jun 5, 2017 at 1:54 PM, Nicholas Carlini <notifications@github.com>
wrote:

[2017-06-06 16:55] carlini commented on #150
This requires re-generating the entire graph each time though, right? You have to pay the cost of doing that every time you call generate(), when ideally you'd only construct the graph once and use it every time after that.

[2017-06-06 17:27] goodfeli commented on #150
No, you generate the graph once and feed many different values through it.
The tutorials already do this:
https://github.com/openai/cleverhans/blob/master/tutorials/mnist_tutorial_tf.py

On Tue, Jun 6, 2017 at 9:55 AM, Nicholas Carlini <notifications@github.com>
wrote:

[2017-06-06 17:30] carlini commented on #150
Yeah, but that only works because the FGS attack is a fully TF graph. Could you do this same thing with the JSMA code without having to call tf.gradients() each time you want a new adversarial example?

[2017-06-06 17:40] goodfeli commented on #150
Yes, by wrapping a python function that does the JSMA code in a tf op using
tf.py_func

On Tue, Jun 6, 2017 at 10:30 AM, Nicholas Carlini <notifications@github.com>
wrote:

[2017-06-06 17:43] carlini commented on #150
Oh, I didn't realize that would do that, okay, now I understand what you're saying. Then yes, I agree just removing generate_np would be the easiest solution.

[2017-06-06 19:51] npapernot commented on #150
The JSMA code is already being wrapped with `py_func` in the generate() method of `SaliencyMapMethod` https://github.com/openai/cleverhans/blob/master/cleverhans/attacks.py#L356

[2017-06-06 23:07] npapernot commented on #105
Duplicate of #139

[2017-06-06 23:07] #105 closed

[2017-06-06 23:08] npapernot commented on #67
Closed by #119 #148 #149

[2017-06-06 23:08] #67 closed

[2017-06-07 01:52] npapernot commented on #150
To put this issue into context with the previous design choices made. In the Attacks interface PR #75, we discussed how multiple calls to `generate_np` should be handled here https://github.com/tensorflow/cleverhans/pull/75/files/6b6cf82fd22b63b43c9cd8af790ead7ed99b9195#diff-b52d3b38c185a956192766f2aa9284cd and here https://github.com/tensorflow/cleverhans/pull/75#issuecomment-289622743

So the cu

[2017-06-07 02:02] carlini commented on #150
So I see three paths forward.

1. Ian's recommendation: just delete the generate_np functionality. Make generate the only method, and wrap everything with a py_func if you can't do it symbolically. Since this doesn't have the performance implications I thought it would, this is a reasonable option. The only potential problem with it is that now the interface is slightly less clean for a new user w

[2017-06-07 13:32] shenqixiaojiang commented on #139
I have tried some methods for addressing it. Unfortunately,it didn't work.
Finally, FGSM is implemented by Keras with TF backend.

[2017-06-07 13:49] shenqixiaojiang commented on #139
@npapernot @goodfeli
I had tried some methods to address it. Unfortunately,it didn't work.
Finally, FGSM was implemented by Keras with TF backend.
During this, I found a funny thing that same architectures in different platform had different performance and the difference was huge which was explored in the MNIST datasets. The phenomenon seems to be inconsistent with "The Space of Transferable Adve

[2017-06-07 16:03] goodfeli opened #159 "Black box and theano tutorials are apparently not tested at all"
Based on the fact that the tests didn't break prior to this PR: https://github.com/tensorflow/cleverhans/pull/158

[2017-06-07 16:04] goodfeli commented on #159
Oh, I misunderstood the PR. I thought it was saying the warnings crashed rather than successfully printing warnings.

[2017-06-07 16:04] #159 closed

[2017-06-07 17:02] goodfeli commented on #150
I think everyone agrees the current behavior is a bug.

I would do 3 if I were working alone, but it seems unlikely that we'd be
able to efficiently explain the situation to all future Attack subclass
implementers.

Subclass implementers will probably do the right thing if their
implementation really is numpy based. If their implementation is based on
wrapping symbolic code, they'll probably leave

[2017-06-07 17:17] npapernot commented on #150
It sounds like the best option is to deprecate `generate_np` and remove it in 6 months.

Should we issue a warning when the user calls `generate_np` multiple times to warn that it will reuse the first graph?

[2017-06-07 17:21] npapernot commented on #139
@shenqixiaojiang, did you get a chance to look at what @goodfeli suggested?

[2017-06-07 17:30] goodfeli commented on #150
Actually, here's another thought:

`generate_np` is OK if it's actually implemented in NumPy.
I don't think there's any known bug with the default implementation of
`generate` that wraps `generate_np`.
What if we keep `generate_np` as a method that subclasses can optionally
implement if they want to make the default implementation of `generate`
wrap their NumPy implementation?
This would mean the

[2017-06-07 17:44] npapernot opened #160 "Be more clear when attacks need logits or softmax probs"
Some attacks operate with the model's logits and others with the softmax probs. We should improve the documentation to make sure it is clear when the `model` argument of an attack class needs to be logits and when it needs to be softmax probs (see #157). In addition, we could use #154 to have some more automated checks in the `__init__` method of attacks that test whether the `model` argument is a

[2017-06-08 00:05] carlini commented on #150
If the interface is going to exist, then I would argue it should exist for all attacks. I think the API would be more confusing if some attacks implement generate_np and some don't.

Another possible option would be to require the method exists, but leave it up to the attack implementor as to whether they just call generate() fresh every time (and pay the performance hit) or if they do some graph

[2017-06-08 00:42] npapernot commented on #150
It might make sense to have two abstract classes inherit from `Attack`: `SymbolicAttack` and `NonSymbolicAttack`. Non-abstract attack classes who inherit from one of these two rather than `Attack`.

The two abstract classes would make it easier for developers/users to understand the different implementations required by each type of attack and the implications in terms of expected behavior.

The `

[2017-06-08 00:47] carlini commented on #150
If NonSymbolicAttack has a generate method (that wraps generate_np) why not have SymbolicAttack have a generate_np method (that wraps generate)?

[2017-06-08 01:08] npapernot commented on #150
I was proposing this scheme with the solution of having only some classes implement `generate_np` in mind. If we decide to go the other route, and have all classes implement `generate_np`, then it does not necessarily apply anymore.

[2017-06-08 01:09] carlini commented on #150
That makes sense.

[2017-06-08 02:15] shenqixiaojiang commented on #139
@npapernot Sorry,I made a mistake of the suggestion of @goodfeli .  Now, it works.
Thank you very much.

[2017-06-08 03:02] npapernot commented on #139
Would you be willing to open a PR to include the code that is able to load/save models?

[2017-06-08 13:33] goodfeli commented on #150
I set up an in-person meeting with Nicolas and Nicholas to discuss this in
more detail. If anyone would like to join the meeting (e.g. via hangouts)
reply and let me know. We'll write back to the list with our conclusions.

On Wed, Jun 7, 2017 at 6:09 PM, Nicholas Carlini <notifications@github.com>
wrote:

[2017-06-09 03:59] carlini commented on #150
I have started implementing this in my PR. The Attack class is now up to date and FGSM works with it. I will now continue with updating the other attacks.

[2017-06-09 04:02] carlini opened #165 "Remove parse_params"
Once bug #150 is resolved by PR #156, classes will only implement the generate() method and will not need generate_np(). Therefore, it would make sense to remove the parse_params() method since it will only be called once at the top of generate(), and the checks can be done there instead.

[2017-06-09 13:32] shenqixiaojiang commented on #139
@npapernot  yeah,I'll be will to. A PR is opened for this problem.

[2017-06-09 14:47] carlini opened #167 "Remove all test_mnist_tutorial_*.py"
These tests are really slow to run, flakey, and should be replaced by unit tests of each individual method.

[2017-06-09 17:23] goodfeli commented on #167
I think they should be sped up, rather than removed. They're the only thing we have resembling an integration test. Integration tests are important as well as unit tests.

[2017-06-09 17:24] goodfeli commented on #167
Also, before we had the tests, people routinely made edits to the tutorials themselves that broke the tutorials.

[2017-06-13 18:46] goodfeli opened #170 "Try Adam for the tutorials"
In a private experiment, I found that Adam with a learning rate of .001 works much better than the tutorial default. It's worth checking if this holds true for the tutorial or if it was specific to the model I was using in my private experiments.

[2017-06-14 07:00] #139 closed

[2017-06-16 15:47] abhibhav14 commented on #170
The model we get is quite a bit more accurate with Adam, reaching 0.9933 compared to the 0.9774 of the current model, but at the cost of accuracy on the adversarial samples, which goes up from 0.0124 to 0.0277, all on MNIST. The loss function itself probably becomes zero for some inputs, which causes the gradient sign method to fail more.

[2017-06-16 15:52] goodfeli commented on #170
After how many epochs? What about the accuracy of the adversarially trained model?
If you run it multiple times, I suspect you'll see a lot of fluctuation in the accuracy of the adversarial examples.
I doubt the loss is hitting machine zero. It sounds like the model is just better.

[2017-06-16 16:25] abhibhav14 commented on #170
The above was after 6 epochs.
I am getting variation over run. In the end, after the adversarial training I get 0.9614 accuracy on the adversarial samples.
And yeah, the model is not hitting machine zero in this case.

[2017-06-16 16:30] goodfeli commented on #170
What was the accuracy on adversarial examples before the switch to Adam?

On Fri, Jun 16, 2017 at 9:25 AM, Abhibhav Garg <notifications@github.com>
wrote:

[2017-06-16 16:56] abhibhav14 commented on #170
using the original Adadelta: before training - 0.013 and after training 0.56
using adam: before training - 0.028 and after training 0.96
Adam seems overall better.

[2017-06-16 16:57] goodfeli commented on #170
I'm assuming "before training" = "normal training" and "after training" =
"adversarial training". That does look like a big improvement.

Could you send a PR?

On Fri, Jun 16, 2017 at 9:56 AM, Abhibhav Garg <notifications@github.com>
wrote:

[2017-06-16 17:00] abhibhav14 commented on #170
I will run everything a couple of more times to make sure everything runs smoothly, then send one in.

[2017-06-17 18:26] abhibhav14 commented on #170
@goodfeli Everything checks out fine, I have made a PR #171 where I made the change to the utils_tf and also all the relevant tutorials.

[2017-06-17 19:26] npapernot commented on #170
#171 was merged, so it looks like we can close this

[2017-06-17 19:26] #170 closed

[2017-06-17 19:31] npapernot commented on #167
Given that #155 cut testing time to about 12mn, I'm going to close this for now. Once unit test have a better coverage of the code base, we can decrease the test time even more by further reducing the problem size of tutorial tests.

[2017-06-17 19:31] #167 closed

[2017-06-17 19:32] npapernot commented on #145
Closed by #155

[2017-06-17 19:32] #145 closed

[2017-06-17 20:51] abhibhav14 commented on #170
Should we increase the values in the tests to match? For example, right now the test_mnist_tutorial_tf just expects adv_train_adv_eval to be greater than 0.06, but we can now increase this by a bit.

[2017-06-19 16:09] goodfeli commented on #170
Yes, we should raise it because failing to get the usual numbers for Adam
could indicate a bug.

On Sat, Jun 17, 2017 at 1:51 PM, Abhibhav Garg <notifications@github.com>
wrote:

[2017-06-21 18:16] goodfeli commented on #61
I guess now there are tests for JSMA, but they're flaky? See the failure here: https://travis-ci.org/tensorflow/cleverhans/jobs/245472257

[2017-06-22 00:55] npapernot commented on #61
Yes, I'd like to keep that open until we have more unit tests for the JSMA (and other attacks) and rely less on the somewhat flaky tutorial tests. Does that sound right?

[2017-06-22 15:39] npapernot opened #176 "reassess tutorial tests min / max accuracies and make tutorial tests less flaky"

[2017-06-22 15:39] npapernot commented on #176
see #170

[2017-06-22 15:40] npapernot commented on #170
Good catch, I opened #176 to not forget about this

[2017-06-22 15:54] abhibhav14 commented on #176
I am currently working on it right now, For the MNIST tutorials, we can increase the adversarial examples after adversarial training from 0.07 to 0.70.
However, I just realized that switching to Adam messed up the blackbox tutorial. Originally, test accuracy of oracle on samples generated by substitute was roughly 0.5, but switching to Adam has actually made that worse, it is now a little over 0.8

[2017-06-22 17:54] #142 closed

[2017-06-22 18:10] goodfeli commented on #61
k. Should we also make the tutorial tests less flaky somehow? Seeds for random number generators?

[2017-06-22 18:16] npapernot commented on #61
Yes correct, I'll edit #176

[2017-06-23 14:41] cbienpourtoi opened #178 "pip install works only as root or single user"
Usually, when I install a module with pip as root, all users can access it. Installing cleverhans with
`pip install -e git+http://github.com/tensorflow/cleverhans.git#egg=cleverhans
`
works as root, but as another user, I get :
[code]
I can install it specifically for a user (pip --user), but this is not what I want. Is it on my side that there is something wrong, or is there a problem in the bund

[2017-06-26 17:02] npapernot opened #179 "change spacing to 4 spaces in pure tf tutorial"
all other code has 2 spaces

[2017-06-30 15:36] goodfeli commented on #179
I think we should standardize on 2 spaces for consistency with TensorFlow, especially now that this repository lives in the TensorFlow organization.

[2017-06-30 16:36] carlini commented on #179
I don't have a strong opinion, but PEP8 says python should have 4 spaces (and all non-google python code I'm aware of uses 4). Do you see any benefits of going to 2 spaces?

[2017-06-30 16:49] goodfeli commented on #179
actually I'm confused by @npapernot 's earlier comment; it looks like most of CleverHans has 4 spaces

[2017-06-30 16:59] npapernot commented on #179
My bad. This was a mistake, I meant to say that most of the code base has 4 spaces, but the tutorial has 2 spaces.

I don't have a preference towards 2 or 4 spaces and am happy to use either.

[2017-07-02 06:05] leviswind opened #183 "Bad result for tutorial.mnist_blackbox"
I run the tutorial code called mnist_blackbox.py, however the result is not the expected for the test accuracy of oracle on adversarial generated using the substitute is 0.85096. It  seems the adversarial examples have little effect on the test accuracy. Has anyone else meet this problem? By the way, the version of tensorflow I used is 1.2.1. I think it's not the problem of tensorflow.

[code]

[2017-07-04 13:56] omtcyfz opened #185 "Python 3 compatibility issues in download_images.py"
Following lines result in Python 3 compatibility issues

examples/nips17_adversarial_competition/dataset/download_images.py
[code]
[Python 3 changelog](https://docs.python.org/3.0/whatsnew/3.0.html#text-vs-data-instead-of-unicode-vs-8-bit) says

Since the usage of `cStringIO` is `image = Image.open(cStringIO.StringIO(image_buffer)).convert('RGB')` I think it makes sense to replace it with `io.Byte

[2017-07-04 14:03] omtcyfz opened #186 "[README] wget: dependency not listed."
download_dataset.sh uses `wget` through

https://github.com/tensorflow/cleverhansblob/master/examples/nips17_adversarial_competition/sample_attacks/download_checkpoints.sh
[code]

and https://github.com/tensorflow/cleverhans/blob/master/examples/nips17_adversarial_competition/sample_defenses/download_checkpoints.sh (similar)

However, wget is not installed on Unix by default (e.g. I use curl and d

[2017-07-04 20:39] abhibhav14 commented on #183
Yes, there is a related issue raised #176 . Switched to the Adam optimizer has resulted this drop in accuracy. Using Adadelta will get you better results, a test accuracy of 0.497 on the adversarial samples. Something will be done about this soon.

[2017-07-05 16:26] goodfeli commented on #186
Done.

[2017-07-05 16:26] #186 closed

[2017-07-05 16:27] goodfeli commented on #185
Please do submit the diff. Thanks!

[2017-07-06 22:58] #185 closed

[2017-07-07 18:23] kirk86 opened #189 "error in mnist_tutorial_jsma.py"
There is the following error when one defines a different number of classes as and argument.
[code]

[2017-07-07 22:55] goodfeli opened #190 "Run PEP8 checker on tutorials"

[2017-07-07 23:52] npapernot commented on #189
It looks from the error that you are trying to use a class index `class_ind` that is too large (i.e., larger than `nb_classes`). Otherwise, could you give us a bit more context so we can understand what went wrong?

[2017-07-07 23:56] npapernot commented on #178
If you want to install for a particular user, you can use `pip --user` as you pointed out.

Alternatively, you could also clone the repository and append a path to it in the `PYTHONPATH` variable.

Feel free to re-open if this does not solve your problem.

[2017-07-07 23:56] #178 closed

[2017-07-08 14:50] kirk86 commented on #189
@npapernot yeah sure, apologies, my bad. So what I did is I just run the tutorial example without changing anything. The only thing that I changed is the user defined argument `nb_classes`. The default value is set to 10 I just used 5 in this case.

[2017-07-08 21:02] npapernot commented on #189
If you only changed the `nb_classes` to 5, it is normal to get this error because some of the inputs have labels between 5 and 9 (in `Y_test`).

If you want to reduce `nb_classes` to 5, you should also filter the data so it only includes examples from classes `0` to `4` included.

[2017-07-08 21:02] #189 closed

[2017-07-09 01:13] goodfeli commented on #190
Closes #179

[2017-07-09 06:04] #190 closed

[2017-07-09 06:49] npapernot commented on #176
@abhibhav14  Did you make any progress on this?

If not, I'll probably make a PR soon to address this issue because some of the tests are more frequently flaky because of the new optimizers

[2017-07-09 07:28] #179 closed

[2017-07-09 17:19] abhibhav14 commented on #176
For each of the tests, I have reassessed the accuracies and made a pull request at #197 . For the blackbox attack, the accuracy of the blackbox on the adversarial examples in the test is quite low, since the blackbox network is trained on a limited set on a few epochs. However, I still have not been able to fix the tutorial. I tried doubling the holdout, but this barely decreases the accuracy by a

[2017-07-09 17:34] npapernot commented on #176
Running the test on the black-box tutorial is hard because it is expensive to do the data augmentation. One way to make the test more representative might be to make the black-box and substitute models more similar in the tutorial itself.

[2017-07-09 17:37] npapernot commented on #165
Given the current solution that was decided for `generate_np` to still be in place, we'll probably keep `parse_params`

[2017-07-09 17:40] npapernot commented on #160
Now that the model abstraction is merged, we should allow a model object to be passed to the attacks to make these things more clear.

Besides that, a pass to the docstrings to check for consistency in the description of what layer is expected to be fed should be sufficient to close this issue.

[2017-07-09 19:15] #165 closed

[2017-07-09 20:03] carlini commented on #150
PR #198 now implements this fix.

[2017-07-12 01:33] #150 closed

[2017-07-13 04:02] npapernot commented on #160
#199 takes care of the first point

[2017-07-13 19:04] abhibhav14 opened #203 "Update tutorial markdown to show use of new abstraction"
The tutorials can be updated to include the new model abstraction, to make it easier for people to learn about that feature. Also, the tutorial markdown use the old attack models where the attacks are called as functions directly, instead of initializing attacks as class instances, as is done in the actual tutorial code.

[2017-07-19 13:17] IvanKush commented on #116
do you mean multithreading, etc?

[2017-07-19 15:41] npapernot commented on #116
Sorry the title of this is somewhat unrelated to the description now that I changed it. The goal was to implement the JSMA completely symbolically in TF (no Python/Numpy involved). This requires among other things to change the current Python while loop into a TF while loop.

[2017-07-22 04:50] rshpeley opened #211 "DecompressionBombWarning and corrupt exif data on images download"
On downloading the images I got this warning for image 486,

  DecompressionBombWarning)

and also this warning,

  warnings.warn(str(msg))

Yet when I check the files with `ls dataset/images -l` there's no apparent file size issues.

Using `ls dataset/images | wc -l` shows a count of 1000 files, so no files are missing.

Removing the `images` directory and reinstalling gave the same errors. I'm u

[2017-07-22 05:26] npapernot commented on #211
I suppose this is related to the adversarial competition? If yes, @AlexeyKurakin might have the answer to your problem

[2017-07-22 12:43] rshpeley commented on #211
Yes. These are the images installed through the download_data.sh script in the examples/nips17_adversarial_competition/ folder.

[2017-07-22 13:24] rshpeley commented on #211
Looking at dev_dataset.csv, image 486 has this data.

ad43e858c614db4d	https://c1.staticflickr.com/9/8263/28394550932_d93637d26b_o.jpg	0.0	0.25	0.5625	1.0	968	71	https://flickr.com/7831824@N04/28394550932

This is the photo cropped and scaled from the images folder.
![ad43e858c614db4d](https://user-images.githubusercontent.com/18505950/28491372-5c1b8ee0-6ead-11e7-93b7-ebc05aba6533.png)

If that's

[2017-07-22 13:44] rshpeley commented on #211
As a separate issue, if that's not the cropping and rotation you're looking for then the `download_image()` function in `download_images.py` needs to read the exif rotational data and rotate the image if needed before applying crop and resize.

[2017-07-23 05:23] AlexeyKurakin commented on #211
@rshpeley That's exactly how image 486 should look like after cropping and resizing.

I haven't seen DecompressionBombWarning, but I used rather old version of Pillow (2.3.0), so this message was probably added in newer version.
I think the reason why you see the warning is because this image is high resolution (2736 × 3648) and cause pillow to complain about it. But it looks like image was correc

[2017-07-23 05:23] #211 closed

[2017-08-03 12:16] vv-ss opened #216 "Misleading comments in mnist_tutorial_tf.py"
Something in the above file is not clear to me. Probably I am missing something.

In the evaluate function, we call model_eval with the same x,y and X_test, Y_test as input twice, what changes is the preds vs preds_adv. Similarly in evaluate2. So, how is it the case that once the evaluation is on legitimate test inputs and on the next one on adversarial examples (as the comments describe)?

Thanks

[2017-08-03 12:38] vv-ss commented on #216
I think the answer lies in the fact preds_adv is x, adv_x, preds_adv are symbolic. So, the commenting makes sense. Closing issue.

[2017-08-03 12:38] #216 closed

[2017-08-05 21:52] npapernot opened #217 "deduce number of classes from model's output tensor"
Some attacks require nb_classes to be passed as an argument, but this could be computed with the shape of the predictions tensor

[2017-08-09 17:16] ajherman opened #219 "CIFAR-10 example"
When I run ex_cifar10_tf.py example, the model appears not to train.  That is, the printed test accuracy is 0.1 after every epoch of (non-adversarial) training.  Perhaps I am misunderstanding what this script is intended to do?

[2017-08-09 18:59] npapernot commented on #219
It may be the case that the learning rate is not appropriate now that we changed the optimizer used by model_train. Can you try to modify it and let us know if it works?

[2017-08-09 19:01] npapernot commented on #219
Nevermind I just saw your PR that does just that. Thanks!

[2017-08-09 19:37] #219 closed

[2017-08-11 04:05] scml opened #221 "jsma method pertubated the same feature(first feature) iteratively untile , while all elements in "scores_mask" are 0s."
## While I implemented jsma method with my data, I saw the perturbation features are all the same  shown bleow.

##  print chosen feature every iteration. I thought it caused by all elements in scores_mask are 0s.

scores_mask.shape: (140, 140)
Best: 0
p1: 0
p2: 0
nf 140
scores_mask.shape: (140, 140)
Best: 0
p1: 0
p2: 0
nf 140
scores_mask.shape: (140, 140)
Best: 0
p1: 0
p2: 0
nf 140
scores_mask.sh

[2017-08-12 01:04] npapernot commented on #221
Could you be a more specific? It's hard to understand what your problem is based on the information you shared.

Perhaps the gradients of your model are all nan?

[2017-08-12 08:09] carlini commented on #217
I have a branch for this and will push it some time soon.

[2017-08-12 08:10] carlini commented on #160
Is this done?

[2017-08-12 15:25] npapernot commented on #160
Not yet, I started working on it locally and will make a PR this week

[2017-08-13 14:13] scml commented on #221
Sorry for the unclear description.
What I encountered is I found some samples weren't perturbated well when I used JSMA method.
I set the distortion rate as 25%. As I have 140 input features, it should iterate 17 times( assigned 34 features)  in JSMA(def jsma) as it didn't cheat the classifier(FCNN). I thought my average distortion rate would reach some point more than 4%, which is the average dis

[2017-08-13 23:44] npapernot commented on #221
Again, it is hard to debug your problem without access to the code or a more isolated description of what part of the experiment is failing. Have you tried checking the result of `jacobian()`?

[2017-08-14 22:53] carlini opened #225 "JSMA untargeted selects target at random"
The JSMA untargeted attack selects the target class at random, a better result can be obtained by modifying the minimization objective to make the original class more-wrong instead of a random class less-wrong.

The FGM, BIM, and CW attacks have untargeted behave in this way, and it would be more clear if JSMA behaved this way too.

[2017-08-15 02:56] goodfeli commented on #217
This was completed by PR #226

[2017-08-15 02:56] #217 closed

[2017-08-15 03:37] npapernot commented on #225
This would be a change in the attack's behavior, which would be more confusing to people who are just looking for an implementation of the paper in my opinion. It might be less confusing to make it a variant of the attack than modifying the original behavior I guess.

[2017-08-15 07:00] npapernot commented on #176
I am closing this given that the problem not addressed yet in this issue is also described in #183. Tests are running more smoothly now.

[2017-08-15 07:00] #176 closed

[2017-08-16 04:01] #160 closed

[2017-08-17 16:08] goodfeli opened #232 "`model_train` doesn't shuffle the data"

[2017-08-17 20:46] #203 closed

[2017-08-17 20:47] npapernot commented on #221
I am about to close this, unless you are able to share more information to help us understand where the problem comes from.

[2017-08-17 23:33] carlini commented on #225
I would vote for calling this something different then. Or putting a docstring warning maybe.

[2017-08-23 17:01] goodfeli opened #238 "Better version description"
- The readme in `master` should say that this is a development branch. So far our readme has always kept the version number of the most recent release.
- We should add a `cleverhans.__version__` string, both to `master` and to the releases.

[2017-08-23 17:20] #232 closed

[2017-08-23 17:31] goodfeli opened #239 "Improvements to shuffling"
This PR was merged after a legitimate review process, but I'm making some stricter post-review comments: https://github.com/tensorflow/cleverhans/pull/235

I think a few things could have been done better:
- It would be better to put the new seed as an argument to `model_train` rather than as part of the tutorial. Seeding the tutorial makes the tutorial tests less flaky, but doesn't do anything to

[2017-08-23 19:11] fartashf opened #242 "stop_gradient(pred) when model prediction is used to attack"
When the model's prediction is used instead of true labels, it makes more sense to do `stop_gradient(pred)`.

This can be fixed by doing `stop_gradient` after these lines:
https://github.com/tensorflow/cleverhans/blob/master/cleverhans/attacks.py#L391
https://github.com/tensorflow/cleverhans/blob/master/cleverhans/attacks.py#L208
https://github.com/tensorflow/cleverhans/blob/master/cleverhans/atta

[2017-08-23 19:12] goodfeli opened #243 "The `stop_gradient` op in FastGradientMethod is wrong"
The `stop_gradient` op in FastGradientMethod should only be present for the max norm and in that case it should wrap only the sign op, not the addition of the perturbation to the input. The `stop_gradient` op should reduce computational cost but should not change the numeric value of any derivatives.

[2017-08-23 19:15] goodfeli commented on #242
We can definitely wrap argmax ops in stop_gradients to keep the TensorFlow graph smaller while still computing the same value. If the predictions are used in something other than an argmax, then `stop_gradient` actually changes the derivatives. Depending on the application, we may or may not want to consider the model fixed.

[2017-08-23 21:49] AlexeyKurakin commented on #243
Just to clarify, why  `adv = tf.stop_gradient(x + eps * tf.sign(g))` is wrong?
I always had an impression that we want to treat adversarial examples as a constant (i.e. don't backprop through it for adversarial training) and that's the purpose of tf.stop_gradient

[2017-08-23 23:47] goodfeli commented on #243
It's fine to define adversarial training to treat the adversarial examples as constant, but that should be done in the training code, rather than the attack definition code. You could also define adversarial training as backpropagating through the adversarial example construction process. (We tried that for rotational adversarial examples in "Explaining and Harnessing Adversarial Examples"). In th

[2017-08-23 23:51] goodfeli commented on #243
There are also two issues here: differentiability of the perturbation, and differentiability of the input `x`. For adversarial training, `x` comes from the dataset, so it doesn't really matter whether it is wrapped in a `stop_gradient` or not. In other contexts, like if `x` were a sample from a GAN and we want to make an adversarial perturbation that fools the discriminator, we'd want to be able t

[2017-08-24 09:34] shenqixiaojiang opened #247 "How to get the attack examples with SaliencyMapMethod on the ImageNet datasets?"
Here, I want to get the attack examples with SaliencyMapMethod on the ImageNet datasets based on the examples/nips17_adversarial_competition/sample_attacks/fgsm/attack_fgsm.py file.

And I just change the following code :

[code]
with:

[code]
But, it doesn't work.

[2017-08-24 12:25] npapernot commented on #247
Could you tell us what the error is?

[2017-08-24 12:51] npapernot commented on #242
The three lines that Fartash pointed out would add a `stop_gradient` after an argmax, so it seems like an optimization worth making a PR for.

[2017-08-24 13:08] npapernot commented on #238
Closed by #241

[2017-08-24 13:08] #238 closed

[2017-08-24 18:02] #243 closed

[2017-08-25 04:53] shenqixiaojiang commented on #247
@npapernot The error "UnknownError (see above for traceback): exceptions.AttributeError: 'NoneType' object has no attribute 'run'" is reported.

[2017-08-25 12:49] npapernot commented on #247
Off the top of my head, it seems like the session is not passed properly? That would be the sess.run call. It's hard to say anything more with what you shared. Feel free to reopen with more details.

[2017-08-25 22:57] goodfeli commented on #242
OK, thanks

[2017-08-28 19:27] malcolmregan opened #250 "FGSM Training Question"
This is more of a stack exchange style (seeking expert help) question rather than a report of a technical issue. But I thought I'd try my luck here, as you guys are the experts:

My issue is that a model being trained on FGSM examples does not learn anything. I'm fairly certain the cause of this issue lies in the details of my implementation as it differs slightly from the implementation used in t

[2017-08-28 21:56] goodfeli commented on #250
It should be possible to train the model on FGSM examples (that's what our tutorial does) so there is presumably a bug in your code. You could try to synchronize it with our Keras tutorial to find where your code deviates from ours.

[2017-08-28 21:56] #250 closed

[2017-08-29 05:26] malcolmregan commented on #250
Thank you response. I figured it out shortly after I posted: I was storing the targets of the FGSM examples as integers when in fact they were one-hot vectors. Probably should have been the first place I looked.
Thank you!

[2017-08-30 19:01] goodfeli opened #253 "Better seeding / test that seeding works"
Our tutorial tests still show significant differences when run multiple times. See the comments on this PR for some examples: https://github.com/tensorflow/cleverhans/pull/249

We should figure out which part of the tutorials is not seeded correctly, seed it, and add a test that running the tutorial twice gives nearly the same result.

[2017-08-30 23:50] #239 closed

[2017-08-31 00:35] goodfeli commented on #253
I did some work toward this but didn't complete it, in this PR: https://github.com/tensorflow/cleverhans/pull/255

The PR adds the necessary tests, but with loose tolerance. This will hopefully make sure we at least don't add more non-deterministic ops, but I haven't found the cause of the current non-determinism yet.

[2017-09-01 15:15] lfz opened #257 "support for pytorch multiprocessing dataloader"
Hi, the pytorch docker requires the `--ipc=host` flag in the cmd

https://github.com/pytorch/pytorch#docker-image

An example is `nvidia-docker run --rm -ti --ipc=host pytorch/pytorch:latest`

could you add this in the framework?

[2017-09-01 15:37] npapernot commented on #257
I assume this is related to the NIPS competition?

[2017-09-01 15:45] lfz commented on #257
yes, shouldn't I post this issue here?

[2017-09-01 17:11] goodfeli commented on #257
Yes, @npapernot is just clarifying which part of the codebase this issue is about. @AlexeyKurakin , can you take on this issue?

[2017-09-07 18:48] ajing commented on #247
I experienced some similar errors:

[code]

The code is like this:

[code]

[2017-09-08 05:14] gautam1858 commented on #17
I am getting this error `AttributeError: 'NoneType' object has no attribute 'TF_DeleteStatus'` when I run keras code

[2017-09-08 14:01] goodfeli commented on #17
Thanks for the report. Re-opening the issue.

[2017-09-08 17:30] brennn-rpi commented on #17
I am also periodically getting a similar error at the end of my program when using Keras
`Exception ignored in: <bound method Session.__del__ of <tensorflow.python.client.session.Session object at 0x7fc0665ff2b0>>
Traceback (most recent call last):
  File ".../lib/python3.4/site-packages/tensorflow/python/client/session.py", line 595, in __del__
TypeError: 'NoneType' object is not callable`
I'm us

[2017-09-08 23:04] npapernot commented on #247
Thanks for letting us know. Can you try to update to the last version, there has been changes to these functions since then. From the log, it seems that you are using 1.0

[2017-09-09 02:51] ajing commented on #247
Thanks for the quick response and suggestion!

After updating cleverhans to 2.0. The error is like this:

[code]

[2017-09-11 16:47] npapernot commented on #247
Have you tried running something in that session before this line of code gets executed?

Do you get the same error if you try to use the function `jsma` in `attacks_tf.py` directly (instead of going through the class in `attacks.py`.

[2017-09-11 23:44] ajing commented on #116
Sorry for my limited knowledge about Tensorflow. For the part like:

[code]

Could this also be written symbolically?

[2017-09-12 22:15] npapernot commented on #116
It should be possible to rewrite this symbolically yes. I contacted @gongzhitao who implemented a version of this here: https://github.com/gongzhitaao/tensorflow-adversarial/blob/master/attacks/jsma.py#L102

There should be a PR to work on this soon.

[2017-09-13 06:51] ajing commented on #247
I think the reason may be when I create the SaliencyMapMethod object, I also need to pass the session object. But, I am not sure how to create a graph after creating a session.

Here is what I try:

[code]

The output:

[code]

[2017-09-13 18:06] npapernot commented on #247
It looks like you are defining the jacobian graph before creating your session, this may be the problem.

Otherwise, did you make sure that your function InceptionModel returns the right type of tensor when it is called on an input?

[2017-09-14 05:38] zyavrik commented on #17
I can see the issue in Tensorflow 1.4dev.

[2017-09-15 03:12] XiminLin commented on #247
I experience the similar problems here. I was trying to merge CarliniWagnerL2 attack in attacks.py into examples/nips17_adversarial_competition/sample_attacks.

I got the error when I keep the SessionMonitor() the same as attack_fgsm.py. However, I was getting error like uninitialized variables... Like Below

    INFO:tensorflow:Restoring parameters from inception_v3.ckpt
      INFO:tensorflow:Res

[2017-09-15 04:03] rwightman commented on #247
@XiminLin: The .sess member of the Attack class is None, not your own. You need to create the session and pass it to the attack class as in the test_attack, TestCarliniWagnerL2 or the MINST examples...

[2017-09-15 04:19] ajing commented on #247
@npapernot @XiminLin

I think I solve this problem by:

1. use tf.Session() instead of tf.train.MonitoredSession()
2. pass session variable when initializing the attack

But the gradient graph calculation seems to take quite some time. I am considering saving it as a graph and load the graph from the file.

Thanks for helping!

[2017-09-15 15:50] XiminLin commented on #247
Seems that it solves my problems as well. But it takes too long to run... Thanks for helping

[2017-09-15 21:19] #221 closed

[2017-09-18 18:01] goodfeli opened #265 "Kaggle user reports a bug in FGSM when using uint8 images"
https://www.kaggle.com/c/nips-2017-non-targeted-adversarial-attack/discussion/39626#222159

[2017-09-20 12:57] AngusG commented on #17
A recent Travis build for #266 -- Python 2.7/TensorFlow 1.1.0 turns up a similar error:

`Exception AttributeError: "'NoneType' object has no attribute 'TF_NewStatus'" in <bound method` `Session.__del__ of <tensorflow.python.client.session.Session object at 0x7f95ad07c610>> ignored`

It looks like the issue is well known here: https://github.com/tensorflow/tensorflow/issues/8652

[2017-09-20 16:19] npapernot commented on #17
The issue on the tensorflow tracker seems to imply that the problem only occurs when users imported Keras.

[2017-09-20 16:20] npapernot commented on #17
It appears that there is a fix but it has not been merged into TF yet.

[2017-09-20 21:35] npapernot opened #269 "backprop_through_attack flag in mnist tutorial seems to be stoping gradients before adversarial training is defined"

[2017-09-20 21:45] #247 closed

[2017-09-20 23:30] goodfeli commented on #253
@npapernot  and I discussed this today during the hackathon. Our current state of knowledge is: TensorFlow isn't deterministic so we won't be able to make CleverHans completely deterministic. There are still some things we could do to make CleverHans more deterministic, like set eigen to be single threaded.

[2017-09-20 23:51] npapernot commented on #225
Just wondering: do you already have code for this or is this more like a feature request?

[2017-09-21 01:39] carlini commented on #225
I have code that does this sitting somewhere, yeah.

[2017-09-21 05:09] npapernot commented on #269
Closed by 1ddf7ccf952d0048807b988644068d60cf9fd55e

[2017-09-21 05:09] #269 closed

[2017-09-21 05:10] #242 closed

[2017-09-24 19:06] gongzhitaao commented on #116
In the `test_attacks.py`, where is the `sess.run(tf.global_variables_initializer())`?

[2017-09-24 19:28] npapernot commented on #116
For instance here: https://github.com/tensorflow/cleverhans/blob/master/tests_tf/test_attacks.py#L461

[2017-09-25 19:19] AngusG commented on #225
I agree that some kind of warning would be helpful here, I was expecting the untargeted JSMA attack to make the original class more wrong. I'd be willing to submit a PR for this once symbolic JSMA is merged.

[2017-09-25 20:10] npapernot commented on #225
It looks like we should standardize the expected behavior across all attacks to have consistent behavior in the simple misclassification (untargeted) mode as opposed to the source-target misclassification mode (untargeted). Given that the JSMA is a source-target attack by design, this will require some thinking to adopt a default behavior that is most natural.

[2017-09-25 21:26] carlini commented on #225
So the attack I have is targeted by design, and the untargeted attack is just a corresponding flip-the-objective type of thing. I think we can apply that to JSMA too. This is what I did some time earlier last year when I wanted JSMA to be untargeted. It would definitely be best to try out a few things and make sure that we pick the right choice though.

Let me simplify notation for github since it

[2017-09-26 03:52] npapernot opened #276 "Create better tests for the MadryEtAl attack"
@fartashf is working on this.

[2017-09-26 03:52] npapernot opened #277 "Move clip eta to abstract Attack class"
It might make sense to move the method `clip_eta(self, eta)` defined in the Madry et al. class to the abstract Attack class since most attacks need this clipping step at some point.

[2017-09-26 03:58] goodfeli commented on #277
I think we should keep the `Attack` class as close to abstract as possible, but we could maybe put a `clip_eta` function in `utils_tf.py`.

[2017-09-26 19:44] #277 closed

[2017-09-26 23:27] npapernot commented on #265
Based on the Kaggle discussion, it seems that the error is due to converting the images back from floats to uint8 after having ran the attack; rather than during the attack itself (which is computed on floating point values). Correct me if I'm wrong.

[2017-09-26 23:31] #265 closed

[2017-09-27 02:59] avsanjay opened #280 "pyfunc issues a weird error on cpu on a windows machine : help needed"
error in this function
        def cw_wrap(x_val, y_val):
            return np.array(attack.attack(x_val, y_val), dtype=np.float32)
        wrap = tf.py_func(cw_wrap, [x, labels], tf.float32)

py_func not returning tensor
tensorflow.python.framework.errors_impl.UnknownError: AttributeError: 'NoneType' object has no attribute 'run'
	 [[Node: PyFunc = PyFunc[Tin=[DT_FLOAT, DT_FLOAT], Tout=[DT_FLOAT

[2017-09-27 03:08] npapernot opened #281 "check model load / save functions"
remove FLAGS from `utils_tf.py`

[2017-09-27 03:53] npapernot commented on #280
Did you check that you are giving a valid session to the Attacks class?

[2017-09-27 23:21] avsanjay commented on #280
yes that was the issue. a valid session resolves it. thank you.

[2017-09-27 23:21] #280 closed

[2017-10-05 23:05] yenchenlin opened #292 "Inconsistency between tutorials"
I found that `mnist_tutorial_cw.py` and `mnist_tutorial_jsma.py`use function `generate_np` although `mnist_tutorial_tf.py` use `generate` to create adversarial examples.

Though this is rather minor, I wonder is it mean to be like this?

[2017-10-10 22:54] carlini commented on #292
The reason it is done this way is because the tf tutorial uses the fast gradient sign attack -- something that is expressed purely in tensorflow. Both JSMA and CW use py_func wrappers, it makes more sense to talk about passing in and receiving numpy arrays. (Or, that's what I assume the reason is. I just copied the JSMA code to get the CW tutorial.)

[2017-10-12 19:39] #292 closed

[2017-10-13 21:15] goodfeli commented on #257
We think this doesn't matter now that the competition is over. Also, we think competitors were able to use pytorch using their own custom containers.

[2017-10-13 21:15] #257 closed

[2017-10-18 06:51] iamgroot42 opened #300 "ElasticNetMethod throws error if amount of data not perfectly divisible by batch size"
[This](https://github.com/tensorflow/cleverhans/blob/master/cleverhans/attacks_tf.py#L943) line selects 'batch_size' number of examples. However, the batch size is defined for the class object and because of tensor value substitution, an error gets thrown if the variables gets a smaller batch.

For example, if the batch size is 64 and the function is called with 72 samples, the second iteration of

[2017-10-18 08:22] iamgroot42 commented on #300
Fixed in https://github.com/tensorflow/cleverhans/pull/301

[2017-10-18 12:54] yenchenlin commented on #292
Thanks!

[2017-10-19 17:05] jackalhan commented on #17
I am also getting this error while trying to save my weights.

Exception ignored in: <bound method BaseSession.__del__ of <tensorflow.python.client.session.Session object at 0x7f711d56b7b8>>
Traceback (most recent call last):
  File "~/venv/lib/python3.5/site-packages/tensorflow/python/client/session.py", line 701, in __del__
TypeError: 'NoneType' object is not callable

[2017-10-19 17:13] jackalhan commented on #17
And the issue happened in the following session.py block

def __del__(self):
    # cleanly ignore all exceptions
    try:
      self.close()
    except Exception:  # pylint: disable=broad-except
      pass
    if self._session is not None:
      # We create `status` outside the `try` block because at shutdown
      # `tf_session` may have been garbage collected, and the creation of a
      # statu

[2017-10-22 20:39] yenchenlin commented on #281
Hello @npapernot ,

It seems that now the only FLAGS in `utils_tf.py` exists in function `tf_model_load`, and this function is only called in `mnist_tutorial_cw.py`.

I deleted the FLAGS in function `tf_model_load` and confirmed that `mnist_tutorial_cw.py` still works fine. Does it mean we can simply add a deprecated message in function `tf_model_load` for FLAGS and completely delete FLAGS from `u

[2017-10-22 23:33] npapernot commented on #281
Yes, we could deprecate the logic of this if statement https://github.com/tensorflow/cleverhans/blob/master/cleverhans/utils_tf.py#L276 and require that the `file_path` argument be supplied.

[2017-10-26 19:11] nottombrown commented on #300
@iamgroot42 - It looks like you closed #301. Do you want to close this issue also?

[2017-10-27 05:28] iamgroot42 commented on #300
@nottombrown no; the issue very much exists. My PR had some conflicts and I don't have the bandwidth to look into it right now. I'll be submitting another PR with the fix soon.

[2017-10-31 19:23] npapernot opened #306 "add CIFAR10 tutorial in TF2"
This might require making some changes to the library to support this new mode.

[2017-11-01 07:15] KranthiGV commented on #306
@npapernot
Is there any suggested reading/code samples you suggest to look into?

[2017-11-01 12:17] npapernot commented on #306
Nothing in mind but I will post resources here if I find any.

[2017-11-02 15:20] yenchenlin commented on #306
Hello @npapernot ,

I wrote an easy demo of using FGSM to attack MNIST model [here](https://github.com/yenchenlin/adversarial-example-tf-eager/blob/master/mnist_tutorial_tf_eager.ipynb).

Let me know if this is what you referring to. If so, I will make the code become compatible with cleverhans and submit a PR.

[2017-11-02 17:32] npapernot commented on #306
Yes @yenchenlin this is what we are looking for, but if you could adapt the code to use existing CleverHans library functions, that would be better. It might make sense to start a thread on the cleverhans-dev mailing list to make sure that design choices are made collectively if you need to make modifications to the APIs of the CleverHans library. Thank you so much!

[2017-11-02 17:59] yenchenlin commented on #306
Hello @npapernot I'll start to adapt my code and open threads on the mailing list if needed, thanks!

[2017-11-03 12:05] vinayprabhu opened #307 "Issues with Keras trained model and the Carlin-Wagner L2 attack"
I have not been able to successfully generate adversarial examples on the MNIST dataset when the model is trained in Keras.
Quite possibly I am doing something rather silly here.

The jupyter notebook highlighting this issue is here:

https://github.com/vinayprabhu/Lyapunov_defense/blob/master/MNIST_CW_Fail_Keras.ipynb

Also, cw_params = {'binary_search_steps': 15,
             'y_target': adv_ys,

[2017-11-03 16:57] goodfeli commented on #307
I haven't run the ipython notebook. What specifically goes wrong?

[2017-11-03 18:20] vinayprabhu commented on #307
For the MNIST  architecture and the specific image examples, (in the examples), 'Successfully generated adversarial examples on 100 of 100 instances' was a given.
However, the number of 'Successfully generated adversarial examples' dramatically drops when the model is trained in Keras and imported into TF.

With, the CW-parameters being set at:

cw = CarliniWagnerL2(model, back='tf', sess=sess)
cw

[2017-11-04 12:55] ariewahyu commented on #247
I still got the same error as @XiminLin
Can you show your working code?

[2017-11-10 03:32] georgiazhang opened #311 "How to get the genereated adversarial exmaples ?"
Hi, I'm new to the Cleverhans, recently I just study my first program mnist_tutrial_tf.py.
But I still get no idea about the specific phases of generation and attacking.
Can anyone tell me how can I get the adversarial examples (the images) which can help me understand the process more clearly?
Thank you very much!

[2017-11-10 04:35] malcolmregan opened #312 "Targeted FGSM"
Has targeted FGSM been shown to reliably work?

[2017-11-10 19:42] goodfeli commented on #311
Hi Georgia,

Which of the following do you need help with?

- How to get TensorFlow tensors representing adversarial examples
- How to get NumPy ndarrays containing specific adversarial examples
- How to view an ndarray as an image on your monitor
- How to save an ndarray as an image file

-Ian

[2017-11-10 19:42] #311 closed

[2017-11-10 19:48] goodfeli commented on #312
Do you have a minimal example of it failing?

For people working on CH, maybe regard this issue as "Verify that targeted FGSM has adequate tests and if not add them"

[2017-11-10 22:38] goodfeli commented on #225
I'm a bit confused by the use of "more-wrong" and "less-wrong" in this thread. Do you mean "less probable" and "more probable" respectively?

[2017-11-10 22:40] goodfeli commented on #276
Completed in #305

[2017-11-10 22:40] #276 closed

[2017-11-10 22:47] npapernot commented on #61
Closed by #198

[2017-11-10 22:47] #61 closed

[2017-11-10 23:00] npapernot commented on #307
It seems you have commented out a line that wraps the Keras model into a CleverHans model. Let us know if this is the source of the problem.

[code]

[2017-11-10 23:00] david-berthelot commented on #312
There's already a unit test example for targeted FGSM:
https://github.com/tensorflow/cleverhans/blob/master/tests_tf/test_attacks.py#L158

Feel free to reopen if you can provide a reusable test case.

[2017-11-10 23:04] #307 closed

[2017-11-10 23:09] npapernot commented on #300
Did you make progress on this? It might make sense to use `batch_eval` or adapt the logic that it implements: https://github.com/tensorflow/cleverhans/blob/master/cleverhans/utils_tf.py#L286

[2017-11-10 23:37] goodfeli opened #313 "passing verbose=False to model_train actually shuts off all logging"
- The log level isn't raised after the function returns
- It isn't scope to the logger for that file

[2017-11-11 00:43] malcolmregan commented on #312
Thank you for the test, I will look at that.

Attached is a simple case demonstrating targeted FGSM failure. An MNIST model is trained similarly to  Cleverhans tutorials and then targeted FGSM is performed on examples.

The script prints the target that FGSM is trying to achieve and the class of the corresponding example. These two things rarely match.

The attached script runs from the cleverhans

[2017-11-11 00:48] goodfeli commented on #312
Can I ask you two debugging questions before we look into it ourselves?

1) Does untargeted FGSM work? If not, then maybe there's a problem with the way your model is integrated into CleverHans.

2) Does targeted BasicIterativeMethod with several iterations work? If so, then maybe your model is robust enough to resist FGSM.

[2017-11-11 01:02] vinayprabhu commented on #307
Thanks for the reply!
I had the KerasModelWrapper in the code before when it threw up errors. I will update this reply with the errors.

[2017-11-11 22:24] vinayprabhu commented on #307
![image](https://user-images.githubusercontent.com/7390549/32694090-d7a1eef6-c6eb-11e7-960f-b3876becd012.png)
@npapernot I get the following tensorshape error upon using the model wrapper:

###################################################################

[INFO 2017-11-11 22:22:09,677 cleverhans] Constructing new graph for attack CarliniWagnerL2
[DEBUG 2017-11-11 22:22:09,956 cleverhans] Runnin

[2017-11-19 02:20] gokul-uf opened #315 "model.Model is not an abstract class"
More of a nit-pick here,
model.Model has `__metaclass__ = ABCMeta` so I'm assuming that it's to be extended before use.

However, I installed `cleverhans` via `pip` and I am able to initiate an instance of `Model`.

This shows that the property is not implemented properly. I'm not sure what's the best way to do this,
but decorating the method we want to overload with `@abstractmethod` (cf. https:/

[2017-11-19 04:57] npapernot commented on #315
Yes, it would be great to have a PR to address these issues, you may want to send a quick email describing the changes you'll make to `cleverhans-dev@googlegroups.com`, I just accepted your membership request

[2017-11-19 05:05] gokul-uf commented on #315
Great, I'll write it up. I'm new to cleverhans, so could you let me know which methods *must* be overloaded? Looks like `get_layer_names` and `fprop` are the only candidates.

[2017-11-20 18:24] gokul-uf commented on #315
Closing after discussions on cleverhans-dev

[2017-11-20 18:24] #315 closed

[2017-11-22 15:09] sgfin opened #316 "Best practices for data preprocessing prior to adversarial image generation?"
When building neural nets based on ImageNet networks (e.g. ResNet) via transfer learning, my understanding is that best practice is to use apply the same preprocessing function that was employed during the training of the original networks. In Keras, for example, the preprocessing function is available as `keras.applications.resnet50.preprocess_input,` which can be called on new images prior to tr

[2017-11-22 15:19] cihangxie commented on #316
Normally we will use the first option. After "de-processing", that is the adversarial example you want. You can refer to the load_images() & save_images() at  cleverhans/examples/nips17_adversarial_competition/sample_attacks/fgsm/attack_fgsm.py

For the second option, neural network will not recognize the image correctly, thus the whole process is invalid.

[2017-11-22 16:45] #316 closed

[2017-11-22 22:10] #313 closed

[2017-11-22 22:41] catherio commented on #183
@npapernot What's the plan to address this issue? It looks like #176 didn't address this?

[2017-11-22 22:43] catherio commented on #253
@goodfeli Can you clarify what work still has to be done now that #308 has been merged?

[2017-11-22 22:44] catherio commented on #281
@npapernot Is this issue resolved now that #303 has been merged?

[2017-11-22 23:05] npapernot commented on #281
I don't think this is resolved completely, I believe Aurko is working on it though.

[2017-11-22 23:07] npapernot commented on #183
I made a note to take another look a few days ago but I did not get a chance to look at it yet.

[2017-11-22 23:08] npapernot commented on #253
David would be the person to talk to about this :) My understanding is that there is little chance we will get this solved without making changes to tensorflow

[2017-11-23 14:24] rittikaadhikari opened #317 "Unable to run the attacks and defenses?"
![image](https://user-images.githubusercontent.com/13933251/33177200-cb2ab282-d02f-11e7-8402-90d60b60091f.png)

Whenever I try to run the run_attacks_and_defenses.py or the run_attacks_and_defenses.sh, I end up getting stuck at "Restoring parameters from inception_v3.ckpt" -- would anyone know how I can get past this point?

Thanks

[2017-11-24 05:02] sgfin commented on #316
Thanks so much for the reply.  I had some mixed results implementing the "de-processing" step -- which is what had led me to ask this question in the first place -- but I think I may have finally debugged it.  For the benefit of any future passer-bys, the issue was that naive "de-processing" code (as implemented in the example shown above) will run into numerical issues if the original images are

[2017-11-30 14:20] meldron commented on #17
I have got the some problem with Tensorflow + Keras.

Tensorflow: 1.3.0
Keras: 2.0.6

[code]

[2017-12-04 13:57] anasvaf commented on #17
I am still getting the same error with Tf: 1.4.0 and Keras 2.1.2

[2017-12-06 18:17] KristinLieber opened #321 "Error in jacobian_augmentation in attacks_tf"
I think line 456 shouldn't have the "2*".  It looks like it is writing over every other x value in a stacked file of 2 copies of x values.  That means it is keeping two copies of every other x.  Also, the success rate on adversarial examples goes up when you increase the epochs, which is counter-intuitive.

I made this change and the code is running the way it should.  The oracle has a harder time

[2017-12-09 11:56] mvrozanti commented on #17
TF 1.4.0 and Keras 2.0.8

[2017-12-11 18:27] goodfeli commented on #253
Which David?

I think the main thing to do is to run the determinism tests with Eigen configured to be single-threaded. I'm not sure whether there are more sources of non-determinism in TensorFlow besides that.

CleverHans will probably always be non-deterministic during real use because the underlying linear algebra primitives are non-deterministic, but we can write unit tests that check that Cle

[2017-12-11 18:31] goodfeli commented on #321
Thank you for reporting this! Great catch

[2017-12-11 21:39] goodfeli opened #324 "clip_eta will give NaN for ord=2 if the norm of eta is 0"

[2017-12-11 22:18] npapernot commented on #253
This would be @david-berthelot :)

David can confirm, but that's exactly what he found out too I believe

[2017-12-11 22:30] david-berthelot commented on #253
I have narrowed the problem down to a trivially small test case. The problem was consecutive calls to tf.Session() seemed to have their internal seed (it's been 2 weeks I looked at it, didn't have time since then so I'm not entirely clear).

[2017-12-12 10:11] anasvaf commented on #324
Did you solve this problem? I get something similar. Do you think it has to do with tf.square(eta) inside the tf.reduce_sum?

[2017-12-12 17:06] goodfeli commented on #324
It's because when the norm of eta is zero, the normalization step divides by zero

[2017-12-12 17:12] goodfeli commented on #17
It doesn't seem to have negative consequences besides an annoying amount of text.

We don't need more reports that it's happening here in the CleverHans repository.

Feel free to comment on the open issue for TensorFlow: https://github.com/tensorflow/tensorflow/issues/8652

All we can do in CleverHans is wait for the source of the issue to be fixed.

[2017-12-12 17:19] anasvaf commented on #17
@goodfeli thanks for the response!
The only annoying issue is that I am trying to save the classification results in a csv file for some audio clips and it doesn't reach that line. However, I get the results in the terminal.
I figured I have to restart Atom in my case and open a new terminal to re-run the code correctly

[2017-12-12 17:28] goodfeli commented on #17
If you're having trouble with code not executing, open a new issue. This issue is just to track the weird error message, which seems to originate external to CleverHans.

[2017-12-13 14:38] #253 closed

[2017-12-15 22:48] #116 closed

[2017-12-15 22:51] npapernot commented on #312
@malcolmregan did you get a chance to take a look again?

[2017-12-15 22:57] goodfeli commented on #317
@AlexeyKurakin ?

[2017-12-15 22:59] goodfeli commented on #312
Without more concrete evidence that this is a bug, I'm going to assume this just means targeted FGSM is not a very strong targeted algorithm against this model. Feel free to reopen if you find more concrete evidence that this is a software bug.

[2017-12-15 22:59] #312 closed

[2017-12-15 23:02] AlexeyKurakin commented on #317
Could you provide some additional information about the issue.

1) Did you modify the code of the attack? I yes - does it work fine with unmodified version?

2) How long did you wait? It looks like you running it on CPU, and it's quite slow to run inception model on CPU. So it might be the case that your model is just running and you need to wait longer.
Restoring parameters from the checkpoint ma

[2017-12-15 23:03] npapernot commented on #317
Thanks Alex, feel free to reopen the issue @rittikaadhikari if that did not solve it for you.

[2017-12-15 23:03] #317 closed

[2017-12-22 17:19] #324 closed

[2018-01-08 01:10] chbrian opened #333 "When will the test dataset for nips17_adversarial_competition be available?"

[2018-01-09 23:21] huntergregal opened #335 ""Tensor name not found" in Example attacks"
Trying to run the target class example using the inception_v3.ckpt checkpoint
(cleverhans/examples/nips17_adversarial_competition/sample_targeted_attacks/iter_target_class/) but getting this error:

[code]

Am also receiving this same error when trying other attacks as well

[2018-01-12 22:43] #321 closed

[2018-01-12 23:17] goodfeli commented on #333
@AlexeyKurakin ?

[2018-01-12 23:21] goodfeli commented on #300
@ysharma1126 can you implement the fix?

[2018-01-12 23:22] goodfeli commented on #183
@npapernot : was this fixed by #322 ?

[2018-01-13 03:38] ysharma1126 commented on #300
This is an issue shared by the C&W attack, so I'm adding @carlini to this thread.

Personally, I don't feel this issue to be very significant as I don't believe being constrained to set the batch_size to a number perfectly divisble by num_samples (for Non-Targeted Attack) or num_samples*num_classes (for Targeted Attack) makes it difficult to find a batch_size which works for the user's desires. Ad

[2018-01-13 07:35] iamgroot42 commented on #300
@ysharma1126 it's not about finding a batch_size per se. The current code expects the number of input samples to be **always** divisible by the provided batch size, which is a very bad way to go about it (what if I have 7919 examples?). Setting the batch size to 1, in this case, would be very slow, and the only other batch size you could set is 7919 itself, which I doubt would fit on a GPU for any

[2018-01-13 08:35] npapernot commented on #300
Thanks I merged the temporary fix (setting the batch_size to 1) in the meanwhile

[2018-01-13 08:39] carlini commented on #300
Something I've done as a workaround: set the batch size to something reasonable (~100), and pad the input by duplicating the last item so that it's a multiple of the batch size. I can submit a fix for this I think by getting the dynamic size of the batch at runtime.

[2018-01-13 08:39] npapernot commented on #183
Yes, I might rewrite the tutorial later to show how transferability is affected by the different architecture choices (e.g., including convolutions vs. not including any). But I have a note in my todo list to do this, it's not necessary to keep the issue open.

[2018-01-13 08:39] #183 closed

[2018-01-13 15:41] ysharma1126 commented on #300
@iamgroot42 good points, yes for ease of use a fix should be made. Thanks for your efforts!

[2018-01-19 17:15] catherio commented on #306
Hi @yenchenlin - are you working on this? It would still be helpful for us, if you're still up for it!

[2018-01-19 17:23] catherio commented on #281
@royaurko Any updates?

[2018-01-19 17:33] catherio opened #339 "Build is currently failing with TENSORFLOW_V=1.4.1"
The build for https://github.com/tensorflow/cleverhans/pull/336 is currently failing with TENSORFLOW_V=1.4.1 but not TENSORFLOW_V=1.1.0. It looks like we need to update a dependency.

[2018-01-19 17:49] catherio opened #340 "Error in test_get_logits_over_interval (test_utils.TestUtils)"
The latest builds (with tf 1.1.0) are failing with the following error:
[code]

See https://travis-ci.org/tensorflow/cleverhans/jobs/330906885 (build for https://github.com/tensorflow/cleverhans/pull/336)

[2018-01-19 21:29] goodfeli commented on #340
Did the version of Keras change recently?
@royaurko any comment?

[2018-01-19 23:34] catherio commented on #340
`inbound_nodes` got renamed to `_inbound_nodes` as of https://github.com/keras-team/keras/commit/958239c621a6be037c5f8b30be9270310735f725#diff-fe3ca734e8421a17729d0b0ea4c800ba. What's the right way to proceed?

[2018-01-19 23:45] catherio commented on #340
Proposal: replace that line (which is the only use of _inbound_nodes) with a hasattr check and a deprecation warning, to avoid breaking folks who are still using older Keras

[2018-01-20 10:41] dribnet commented on #133
Narrator: the bug likely responsible for @leviswind's observation was later found (#321)

[2018-01-23 02:45] catherio commented on #335
@npapernot This has been sitting for a little while, are you up to take a look or triage/delegate?

[2018-01-23 02:50] npapernot commented on #335
@AlexeyKurakin would be the best to deal with this issue, he merged most of the code and checkpoints for the adversarial competition.  From the error, it looks like the checkpoint and model definition don't match.

[2018-01-23 02:51] catherio commented on #340
closed as of #343

[2018-01-23 02:51] #340 closed

[2018-01-23 02:52] catherio commented on #339
closed as of #343

[2018-01-23 02:52] #339 closed

[2018-01-23 05:06] cihangxie commented on #335
@huntergregal I guess the error is that you are using the images with smaller size for the attack (i.e., your image size is smaller than 299x299).

Your variable name is InceptionV3/AuxLogits/Conv2d_2a_3x5, while the default name stored at checkpoint is InceptionV3/AuxLogits/Conv2d_2a_5x5. You can take a look at
https://github.com/tensorflow/models/blob/master/research/slim/nets/inception_v3.py/#L

[2018-01-25 17:34] goodfeli commented on #335
@huntergregal I'm assuming @cihangxie 's fix works for you. If not feel free to reopen the issue

[2018-01-25 17:34] #335 closed

[2018-01-26 00:51] #333 closed

[2018-01-27 23:41] dynamicwebpaige opened #348 "Convert .py tutorial files into Jupyter notebooks."
Would there be any interest in having the cleverhans .py files converted into Jupyter notebooks?

It would assist with readability (HTML-exports and friendly formatting on GitHub!), and also give an opportunity to add annotations and illustrations rather than in-line comments.

[2018-01-28 08:10] npapernot commented on #348
I would prefer to keep the files as .py so new users have less overhead to
run the tutorials, but I'm open to having new tutorials in notebooks

On Sun, Jan 28, 2018, 12:41 AM Paige Bailey <notifications@github.com>
wrote:

[2018-01-28 17:26] blgnksy opened #349 "The model argument should be an instance of the cleverhans.model.Model class."
Hi,
When I call the FastGradientMethod an error rises that : "The model argument should be an instance of the cleverhans.model.Model class."

<ipython-input-8-7bdd93be4f06> in <module>()
        5     model = InceptionModel(num_classes)
        6
----> 7     fgsm  =  FastGradientMethod(model)

What can I do?
Best,
B.A.

[2018-01-29 18:16] goodfeli commented on #349
Wrap your InceptionModel class in a cleverhans.model.Model class. Check out the CleverHans tutorials for examples.

[2018-01-29 18:16] #349 closed

[2018-01-29 21:04] blgnksy commented on #349
I wrap my InceptionModel with the Model class. But Another error rises that "AttributeError: 'module' object has no attribute 'model'" I read the tutorials. I used the same manner, but unable to solve it.

[2018-01-29 21:05] goodfeli commented on #349
We'd need to see your code and a traceback to be able to help with that

[2018-01-29 21:06] npapernot commented on #349
This seems to be a problem with the InceptionModel class since ` cleverhans.model.Model` does not have a model attribute

[2018-01-29 21:11] blgnksy commented on #349
This is my model class:
[code]
And the code par t to attack the network:

[code]

[2018-01-29 21:14] goodfeli commented on #349
Can we also see the stack trace?

[2018-01-29 21:24] goodfeli commented on #349
Do you know why your trace isn't going inside FastGradientMethod and isn't including line numbers within the file?

[2018-01-29 21:28] blgnksy commented on #349
Unfırtunately, I don't know. But I will try to find it.

[2018-01-30 06:27] blgnksy commented on #349
Hi,
How should I import the module and use the Model and Attacks classes?  I imported the module the way in tutorials but unable to use the model and attack class. Am I missing something?

I can use attack class but unable to use model class if I import like this:
`from cleverhans.attacks import FastGradientMethod`

If I use these imports
[code]
Error:
[code]

[2018-01-30 06:56] npapernot commented on #349
One easier and cleaner way might be to rewrite your inception model class to inherit directly from the CleverHans model class since it's already only a wrapper for the slim model. You can look at the wrapper we included for keras in the utils_keras.py file for some guidance.

[2018-01-31 13:31] ricvo opened #350 "possible gradient underflow in FastGradientMethod/BasicIterativeMethod"
It seems that the perturbations computed by the FastGradientMethod (FGM) and BasicIterativeMethod attacks are sometimes equal to zero.

In a first preliminary test (not in cleverhans), this problem was due to the overconfidence of the network. The cross-entropy is thus very flat and the gradient very small, this created an underflow problem.
We solved this passing to float64 precision in tensorflo

[2018-01-31 15:11] goodfeli commented on #350
Do you have a minimum working code example?

A common cause of this problem is passing probabilities where the attack expects logits. Functions used to compute probabilities, such as the softmax and sigmoid function, often have strong saturation.

It is also possible in theory for the cross-entropy function itself to saturate and maybe that's what you've encountered, but I haven't observed that be

[2018-02-02 11:39] ricvo commented on #350
Thanks goodfeli for the quick answer.
I tried to pass logits instead of probs as you suggested, specifying the keyword 'logits' to the CallableModelWrapper. Unfortunately this did not solve the issue...

We trained a network of 784-200-10 with 100 epochs on MNIST training set. I also attach the weights if you want to give it a try... (W0.npy, b0.npy, W1.npy, b1.npy).
X_test is the test set of MNIS

[2018-02-03 07:48] butterl commented on #17
get same kind of error with：

tensorflow:1.5.0
keras:2.1.3

[code]

[2018-02-03 16:39] npapernot commented on #348
I'm closing this for now as this is not an issue, but feel free to email `cleverhans-dev@googlegroups.com` if you're looking to put together a notebook. Thanks!

[2018-02-03 16:39] #348 closed

[2018-02-04 18:40] iamgroot42 commented on #300
Implemented a fix in https://github.com/tensorflow/cleverhans/pull/353

[2018-02-04 23:56] gokul-uf opened #354 "Formatting Issues in cleverhans.readthedocs.io"
Small nitpick but the parameter lists in the docs for attacks is off.
For ex, :param eps: is not formatted correctly in most attacks and in `VirtualAdversarialMethod` the entire parameter list is incorrectly formatted.

[2018-02-05 09:55] iamgroot42 commented on #350
If switching to flaot64 didn't change anything, then isn't it most likely some other problem?

[2018-02-05 14:16] ricvo commented on #350
Dear iamgroot42, thanks for the answer.
Focusing on the fgsm algorithm, the percentage of not changed images with cleverhans (45%) and the accuracy (50%) are very similar to the code implemented directly in tf with float32.
When switching to float64 in tf the problem is solved. That is why I believe the float32 is the issue.

Now, I managed to solve the problem changing float32 to float64 in attac

[2018-02-05 14:17] iamgroot42 commented on #350
Agreed. Letting the user specify a placeholder would be the best workaround for this.

[2018-02-05 19:24] iamgroot42 commented on #300
Issue fixed.

[2018-02-05 19:24] #300 closed

[2018-02-05 19:55] goodfeli commented on #350
The line you changed (53 of attacks_tf.py) isn't actually involved in this code snippet. `y` is provided by `get_or_guess_labels` in attacks.py

[2018-02-05 20:08] goodfeli commented on #350
I reproduce this problem, but for both float32 *and* float64

[2018-02-05 20:08] goodfeli commented on #350
BTW, if you want to make your placeholder, or any other kind of input tensor, just use the `generate` method rather than `generate_np`.

[2018-02-05 20:50] goodfeli commented on #350
OK, I had to edit the code in a few more places to make everything float64. With everything successfully float64, I am able to reproduce the problem at float32 and then make it go away by switching to float64.

[2018-02-05 20:56] goodfeli commented on #350
3.7 entries of the gradient on the input get rounded to 0 for float32, none for float64

[2018-02-06 07:51] ricvo commented on #350
Yes, that seems to be exactly the problem I mentioned!

So, I understand from your answer you suggest me to use ```generate```. I see that in this way I can provide my own placeholder for x, and actually I could also modify ```construct_graph``` to get an extra argument, the type of the x placeholder, in this way I do not need to specify in my external code the construction of the feedable and fix

[2018-02-06 17:17] goodfeli commented on #350
I looked into this a bit more yesterday.

I didn't realize that the machinery for generate_np interfered with the machinery for generate so much. I'm pretty annoyed about that, and I think the solution might just be to remove generate_np.

Another potential solution would be to try to get TensorFlow to support a floatX feature similar to what Theano has. In the meantime we could make a cleverhans.

[2018-02-06 17:17] goodfeli commented on #350
I'm going to start a conversation on cleverhans-dev

[2018-02-06 17:44] goodfeli commented on #350
Update: it looks like generate_np doesn't actually interfere with generate, though generate_np itself doesn't support float64.

I suggest just sending small PRs like this one whenever you encounter something that doesn't support float64: https://github.com/tensorflow/cleverhans/pull/356

[2018-02-06 17:47] goodfeli opened #357 "generate_np doesn't support variable dtypes"
The dtypes of most tensors in the `generate_np` caching system are hard-coded to float32. If you pass in a float64 tensor, nothing sensible happens. This is a restriction compared to the `generate` interface.

I have never been a fan of `generate_np` and would be in favor of just removing it since it's one of the more difficult features to maintain and doesn't add any actual adversarial example fu

[2018-02-06 17:47] goodfeli commented on #357
cc @npapernot @carlini

[2018-02-07 15:29] npapernot commented on #357
I don't use generate_np much so I don't have a strong opinion either way, but transitioning to eager mode would be a good compromise for the use cases I can think of

[2018-02-08 17:25] ricvo commented on #350
Ok, sure

Thanks for the feedback,
I will try to send some small PRs like the one you showed in the next days

[2018-02-08 18:20] SaiRaj07 opened #358 "Can I use Cleverhans (Attacks such as FGSM)to generate adversarial examples for data that is not images but just some numeric integers?? I have to generate adversary examples for High performance counter data for malware detection"

[2018-02-08 18:25] goodfeli commented on #358
This pull request ( https://github.com/tensorflow/cleverhans/pull/323 ) will make it possible, but you should be aware that we now know that attack isn't strong enough ( https://github.com/anishathalye/obfuscated-gradients ). We will hopefully have the stronger attack added to CleverHans soon once the code for it is released.

[2018-02-09 04:42] michaelzhou0723 opened #359 "A minor bug in tutorial model"
On line 102 of tutorial_models.py https://github.com/tensorflow/cleverhans/blob/master/cleverhans_tutorials/tutorial_models.py

I think it should be output_shape[0] = batch_size

[2018-02-09 05:09] npapernot commented on #359
Good catch, this does not seem to affect the code given that input and output shape variables are not used in the ReLU that follows the Conv2D layer. Would you mind looking through the file and making a PR?

[2018-02-09 05:39] michaelzhou0723 commented on #359
No problem :)

[2018-02-11 04:17] michaelzhou0723 opened #361 "cannot initialize an attack class with callable function"
Take `FastGradientMethod` as an example, its `__init__` method checks and wraps any callable function with `CallableModelWrapper`. However it's done after `super(FastGradientMethod, self).__init__(model, back, sess)`, which raises an exception if the model argument is not an instance of `Model` class.

A simple modification would be exchanging their order of execution in every subclass of Attack.

[2018-02-13 15:12] Federico-Dignazio commented on #17
Exception ignored in: <bound method BaseSession.__del__ of <tensorflow.python.client.session.Session object at 0x7f5b4bcab9e8>>
Traceback (most recent call last):
  File "/home/rps/.local/lib/python3.5/site-packages/tensorflow/python/client/session.py", line 696, in __del__
TypeError: 'NoneType' object is not callable

Same error here.
This happens to me ONLY when I run a script while the same scr

[2018-02-16 02:13] catherio commented on #361
Thanks for the PR!

[2018-02-16 02:13] #361 closed

[2018-02-16 02:37] catherio commented on #354
![image](https://user-images.githubusercontent.com/245037/36291049-9d0ac2d0-127d-11e8-9f77-2ea8d3252a41.png)

I think we just need more newlines.

[2018-02-16 02:42] catherio commented on #225
@npapernot What's the status of this issue? It has been open for a long time without activity. Do we need to more actively find someone to take the baton on this? Maybe prioritize it at the next work session?

[2018-02-16 13:17] npapernot commented on #225
I don't think anyone is working on it but I think it's OK to leave this issue open unless we would like to keep ideas for enhancement somewhere else? For instance in a MD file at the root of the repo or a wiki page so we don't clutter the issue tracker?

[2018-02-16 17:56] #354 closed

[2018-02-16 17:59] goodfeli opened #366 "Add a docstring linter to travis tests"
To make sure issues like https://github.com/tensorflow/cleverhans/issues/354 don't repeat, we could add a docstring linter to the travis tests.

There's one set up for Sphinx already in pylearn2.devtools. We already copied the PEP8 checker from that module so it shouldn't be too much work to also copy the docstring linter.

[2018-02-16 18:39] catherio commented on #225
Seems fine, just going to mark it as "help wanted" for "nobody has the baton"

[2018-02-16 18:41] catherio commented on #306
Hi @yenchenlin - since we haven't heard from you, I'm going to re-mark this as "help wanted", but we would definitely still appreciate a contribution from you if you are interested.

[2018-02-16 18:51] yenchenlin commented on #306
Hello @catherio , sorry for the late reply. Now I have time to work on it! I was busy in the last few months for grad school 😅.

[2018-02-17 00:25] goodfeli commented on #357
SGTM

[2018-02-17 01:33] yenchenlin commented on #366
Hello @goodfeli , I'm happy to help on this.

Just want to confirm, it seems like you also copied the docstring linter [here](https://github.com/tensorflow/cleverhans/blob/master/cleverhans/devtools/tests/docscrape.py#L775-L830).

Maybe we just need to remove the [temporarily disabled docstring test](https://github.com/tensorflow/cleverhans/blob/master/cleverhans/devtools/tests/test_format.py#L78-

[2018-02-17 01:37] goodfeli commented on #366
That would be great, thanks!

I'm not 100% sure I've copied everything needed by the disabled test, so there might be something more than just removing the linear that disables it.

[2018-02-17 01:53] npapernot commented on #359
Closed by #360

[2018-02-17 01:53] #359 closed

[2018-02-17 01:56] npapernot commented on #358
In addition to the attack Ian is referring to, you can also use the JSMA (https://github.com/tensorflow/cleverhans/blob/master/cleverhans/attacks.py#L624) to generate adversarial examples if your input data is made up of numeric integers. You will have to set the step size accordingly however.

[2018-02-17 01:57] npapernot commented on #225
Thank you Catherine!

[2018-02-17 15:01] yenchenlin commented on #366
Got it.

By simply enabling the docstring test, I get the following output:
[code]

Since there are 400+ violations in total, I think we can

1. Fix some of the important files (e.g., attack API)
2 Add the remaining of them (e.g., NIPS competition 2017) to whitelists and fix them later

May I know your opinion?

[2018-02-17 18:17] npapernot commented on #366
Thanks for posting the result. I would be in favor of being more strict with the `cleverhans/` and `cleverhans_tutorials` folder than the `examples/` folder (and only have the linter on the first two folders). Note that right now we are already whitelisting the NIPS competition code from the pep8 checker that is running on all folders (main library in `cleverhans/`, tutorials in `cleverhans_tutori

[2018-02-18 16:21] yenchenlin commented on #366
Thanks for the reply. I've used the tests to fix some files' docstring. However, I need your inputs on docstring format design.

Here's part of the outputs (but representative) after running docstring tests:
[code]

It basically points out 3 problems:

1. We need module-level docstring for each file (tutorials part fixed in #367)
2. Current tests use keywords such as `Parameters` and `Returns` to

[2018-02-20 04:49] npapernot commented on #366
1. thanks for the PR
2. I think it's fine to use the keywords, I checked TF and it also uses keywords rather than the structure we currently follow.
3. I would prefer to add an exception to the test not to check the main function because these are always empty and just calling the tutorial function (unless it's more complicated to add an exception than adding a simple docstring to the main functio

[2018-02-26 15:04] BENZJ opened #368 "How use dropout in train model?"
I have read the  tutorials of MNIST, but I can't find how I can use dropout in my train model, because my model have used dropout function. Could you give me some example. Thank you

[2018-02-26 16:58] goodfeli commented on #368
What do you need to know specifically?

[2018-02-26 16:58] #368 closed

[2018-03-08 15:09] ValdezBalderas commented on #17
I get the error once every three runs or so, Tensorflow 1.5, Linux. This is the code:
[code]
Sometimes error:
[code]

[2018-03-09 17:07] goodfeli commented on #17
Since we know that this originates external to CleverHans, there is no need to submit further reports of it here. Follow the issue on the TensorFlow repository.

[2018-03-10 06:11] Jack-lx-jiang opened #372 "No Warning in model_train when train set does not contain all categories sample"
When there are not enough samples to contain all the samples, to_categorical() function will give a wrong category number with num_classes = None. It will result in the failure of model_train() function at train_step.run(feed_dict=feed_dict) without any warning.
I have encountered this problem when I use the black box attack with limited data set.
I think this could be improved by referring to mod

[2018-03-15 17:23] jmgilmer commented on #17
@goodfeli shall we close this issue then?

[2018-03-17 18:47] npapernot commented on #372
This is indeed an issue when there is not enough data. One fix for this could be to add a required argument with the number of classes, because if we are going to ask users to call `to_categorical` with the `model_predicts` tensor to get its shape, we might as well just ask users to provide the number of classes as an argument (it's simpler and clearer).

Would you be willing to put this fix toget

[2018-03-25 20:30] shreyashankar opened #376 "Tiny bug in adversarial patch notebook"
In `AdversarialPatch.ipynb`, the function `show_patch` takes one argument, but the API shows it as `show_patch()` and the function `load_patch` calls `show_patch()` incorrectly. Just FYI :-)

[2018-03-28 14:08] iamgroot42 opened #377 "Inclusion of Houdini based loss for better attacks"
Having read about [Houdini ](http://papers.nips.cc/paper/7273-houdini-fooling-deep-structured-visual-and-speech-recognition-models-with-adversarial-examples.pdf)and its success in various domains to construct adversarial samples, it would be great to have it in cleverhans.

[2018-03-28 22:58] goodfeli commented on #377
Yes, any PR is very welcome.

[2018-04-12 09:52] Lizenan1995 opened #381 "A problem about clipping the eta in Basic Iterative Method."
We will clip the eta in every iteration, but it seems that for ord = 1 or 2, the eta will access the bound eps directly.  In the other word, the l1 (or l2) norm of eta equals to eps after each iteration.
[code]
Maybe we just need clip the eta when it is out of bound,I'm not sure if this is a mistake or I misunderstood the algorithm. Thanks in advance.

[2018-04-12 21:37] goodfeli commented on #381
For reference, the code quoted is from here:
https://github.com/tensorflow/cleverhans/blob/a18f3319015cebc4a83dae3b7217019b5654f641/cleverhans/attacks.py#L404

I agree that it looks like a bug, and instead we should call the `clip_eta` function:
https://github.com/tensorflow/cleverhans/blob/master/cleverhans/utils_tf.py#L380

@AlexeyKurakin can you confirm?

[2018-04-12 21:37] goodfeli commented on #376
@nottombrown can you take a look?

[2018-04-12 23:32] nottombrown commented on #376
Solved by #383 - Thanks @shreyashankar !

[2018-04-12 23:32] #376 closed

[2018-04-12 23:42] nottombrown commented on #17
Closing this issue because it is outside the domain of CleverHans.

Here's the link to the open issue in Tensorflow:
https://github.com/tensorflow/tensorflow/issues/8652

[2018-04-12 23:42] #17 closed

[2018-04-12 23:49] nottombrown commented on #306
Hey @yenchenlin - Let us know if you're working on this and we can mark you as the owner.

[2018-04-13 19:57] AlexeyKurakin commented on #381
Yes, this is a bug.
I'll fix it today

[2018-04-15 02:24] #381 closed

[2018-04-17 18:53] goodfeli commented on #381
This was fixed by https://github.com/tensorflow/cleverhans/pull/387

[2018-04-18 12:03] aashish-kumar opened #391 "Color Images Adverserial distortions"
Hello,
I tried using the attacks to generate adversarial for Color Images but the attacks introduce color artifacts in the Images. Has there been work done toward generating adversarial without significant color artifacts?
Thanks

[2018-04-18 12:47] gokul-uf commented on #391
Could you give an example?
I've seen this happen when my epsilon was too large.

On Wed 18 Apr, 2018, 2:03 PM aashish-kumar, <notifications@github.com>
wrote:

[2018-04-18 12:51] aashish-kumar commented on #391
I tried JSMA and Carlini Wagner with default settings and FGSM with epsilon 0.3
Its working fine for grayscale Images but with Color Images the adverserial Noise is too apparent

[2018-04-18 17:09] AlexeyKurakin commented on #391
Could you show an example of color artifacts?

Sometimes color artifacts happen when you forget to clip an image values and then tried to save or show it.
For example, by default matplotlib assumes that all pixels of float32 image are in range [0; 1]. If any values are outside of this range then image will have weird color artifacts when shown.
If this is your problem then the solution is to clip

[2018-04-19 07:28] ricvo commented on #350
I can contribute on this, I will work on it and submit a pull request..
I have two questions, before I modify stuffs I want to be sure I fully understand the architecture so I will be able to properly test it:
1. could you point me to a minimal working example with **generate** of the code I pasted above where i was using generate_np instead? (the very simple one-layer network just for understandi

[2018-04-19 10:05] aashish-kumar commented on #391
@All The theta for gamma was set to 1.0 for JSMA attack which was resulting in uneven color changes in the adversarial Images. reducing it to 0.1 produced good attacks. Thanks

[2018-04-19 10:05] #391 closed

[2018-04-19 10:17] aashish-kumar opened #392 "Issue in File mnist_tutorial_jsma.py for multi-channel Images(Line: 159)"
[code]

to
[code]

[2018-04-19 16:25] npapernot commented on #350
Regarding point 2, you would have to provide a model object from `cleverhans.model.Model` if you are going to call `generate` from the `FastGradientMethod`.

If you'd like to use the graph you already created, it is not recommended, but you can use the function that is called in the backend by `FastGradientMethod`, it is here: https://github.com/tensorflow/cleverhans/blob/master/cleverhans/attacks

[2018-04-30 04:08] seansaito opened #396 "Parallelisation of attacks"
I'm wondering how I can parallelise attacking and generating adversarial examples since it seems cleverhans does not support this yet. Any suggestions would be appreciated!

[2018-04-30 04:37] npapernot commented on #396
There are several ways you go about this, the easiest way would be to split your test data and then run the attack in parallel on the different data splits.

If you have a more detailed description of your issue, feel free to reopen at any time.

[2018-04-30 04:37] #396 closed

[2018-04-30 15:29] npapernot commented on #392
That makes sense. We would have to modify the function`pair_visual` to `numpy.squeeze` the image into a 2D numpy arrays when `channels==1`.

Are you able to make a PR for this?

[2018-04-30 16:17] aashish-kumar commented on #392
Should I fix pair_visual or tomstelk will?

[2018-05-02 19:54] goodfeli opened #397 "tf 1.8 support"
We currently get several deprecation warnings when running tensorflow 1.8. We should update to the point that we get no tf deprecation warnings when running the tutorials and tests. We should also add tf 1.8 to the travis bot.

[2018-05-03 08:43] VigneshSrinivasan10 opened #400 "Substitue training optimizes for both BlackBox variables and Substitute variables"
Hi,

Thanks for the great repository.

In the tutorial code `mnist_blackbox.py`, The blackbox is first prepared and then a substitute is trained using a subset of the test samples. When the subsitute is trained with the function `model_train`,

https://github.com/tensorflow/cleverhans/blob/6b065c4507f50e2545c009f75e82678f92353163/cleverhans_tutorials/mnist_blackbox.py#L150

I notice that at this l

[2018-05-03 09:52] npapernot commented on #400
Thanks for flagging the issue. If you're able to put together a PR, feel free to assign me as a reviewer.

[2018-05-03 15:32] VigneshSrinivasan10 commented on #400
Thanks for the quick response.

I will be happy to place a PR - but unfortunately I am on time crunch - so perhaps, I can do it next month.

[2018-05-05 04:44] npapernot opened #401 "Unidentified contributors"
I am tagging contributors for whom we don't have an affiliation. It would be very helpful if you respond to this issue with the information so we can included in the authorship of the next CleverHans report revision:

@Shuolongbj --- what is your real name?

@paulhendricks

@zHiOoO

Thanks!

[2018-05-05 04:56] Shuolongbj commented on #401
My real name is Rujun Long.
Thank you! @npapernot

[2018-05-05 05:03] ysharma1126 commented on #401
What are each of your affiliations? @Shuolongbj @paulhendricks @zHiOoO

[2018-05-05 05:10] Shuolongbj commented on #401
0101.AI
Thanks

[2018-05-05 16:43] zHiOoO commented on #401
I am from the University of Toronto.
Thanks.

[2018-05-05 17:53] cod3licious opened #402 "Error when generating adversarial examples for keras models with multiple input nodes"
Hey! Wonderful library!! :)

I'm trying to generate adversarial examples for a keras model. However, I have a setup with two models, one classifier and one autoencoder, both trained independently and after training I connect the autoencoder to the classifier, i.e., use the output of the full autoencoder as input to the classifier, thereby creating a third, stacked model. However, this leads to the

[2018-05-06 14:21] recluse27 opened #403 "JSMA MemmoryError"
keras: 2.1.4
tf: 1.5.0
cleverhans: 2.0.0-aa80e13d0f63be3197ba61290f46e44d
Ubuntu: 17.10

`jsma = SaliencyMapMethod(wrap, sess=sess)`

`jsma_params = {'gamma': 0.1, 'clip_min': 0., 'clip_max': 1.}`
`adv_x2 = jsma.generate_np(x_val,**jsma_params)`

`adv_pred2 = np.argmax(model.predict(adv_x2), axis = 1)`
`adv_acc2 =  np.mean(np.equal(adv_pred2, y_val)) `

FGSM and BasicIterativeMethod went okay.
Err

[2018-05-11 16:07] alexbw commented on #306
Any progress here?

[2018-05-11 18:05] goodfeli commented on #306
No progress. I don't think anyone's working on it. It's something I'd consider doing myself but haven't found time yet.

[2018-05-13 20:18] cihangxie commented on #316
I guess one error in your deproc() function is that you should add mean values (since you minus mean values in the pre-processing).

You can look the pre-process code: https://github.com/keras-team/keras/blob/master/keras/applications/imagenet_utils.py#L2, and try to **inverse** this procedure for your deproc() function. Two important variables you should notice are: data_format (channel first or

[2018-05-13 22:11] recluse27 commented on #316
Thanks a lot!
There is a problem still. The input image is de-processing correctly but it's an opposite situation with adversarial image.

Take a look, please
https://github.com/recluse27/diplo/blob/master/deprocessing.ipynb

[2018-05-13 23:57] cihangxie commented on #316
fgsm_params = {'eps': 0.3, 'clip_min': 0., 'clip_max': 1.} are not valid for you, since your input range are not within [0,1]. You should figure out the right values for clip_min and clip_max. Or since you are using fgsm, which is a single-step attack, you can first set clip_min to a very small value (e.g., -1000) and clip_max to a very large value (e.g., 1000); after you get your adv image, you c

[2018-05-15 10:54] giuscri opened #406 "When Attack.get_or_guess_labels(), allow y_target to be None"
To my understanding, when you call `FastGradientMethod.generate` you can't pass `y_target=None` as an argument and expect cleverhans to behave like you didn't pass it.

https://github.com/tensorflow/cleverhans/blob/fcf1e2a18e72dd42280f04a50fce3eb4e0b20fcf/cleverhans/attacks.py#L200-L205

Changing check into `'y_target' in kwargs and kwargs['y_target'] is not None` would make the function behave as

[2018-05-15 16:10] npapernot commented on #406
Thanks for raising the issue, would you be able to put together a PR to address it?

[2018-05-18 16:01] AngusG commented on #403
What is the shape of `x_val`?

[2018-05-18 18:47] recluse27 commented on #403
(1, 224, 224, 3)

https://github.com/recluse27/diplo/blob/master/deprocessing.ipynb

[2018-05-18 20:50] goodfeli commented on #306
Thanks! It's probably best to adapt just one of the tutorials though. We don't want to commit to maintaining a lot of duplicated tutorial code.

[2018-05-19 00:54] npapernot commented on #403
It may be the case that you are trying to allocate a numpy array that is too big to fit in your available RAM? Here the JSMA is trying to create an array of size nb_features x nb_features where nb_features = 224 * 224 * 3. Perhaps this prior implementation of the attack might help you: https://github.com/tensorflow/cleverhans/blob/master/cleverhans/attacks_tf.py#L260

[2018-05-19 13:14] recluse27 commented on #403
I thought 4 GB RAM would be enough.
Don't yo know are there any free cloud resources to try JSMA there? Kaggle doesn't allow to upload keras pretrained models, for example

[2018-05-20 06:03] yenchenlin commented on #306
Hello @goodfeli, @npapernot, and @krishnacodes  , sorry for the late reply (in mandatory military so no internet ...)

In my tf-eager ipython notebook example [here](https://github.com/yenchenlin/adversarial-example-tf-eager/blob/master/mnist_tutorial_tf_eager.ipynb), there are two main parts which can potentially reuse the existing code in cleverhans:

1. Model (block **[2]** in notebook)
[code]

[2018-05-20 18:41] npapernot commented on #306
Regarding 1., from experience it has been best to avoid Keras (and we now have managed to isolate most the code related to Keras from the core CleverHans code) so I would be in favor of providing a subclass of `cleverhans.model.Model` for `tf.eager` models.

Regarding 2., if it is too complicated to reuse existing attack classes such as the one here https://github.com/tensorflow/cleverhans/blob/ma

[2018-05-30 00:40] npapernot commented on #350
I am closing this for now, feel free to reopen if #395 did not completely address your issue.

[2018-05-30 00:40] #350 closed

[2018-06-02 19:21] Uno-Takashi opened #414 "How save image files on tutorial"
I built cleverhans environment. And, executed mnist_tutorial_tf.py.
The mnist_tutorial_tf.py worked fine. And, I done some easy change like save models.

I want to save the fooling image files generated by FGSM(Such as , The panda image in the "Explaining and Harnessing Adversarial Examples"). But  It is not working well.

What  source code should I add to The tutorial?

[2018-06-03 16:42] goodfeli commented on #414
Some of the tutorials show one way of visualizing the adversarial examples: https://github.com/tensorflow/cleverhans/blob/0670677010f3fed21b1ea91c4571c16fff661e0c/cleverhans_tutorials/mnist_tutorial_cw.py#L215

[2018-06-03 16:42] #414 closed

[2018-06-05 06:45] aashish-kumar opened #416 "Accuracy for black-box attack"
Using the mnist_blackbox.py script. I get the following result:

Test accuracy of oracle on adversarial examples generated using the substitute: 0.7038578680203046

This accuracy used to be <10 percent. Any one else saw the change? Is this because of the bug fix for #400

[2018-06-06 03:50] chrisbodhi opened #417 "Adversarial Patch notebook: Unable to run"
Howdy,

Thanks so much for sharing your work!

When trying to reproduce an error in the Adversarial Patch notebook [related to failing to load the `cross_model_patch` object], I found that when following the instructions for running the notebook in Colaboratory [Python 2 with GPU], the notebook threw a `ResourceExhaustedError` at the "Transfer Attack (AKA Blackbox)" section. Here's a [link to the

[2018-06-06 15:45] goodfeli commented on #417
I'm not sure if this just means your machine doesn't have enough memory to run the notebook, but that might be all that's going on. @nottombrown ?

[2018-06-06 19:07] npapernot commented on #416
I don't think we implemented the fix mentioned by Ian in #400. Could you take a look and make a PR if that solves the issue?

[2018-06-06 21:38] nottombrown commented on #417
Not sure what's up with this. I just spun up a new colab with Python2 and a GPU and it worked correctly for me.

![image](https://user-images.githubusercontent.com/306655/41066517-e5c37ac4-6996-11e8-8b95-fb6ecafe605b.png)

I would try to fix it by doing the following (in order of increasing annoyingness):
[code]

[2018-06-06 21:42] goodfeli commented on #417
(feel free to re-open if this fix doesn't work)

[2018-06-06 21:42] #417 closed

[2018-06-07 00:50] chrisbodhi commented on #417
I had already tried the first two suggestions, but dropping the `BATCH_SIZE` down to `8` worked like a charm -- thanks!

[code]

[2018-06-07 04:50] GuanxiongLiu opened #418 "Support for high level API in tensorflow"
Hi folks, I'm a student works on adversarial examples and new to cleverhans. I spend some time on the entry level tensorflow tutorial of MNIST with FGSM. I noticed that the MLP model is using lower level APIs. I have my local copy which rewrites the MLP with high level tensorflow API like tf.layers which is more like a Keras syntax. I'm not sure if this is something useful or there are existed exa

[2018-06-07 18:07] goodfeli commented on #418
The MLP model isn't part of the library itself; it's just part of the tutorials. It uses low-level APIs intentionally. The goal is to show how any TensorFlow code can be used with CleverHans without needing to use a specific high-level API for compatibility. It's intended to provide a contrast to the Keras tutorial.

[2018-06-07 18:07] #418 closed

[2018-06-08 15:58] GuanxiongLiu commented on #418
Thanks for the reply, @goodfeli . BTW, I saw that model_train and model_loss are provided as utils. However, it didn't support complex model structure such as stack model or ensemble model and only cross entropy loss. Is it a feature to be supported in the future?

[2018-06-13 14:06] carsonsmith87 opened #419 "Clever Hans Imports all broken for me"
Successfully downloaded the entire cleverhans directory using pip on Mac. Now, in mnist_tutorial_keras_tf.py all the 'from cleverhans.[]  import' statements are erring with "This inspection detects names that should resolve but don't.

Any advice to fix this would be awesome, thank you.

[2018-06-13 14:09] #419 closed

[2018-06-13 16:12] goodfeli commented on #419
I see you closed the issue, did you fix it?

[2018-06-14 21:16] nottombrown opened #424 "Add cleverhans to pypi to allow `pip install cleverhans`"
Adding to pypi would allow us to:

1. Enforce semantic versioning
2. Track how many people are actively using the package

[2018-06-16 07:46] ysharma1126 opened #425 "Attack Docs Missing"
http://cleverhans.readthedocs.io/en/latest/source/attacks.html

What happened? Please restore.

[2018-06-18 22:28] jrounds opened #429 "Can anyone clarify the use of sign(gradient) as np.inf norm?"
Quick question; though perhaps this is the wrong place.

When I just step back and think about the infinity norm of a gradient, I think of it as max of the absolute value of the gradient.

But in cleverhans infinity normalization on the gradient is treated as it as the sign operator on the gradient: https://github.com/tensorflow/cleverhans/blob/master/cleverhans/attacks_tf.py#L74

I was wondering

[2018-06-18 22:50] goodfeli commented on #429
You're right that for a vector v, the infinity norm is abs(v).max().

When we use the sign function, we are not computing the infinity norm. We are computing a vector that obeys a constraint on the infinity norm.

Specifically,

max_v dot(v, g) subject to max_norm(v) <= eps
= eps * np.sign(g)

[2018-06-18 22:50] #429 closed

[2018-06-19 01:01] #406 closed

[2018-06-21 09:38] feedforward commented on #306
Hi @npapernot i submitted a PR for this
Regarding 1. A subclass of cleverhans.model.Model is created for eager models.
Regarding 2. A new attacks_eager is added (existing attacks run through session using feed_dict making it too hard to adapt.)

The new eager code is passing all the previous unit tests.(PR)
But test cases i wrote for eager execution are throwing an error in the travis virtual env.

[2018-06-21 20:58] ysharma1126 commented on #425
Any response?

[2018-06-21 21:05] goodfeli commented on #425
@nottombrown Do you know what happened?

[2018-06-22 00:09] nottombrown commented on #425
Odd. I'll take a look and see if I can track down the issue

[2018-06-22 13:16] npapernot commented on #425
Thanks for the PR @nottombrown

Do we have to trigger something to rebuild the docs? They don't seem to have refreshed yet despite the PR being merged

[2018-06-22 13:22] #400 closed

[2018-06-22 13:23] npapernot commented on #416
I assume that #421 addresses your issue but feel free to reopen one if it does not.

[2018-06-22 13:23] #416 closed

[2018-06-22 17:55] nottombrown commented on #425
There was a second configuration issue with the hosted docs.

Resolved now and the docs will auto-rebuild whenever there is a push to `master`.

http://cleverhans.readthedocs.io/en/latest/source/attacks.html

[2018-06-22 17:56] #425 closed

[2018-06-23 12:31] unnir commented on #424
Agree

[2018-06-23 17:31] giuscri opened #432 "tf.gradients(loss, x) returns None. Is CleverHans asking me to implement the gradient for a newly defined operation?"
I'm using `tf.py_func` to wrap a Python function and build a new operation. That is wrapped by a Keras layer that's the first one of a Keras `Sequential` model - it should perform a filtering task.

I've reproduced the problem on a script that should be easier to follow.

[code]
If I run the above script,
[code]
What's triggering the error is https://github.com/tensorflow/cleverhans/blob/29e7e3b5c

[2018-06-23 18:36] gokul-uf commented on #432
In  `__function`, why not use `tf.sinh` instead of `np.sinh`?

[2018-06-23 23:32] giuscri commented on #432
that's unrelated to the issue.

By the way, the point of using `tf.py_func` is building new operators without using TensorFlow operators but a Python function.

[2018-06-24 14:59] goodfeli commented on #432
If you use a gradient-based attack, the gradient does need to be defined. That's going to be true regardless of software framework.

[2018-06-24 14:59] #432 closed

[2018-06-25 18:00] iamgroot42 opened #433 "Allow passing a custom optimizer for adversarial training"
The subroutines currently used for adversarial training (as given in the demo [here](https://github.com/tensorflow/cleverhans/blob/master/cleverhans_tutorials/mnist_tutorial_tf.py)) currently use an optimizer [hard-coded](https://github.com/tensorflow/cleverhans/blob/master/cleverhans/utils_tf.py#L117) into the code. The specified optimizer (or learning rate) may not necessarily work well for some

[2018-06-25 18:14] iamgroot42 commented on #433
The code doesn't support batch normalization or regularizers currently either, which is quite problematic.

[2018-06-27 16:39] npapernot commented on #433
thanks for raising this issue! It looks like some of these limitations will be addressed by #423 at least in part. Feel free to comment on the current code

[2018-06-27 16:41] npapernot commented on #424
I'm on it

[2018-06-27 16:44] npapernot commented on #377
This would be nice to address once #423 is merged

[2018-06-27 17:08] feedforward commented on #377
@npapernot I working on this, will be able to submit PR in a week.

[2018-06-27 21:36] npapernot commented on #377
Thanks @feedforward. It might make sense to hold on before #423 is merged so that we can use the new loss class directly.

[2018-06-30 00:56] aidangomez opened #435 "Use tf.while_loop in iterative attacks"
Transition all iterative attacks to tf.while_loop to prevent redundant graph construction.

This resulted in a 50x speed up using the Madry attack on a ResNet constructed from a Estimator model_fn.

[2018-06-30 02:29] aidangomez opened #436 "Create consistent attack parameter naming scheme"
Move away from adopting the naming scheme (arbitrarily) chosen by authors, and establish names with consistent semantics across attacks.

Proposed naming scheme:
  - "eps": the maximum perturbation applied to a clean data sample
  - "step_count": the number of steps to take in an iterative attack
  - "step_size": the size of step to take at each iteration
  - "true_label": (disjoint w/ target_labe

[2018-07-02 18:16] goodfeli commented on #436
+1

[2018-07-02 18:16] goodfeli commented on #436
When we do this, we need to remember to respect the 6 month deprecation warning rule

[2018-07-02 18:17] goodfeli commented on #436
Do you have any suggestions for building this into the structure of the code (e.g. so you get the argument names via inheritance) or for making a tool that automatically flags probable violations?

[2018-07-02 21:43] npapernot commented on #436
I agree with the proposed argument names but would recommend running this by the cleverhans-dev mailing list in case someone else has an objection

[2018-07-02 21:44] npapernot commented on #435
WIP in #441

[2018-07-03 20:15] #281 closed

[2018-07-03 20:33] #424 closed

[2018-07-04 09:49] #433 closed

[2018-07-05 15:50] aashish-kumar opened #450 "Jacobian Augmentation extremely slow in Black Box attack"
When using mnist_blackbox.py to generate blackbox attacks, the jacobian augmentation is consuming a lot of time. This could be processed in batch speeding it up quite significantly. #449

[2018-07-06 17:59] jugi92 commented on #414
I would like to export the adversarial examples in the MNIST Blackbox Example to my file system:
https://github.com/tensorflow/cleverhans/blob/36e3c78fbcbdcec93718edd1450eedd9131616f0/cleverhans_tutorials/mnist_blackbox.py#L254

I experimented with the following code:
[code]
But as writeOp is an operation it can not be run by session.run() and also needs some values for the placeholders. It would

[2018-07-11 11:31] aashish-kumar opened #452 "PyTorch in setup.py"
I think the torch tutorial requires pytorch but it is not part of setup.py.

[2018-07-11 17:45] goodfeli commented on #452
@npapernot or @nottombrown do you want to comment on this? I see you wrote the lines of setup.py involving TensorFlow. I don't know as much about how setup.py works or what the "explicit dependence" issue is, if we have a policy of requiring all option dependencies or if we can install different versions with different dependencies, etc.

[2018-07-11 20:22] npapernot commented on #452
I would prefer not making pytorch a mandatory dependency, which would add some overhead for those using tensorflow only. I'm not familiar with the explicit dependence issue either, but @nottombrown should be able to comment.

One suggestion I had would be to (1) add pytorch as an extra dependency and (2) change the Travis matrix to include a pytorch config and (3) remove pytorch from other configs

[2018-07-12 09:43] jugi92 commented on #414
I just appended this code in Line 255 in the MNIST Blackbox Example to get PIL images from the Tensors and store them in the file system:
[code]

[2018-07-12 09:59] johirbuet opened #453 "pip doesn't put cleverhans in the PYTHONPATH / doesn't update the PYTHONPATH to point to cleverhans"
I am trying to run the example https://github.com/tensorflow/cleverhans/blob/master/cleverhans_tutorials/mnist_tutorial_keras_tf.py

I am getting the following error
![bug](https://user-images.githubusercontent.com/4279025/42626594-5542235e-8590-11e8-8a8a-899d01bb2338.PNG)

[2018-07-12 10:02] nottombrown commented on #452
I‘m on the road and can’t see the offending code currently, but papernot’s
suggestion seems reasonable to me. Pytorch should be an “extras” dependency
On Wed, Jul 11, 2018 at 10:22 PM Nicolas Papernot <notifications@github.com>
wrote:

[2018-07-12 17:22] goodfeli commented on #453
I wasn't able to reproduce this.

I expect that you have two or more versions of CleverHans installed. You're running the tutorials in the new version but the import command loads the modules from an older version.

To check this idea, run "python -c "import cleverhans; print cleverhans.__file__" and see if the path is different from the path to the tutorial script you were running.

Feel free to

[2018-07-12 19:38] johirbuet commented on #453
I get the following error running the command
![err1](https://user-images.githubusercontent.com/4279025/42655267-3a680b92-85e1-11e8-9dbb-0e097ea02095.PNG)

[2018-07-12 20:16] johirbuet commented on #453
I tried on two different machines

1) Windows

2) MAC

And is getting the same problem.

[2018-07-12 21:06] leomauro commented on #453
In the message the correct class member was rendered as *file** (note the
bold font)*, but the correct member is __file__ (note the two underscore
characters before and after "file". It seems that the response was
processed by some markup processor that uses double underscore to signify
bold font. Let's see if this response also shows the "__file__" as a bold
"file".

On Thu, Jul 12, 2018 at 4:16

[2018-07-12 23:30] goodfeli commented on #453
I edited my previous comment so that the markdown processor doesn't remove the underscores. @johirbuet the command should work as displayed now

[2018-07-13 10:37] #450 closed

[2018-07-13 10:37] #435 closed

[2018-07-13 10:39] npapernot commented on #377
@feedforward now that #423 is merged, this would be a good time to make the PR. Thanks!

[2018-07-13 12:52] feedforward commented on #377
@npapernot I am working on it, will submit the PR in couple of days, thanks for the info.

[2018-07-13 14:17] chenhx1992 opened #454 "How to get NumPy ndarrays containing specific adversarial examples?"
Hi,

I am new to cleverhans. I have tried generate function and generate_np function on my own model. The generate function work well but the generate_np has some error.

Thus, I would like to ask, is there any other way to get NumPy ndarrays containing specific adversarial examples without generate_np?

Hope get your answer soon, thanks in advance!

[2018-07-13 14:33] johirbuet commented on #453
@goodfeli
I am getting the following output
<img width="1121" alt="screen shot 2018-07-13 at 9 32 53 am" src="https://user-images.githubusercontent.com/4279025/42697102-c83f03fa-867f-11e8-97d7-c8b490d8b5f6.png">

[2018-07-13 14:34] johirbuet commented on #453
<img width="1171" alt="screen shot 2018-07-13 at 9 33 47 am" src="https://user-images.githubusercontent.com/4279025/42697134-df0521fa-867f-11e8-9ccd-ea934afa51ae.png">

[2018-07-13 14:41] npapernot commented on #454
You can also run the tensor returned by `generate` in a session by providing a `feed_dict` manually

[2018-07-13 14:41] #454 closed

[2018-07-13 14:42] npapernot commented on #454
Feel free to reopen with a more specific description of the error if that does not solve your issue

[2018-07-13 15:40] cclauss opened #455 "Undefined name 'self' in madry_cifar10_model.py"
flake8 testing of https://github.com/tensorflow/cleverhans on Python 2.7.14

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-07-13 15:42] goodfeli commented on #455
@david-berthelot could this be related to the recent changes to `Model`?

[2018-07-13 15:55] david-berthelot commented on #455
Yes I think so, looks like set_input_shape is not called. I can look into it.

[2018-07-13 18:04] goodfeli commented on #453
You want

    python -c "import cleverhans; print cleverhans.__file__

You want `print` not `dir`

[2018-07-13 18:12] aashish-kumar commented on #225
@npapernot Can I work on this one? I think Carlini's idea will work just fine.

[2018-07-13 19:14] johirbuet commented on #453
@goodfeli
This is what i get
<img width="1135" alt="screen shot 2018-07-13 at 2 13 40 pm" src="https://user-images.githubusercontent.com/4279025/42709699-fba7884e-86a6-11e8-950a-551c84bf8791.png">

[2018-07-13 21:39] goodfeli commented on #453
Is that the path to the directory where you are running the tutorials? If not, then the problem is that you have two versions installed, and the old version is getting imported.

[2018-07-13 22:04] david-berthelot commented on #455
Looked at it, it's working from the latest master as far as  can tell.

[2018-07-13 22:08] cclauss commented on #455
Are you sure that line 267 is getting executed?

[2018-07-13 22:10] david-berthelot commented on #455
I am not familiar with that example, I checked if some recent refactoring broke it, but running it I see no problem, it runs properly (using the latest master branch). Did you try running:
`python cifar10/attack_model.py`

[2018-07-14 14:10] chenhx1992 opened #456 "InvalidArgumentError: Retval[0] does not have value"
Hi,

When I use the BasicIterativeMethod, I encounter a problem:

bim = BasicIterativeMethod(wrap, sess=sess)
bim_params = {'eps': 0.2, 'eps_iter': 0.05, 'nb_iter': 10, 'ord': 2, 'y_target': None}
adv_x = bim.generate(x, **bim_params)

until here, the code worked well,

Then I tried to use the following code to get adversarial example in numpy array, and some errors occur:

feed_dict = {x: X_test}

[2018-07-16 07:39] npapernot commented on #225
I'm not sure we ever settled on what the best option is here. It would probably call for a bit of research to compare the different ways to make the attack untargeted. Maybe it would make sense to build in a consistent behavior across the different targeted attacks that allows the user to select different strategies when no specific target labels are specified like choose the target label to be (a

[2018-07-16 09:48] aashish-kumar commented on #225
@npapernot  I think all the three options you have mentioned are heuristic based targetted attacks.  These will note be pure untargetted like how FGSM method works. Based on the Carlini's idea, I have created JSMA untargetted. It does not require a target label for generating attack. I have compared it with perturbations required in targetted format. Here is the graph.

![jsma_untar](https://user-

[2018-07-16 11:14] aashish-kumar commented on #456
I tried this. It is working fine. We might need slightly more information to help. You can modify cleverhans_tutorial/mnist_tutorial_tf.py to figure out what you might be doing wrong.

[2018-07-16 19:04] goodfeli commented on #456
For now I'll close this because Aashish could not reproduce. Feel-free to re-open if you have a short script we can just download and run to reproduce.

[2018-07-16 19:04] #456 closed

[2018-07-17 01:04] jchaykow opened #460 "FaceNet Dimensions must be equal error"
I'm receiving an error running [FGSM](https://github.com/tensorflow/cleverhans/tree/master/examples/facenet_adversarial_faces) with the latest model download from FaceNet.

Now I am pretty sure I have narrowed down the error cause to this line:

[code]

And I believe the issue is that `victim_embedding_input` is defined with shape `(None, 128)` and somewhere else `embedding_output` is defined as 5

[2018-07-18 06:09] vdeepak13 commented on #453
I am facing the same issue as above, I downloaded the tar.gz file from PyPI for cleverhans https://files.pythonhosted.org/packages/e8/ea/c057263636b14c28923b42ed8ef52c0ba24d38e05fc3720f62df80a2f735/cleverhans-2.1.0.tar.gz. It doesn't contain loss.py

[2018-07-18 11:16] npapernot commented on #225
Thank you Aashish for making a PR and running the experiment above, I appreciate the contribution. There are a few issues with PR #458:

* we should keep the API consistent with other attacks. The `SaliencyMapMethod` class has a parameter called `y_target` that can be used to trigger the untargeted attack when it is set to `None`.
* a lot of the code for `jsma_symbolic_untargetted` in PR #458 is d

[2018-07-18 11:24] npapernot commented on #460
@BrunoLopezGarcia  could you take a look? I think this is an example you wrote.

[2018-07-19 00:01] goodfeli commented on #225
2-4 are all targeted attacks with different ways of defining the target, right? Should we just leave the attacks taking a `y_target` argument and make easy ways to calculate the target?
For example:
2. Pass `y_target = runner_up(x, model)`
3. Pass `y_target = least_likely(x, model)`
4. Pass `y_target = random_class(nb_classes)`

This way we don't need to have all the attacks implement all the targ

[2018-07-19 07:12] npapernot commented on #225
That a good suggestion yes, we could make three functions `runner_up`, `least_likely` and `random_class` that take in either a single input or a batch of inputs as well as a model and return the target classes encoded as a hot one vector or labels.

[2018-07-19 23:44] #455 closed

[2018-07-20 05:29] johirbuet commented on #453
@npapernot
Now it makes sense to me. I was also installing the application using pip. And there was actually no module named `cleverhans.loss`. I checked manually in the package path.
Thanks

[2018-07-20 15:11] aashish-kumar commented on #225
@npapernot
I agree with the suggestion.
Continuing on the discussion. I collected Data for JSMA attack on MNIST test set. Here are the results from the experiment. On this graph, I have sorted the prediction probabilities & perturbations from the targeted attacks and identified which class the minimum perturbation belongs to. I have ignored the true class.(model prediction accuracy was 99.33).
![c

[2018-07-20 18:09] KSSchmidt opened #467 "Adversarial Patch question about the patch training"
Hello,
I am fairly new to Tensorflow and Github as well and hope this is the right place to ask content-related questions regarding the adversarial patch example.

After reading the [paper](https://arxiv.org/abs/1712.09665) by T.Brown et al, I got interested in adversarial patches for my thesis.
I am currently using the code of the adversarial patch notebook to generate different shapes/patterns o

[2018-07-20 21:20] npapernot commented on #225
Thanks for the detailed analysis. This is sufficient evidence to start implementing strategy 1 as described above as the untargeted JSMA strategy. Could you put a PR together while addressing the comments left above?

Also, if you have enough time, it would be nice to implement in a separate PR the 3 functions for strategies 2-4 as Ian suggested in his comment. If you don't have time, I'll flag it

[2018-07-21 16:13] BrunoLopezGarcia commented on #460
Seems like the Facenet model you are using works with embedding vectors of size 512. In order to fix the error you can change the size of the placeholder to 512:

`    self.victim_embedding_input = tf.placeholder(
                tf.float32,
                shape=(None, 512))`

Maybe we could write this step in the "How to run" part of the README.md.

[2018-07-21 22:42] kyleliang919 opened #468 "Tensors not from the same graph error in multiple attacks"
Some of the attack methods returns "tensor not in the same graph error" when the generate() function is called. My tensorflow version is 1.9.

SaliencyMapMethod:
[code]
CarliniWagnerL2:
[code]

Momentum Iterative:
[code]

[2018-07-23 20:59] goodfeli commented on #468
Do you have a short script we could run that causes the problem?

[2018-07-23 22:14] kyleliang919 commented on #468
Yes, I uploaded the code under this [repository](https://github.com/kyleliang919/Analysis-of-Adversarial-Attacks). The code for the model architecture is located in the model.py. There is an example in the experiments.ipynb showing how to replicate one of the above errors.
Thanks for your help in advance.

[2018-07-23 22:18] summermjj opened #471 "CarliniWagner, DeepFool, ElasticNetMethod, LBFGS Do not work with ModelBasicCNN"
The `ModelBasicCNN` defined in `cleverhans_tutorials.tutorial_models` does not work with the following attacks: CarliniWagner, DeepFool, ElasticNetMethod and LBFGS.
I don't know exactly what the reason is, but it seems that the output tensor of generate function cannot infer the shape of the input.

[2018-07-23 22:21] goodfeli commented on #471
@david-berthelot can you check this?

[2018-07-26 23:42] #468 closed

[2018-07-26 23:42] kyleliang919 commented on #468
Problem resolved

[2018-07-27 07:40] aashish-kumar commented on #471
@summermjj can you share a snippet of your code and the error log.

[2018-07-27 18:04] nottombrown commented on #467
Hey, we use a differentiable spatial transformation that allows the gradient to flow back into the correct part of the patch image. You can see it in the tensorflow operations that apply the rotations and translations.

[2018-07-27 18:04] #467 closed

[2018-07-27 21:17] david-berthelot commented on #471
@summermjj Yes that would help me too to have a code snippet.

[2018-07-27 23:01] summermjj commented on #471
`import tensorflow as tf
import numpy as np

tf.reset_default_graph()

(x_train, y_train), (x_test, y_test) = tf.keras.datasets.mnist.load_data()
x_train = np.expand_dims(x_train, axis=3).astype('float32')/255
x_test = np.expand_dims(x_test, axis=3).astype('float32')/255
input_shape = (28, 28, 1)

x_train = x_train[0:1000]
y_train = y_train[0:1000]
x_test = x_test[0:100]
y_test = y_test[0:100]

nb

[2018-08-01 22:16] #452 closed

[2018-08-02 06:43] Erpim opened #486 "some error in Deepfool attack"
I rewrote the program to verify deepfool attack according to fgsm demo, but there seems to be some problems during the process. It seems to be a problem with the session delivery process. self.Sess is used before the session created.So the sess is always none. Can you help me with it, or provide a tutorial for deepfool?

[2018-08-02 15:49] goodfeli commented on #486
Can you post an actual code snippet that fails?

[2018-08-02 18:06] cihangxie commented on #486
You can take a look at https://github.com/tensorflow/cleverhans/pull/260/files#diff-c7cecf126d79fa92482e5b42b1be1958.

Basically, this tutorial is very similar to C&W tutorial, so is not merged in the official cleverhans

[2018-08-03 07:15] BrunoLopezGarcia commented on #460
I don't think it will take a much larger memory requirement.

[2018-08-04 00:47] yenchenlin opened #490 "Add rotation & translation attack?"
As shown by some recent papers [1, 2], simple transformations are sufficient to fool neural network-based vision models. Notably, worst-of-10 attack described in [2] can serve as a good baseline for black-box attack.

Do you think it's appropriate for cleverhans to include these transformation-based attacks?

[Here](http://nbviewer.jupyter.org/github/yenchenlin/cleverhans/blob/transformation-attac

[2018-08-07 02:53] #460 closed

[2018-08-07 21:11] goodfeli commented on #490
Yes, I think that would be great to add.

On Fri, Aug 3, 2018 at 5:47 PM, Yen <notifications@github.com> wrote:

[2018-08-08 22:46] pwna5aurus opened #491 "NotImplementedError: `fprop` not implemented."
Within the Model class, it keeps attempted to call self.fprop (which looks to be intentionally broken) instead of the CallableModelWrapper.fprop().  Is there a fix coming for this?  Or can I roll back to a previous version?

Traceback (most recent call last):
  File "blackbox.py", line 199, in <module>
    main()
  File "blackbox.py", line 196, in main
    pwn(image,label)
  File "blackbox.py", li

[2018-08-09 16:50] m-Just opened #493 "attack_tf.fgm with ord=2 has divided-by-zero issue"
The norm calculation should be implemented as in utils_tf.clip_eta:
[code]
After correcting this, it no longer generates images with NaN.

[2018-08-15 00:15] npapernot commented on #397
Closing this given that `mnist_tutorial_tf.py` does not raise any deprecation warnings anymore. If anyone notices another warning, feel free to open an issue.

[2018-08-15 00:15] #397 closed

[2018-08-15 00:27] pwna5aurus commented on #491
Latest as of 2 weeks ago.

[2018-08-15 22:10] nottombrown opened #495 "SPSA attack is not tested by Travis"
SPSA has some nice tests:
https://github.com/tensorflow/cleverhans/blob/2ebda1ddab0cc3084316b0db7516c8b8e2cc796a/examples/test_imagenet_attacks.py

However, since they live in the `examples` directory, rather than in `cleverhans` or `tests_tf`, they don't get executed by the [travis.yml manifest](https://github.com/tensorflow/cleverhans/blob/master/.travis.yml#L77)

Is this intentional @juesato ?

[2018-08-15 22:15] nottombrown opened #496 "Use a more reliable mirror for MNIST dataset"
It looks like we are occasionally rejected from accessing the MNIST dataset from yann's website

https://travis-ci.org/tensorflow/cleverhans/jobs/416187998#L1223

Some possible options ordered by goodness:

- find a more reliable mirror of the dataset
- find a way to give the file to travis as a data asset
- upload the MNIST resource to gcs and make the bucket public

[2018-08-15 22:46] nottombrown commented on #495
Looking a bit more deeply, it seems like it's not there because it is too expensive to run on Inception on a travis CPU. Could we perhaps test it on MNIST or a toy dataset?

[2018-08-15 22:55] npapernot commented on #496
One potential mirror is archive.org. For instance: https://web.archive.org/web/20150906081542/http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz

[2018-08-16 03:06] yenchenlin commented on #490
@npapernot Yes, working on it!

[2018-08-17 17:35] nottombrown opened #500 "Deprecation warnings are suppressed"
We have two lines where we pass an explicit `DeprecationWarning` category to `warnings.warn`. It appears that passing that category causes the warning to not show up?

https://github.com/tensorflow/cleverhans/blob/3a70bf23039fc1269faef984244b2c0b530340ec/cleverhans/utils_tf.py#L34
https://github.com/tensorflow/cleverhans/blob/3a70bf23039fc1269faef984244b2c0b530340ec/cleverhans/utils_tf.py#L454

I'

[2018-08-17 17:44] david-berthelot commented on #500
I don't know anything about it, I just copied it from elsewhere after being asked during review to add deprecation warnings.

[2018-08-17 17:45] nottombrown commented on #500
Ok I will fix it

On Fri, Aug 17, 2018 at 10:44 AM David Berthelot <notifications@github.com>
wrote:

[2018-08-17 19:40] #500 closed

[2018-08-18 01:40] nottombrown opened #502 "Let SPSA attack be called using `generate_np`"
I spent some time this afternoon trying to get SPSA to hook into the `generate_np` harness, but had trouble getting it working.

Currently the SPSA test works correctly using the `sess.run` syntax, but it would be slightly nicer to have it be callable with `generate_np`

https://github.com/tensorflow/cleverhans/pull/498/files#diff-ee72988b849d43f34dfd258c5f95fc8dR270

I also think that it would be

[2018-08-18 01:41] nottombrown commented on #502
cc @juesato

[2018-08-20 16:39] goodfeli commented on #495
I would vote to test it on a small subset of MNIST (e.g. one small minibatch).

[2018-08-22 18:12] nottombrown commented on #496
This problem hasn't occurred again so I'm closing the issue.

[2018-08-22 18:12] #496 closed

[2018-08-22 19:37] nottombrown commented on #495
Yeah, the small test ended up being quite easy to add.

#498 adds tests using the same task as the other attacks in `attacks.py`. Closing this because this seems to now be covered sufficiently.

[2018-08-22 19:37] #495 closed

[2018-08-24 17:36] goodfeli opened #505 "`get_params()` not safe for scope-based models"
if you call `Model.get_params()` on a model that keeps track of its variables via a scope, you may not actually get all of the variables owned by that model. The variables are generally not created until calls to `get_logits` etc. This means if you init a model and then call get_params() on it right away, you will probably get an empty list.

I would prefer to just not use scopes since they are go

[2018-08-24 21:30] npapernot commented on #491
Could you share a bit more context with a code snippet for instance?

[2018-08-24 22:47] nottombrown commented on #490
I have a working implementation of this that matches the performance from the paper on ImageNet. Happy to contribute it if @yenchenlin 's implementation isn't ready yet

[2018-08-24 23:38] yenchenlin commented on #490
Hello @nottombrown , Thanks!!! But I'm almost there, would be awesome if you can give me a hand in the PR.

[2018-08-26 08:35] somebody1 opened #511 "Error: No such file or directory:"
I change
datadir='/tmp/'
to
datadir='tmp/'
in cleverhans/utils_mnist.py
def data_mnist(datadir='tmp/', train_start=0, train_end=60000, test_start=0,#datadir='/tmp/'!!!!!!!!!!!!
               test_end=10000):

and create tmp directory to solve this error

[2018-08-27 17:38] goodfeli commented on #511
Can you tell us more about your setup? (Operating system, etc.?) Do you have no '/tmp' directory?

Maybe we should use this instead: https://docs.python.org/3/library/tempfile.html#tempfile.TemporaryDirectory

[2018-08-27 19:03] leomauro commented on #511
I agree and support such change. The tempfile module handles temporary
files and directories in a portable way that abstracts away the file
system/operating system details. I still have to find a case when it
doesn't do the right thing. As a general rule I replace any hardwired
temporary directory with the appropriate call into tempfile.

A caveat, though: temporary files created in a temporary di

[2018-08-28 23:52] goodfeli opened #512 "model_loss deprecation warning doesn't have necessary information"
model_loss currently issues a deprecation warning, but the deprecation warning doesn't specify when the function will be removed or what you should use instead

[2018-08-29 01:15] rowedenny opened #513 "Fail to customize regularization loss"
I would like to train the model with a customized regularization(not L1, L2) and self-define the loss, which is a variable represented by tf.float32 tensor. And then I update the loss as,
`loss = LossCrossEntropy(model, smoothing=0.1) + model.customized_reg()`

But the tenflow report error as
`TypeError: Expected float32, got <cleverhans.loss.LossCrossEntropy object at 0x7fa5ef2176d8> of type 'Los

[2018-08-29 01:42] spiderman106 opened #514 "centos install wrong"
I tried to install cleverhans in my centos,but failed:
 error in cleverhans setup command: 'install_requires' must be a string or list of strings containing valid project/version requirement specifiers

notes:pip method and clone is the same issue

anyone know the reasons, appreciate

[2018-08-29 06:04] spiderman106 commented on #514
thanks ,I solved it by change the setup.py install_requires mnist ~= 0.2 to mnist >= 0.2.
seem the centos is too old can't recognize the ~=.

[2018-08-29 06:04] #514 closed

[2018-08-29 14:37] rowedenny commented on #513
In `utils_tf/train` the parameter loss is used as followed:
`loss_value = loss.fprop(x, y, **fprop_args)`
I think it demonstrates that directly add one more term as my first solution is not accessible.

A better solution is to re-define a customized loss class.

I think this issue can be closed.
Thank you.

[2018-08-29 17:33] #513 closed

[2018-09-03 12:40] hosna opened #524 "error in utils_mnist.py"
I am trying to run your mnist_blackbox_keras.py
but I am getting:

Traceback (most recent call last):
  File "examples/mnist_blackbox_keras.py", line 305, in <module>
    tf.app.run()
  File "/local/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 126, in run
    _sys.exit(main(argv))
  File "examples/mnist_blackbox_keras.py", line 285, in main
    lmbda=FLAGS.lmbda, aug_batch_

[2018-09-03 18:13] npapernot commented on #524
Are you using python 2 or 3?

[2018-09-04 03:24] wayangGit opened #525 "error in facenet_fgsm.py"
There is an error when we initialize the class InceptionResnetV1Model.
`super(InceptionResnetV1Model, self).__init__('model', None, {})`
It will show
`TypeError: __init__() takes exactly 1 argument (4 given)`

[2018-09-05 06:14] ChengruiMeng commented on #460
yes, i met this problem too. I suggest you update the code version in the sample.

[2018-09-06 03:56] mathcbc opened #537 "error in mnist_tutorial_tf.py"
I am trying to run mnist_tutorial_tf.py on Ubuntu 16.04 with Python 3.5.2 and TensorFlow 1.4 ,
but I am getting:

Traceback (most recent call last):
  File "/home/adv_attack_code/mnist_tutorial_tf.py", line 19, in <module>
    from cleverhans.loss import LossCrossEntropy
ImportError: No module named 'cleverhans.loss'

could you help me with it.
Thanks.

[2018-09-06 04:01] goodfeli commented on #537
You probably have two copies of CleverHans installed. One is in your PYTHONPATH and gets imported when you execute import statements from inside the Python interpreter. The other one is not in your PYTHONPATH or doesn't have top priority within your PYTHONPATH, is the newer version, and is the version you're running.

[2018-09-06 04:01] #537 closed

[2018-09-06 04:04] goodfeli opened #538 "Make tutorials check cleverhans.__path__"
It's common for users to install two versions of CleverHans and get confused when they run the tutorial from a new version and it fails to load new classes from the old version that takes precedence in their PYTHONPATH. We could cut down on this confusion a bit if we added a check from inside the CleverHans tutorials that the cleverhans module is in the same directory as the tutorial it is importe

[2018-09-06 12:33] npapernot commented on #538
That's a good idea. We could warn the user that the tutorial is importing the CleverHans library from a directory that is different from the parent of the tutorial being executed.

[2018-09-06 12:35] npapernot commented on #525
@BrunoLopezGarcia could you take a look?

[2018-09-07 09:36] hosna commented on #524
Hi,
could you let me know if you find the reason?

[2018-09-07 12:17] pcham opened #541 "error in ex_cifar10_tf.py"
The parameters passed for the train function  in line 116 does not match the method signature.
train(sess, x, y, predictions, X_train, Y_train,
          evaluate=evaluate, args=train_params)

def train(sess, loss, x, y, X_train, Y_train, save=False,
          init_all=True, evaluate=None, feed=None, args=None,
          rng=None, var_list=None, fprop_args=None, optimizer=None):

Training fails wi

[2018-09-07 17:06] npapernot opened #543 "tutorial default values for main function and flags"
currently default values are hardcoded twice in the function which contains the main tutorial code and at the bottom of the tutorial script where flags are defined.

see #529 for a solution

[2018-09-07 17:10] npapernot commented on #541
This example is outdated because we don't maintain the examples folder. I recommend you take a look at the most recent `cleverhans_tutorials/mnist_tutorial_tf.py`, which you can adapt to run on CIFAR

[2018-09-07 17:10] #541 closed

[2018-09-07 17:20] npapernot commented on #524
What happens when you replace [L48](https://github.com/tensorflow/cleverhans/blob/master/cleverhans/utils_mnist.py#L48) of `utils_mnist.py` with the following?

[code]

[2018-09-07 18:24] mehdijj opened #544 "overshoot does not work for DeepFool attack"
Changing `overshoot` parameter does not have any effect in `DeepFool` attack. I think the problem is with `structural_kwargs` in `attack.py` file.
`over_shoot` should be changed to `overshoot`.

[2018-09-08 22:32] npapernot commented on #544
@cihangxie  could you take a look?

[2018-09-09 16:24] goodfeli opened #549 "Update all tutorials to use cleverhans.train.train rather than cleverhans.utils_tf.train"

[2018-09-09 23:41] goodfeli opened #550 "Update tutorials to use multi-GPU eval where appropriate"
Note that we should not deprecate single-GPU eval nor should we update the tutorials to use multi-GPU in *all* cases. The larger graph for multi-GPU means that the first few runs of multi-GPU are slow, so it's only worth replacing use cases that have enough runs to justify the high startup cost.

[2018-09-09 23:49] goodfeli opened #552 "Add caching mechanism to `model_eval` and `batch_eval`"
See if this fixes the issue where the tutorial gets slightly slower each epoch

[2018-09-12 03:47] #543 closed

[2018-09-12 22:05] goodfeli opened #557 "test for all Models"
make a test that crawls the library and finds model objects, and runs standard tests on them

the first test I propose is a test that all trainable Variables created by the model appear in the model's get_params.

[2018-09-13 15:00] martinmatak opened #559 "Unexpected result of `model_eval` (inconsistent with keras implementation)"
What I noticed is that `cleverhans.utils_tf.model_eval` function gives unexpected result,
i.e. result is not consistent with result of `keras.models.Model.evaluate`.

Here is my code so that result can be reproduced:

[code]

and output (unimportant messages are omitted) it produces is the following:

[code]

How is it the case that those accuracies are not the same?

[2018-09-13 15:58] goodfeli commented on #559
It's likely to be a bug in KerasModelWrapper. Have you tried running the keras Sequential model on one batch and checking that its output is the same as the output of KerasModelWrapper?

Is there any chance that Keras has made its own session in the backend? CleverHans might be reading the values of the model's Variables out of one Session while Keras reads them out of another.

[2018-09-13 16:28] goodfeli opened #560 "test whether random_crop_and_flip is faster if it uses a single map_fn"

[2018-09-13 16:52] goodfeli commented on #559
What version of keras are you running? I'm using keras 2.2.2 and when I run your code I get an exception when trying to access `scores['loss']`. For me, `scores` is a list.

[2018-09-13 17:50] goodfeli opened #562 "deal with speed issue of placeholders on GPU + prepro on CPU"
probably the best way is just to get rid of placeholders and switch to queues

[2018-09-13 23:51] goodfeli commented on #544
@mehdijj are you using `generate` or `generate_np`? I think that, despite the bug, it should still have an effect when you use `generate`. (We should still fix the bug, I just want to make sure I understand what's going on)

[2018-09-13 23:56] mehdijj commented on #544
@goodfeli I'm using `generate_np`

[2018-09-14 02:56] cihangxie commented on #544
yes, we should change the variable from `over_shoot` to `overshoot`. Sorry for this mistake

[2018-09-18 13:19] mathcbc opened #568 "repeated download in utils_mnist.py"
In line 31 of utils_mnist.py, `os.path.isfile(file_name)` is always equal to False, so the datasets downloaded from the Internet would not be saved to the local. Therefore, every time utils_mnist.py is ran, the datasets should be downloaded again.

This code didn't raise any error, but it would be better to avoid repeated download.

Thanks.

[2018-09-18 13:44] ftarlao commented on #524
I have a similar problem with the mnist + keras tutorial (mnist_tutorial_keras_tf.py
), I have tried changing L48 but I obtain the same error:
[code]

[2018-09-19 09:11] ftarlao commented on #524
I sent a Pull request with a working Python2 fix:
https://github.com/tensorflow/cleverhans/pull/569

[2018-09-19 16:49] nottombrown commented on #568
Good call. Closed by https://github.com/goodfeli/cleverhans/commit/6ae062639a7baddb1277b7b6bcbd22ca19b844eb

[2018-09-19 16:49] #568 closed

[2018-09-19 16:55] nottombrown commented on #560
See this function:
https://github.com/tensorflow/cleverhans/blob/827fd70568c911a4185aa1136f80f0043298cbb3/cleverhans/augmentation.py#L16

[2018-09-19 16:58] nottombrown commented on #544
@cihangxie are you interested in being the owner of this issue?

[2018-09-19 18:42] #524 closed

[2018-09-20 11:57] hhhzzj opened #572 "a problem about mnist_blackbox.py"
![problem](https://user-images.githubusercontent.com/37574973/45816803-4c79a600-bd0f-11e8-8d84-1261955f5525.png)

How should i do?

[2018-09-20 16:13] npapernot opened #573 "consolidate datasets"
We have a separate file for MNIST and CIFAR10 is defined in dataset.py

Would make sense to move all dataset related utilities to dataset.py

[2018-09-21 13:11] ftarlao opened #575 "How do I show adversarial images"
I'm a tensorflow newbie, and I am studying[ _mnist_tutorial_keras_tf.py_ ](https://github.com/tensorflow/cleverhans/blob/master/cleverhans_tutorials/mnist_tutorial_keras_tf.py)in order to generate adversarial images. How can I modify that code in order to generate adversarial images for a model? And how can generate (and show) an adversarial image for a specific model and image x?

I have tried wi

[2018-09-21 13:46] ftarlao commented on #575
I found the solution, the answer in SO question:
https://stackoverflow.com/questions/52443777/how-to-convert-tensor-to-ndarray-tensor-with-adversarial-images-inside

[2018-09-21 13:46] #575 closed

[2018-09-21 19:02] cvdeep opened #577 "SPSA none shape error; mnist_tutorial_keras_tf.py"
I'm getting the following error running mnist_tutorial_keras_tf.py with SPSA attack

 File "mnist_tutorial_keras_tf.py", line 247, in <module>
    tf.app.run()
  File "/Linux/Ubuntu/16.04/amd64/TOOLS/TENSORFLOW/1.8.0-GPU-PY2713/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 126, in run
    _sys.exit(main(argv))
  File "mnist_tutorial_keras_tf.py", line 233, in main
    load_m

[2018-09-22 16:18] manjushree2012 opened #578 ""Retval[0] does not have value" error while implementing JSMA"
### Implementing JSMA attack on NSL-KDD dataset, I got the following error. This error does not occur while implementing the same data on FSGM or other attack.
###
**Error : Retval[0] does not have value
Line:   `   adv_x = jsma.generate_np(sample,**jsma_params)**              `

source_samples = X_test_scaled.shape[0]

# Keep track of success (adversarial example classified in target)
results = n

[2018-09-22 19:11] npapernot commented on #578
This seems related to #456, which was closed because it was not reproducible.

Could you detail what changes you made from the JSMA tutorial? Did you change the model in addition to the data?

[2018-09-22 19:12] npapernot commented on #578
Also can you post the full stack trace?

[2018-09-23 02:57] manjushree2012 commented on #578
**Changes I made from the JSMA tutorial :**

I am trying to implement a MLP as my model.

[code]

Whereas, **_mnist_tutorial_jsma.py_** tutorial has model

[code]

I am implementing my model as
[code]

This is the only change I brought from the _**mnist_tutorial_jsma.py**_ file.

[2018-09-23 03:02] manjushree2012 commented on #578
Here goes the full stack tree:
[code]

[2018-09-23 04:40] npapernot commented on #578
Based on the syntax, I guess that you are using Keras to define the model? Have you wrapped the Keras model into a CleverHans model using https://github.com/tensorflow/cleverhans/blob/master/cleverhans/utils_keras.py#L101

[2018-09-23 06:49] manjushree2012 commented on #578
I added this line in the previous source code.

`wrap = KerasModelWrapper(model)
`

Some changes were made to the code. Still, the ERROR remains the same.

[code]
`

[2018-09-23 07:12] npapernot commented on #578
Are you training the model with keras or tensorflow? Did you disable the keras learning phase before running the attack?

It might be easier to modify the ModelBasicCNN example to remove the convolutions and add more fully connected layers.

[2018-09-24 10:03] hosna commented on #524
it did not solve the problem for me I am yet getting the error as
utils_mnist.py", line 68, in download_and_parse_mnist_file
    data = array.array(data_type, file_descriptor.read())
TypeError: must be char, not unicode

[2018-09-24 10:37] ftarlao commented on #524
My pull request is made of 4 commits, you need the merge of all 4 commits. I have checked it with Python 2.7 and 3.4, and the TRAVIS integration of the repository confirms the fix for Python 2.7/3.5.

[2018-09-24 11:02] hosna commented on #524
I applied all the commits
utils_mnist.py", line 94, in data_mnist
    'train-images-idx3-ubyte.gz', datadir=datadir) / 255.
 src/cleverhans/cleverhans/utils_mnist.py", line 68, in download_and_parse_mnist_file
    data = array.array(data_type, file_descriptor.read())
TypeError: must be char, not unicode

[2018-09-24 11:37] ftarlao commented on #524
It is only to be sure&safe that you updated the file correctly, please copy/paste (I think) L65-L70, the lines just after `the  hex_to_data_type = {..}` part.

[2018-09-24 12:14] hosna commented on #524
I build the lib again. I think only copy paste wont help, one need to re install cleverhans with pip install ...

[2018-09-24 12:16] hosna commented on #524
copy paste was not enough. one need to do pip install cleve.... again I think.
though now I am getting new errors /~_~\

[2018-09-24 12:39] hosna commented on #572
I am getting this
    _sys.exit(main(argv))
  File "mnist_blackbox.py", line 292, in main
    lmbda=FLAGS.lmbda, aug_batch_size=FLAGS.data_aug_batch_size)
  File "mnist_blackbox.py", line 261, in mnist_blackbox
    rng, img_rows, img_cols, nchannels)
  File "mnist_blackbox.py", line 183, in train_sub
    args=eval_params)[0]
TypeError: 'NoneType' object has no attribute '__getitem__'

[2018-09-24 12:47] ftarlao commented on #524
you are welcome :-)

[2018-09-24 16:13] goodfeli commented on #577
Can you please post the exact code you're running? (You can attach a .py file to your comment, or you can link to a gist)

[2018-09-24 16:16] goodfeli commented on #578
Can you just post a .py file as an attachment or link to a gist that we can just run to reproduce the problem?

[2018-09-24 17:05] goodfeli commented on #491
Closed for lack of discussion. Happy to address the issue if you can report more detail on how to reproduce it.

[2018-09-24 17:05] #491 closed

[2018-09-24 17:49] manjushree2012 commented on #578
### Attached file containing JSMA error.

[jsma.txt](https://github.com/tensorflow/cleverhans/files/2412194/jsma.txt)

[dataset.zip](https://github.com/tensorflow/cleverhans/files/2412202/dataset.zip)

[2018-09-24 18:09] manjushree2012 opened #585 "add ability to plot learning curves"
### Visualizing how my deep learning model performed, I need to plot my model's training history in cleverhans. (i.e. epochs vs accuracy)

Earlier with keras, code like this would do the job.

[code]

### Now using cleverhans, I am finding accuracy differently, I am wondering how the graph I would like to plot would be possible as code like :

[code]
has been replaced with code like:

[code]

[2018-09-24 21:52] #560 closed

[2018-09-25 10:22] lijinfeng0713 opened #588 "an InvalidArgumentError occurred when use CarliniWagnerL2 to generate adversarial examples"
When I create a CarliniWagnerL2 instance, everything is ok
`cw = CarliniWagnerL2(session, model, 10, 0.3, False, 0.2, 10, 1000, True, 10, 0, 1, 10,
                         model.x.get_shape().as_list()[1:])`

but when I use "attack_batch()" function to generate adversarial examples, there occurred an InvalidArgumentError.
`adv_x = cw.attack_batch(mnist.test.images[0:100], mnist.test.labels[0:100]

[2018-09-25 12:29] manjushree2012 commented on #585
### Thanks for the info.. Also, how can I calculate evaluation metrics other than 'accuracy' like precision, recall etc Because, .

[code]
**returns boolean whereas,**

`model_eval(sess, x, y, predictions, X_test_scaled, Y_test, args = eval_params)`

**returns a float with accuracy value.**

[2018-09-25 14:57] ftarlao opened #589 "Understanding FastGradientMethod usage and how to force output label to desired value"
I have a keras model (CNN with final softmax) that is an RGB image classifier that labels input images in 5 categories (one-hot encoded).
A simplified version of my code is the following:
[code]
**Question 1**
From my understanding, 'eps' is the input variation step (minimum change).
I have noticed that the final outcome is highly affected by _eps_, sometimes I need high _eps_ in order to obtain a

[2018-09-25 15:32] ftarlao commented on #589
In case you prefer, or you like to level up on SO, I have also posted the question here:

https://stackoverflow.com/questions/52501833/doubts-with-cleverhans-fastgradientmethod-fgm-adversarial-image-generation

[2018-09-25 15:57] npapernot commented on #589
Q1:

* FGSM (like any attack) is not guaranteed to find an adversarial image that is misclassified by the model because it makes approximations when solving the optimization problem that defines an adversarial example. The attack can fail to find adversarial images for various reasons, one common reason is gradient masking. You can read about it [in this blog post](http://www.cleverhans.io/securit

[2018-09-25 15:57] #589 closed

[2018-09-26 06:37] ftarlao commented on #589
I copied your answer to SO question. Regards

[2018-09-26 06:59] sktzwhj commented on #588
How can you create the instance as the constructor only takes at most 5 arguments?

[2018-09-26 15:06] npapernot commented on #588
My guess is that you are using the class that is in `attacks_tf.py` rather than the one in `attacks.py`. Can you try to make the change and tell us if that worked? You can find a tutorial here: https://github.com/tensorflow/cleverhans/blob/master/cleverhans_tutorials/mnist_tutorial_cw.py

[2018-09-26 15:07] #588 closed

[2018-09-26 17:02] goodfeli commented on #585
That feature doesn't exist yet. If you'd like to add precision / recall metrics for detectors you're welcome to. So far we actually don't have any detector-based functionality that I know of though. I have implemented accuracy / coverage metrics for multiclass classifiers and will send a pull request soon.

[2018-09-26 20:39] goodfeli opened #593 "Speed up PerImageStandardize"
Currently, this class is presumably slow, due to both the use of a map_fn and being on CPU:
https://github.com/tensorflow/cleverhans/blob/23e530ee60c826b840526b39bfee9624f1c14af4/cleverhans/picklable_model.py#L553

It should be straightfoward to implement the same thing on GPU, just check that the change doesn't affect model accuracy at all.

[2018-09-27 01:58] yenchenlin commented on #490
@nottombrown We can close this now?

[2018-09-27 02:18] nottombrown commented on #490
Closed via #594 !

[2018-09-27 02:18] #490 closed

[2018-09-27 16:10] goodfeli opened #595 "Enable pylint check for C0411 (import order)"
This is initially disabled in pylint to avoid making to many changes while switching to TensorFlow style

[2018-09-27 16:11] goodfeli opened #596 "Enable pylint check for C0111 (missing docstring)"

[2018-09-27 16:12] goodfeli opened #597 "Enable pylint check for W0613: Unused argument"

[2018-09-27 16:53] goodfeli opened #598 "Enable pylint check for W0611 (unused import)"

[2018-09-27 16:53] goodfeli opened #599 "Enable pylint check for W0231 (super init not called)"

[2018-09-27 17:24] goodfeli opened #600 "Investigate whether to enable pylint error C0123 (uniodiomatic typecheck)"

[2018-09-27 17:25] goodfeli opened #601 "Enable pylint check W0612 (unused variable)"

[2018-09-27 17:26] goodfeli opened #602 "make sure pylint tests are load balanced / not over-duplicated across travis jobs"

[2018-09-27 17:27] goodfeli opened #603 "Investigate whether to enable pylint error E1129 (something to do with context managers)"

[2018-09-27 17:30] goodfeli opened #604 "Enable pylint check E1120 (no value for parameter)"

[2018-09-27 17:33] goodfeli opened #605 "Enable pylint check R1705 (unnecessary else after return)"

[2018-09-27 17:35] goodfeli opened #606 "Investigate whether to enable pylint check W0621: redefining name"

[2018-09-27 17:36] goodfeli opened #607 "Enable pylint check E0602 (undefined variable)"

[2018-09-27 17:49] goodfeli opened #608 "Re-enable pylint check W0101 (unreachable code)"

[2018-09-27 18:02] goodfeli opened #609 "Enable pylint check W0212 (protected access)"

[2018-09-27 18:56] goodfeli opened #611 "Investigate whether to enable pylint check R1704 (redefining argument)"

[2018-09-27 19:16] goodfeli opened #612 "Enable pylint check W0404 (re-import)"

[2018-09-27 19:19] goodfeli opened #613 "Enable pylint check W1201 (logging not lazy)"

[2018-09-27 19:29] goodfeli opened #614 "Enable pylint check W1202 (logging format)"

[2018-09-27 19:51] goodfeli opened #615 "Enable pylint check W0108 (unnecessary lambda)"

[2018-09-27 19:55] goodfeli opened #616 "Investigate whether we should enable pylint check C0413 (wrong import position)"

[2018-09-27 20:09] goodfeli opened #617 "Enable pylint check C0412 (import grouping)"

[2018-09-27 20:14] goodfeli commented on #602
Is it any faster if we do one command line call and pass all the files in one call? Does this prevent repeated imports?

[2018-09-27 20:14] goodfeli commented on #602
Is there a way to configure it to do shallower analysis where it doesn't need to import everything?

[2018-09-27 20:27] goodfeli commented on #602
I'm not sure yet how we would keep track of this kind of persistent state on travis, but maybe we could use a caching system, where we only run pylint on a file if the md5sum of the file concatenated with pylintrc has changed since the last time it passed pylint.

[2018-09-27 23:03] goodfeli opened #618 "Enable pylint check E1121 (too many arguments)"

[2018-09-27 23:04] goodfeli commented on #602
Previous comment is wrong: we can't hash an individual file, because other files might have changed interfaces.

e.g. if file A says:
import file_b
foo()

but file_b now has
def foo(x):

file A is wrong not to supply an argument to foo.