[2020-06-09 12:38] dataScienceMojtaba commented on #468
how ?
I have a similar issue in a bidirectional_dynamic_rnn layer
when the "control_flow_ops.while_loop()" method in the "rnn.py" file is called for the second time, I have the following error:
{ValueError}Tensor("stacked_rnn_cells/InputHint-UnidirectionalSequenceLstm-1cbce226aa4c11eab242704d7bb3c6f4-1-None-input_to_input_w:0", shape=(256, 256), dtype=float32) must be from the same graph as Tensor

[2020-06-10 01:31] shivam2197 opened #1169 "NameError: name '__file__' is not defined"
I am getting a name error as
`<ipython-input-1-4fbd91cef426> in <module>
    224   flags.DEFINE_boolean('load_model', LOAD_MODEL,
    225                        'Load saved model or train.')
--> 226   tf.app.run()

~\.conda\envs\tf2_env\lib\site-packages\tensorflow\python\platform\app.py in run(main, argv)
    124   # Call the main function, passing through any arguments
    125   # to the final p

[2020-06-10 05:18] saumya0303 opened #1170 "Correction in tool.py file (cleverhans/examples/adversarial_asr/tool.py )"
Hi team,
             In transform class while calculating PSD it was written **self.scale = 8. / 3.** it should be **self.scale=np.sqrt(8.0/3.)** Please find the attached document for calculation of [PSD.]

**tool.py code**
class Transform(object):

    def __init__(self, window_size):
        self.scale = 8. / 3.

In generate_masking_threshold.py (cleverhans/examples/adversarial_asr/generate_mas

[2020-06-14 02:44] Andymic opened #1171 "Flags missing from cleverhans.compat"
**Description**
flags no longer exist in cleverhans.compat, therefore it cannot be imported.

**To Reproduce**
pip install cleverhans or git clone https://github.com/tensorflow/cleverhans

**Expected behavior**
I expected lags to be in cleverhans.compat. The side of effect is that cleverhans_tutorial i.e. mnist_tutorial_tf.py no longer works

**System configuration**
 - Ubuntu 20.04
 - python2.7

[2020-06-18 15:51] Jeevi10 opened #1173 "Cleverhans adversarial generation is extreamly slow"
if attack =="fsgm":
       fgsm = FastGradientMethod(DQNModel(model,env.action_space.n),model.sess)
       adv_x = fgsm.generate(obs_ph1, **fgsm_params)

adv_xin = model.sess.run(adv_x,{obs_ph: np.array(obs)[None]})*255.0

model= stable baseline DQN model.
DQNModel= cleverhans Model to create frop
obs_ph1,obs_ph = stable baseline placeholders.
When use this to generate adversarial examples for RL.

[2020-06-23 04:07] htZhang25 opened #1174 "For ADVERSARIAL ASR, "docker bulid" returned a non-zero code: 2 when "RUN pip install tensorflow-gpu==1.13.1""
For examples/ADVERSARIAL ASR, "docker bulid" returned a non-zero code: 2 when "RUN pip install tensorflow-gpu==1.13.1 -i https://pypi.tuna.tsinghua.edu.cn/simple"

**To Reproduce**
Steps to reproduce the behavior:
1. export LINGVO_DEVICE="gpu"
2. sudo docker build --no-cache --tag tensorflow:lingvo $(test "$LINGVO_DEVICE" = "gpu" && echo "--build-arg base_image=nvidia/cuda:10.0-cudnn7-runtime-ubun

[2020-06-30 02:25] htZhang25 commented on #1170
I read this paper recently. I agree with you. In transform class it seems the stft result will only be multiplied by the square root of 8./3.. In generate_masking_threshold.py, it is consistent with this reference you have pasted.

[2020-07-01 15:45] Jeevi10 commented on #1051
I have exactly same problem now. I cannot compute gradients for iterative method. It gives gradients None and couldn't proceed further. But I was able run exactly same settings with FSGM and craft adversarial examples.

[2020-07-02 13:37] mevo12318 commented on #1117
thanks!

[2020-07-07 21:57] SaiArrow commented on #1052
Was this resolved for Tensorflow ? as @luannd mentioned the given solution doesn't work for TF.

[2020-08-01 02:47] YoungBigBird1985 opened #1177 "Cannot use the model_zoo.my_cnn?"
from cleverhans.model_zoo.my_cnn import MyCNN
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named my_cnn

[2020-08-07 12:47] arunpalaniappan commented on #1152
For versions before 2019-04-05, defenses are implemented in `utils_tf.py`. The `cleverhans.utils_tf.train` is depreciated after 2019-04-05. The later defenses are implemented in `train.py' ( `cleverhans.train.train`).

[2020-08-12 00:42] azamAviage opened #1178 "@tf.keras.utils.register_keras_serializable(package="Addons") AttributeError: module 'tensorflow.keras.utils' has no attribute 'register_keras_serializable'"
I'm trying to install Cleverhans and run one of the examples.

I was able to install Cleverhans but when running an example under tutorial directory, I get error.

I'm using tensorflow  1.9.0, Keras 2.4, Cleverhans 3.0.1.

For each tensorflow version I'm getting a specific error. When I want to resolve the issue, I need to change the tensorflow version and with each version I'm getting new series

[2020-09-04 12:39] lorder95 opened #1179 "Help wanted (for EAD algorithm)"
I'm trying to use the Elastic-Net algorithm implemented in Cleverhans to generate adversarial samples in a classification task. The main problem is that i'm trying to use it in a way to obtain an higher confidence at classification time on a target class (different from the original one) but i'm not able to reach good results.
The system that i'm trying to fool is a DNN with a softmax output on 10

[2020-09-05 14:55] lorder95 commented on #1179
I've founded a solution to this problem.
I hope that it can be useful for other peoples that faces my problem and maybe to update the EAD method.
I think that the main problem is that the EAD method doesn't allow to increase the output probability when the target class is the same class predicted by the model.
For instance :
-Supposing that our model classify an input image to the class "0" with a

[2020-09-05 15:46] ysharma1126 commented on #1179
Increase the 'confidence' parameter in EAD until you reach your desired threshold. Thanks @lorder95 for the suggestion, the 'confidence' parameter aims to achieve the same ends. By default, the attack's objective is to have the target logit be marginally larger than the rest, increasing the 'confidence' parameter increases the gap in logits required for success, thereby yielding higher-confidence

[2020-09-05 16:12] lorder95 commented on #1179
Thanks a lot @ysharma1126  for your answer.
I thought (mistakenly) that the confidence parameter was a value between 0 and 1, so i was not successful in my intent. Instead, increasing it by 1 at each step of the cycle I succeeded perfectly in the goal.

For anyone intrested in this problem the previous code can be modified in this way to works properly:

[code]

Thanks again, problem solved !

[2020-09-05 16:12] #1179 closed

[2020-09-11 03:12] Wrathar opened #1180 "Cannot download dataset/images under nips17_adversarial_competition/dataset"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Describe the bug**
I tried to run the "download_images.py" file under this directory but all downloads of all images failed and no images were downloaded

**To Rep

[2020-10-20 19:37] research-guy commented on #1099
@robomotic - Did you ever find the source code? I also came along this paper and would like to take a look at the source if it is available

[2020-10-21 13:28] rufengma commented on #1178
Same, cleverhans require Tensorflow 1.x, but Addons is a 2.x thing. Can anyone fix this?

[2020-10-21 13:29] rufengma commented on #1178
Did you find away to fix it? The cleverhans version I could use currently is 2.1.0

[2020-10-25 09:10] robomotic commented on #1099
I am sorry no never found it.

[2020-10-30 03:24] aiskumo opened #1182 "FastGradientMethod 'y' argument does not support one hot encoded labels."
**The bug**
When I try to give true labels of say shape (1,5) to `fast_gradient_method`, it produces an error:
`ValueError: Rank mismatch: Rank of labels (received 2) should equal rank of logits minus 1 (received 2).`

This is how I'm trying to implement FastGradientMethod on a sample input of shape (1,25) and one hot encoded labels of shape (1,5).

Sample input with shape (1,25):
[code]

One-hot

[2020-10-30 04:24] andantillon commented on #1182
Hey, have you made sure that the model you are passing into the fast_gradient_method function outputs the logits instead of the values as passed through an activation function like 'softmax' in the last layer? Maybe that's the problem?... If not you could perhaps try to pass in the true labels as an array of size (5) instead of a 2D (1,5) tensor? Hope this helps! What does the model that you're us

[2020-10-30 04:31] aiskumo commented on #1182
Hi, thanks for the response! Actually initially I was passing the input label as an array of size (5,) during which I got this error:
`ValueError: Shape mismatch: The shape of labels (received (5,)) should equal the shape of logits except for the last dimension (received (1, 5)).`
So I decided to pass the true labels as np.reshape(sample_input_label, (1,5)) after which I got the rank mismatch erro

[2020-10-30 04:42] andantillon commented on #1182
Have you tried modifying the model so that you get the logits from the final layer as the output instead of the values outputted by the 'softmax' function? I copy-pasted your error code into google and a bunch of other issues popped up where that same error code appeared after trying to use one of tensorflow's loss functions... You could maybe try that and see if it works. But yes, you're right; I

[2020-10-30 04:52] aiskumo commented on #1182
Thank you so much; I'll try modifying the model. I believe the docs were recently updated since it shows one-hot encoded for 'y' parameter now which just seems a bit confusing to me.

Thank you once again for your suggestions, I'll implement them!

[2020-10-30 05:09] aiskumo commented on #1182
I just tried this sample_input with
[code]
but it seems I get the same Rank Mismatch error here too, whether logits is of (1,5) or (5,) shape. I'm not quite sure why this happens.

[2020-10-30 05:13] aiskumo commented on #1182
Also I believe Cleverhans uses Tensorflow's [softmax_cross_entropy_with_logits_v2](https://www.tensorflow.org/api_docs/python/tf/compat/v1/nn/softmax_cross_entropy_with_logits_v2). In the documentation of this, it specifies about the labels:

So by this logic, the code should work with (1,5) as I'm passing a single one hot encoded sample here, so it's a bit weird.

[2020-10-30 19:32] andantillon commented on #1182
Sorry, yeah... I just replicated your error, although it was using the `fast_gradient_method` function imported from `cleverhans.future.tf2.attacks`. I can't seem to get it to work. To me, it seems as though it isn't actually supported for one-hot encoded labels...

For now, it looks like it works fine with the labels as indices.

[2020-10-30 20:09] aiskumo commented on #1182
Yeah I'm using the same `fast_gradient_method` from the `cleverhans.future.tf2.attacks` package and got this error. It just seems misleading to specify in the documentation as "labels should be one-hot encoded labels."

[2020-10-30 21:14] andantillon commented on #1182
Right... Notice, however, that in your original message you were referencing the docs for the `fast_gradient_method` located in `cleverhans/attacks` instead of the `tf2` version.

If you look at the documentation for the method that you are using from `cleverhans/future/tf2/attacks` [here](https://github.com/tensorflow/cleverhans/blob/master/cleverhans/future/tf2/attacks/fast_gradient_method.py) y

[2020-10-30 21:16] aiskumo commented on #1182
I see. Thank you so much for clearing it up!

[2020-10-30 21:27] #1182 closed

[2020-12-01 08:13] gaudelbijay opened #1183 "AttributeError: module 'tensorflow' has no attribute 'GraphKeys'"
snnl loss function didn't work with tensorflow 2.x .
I installed cleverhans library and tried to use snn and import:

from cleverhans.loss import SNNLCrossEntropy, CrossEntropy

the above import throws:
AttributeError: module 'tensorflow' has no attribute 'GraphKeys'

[2020-12-18 22:05] ZuowenWang0000 opened #1184 "Attacks in Jax only support cross entropy loss"
The fast_gradient_method in the Jax implementation is now by default using cross-entropy loss for crafting adversarial examples: https://github.com/cleverhans-lab/cleverhans/blob/4b5ce5421ced09e8531b112f97468869980884f2/cleverhans/future/jax/attacks/fast_gradient_method.py#L40

It is apparently now always correct to assume people are using cross-entropy loss.

**Describe the solution you'd like**

[2020-12-23 00:35] redwrasse opened #1185 "Hosted documentation?"
I can't seem to find usable documentation for cleverhans. There is https://cleverhans.readthedocs.io/en/latest/,
which I presume matches the `docs/` directory. Is there something forthcoming, with say getting started, tutorials, concepts, etc?
Thanks.

[2020-12-23 02:50] adam-dziedzic commented on #1185
We're going to update the documentation in a few days. Stay in touch.

[2020-12-29 08:34] as791 commented on #1183
I am also getting the same issue, while importing the FastGradientMethod gives below error at line 341 utils_tf.py
loss_collection=tf.GraphKeys.REGULARIZATION_LOSSES):
AttributeError: module 'tensorflow' has no attribute 'GraphKeys'

[2021-01-04 09:10] Flami42 commented on #1183
Hi! I have the same error in the same situation. Did you solved?

[2021-01-04 09:26] as791 commented on #1183
No, it is due to tf version I think. But no, not yet solved.

On Mon, Jan 4, 2021, 2:41 PM Flaminia Spasiano <notifications@github.com>
wrote:

--
*Disclaimer: *This email and any files transmitted with it are confidential
and intended solely for the use of the individual or entity to whom they
are addressed. If you have received this email in error please notify the
system manager. This message c

[2021-01-04 13:35] gaudelbijay commented on #1183
No, Instead I wrote the custom code for TF 2.x.

[2021-01-08 15:00] as791 commented on #1183
Try to use tf.compat.v1 in the source code, i.e. tf.GraphKeys should be replaced by tf.compat.v1.GraphKeys, that should solve the issue.

[2021-01-18 12:48] jonasguan commented on #1183
Hi friends. I hope @as791 's solution worked for you, but the current release of CleverHans does not officially support TF2. However, we have planned some major updates soon that will include support for TF2, PyTorch and Jax.

[2021-01-18 12:48] #1183 closed

[2021-01-18 12:56] jonasguan commented on #1177
Hi @YoungBigBird1985 , I don't believe there is a my_cnn module. Can you double check your code?

We're currently undergoing a major revamp, so I'm closing the issue for now. If you're still experiencing problems, feel free to reopen with a new issue.

[2021-01-18 12:56] #1177 closed

[2021-01-18 12:56] jonasguan commented on #1184
Thanks for the suggestion @ZuowenWang0000! If you can submit a PR with your proposed changes, we'd be glad to review and merge it.

[2021-01-18 13:04] jonasguan commented on #1180
Hi @Wrathar , thanks for bringing this up, but unfortunately we can't offer maintenance/support for code in the `examples/` directory. It looks like the image links are expired. I'll try to see what I can do later, but we may have to just delete that example since those images are not hosted by us.

[2021-01-18 13:04] #1180 closed

[2021-01-18 13:15] jonasguan commented on #1178
Hey friends, unfortunately we don't support TF 1.9, and we're dropping support for TF 1.x soon. However, we are planning major updates soon that will include support for TF 2, PyTorch and Jax.

[2021-01-18 13:15] #1178 closed

[2021-01-18 13:30] jonasguan commented on #1169
Hi, we're currently undergoing a major revamp, so I'm closing the issue for now since it's been inactive for a while. If you're still experiencing problems, feel free to reopen with a new issue and mention this one.

[2021-01-18 13:30] #1169 closed

[2021-01-18 13:33] jonasguan commented on #1174
Hi @htZhang25 , unfortunately we can't provide support or maintenance for code in the `examples/` directory. If you were eventually able to solve the problem, we very much welcome a PR to help fix it.

[2021-01-18 13:33] #1174 closed

[2021-01-18 14:05] jonasguan commented on #1164
Hi @obkwin , thanks for the interest in our library. Unfortunately, we can't provide support or maintenance for code in the  `examples/` directory.

[2021-01-18 14:05] #1164 closed

[2021-01-18 14:16] jonasguan commented on #1152
We're planning to implement more defenses in TF2, PyTorch and Jax in our upcoming updates. I know the `defenses/` directory has stayed empty for a while, but we plan to work on it soon, stay tuned!

[2021-01-18 14:16] #1152 closed

[2021-01-18 15:15] jonasguan commented on #1173
Hey @Jeevi10 , FGSM isn't computationally intensive and shouldn't be very slow. Are you running on a GPU?

I'm going to close this issue for now since it's inactive for a while, and we're about to make some major updates. If you're still having similar problems, feel free to reopen an issue and mention this one.

[2021-01-18 15:15] #1173 closed

[2021-01-18 15:17] #1153 closed

[2021-01-18 15:27] jonasguan commented on #985
Closing this issue for now since it's inactive for a while, and we currently don't have plans to design/implement a standard evaluation process. I'll reopen if more people are interested in discussing this.

[2021-01-18 15:27] #985 closed

[2021-01-18 15:43] jonasguan commented on #1185
You can now find the API documentation at [https://cleverhans-lab.github.io/cleverhans/](https://cleverhans-lab.github.io/cleverhans/). To get started, I recommend going through the README. We also have some major updates planned, which will include new tutorials, stay tuned :)

[2021-01-18 15:43] #1185 closed

[2021-01-18 16:24] jonasguan commented on #1059
Closing due to inactivity.

[2021-01-18 16:24] #1059 closed

[2021-01-18 16:25] jonasguan commented on #1056
Closing due to inactivity.

[2021-01-18 16:25] #1056 closed

[2021-01-18 16:26] jonasguan commented on #1057
Closing due to inactivity.

[2021-01-18 16:26] #1057 closed

[2021-01-18 17:16] jonasguan commented on #1155
Thanks for the suggestion @jpgard . Would you be interested in submitting a PR for this?

[2021-01-19 06:17] jonasguan commented on #366
Closing since we're switching to Github Actions soon.

[2021-01-19 06:17] #366 closed

[2021-01-19 06:26] jonasguan commented on #1157
Closing due to inactivity. Feel free to open a new issue if you continue to have problems.

[2021-01-19 06:26] #1157 closed

[2021-01-19 06:39] jonasguan commented on #1170
Thanks for bringing this up! Unfortunately, we're undergoing some major updates as we move away from TF 1.x to TF 2, PyTorch and Jax, and we currently don't have the bandwidth to verify and fix bugs in older examples. I'll have to close the issue for now, but if you find we have the same problem after our updates to CleverHans v4, feel free to reopen the issue or submit a PR.

[2021-01-19 06:39] #1170 closed

[2021-01-19 10:05] jonasguan commented on #550
Closing since we're stopping support for version < 4.

[2021-01-19 10:05] #550 closed

[2021-01-19 15:21] jonasguan commented on #1184
Oops, did not mean to close this yet.

[2021-01-19 15:27] jonasguan commented on #1142
Thanks @loopylangur , I merged your PR.

[2021-01-19 15:27] #1142 closed

[2021-01-20 01:58] jonasguan commented on #801
Closing as we update the library to v4 and drop support for version < 4.

[2021-01-20 01:58] #801 closed

[2021-01-20 01:59] jonasguan commented on #830
Closing as we update the library to v4 and drop support for version < 4.

[2021-01-20 01:59] #830 closed

[2021-01-20 01:59] jonasguan commented on #842
Closing as we update the library to v4 and drop support for version < 4.

[2021-01-20 01:59] #842 closed

[2021-01-20 04:37] jonasguan commented on #740
Closing as we're moving to Github Actions for CI.

[2021-01-20 04:37] #740 closed

[2021-01-20 04:38] jonasguan commented on #840
Closing as we drop support for version < 4.

[2021-01-20 04:38] #840 closed

[2021-01-20 04:38] jonasguan commented on #836
Closing as we drop support for version < 4.

[2021-01-20 04:38] #836 closed

[2021-01-20 10:36] jonasguan commented on #557
Closing as we upgrade to version 4.

[2021-01-20 10:36] #557 closed

[2021-01-20 10:37] jonasguan commented on #602
Closing as we upgrade to version 4 and switch to Github Actions.

[2021-01-20 10:37] #602 closed

[2021-01-20 10:38] jonasguan commented on #609
Closing as we upgrade to version 4.

[2021-01-20 10:38] #609 closed

[2021-01-20 10:38] #614 closed

[2021-01-20 10:42] jonasguan commented on #620
Closing as we upgrade to version 4.

[2021-01-20 10:42] #620 closed

[2021-01-20 10:42] jonasguan commented on #622
Closing as we upgrade to version 4.

[2021-01-20 10:42] #622 closed

[2021-01-20 10:44] jonasguan commented on #838
Closing as we upgrade to version 4.

[2021-01-20 10:44] #838 closed

[2021-01-20 10:50] jonasguan commented on #874
Closing as we discontinue support for TF1. Too bad they never fixed it :(

[2021-01-20 10:50] #874 closed

[2021-01-20 10:52] jonasguan commented on #1101
Closing this for now since it's been inactive for a while and we're discontinuing support for TF1.

[2021-01-20 10:52] #1101 closed

[2021-01-20 10:59] jonasguan commented on #839
Closing as we upgrade to version 4 and discontinue support for TF1.

[2021-01-20 10:59] #839 closed

[2021-01-20 11:00] jonasguan commented on #846
Closing as we upgrade to version 4.

[2021-01-20 11:00] #846 closed

[2021-01-20 11:00] jonasguan commented on #990
Closing as we upgrade to version 4.

[2021-01-20 11:00] #990 closed

[2021-01-24 02:25] loopylangur commented on #1142
Thanks @jonasguan!

[2021-01-24 21:29] redwrasse commented on #1185
Excellent, thanks!

[2021-01-25 04:40] jonasguan commented on #1161
Hey @iamgroot42 , you have a very keen eye! This does look like a bug. However, we are discontinuing support for TF1, and will soon mark the current version of CleverHans as the final v3 release, before we update to v4. In an abundance of caution, I won't make the change since this is part of the test of the older TF1 code, lest I somehow break it right before release. However, if you notice this

[2021-01-25 04:40] #1161 closed

[2021-01-25 15:59] jonasguan commented on #1171
Hi @Andymic , thanks for opening the issue and proactively making a PR. Unfortunately we've discontinued support for TF1 as we're working on a new version of the library that will support TF2, PyTorch and Jax. It'll be released very soon. I'll have to close the issue and PR for now, but if you meet similar problems in the new version please let us know.

[2021-01-25 15:59] #1171 closed

[2021-02-27 04:17] ypang6 opened #1191 "Custom loss function in MIM in TF2"
**Describe the bug**
I encountered a tensor shape error when I was trying to generate MIM black-box attack on my test dataset in tf2. I'm not sure how to resolve this issue. The shape 12630 is the total number of test dataset. Is there anyone who is able to help? Thanks.

**Code layout**
[code]
**Error**
[code]
**System configuration**
 - Ubuntu 16.04 LTS
 - Python 3.7
 - TensorFlow 2.3.0

[2021-02-27 05:56] ypang6 commented on #1191
I checked and found the issue comes from the function `compute_gradient`. In file 'momentum_iterative_method.py', 'Line 73' the function has four inputs 'grad = compute_gradient(model_fn, adv_x, y, targeted)'. In file 'utils.py', the function has five inputs 'compute_gradient(model_fn, loss_fn, x, y, targeted=False)'. The second input 'loss_fn' is missed.

[2021-03-04 02:05] alkaet commented on #1191
This should be a relatively simple fix. As far as I understand you would only need to add a loss_fn parameter to the MIM implementation and a default case corresponding to the MIM paper.
@ypang6 I'm not familiar with the MIM paper, what is the loss used in it?

[2021-03-04 02:07] alkaet commented on #1191
@ypang6  An example of the custom loss function definition is available in the Carlini & Wagner TF2 implementation if you would like to contribute.

[2021-03-04 21:43] ypang6 commented on #1191
I think they are using softmax cross-entropy loss in the original MI-FGSM paper.

[2021-03-04 22:25] ypang6 commented on #1191
I will have a look.

[2021-03-05 02:44] alkaet commented on #1191
If that's the case the the CW attack implementation in tf2 should be sufficient as a reference

[2021-03-08 09:27] ForeverRuri opened #1198 "Error in FGSM with keras"
**Describe the bug**
When i try to use FGSM in keras, i meet up with the error same as https://stackoverflow.com/questions/58254353/error-when-implementing-fgsm-in-keras-with-cleverhans

**To Reproduce**
Steps to reproduce the behavior:

    fgsm = FastGradientMethod(KerasModelWrapper(model), sess=sess)
    model_input = tf.placeholder(tf.float32, shape=(1, 299, 299, 3))
    x_adv = fgsm.generate(

[2021-03-08 09:33] alkaet commented on #1198
I'm not familiar with the TF1 implementation and we have discontinued support for TF1.
I think that we will not fix this problem. @jonasguan Your opinion on this?
Is there a specific reason you need to use TF1 rather than TF2? I'm happy to help you with setting up the MNIST tutorial for TF2

[2021-03-08 09:33] #1198 closed

[2021-03-08 23:52] ypang6 commented on #1191
I just made a pull request to fix the issue with several lines. Please have a look. Thanks,

[2021-03-09 01:43] ForeverRuri commented on #1198
For we have done some work in advance in TF1, or could u tell me with which version of `cleverhans` can i run the code above? or how could i use a keras pretrained model to generate some adv pics?

[2021-03-09 02:09] alkaet commented on #1198
Version 4.0 of Cleverhans (current version) implements the TF2 FGSM attack.
TF2 uses keras as it's high level API. You should not have too much trouble porting Keras code to TF2. I would recommend that solution as TF1 is no longer supported by google afaik.

[2021-03-11 21:56] #1191 closed

[2021-03-12 14:50] orlp commented on #496
Is a problem today.

[2021-03-12 16:21] tejuafonja commented on #496
Thanks for letting us know @orlp. How can we replicate this problem that you encountered? Could you provide more details so we can further investigate it?

[2021-03-12 18:39] orlp commented on #496
@tejuafonja Well I don't use this particular software package, but I got a similar root cause today when Google landed me here, so I thought I'd let you know. The URL <http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz> is giving out 503s sporadically today.

[2021-03-13 16:35] tejuafonja commented on #496
Thanks for reporting this @orlp. We'll make the necessary changes.

[2021-03-26 13:50] ananthceh19 opened #1204 "projected_gradient_descent() gives an error"
**Describe the bug**
projected_gradient_descent() gives an error: "TypeError: Cannot convert 0.3 to EagerTensor of dtype uint8" when run on Google Colab.

**To Reproduce**
Steps to reproduce the behavior:
While running the following code (present in cleverhans/cleverhans/tutorials/tf2/mnist_tutorial.py:
   for epoch in range(FLAGS.nb_epochs):
        # keras like display of progress
        progre

[2021-03-30 21:53] grahamannett opened #1205 "bug in CarliniWagnerL2 for tf2"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Describe the bug**
when trying to use cw2 attack from cleverhans I get an error about
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Using dataset fr

[2021-04-07 21:38] sethbeckett opened #1208 "Saliency Map Method (JSMA) for Cleverhans 4.0?"
**Is your feature request related to a problem? Please describe.**
I am looking to use the saliency_map_method but am not finding it in Cleverhans 4.0. I understand that it is in 3.1, but that doesn't support Tensorflow 2. Will it be added to the attacks section of Cleverhans 4?

**Describe the solution you'd like**
JSMA saliency_map_method added to support TF2

**Describe alternatives you've cons

[2021-04-09 03:08] RSMung opened #1209 "There is no torch package when use command pip install cleverhans!Why?HELP!"
I use command pip install cleverhans to install this package.
Then I write code follow this tutorials: https://github.com/cleverhans-lab/cleverhans/blob/master/tutorials/torch/cifar10_tutorial.py
But I find out that pycharm give error to me in this line:
from cleverhans.torch.attacks.fast_gradient_method import fast_gradient_method

I can't understand why there is this problem.
How can I solve it?

[2021-04-09 03:10] RSMung commented on #1209
Pycharm reports that it can't find reference torch, so I can not use the method fast_gradient_method.
It is so strange

[2021-04-09 03:35] RSMung commented on #1209
I use this way---Installation for development to install this package, then it work well.
But this way is not convenient.
I still want to know why the way that I use pip command to install is not work well.

Otherwise I find out that this package's method cant work in segmentation tasks due to the loss function.

[2021-04-09 05:50] tejuafonja commented on #1209
Hi @RSMung, thanks for reporting this. I'm glad you were able to get it to work. The pip command is still using version 3, and we are in the process of upgrading to version 4. Once that is complete, you should be able to install pip without having to install the library for development.

I'm going to close this issue but feel free to reopen it if you have more questions.

[2021-04-09 05:50] #1209 closed

[2021-05-09 12:54] AsWali opened #1210 "Survey on globally distributed software engineering"
Hey there.

We are doing a survey on globally distributed software engineering focused on open source projects. If you have some spare time we would really appreciate your response. The form takes about 10 minutes. Thanks in advance!
Survey can be found [here](https://forms.gle/N1TnifRuCYHrCY9JA)

[2021-05-09 14:53] jonasguan commented on #1210
Hi @AsWali , I'm closing this since you've never been a contributor, and are here solely to advertise your survey. I recommend that you reach out to repo maintainers prior to posting surveys like this, otherwise it's an abuse of the issues board.

[2021-05-09 14:53] #1210 closed

[2021-05-17 22:11] madarax64 commented on #1167
Hello @Joool ,
This looks to be fixed in the current release?

[2021-05-18 09:01] Joool commented on #1167
Hi @madarax64,
Yes this is fixed in the current version, I'm closing this and the related pull request.

[2021-05-18 09:01] #1167 closed

[2021-05-23 09:45] amirhagai opened #1211 "Torch implemantation of the fast gradient method"
Hi!
Thanks for that great library!

It seems like the torch implementation assumes that the given model had been trained with cross-entropy loss, line 80 at  torch/attacks/fast_gradient_method.py.

In the TF version(as in the paper) one can specify the loss function, line 46 at tf2/attacks/fast_gradient_method.py and in the Function signature.

Thanks!

[2021-06-08 15:30] tejuafonja commented on #1211
Hi Amir,

Thanks for pointing this out. Indeed, it would be much better if the loss function is included in the function signature as done in the TensorFlow implementation. Would you like to send a PR addressing this?

[2021-06-08 16:36] tejuafonja commented on #1208
Hi Seth,

Your feature request is duly noted. We will let you know once we've updated the library with this attack. We also welcome outside contributions, so please feel free to submit a PR in case you have a working tf2 implementation already.

[2021-06-08 16:39] tejuafonja commented on #1204
Hi, @ananthceh19 thanks for reporting this. Which version of cleverhans are you using, please?

[2021-06-10 09:00] RSMung opened #1213 "Is there any problem in my code of FGSM and I-FGSM? plz HELP"
**Describe**
I implements the I-FGSM modified from the your FGSM code in
 https://github.com/cleverhans-lab/cleverhans/blob/1115738a3f31368d73898c5bdd561a85a7c1c741/cleverhans/torch/attacks/fast_gradient_method.py
But I find out that when the disturbance intensity (it is e in my code ) is greater than 0.01, I can see the attack in my eyes, which is not reasonable in my opinions. The picture as fol

[2021-06-10 09:47] tejuafonja commented on #1213
Hi @RSMung,

Thanks for reporting this. Just had a quick look at the paper. Your implementation needs slight modification for the i-FGSM case. Epsilon (e), becomes alpha (as seen in equation 6 of the paper), then you also need to make sure your adv example is within certain clipping criteria, epsilon (e). We currently don't have i-FGSM implemented in our library but you can check out [this impleme

[2021-06-10 09:56] tejuafonja commented on #1213
Also, the link I shared with you implemented the Iterative least-likely class method where x = x-alpha*x.grad, but with slight modification, you should be able to make it work for the basic iterative method.

<img width="688" alt="Screenshot 2021-06-10 at 11 51 33" src="https://user-images.githubusercontent.com/18422386/121504555-663d0900-c9e2-11eb-898e-632cf586b5bc.png">

[2021-06-11 11:25] RSMung commented on #1213
Thank you for your reply! You are so nice.
I have read your reply carefully, but I still have some confusion about the I-FGSM.
**The question:**
When I want to change the disturbance intensity of attack in I-FGSM, what should I going to change? It's the step size **ahpha** or the **eps**?
On the other hand,  in [the paper of I-FGSM](https://arxiv.org/abs/1607.02533) ,  the author only show the cha

[2021-06-12 11:07] tejuafonja commented on #1213
Hi @RSMung

The paper set alpha=1 and the disturbance intensity (eps) is controlled in condition i.e

[code]

<img width="552" alt="Screenshot 2021-06-12 at 12 55 27" src="https://user-images.githubusercontent.com/18422386/121773681-c1efc980-cb7d-11eb-9036-0c00076269b2.png">

**A few observations:**
1. According to the paper, max_iter is dependent on epsilon i.e `num_iterations=min(eps+4, floor(1.

[2021-06-12 11:18] tejuafonja commented on #1213
@RSMung I just realized that the basic iterative method is implemented in our repository. I deeply apologies for this. It goes by the name Projected Gradient Descent

https://github.com/cleverhans-lab/cleverhans/blob/1115738a3f31368d73898c5bdd561a85a7c1c741/cleverhans/torch/attacks/projected_gradient_descent.py

Can you try the implementation instead and let me know if this works as expected.

[2021-06-15 12:18] RSMung commented on #1213
Thank you for your reply.
After reading your reply, I know more about this algorithm.
Then I temporarily abandon realizing the I-FGSM by myself, I use your implemention to test my model.
**After that, I find out that it still don't work well.**
eps = 0.5
![image](https://user-images.githubusercontent.com/34727963/122047380-abae6b80-ce12-11eb-9667-c4fd37c79292.png)

My Questions:
1. In your opinion

[2021-06-16 01:45] minkyu-choi04 opened #1214 "Adam for PGD / BIM attacks"
For Basic Iterative Method (BIM) or Projected Gradient Descent (PGD), there are some papers using ADAM optimizer. For example, in the seminar paper '[Adversarial Risk and the Dangers of Evaluating Against Weak Attacks](https://arxiv.org/pdf/1802.05666.pdf)', they said "In practice, we replace the vanilla gradient update with Adam (Kingma and Ba, 2014), which tends to converge faster for this probl

[2021-06-16 03:23] alkaet commented on #1214
Hi,

When the PGD gradient update is replaced by the Adam off-the-shelf optimizer, the attack is known as Carlini and Wagner attack and is available [here for pytorch.](https://github.com/cleverhans-lab/cleverhans/blob/master/cleverhans/torch/attacks/carlini_wagner_l2.py)

[2021-06-16 03:23] #1214 closed

[2021-06-16 09:10] RSMung commented on #1213
I'm so careless that **the num_iterations should not be min(eps+4, floor(1.25*eps))**. The usage of API math.floor is wrong. Because the formula requires a larger integer for 1.25*eps. I think there will be something difference.
Let me try, then I will tell you the result.

[2021-06-16 09:15] RSMung commented on #1213
On the other hand, I feel confused to this sentence:   [**the L∞ norm of adversarial perturbation to in- tensity.**](https://user-images.githubusercontent.com/18422386/121773612-54439d80-cb7d-11eb-8100-cf9cb19a9257.png).
If it means that
Could you help me understand it? I will very appreciate it.
I am looking forward to your reply.

[2021-06-16 09:22] RSMung commented on #1213
I find out that the norm is np.inf in [your examples of projected_gradient_descent.](https://github.com/cleverhans-lab/cleverhans/blob/1115738a3f31368d73898c5bdd561a85a7c1c741/tutorials/torch/cifar10_tutorial.py#L97) But I don't understand what it means.
**The another question:**
How to choose **eps_iter**  when the eps is changed from 0.5 to 32?
 If I set the eps_iter to 1 following the paper, th

[2021-06-17 19:25] tejuafonja commented on #1213
Hi @RSMung,

I'm sorry to hear that you haven't been able to solve this problem. I'm glad you found the `math.floor` bug. Does it work now? I agree, the distinction between alpha and epsilon seem confusing. You might need to test different implementations to see which works best for the paper you're trying to re-implement. It's might also be the case that the paper is lacking in reproducibility an

[2021-07-01 07:43] amirhagai commented on #1211
Sure :)

[2021-07-06 03:20] RSMung commented on #1213
I think I might have solved this problem.

According to this [paper](https://arxiv.org/abs/1607.02533), I find out that the values of the pixels are integer numbers in the range(0, 255), the they use the eps from 0 to 128, including 16, 32 etc, as same as the paper I want to implemente.

But when we train our model, the image will be normalized, so the values of pixels are float numbers in the ran

[2021-07-06 03:22] RSMung commented on #1213
![image](https://user-images.githubusercontent.com/34727963/124537446-7cf14700-de4c-11eb-87a6-47a8f7ed13e6.png)

[2021-09-03 05:44] AbdulMustafa97 opened #1215 "ModuleNotFoundError: No module named 'cleverhans.utils_tf'"

[2021-09-03 05:48] #1215 closed

[2021-09-03 06:14] AbdulMustafa97 opened #1216 "ModuleNotFoundError: No module named 'cleverhans.attacks'"
I am getting this type of error for a lot of other cleverhans packages just like **cleverhans.utils_tf**, **cleverhans.model**,  **cleverhans.utils_keras**.

I am running on Google Colaboratory using following libraries versions:
CleverHans 4.0.0
Tensorflow 2.6, 2.4, 1.13 tried different versions.
Python 3.7.11

@aam-at @esigler @catherio @nottombrown @goodfeli
![Capture](https://user-images.githu

[2021-09-03 11:23] Kkuntal990 commented on #1211
Hey, @tejuafonja  is this issue still open? I would like to work if that's the case

[2021-09-03 13:15] tejuafonja commented on #1211
Hi @Kkuntal990, yes it is. Please feel free to send a PR anytime : )

[2021-09-07 04:13] AbdulMustafa97 commented on #1216
@tejuafonja Can you please help to resolve this error?

Thanks.

[2021-09-08 07:07] #1216 closed

[2021-09-08 07:08] AbdulMustafa97 commented on #1216
There was a mismatch in the TensorFlow and Cleverhans library. Fix this bug with downgrade the CleverHans to 3.0 and TensorFlow to 1.14.

[2021-09-10 17:21] tejuafonja commented on #1216
Hi @AbdulMustafa97, thanks for reporting this error and I'm happy to hear that you were able to resolve it.

[2021-09-10 17:22] tejuafonja commented on #1216
Hi @AbdulMustafa97, thanks for reporting this error and I'm happy to hear that you were able to resolve it.

[2021-09-10 17:32] tejuafonja commented on #1213
Hi @RSMung, were you able to resolve this issue? Your idea does sound reasonable, did it work? Apologies for my late reply - the past few months was a little hectic.

[2021-09-11 03:49] RSMung commented on #1213
It doesn't matter. I could understand that you may be busy. On the other hand, I think my last comments are reasonable. When we set the eps, we should pay attention to the range. As a result,  if I set the eps=8 or more large( I use the range [0, 255] here), the result would be very strange when my data is in [0, 1]. What's your opinion?

[2021-10-29 19:16] le000043 opened #1220 "DeepFool and ElasticNet attacks for TF2 in cleverhans v4.0.0"
Hello, thank you for building such a great software package. As I am very new to this package, may I ask where I can find the DeepFool and ElasticNet attacks in cleverhans v4.0.0. I have tried to look into cleverhans.tf2.attacks, but I could not find it. Thanks :D !

[2021-10-31 07:04] Kitzzaaa opened #1221 "Is there ZOO: Zeroth Order Optimization Based Black-box Attacks to Deep Neural Networks without Training Substitute Models"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scro

[2021-11-11 04:20] vijita commented on #1112
When I implement the following code ,

from cleverhans.utils_keras import KerasModelWrapper
wrap = KerasModelWrapper(network)

I got this error
AttributeError                            Traceback (most recent call last)
<ipython-input-7-640470c3b49e> in <module>()
----> 1 from cleverhans.utils_keras import KerasModelWrapper

2 frames
/usr/local/lib/python3.7/dist-packages/cleverhans/utils_tf.py in

[2021-11-17 01:07] gkysaad commented on #1211
Hello, I've implemented a fix for this here: https://github.com/cleverhans-lab/cleverhans/pull/1222

[2021-12-17 20:35] williampiat3 opened #1224 "Fast gradient Method doesn't work for double precision: Suggestion for the fix"
***The issue tracker should only be used to report bugs or feature requests. If you are looking for support from other library users, please ask a question on [StackOverflow](https://stackoverflow.com/questions/tagged/cleverhans).***

**Describe the bug**
I used the PGD method in this folder but I use double precision in my models thus encountered an error while using the attack
cleverhans/cleverh

[2021-12-26 12:51] kylematoba commented on #1224
this also breaks for `torch.float16`.

[2022-01-11 15:55] cvdolph opened #1227 "Predicted Class Labels"
Feature to report/record predicted class labels when using do_eval or model_eval. The overall accuracy is reported, however, characterizing model performance on specific test data would enable insight for a problem space.

[2022-02-02 22:18] akshaymehra24 commented on #1205
Change in line  https://github.com/cleverhans-lab/cleverhans/blob/master/cleverhans/tf2/attacks/carlini_wagner_l2.py#L153

From:
const = tf.ones(shape) * self.initial_const

To:
const = tf.ones(shape[0]) * self.initial_const

[2022-02-11 14:10] cvdolph commented on #1227
Just would like to ping on this.  Is there a line a command that would provide predicted class labels?

def model_eval(sess, x, y, predictions, X_test=None, Y_test=None,
               feed=None, args=None):
  """
  Compute the accuracy of a TF model on some data
  :param sess: TF session to use
  :param x: input placeholder
  :param y: output placeholder (for labels)
  :param predictions: model o

[2022-03-08 08:41] ugorsahin opened #1228 "Tensorflow 2 C&W2 implementation targeted bug"
Hello, I have seen one possible bug in the tensorflow C&W2 implementation.

The **targeted** parameter does not pass to function body, instead it is defined with respect to y parameter being None or not. This causes problems when labels are explicitly given in untargeted scenario.
https://github.com/cleverhans-lab/cleverhans/blob/e5d00e537ce7ad6119ed5a8db1f0e9736d1f6e1d/cleverhans/tf2/attacks/carl

[2022-04-02 10:06] wanliAlex opened #1229 "Distributed Adversarial Examples Generation"
Hi,

The adversarial examples generation is always time-consuming in adversarial training. Is there a way to conduct multi-GPU generation in tensorflow2?

e.g. For a batch with 128 samples using 4 GPUs, can I generate 128/4 adversarial examples by each GPU at the same time and concatenate them later?

Look forward to hearing from you.

[2022-05-05 14:00] Darius-H opened #1230 "cleverhans.torch.utils.clip_eta will cause GPU memory leaking for its in-place operation"
cleverhans.torch.utils.clip_eta will cause GPU memory leaking for its in-place operation when param norm==2
[code]

[2022-05-10 22:37] kylematoba commented on #1230
This is a pretty serious bug. E.g. https://github.com/cleverhans-lab/cleverhans/blob/master/tutorials/torch/cifar10_tutorial.py does not work with norm == 2 and adversarial training turned on. It'll die with something like
[code]

[2022-05-15 01:19] madarax64 commented on #1220
Hi! I'm also wondering about this. It seems there's a DeepFool implementation for CleverHans 3 but not 4?

[2022-10-20 09:46] chhyun commented on #1229
Not an answer you expected, but I'm also curious since my experiment is blocked by a time-consuming issue.

In my implementation, it takes too much time to generate AEs(adversarial examples) for PGD adversarial training.

here are my brief experimental settings below
 - Framework : Pytorch
 - dataset : CIFAR10 (train_batch : 128, test_batch : 100)
 - model : WideResNet (capacity 10)
 - adversary :